Repository apache/netbeans, pull requests merged in 2018-10, with the labels that each got.

#947 [NETBEANS-1350] Fix "PHP 5" text
  php/php.project/src/org/netbeans/modules/php/project/ui/options/Bundle.properties
  php/php.project/src/org/netbeans/modules/php/project/ui/options/PhpOptionsPanel.java
  php/php.project/src/org/netbeans/modules/php/project/ui/resources/emptyPhpProject.html
  php/php.project/src/org/netbeans/modules/php/project/ui/resources/existingPhpProject.html
  php/php.project/src/org/netbeans/modules/php/project/ui/resources/remotePhpProject.html
Labels: Need Cherry Picking, PHP

#950 [NETBEANS-1350] Fix "PHP 5" text
  php/php.project/src/org/netbeans/modules/php/project/ui/options/Bundle.properties
  php/php.project/src/org/netbeans/modules/php/project/ui/options/PhpOptionsPanel.java
  php/php.project/src/org/netbeans/modules/php/project/ui/resources/emptyPhpProject.html
  php/php.project/src/org/netbeans/modules/php/project/ui/resources/existingPhpProject.html
  php/php.project/src/org/netbeans/modules/php/project/ui/resources/remotePhpProject.html
Labels: PHP

#955 Fixes for the OpenJDK project:
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ClassPathProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/LogicalViewProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ModuleDescription.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/SourcesImpl.java
  java/java.openjdk.project/test/unit/src/org/netbeans/modules/java/openjdk/jtreg/ClassPathProviderImplTest.java
Labels: Need Cherry Picking

#941 For multi-release modular jars, use the newest module-info available …
  java/java.source.base/src/org/netbeans/modules/java/source/ModuleNames.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/ModuleNamesTest.java
Labels: Need Cherry Picking

#954 [NETBEANS-1386]: Fixing handling of non-modularized repositories in p…
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ActionProviderImpl.java
Labels: Need Cherry Picking

#971 Fix the invalid java version pattern
  nbbuild/build.xml
Labels: Need Cherry Picking

#970 [NETBEANS-1443] Error creating Symfony project
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/SymfonyPhpModuleExtender.java
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/ui/wizards/Bundle.properties
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/ui/wizards/NewProjectConfigurationPanel.form
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/ui/wizards/NewProjectConfigurationPanel.java
Labels: Need Cherry Picking, PHP

#972 [NETBEANS-1443] Error creating Symfony project
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/SymfonyPhpModuleExtender.java
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/ui/wizards/Bundle.properties
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/ui/wizards/NewProjectConfigurationPanel.form
  php/php.symfony2/src/org/netbeans/modules/php/symfony2/ui/wizards/NewProjectConfigurationPanel.java
Labels: PHP

#975 [NETBEANS-1463] PHPStan memory-limit
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/PHPStanAnalyzerImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/PHPStanParams.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/PHPStan.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/AnalysisOptions.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/AnalysisOptionsValidator.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/ValidatorPHPStanParameter.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/Bundle.properties
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/PHPStanCustomizerPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/PHPStanCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/Bundle.properties
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/PHPStanOptionsPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/PHPStanOptionsPanel.java
Labels: Need Cherry Picking, PHP

#982 New phpsigfiles
  php/php.project/build.xml
  php/php.project/external/binaries-list
  php/php.project/external/phpsigfiles-1.0-license.txt
  php/php.project/external/phpsigfiles-1.1-license.txt
  php/php.project/external/phpsigfiles-1.1-notice.txt
  php/php.project/nbproject/project.properties
  php/php.project/src/org/netbeans/modules/php/project/api/PhpSourcePath.java
Labels: Need Cherry Picking, PHP

#984 [NETBEANS-1550] Cannot set custom configuration of the inspection feature
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/CodeSnifferCustomizerPanel.java
Labels: Need Cherry Picking, PHP

#986 [NETBEANS-1507] PHPStan empty inspector Window
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/parsers/PHPStanReportParser.java
  php/php.code.analysis/test/unit/data/phpstan/phpstan-log-with-other-output.xml
  php/php.code.analysis/test/unit/data/phpstan/phpstan-log.xml
Labels: Need Cherry Picking, PHP

#987 Improve PHPStan level
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/PHPStanAnalyzerImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/PHPStan.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/AnalysisOptions.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/PHPStanLevelListCellRenderer.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/PHPStanCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/PHPStanOptionsPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/util/AnalysisUtils.java
Labels: Need Cherry Picking, PHP

#953 [NETBEANS-1342] Hide the panel for iOS in the Mobile Platforms Options
  webcommon/cordova/src/org/netbeans/modules/cordova/CordovaPerformer.java
  webcommon/cordova/src/org/netbeans/modules/cordova/options/MobilePlatformsPanel.java
  webcommon/cordova/src/org/netbeans/modules/cordova/project/CordovaPanel.java
  webcommon/cordova/src/org/netbeans/modules/cordova/wizard/CordovaProjectExtender.java
  webcommon/cordova/test/unit/src/org/netbeans/modules/web/clientproject/cordova/AndroidPlatformTest.java
Labels: Need Cherry Picking

#989 [NETBEANS-1563] Error while parsing HEREDOC
  php/php.editor/src/org/netbeans/modules/php/editor/lexer/PHP5ColoringLexer.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Scanner.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/netbeans1563_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/netbeans1563_02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/netbeans1563_03.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/netbeans1563_04.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/netbeans1563_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/netbeans1563_02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/netbeans1563_03.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/netbeans1563_04.pass
  php/php.editor/test/unit/data/testfiles/lexer/netbeans1563_01.php
  php/php.editor/test/unit/data/testfiles/lexer/netbeans1563_02.php
  php/php.editor/test/unit/data/testfiles/lexer/netbeans1563_03.php
  php/php.editor/test/unit/data/testfiles/lexer/netbeans1563_04.php
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_01.php
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_01.php.errors
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_02.php
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_02.php.errors
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_03.php
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_03.php.errors
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_04.php
  php/php.editor/test/unit/data/testfiles/parser/netbeans1563_04.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/lexer/PHPLexerTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Scanner.flex
  php/php.editor/tools/Php5ColoringScanner.flex
Labels: Need Cherry Picking, PHP

#980 [NETBEANS-1343] Message about JavaFX in JDK 11+
  javafx/javafx2.samples/src/org/netbeans/modules/javafx2/samples/Bundle.properties
Labels: Need Cherry Picking

#996 [NETBEANS-1575] Change twig and smarty file icons
  php/php.smarty/licenseinfo.xml
  php/php.smarty/src/org/netbeans/modules/php/smarty/editor/TplDataObject.java
  php/php.smarty/src/org/netbeans/modules/php/smarty/resources/layer.xml
  php/php.smarty/src/org/netbeans/modules/php/smarty/resources/tpl-icon.png
  php/php.twig/licenseinfo.xml
  php/php.twig/src/org/netbeans/modules/php/twig/editor/TwigDataObject.java
  php/php.twig/src/org/netbeans/modules/php/twig/resources/layer.xml
  php/php.twig/src/org/netbeans/modules/php/twig/resources/twig-icon.png
Labels: PHP
