Repository apache/netbeans, pull requests merged in 2018-09, with the labels that each got.

#830 Fix ASTPHP5Scanner (Heredoc & Nowdoc syntaxes)
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Scanner.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc00.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_001.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_002.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_003.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_004.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_005.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_006.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_007.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_009.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_010.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_011.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_012.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_013.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/heredoc_015.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowDoc.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_001.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_002.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_003.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_004.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_005.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_006.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_007.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_009.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_010.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_011.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_012.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_013.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_014.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nowdoc_015.pass
  php/php.editor/tools/ASTPHP5Scanner.flex
Labels: PHP

#840 [NETBEANS-946] PHP 7.3 support
  php/php.api.phpmodule/manifest.mf
  php/php.api.phpmodule/src/org/netbeans/modules/php/api/PhpVersion.java
  php/php.editor/nbproject/project.properties
  php/php.editor/nbproject/project.xml
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/FunctionInvocation.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/ListVariable.java
  php/php.editor/src/org/netbeans/modules/php/editor/resources/layer.xml
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP73UnhandledError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/functionCallTrailingCommas_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/listReferenceAssignment_01.pass
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas01.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas02.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas03.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas03.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas04.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas04.php.formatted
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_01.php
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_01.php.errors
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_02.php
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_02.php.errors
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_03.php
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_03.php.errors
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_04.php
  php/php.editor/test/unit/data/testfiles/parser/functionCallTrailingCommas_04.php.errors
  php/php.editor/test/unit/data/testfiles/parser/listReferenceAssignment_01.php
  php/php.editor/test/unit/data/testfiles/parser/listReferenceAssignment_01.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterWrappingTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#850 Fix generated lexers of php.editor automatically via ant task
  php/php.editor/build.xml
Labels: PHP

#908 [NETBEANS-1285] Fix an incorrect error
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP73UnhandledError.java
Labels: PHP

#922 Change phpstan.png
  nbbuild/licenses/MIT-phpstan
  nbbuild/licenses/names.properties
  php/php.code.analysis/licenseinfo.xml
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/resources/phpstan.png
Labels: PHP

#898 Upgrade to Groovy 2.5.2
  groovy/groovy.editor/nbproject/project.xml
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/test/GroovyTestBase.java
  groovy/libs.groovy/external/binaries-list
  groovy/libs.groovy/external/groovy-2.5.2-license.txt
  groovy/libs.groovy/external/groovy-2.5.2-notice.txt
  groovy/libs.groovy/external/groovy-all-2.4.5-notice.txt
  groovy/libs.groovy/manifest.mf
  groovy/libs.groovy/nbproject/project.properties
  groovy/libs.groovy/nbproject/project.xml
  groovy/libs.groovy/src/org/netbeans/modules/libs/groovy/Bundle.properties
  groovy/libs.groovy/src/org/netbeans/modules/libs/groovy/groovy.xml
  groovy/libs.groovy/src/org/netbeans/modules/libs/groovy/layer.xml
  nbbuild/licenses/ASM
  nbbuild/licenses/Apache-2.0-groovy
  nbbuild/licenses/names.properties
Labels: Groovy

#734 [NETBEANS-1157] resolved problem with java version higher 9 and the n…
  nbi/engine/native/launcher/windows/src/JavaUtils.c
Labels: work-in-progress

#901 [NETBEANS-1288] Add trait support for Groovy
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/GroovyKeyword.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/util/CompletionContext.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/lexer/GroovyLexer.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/lexer/GroovyTokenId.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/KeywordCompletion.java
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/resources/GroovyTrait.groovy
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/resources/GroovyTrait.html
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/wizard/impl/GroovyClassWizard.java
Labels: Groovy

#902 [NETBEANS-1292] Adding simple infrastructure to write Groovy Hints ba…
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/hints/HintsAdvancedOption.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/hints/RemoveUnusedImportHint.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/hints/infrastructure/Bundle.properties
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/hints/infrastructure/GroovyAstRule.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/hints/infrastructure/GroovyHintsProvider.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/resources/layer.xml
Labels: Groovy
