Repository apache/netbeans, pull requests merged in 2019-11, with the labels that each got.

#1606 Fix unit tests for ConvertVisibilitySuggestion
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibility.php
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityAbstractClass.php
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityAbstractClass.php.testConvertVisibilitySuggestionAbstractClassFix_01.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityAbstractClass.php.testConvertVisibilitySuggestionAbstractClassFix_02.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityAbstractClass.php.testConvertVisibilitySuggestionAbstractClassFix_03.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityAbstractClass.php.testConvertVisibilitySuggestionAbstractClassFix_04.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityAbstractClass.php.testConvertVisibilitySuggestionAbstractClassFix_05.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityAbstractClass.php.testConvertVisibilitySuggestionAbstractClassFix_06.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityInterface.php
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityInterface.php.testConvertVisibilitySuggestionInterfaceFix_01.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityInterface.php.testConvertVisibilitySuggestionInterfaceFix_02.fixed
  php/php.editor/test/unit/data/testfiles/verification/ConvertVisibilitySuggestion/testConvertVisibilityInterface.php.testConvertVisibilitySuggestionInterfaceFix_03.fixed
Labels: PHP

#1617 [NETBEANS-3335] Enhance robustness of HTML Lexer
  ide/html.lexer/src/org/netbeans/lib/html/lexer/HtmlLexer.java
  php/php.smarty/test/unit/data/testfiles/parserErrors/testParserNETBEANS3335_01.tpl
  php/php.smarty/test/unit/data/testfiles/parserErrors/testParserNETBEANS3335_01.tpl.errors
  php/php.smarty/test/unit/data/testfiles/parserErrors/testParserNETBEANS3335_02.tpl
  php/php.smarty/test/unit/data/testfiles/parserErrors/testParserNETBEANS3335_02.tpl.errors
  php/php.smarty/test/unit/src/org/netbeans/modules/php/smarty/editor/parser/TplParserErrorsTest.java
Labels: Cherry Pick

#1603 [NETBEANS-3276] Let GradleJavaEEProjectSettings be always registered.
  groovy/gradle.javaee/src/org/netbeans/modules/gradle/javaee/web/WebProjectBrowserProvider.java
Labels: Gradle

#1622 [NETBEANS-2950] A possible solution to avoid debug loop with Gradle projects
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/output/JDPAProcessorFactory.java
Labels: Gradle

#1641 [NETBEANS-2983] Gradre returns CompileCP instead of RuntimeCP on non-modular projects
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImpl.java
  groovy/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/AbstractGradleJavaTestCase.java
  groovy/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImplTest.java
  groovy/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImplTest.java
Labels: Gradle

#1635 [NETBEANS-2555] Display test output while running tests.
  groovy/gradle.test/src/org/netbeans/modules/gradle/test/GradleTestProgressListener.java
Labels: Gradle

#1634 [NETBEANS-2960] Added Reload Project action for Gradle
  groovy/gradle/src/org/netbeans/modules/gradle/actions/ReloadAction.java
Labels: Gradle

#1636 [NETBEANS-3400] Catch Gradle Serialization Exceptions
  groovy/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
Labels: Gradle

#1604 [NETBEANS-3257]: Fixed issue on refactoring rename of java method
  java/libs.javacapi/external/binaries-list
  java/libs.javacimpl/external/binaries-list
  nb/updatecenters/extras/nbjavac.api/manifest.mf
  nb/updatecenters/extras/nbjavac.api/release/modules/ext/nb-javac-13-api.jar.external
  nb/updatecenters/extras/nbjavac.impl/manifest.mf
  nb/updatecenters/extras/nbjavac.impl/release/modules/ext/nb-javac-13-impl.jar.external
Labels: Cherry Pick

#1593 NETBEANS-3290 fix common xml
  nbbuild/templates/common.xml
Labels: Cherry Pick

#1680 [NETBEANS-3462] Fixed compiler warnings concerning rawtypes SimpleFuture
  enterprise/maven.j2ee/src/org/netbeans/modules/maven/j2ee/ear/model/ApplicationMetadataModelImpl.java
Labels: Code cleanup

#1681 [NETBEANS-3463] Fixed compiler warnings concerning rawtypes Observabl…
  ide/dlight.nativeexecution/src/org/netbeans/modules/nativeexecution/support/ObservableAction.java
Labels: Code cleanup
