Repository apache/netbeans, pull requests merged in 2019-05, with the labels that each got.

#1220 [NETBEANS-2035] Enable Always show Gradle Build output by default.
  groovy/gradle/src/org/netbeans/modules/gradle/spi/GradleSettings.java
Labels: NB11.1

#1232 [NETBEANS-2437] Unit tests of php.editor fail
  php/php.editor/nbproject/project.properties
  php/php.editor/nbproject/project.xml
  webcommon/javascript2.editor/nbproject/project.properties
Labels: PHP

#1199 [NETBEANS-1696] PHP 7.4 Support
  php/php.api.phpmodule/manifest.mf
  php/php.api.phpmodule/src/org/netbeans/modules/php/api/PhpVersion.java
  php/php.editor/nbproject/project.properties
  php/php.editor/nbproject/project.xml
  php/php.editor/src/org/netbeans/modules/php/editor/lexer/PHP5ColoringLexer.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Scanner.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/Utils.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/Assignment.java
  php/php.editor/src/org/netbeans/modules/php/editor/resources/layer.xml
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP74UnhandledError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHP74FeaturesTest/lexer/php74/nullCoalescingAssignmentOperator_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/nullCoalescingAssignmentOperator_01.pass
  php/php.editor/test/unit/data/testfiles/formatting/nullCoalescingAssignment01.php
  php/php.editor/test/unit/data/testfiles/formatting/nullCoalescingAssignment01.php.formatted
  php/php.editor/test/unit/data/testfiles/lexer/php74/nullCoalescingAssignmentOperator_01.php
  php/php.editor/test/unit/data/testfiles/parser/php74/nullCoalescingAssignmentOperator_01.php
  php/php.editor/test/unit/data/testfiles/parser/php74/nullCoalescingAssignmentOperator_01.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/lexer/PHP74FeaturesTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
  php/php.editor/tools/ASTPHP5Scanner.flex
  php/php.editor/tools/Php5ColoringScanner.flex
Labels: PHP

#1034 NETBEANS-1499 - change package.json icon
  webcommon/javascript.nodejs/licenseinfo.xml
  webcommon/javascript.nodejs/manifest.mf
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/file/NpmDebugLogDataObject.java
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/file/PackageJson.java
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/file/PackageJsonDataObject.java
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/file/PackageLockJsonDataObject.java
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/resources/layer.xml
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/resources/npm-resolver.xml
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/ui/resources/npm.png
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/ui/resources/npm.svg
Labels: JavaScript, enhancement

#1264 [NETBEANS-2573] Pass files to test in env variable
  php/php.phpunit/release/phpunit/NetBeansSuite.php
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/commands/PhpUnit.java
Labels: PHP

#1135 [NETBEANS-1979] Create Mode from client code
  platform/core.windows/src/org/netbeans/core/windows/ModeImpl.java
  platform/core.windows/src/org/netbeans/core/windows/PersistenceHandler.java
  platform/core.windows/src/org/netbeans/core/windows/WindowManagerImpl.java
  platform/core.windows/src/org/netbeans/core/windows/persistence/ModeConfig.java
  platform/core.windows/src/org/netbeans/core/windows/persistence/ModeParser.java
  platform/core.windows/src/org/netbeans/core/windows/persistence/PersistenceManager.java
  platform/core.windows/src/org/netbeans/core/windows/persistence/WindowManagerParser.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/WindowManagerModeTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/persistence/ModeParserTest.java
  platform/openide.windows/apichanges.xml
  platform/openide.windows/manifest.mf
  platform/openide.windows/src/org/openide/windows/Mode.java
  platform/openide.windows/src/org/openide/windows/ModeUtilities.java
  platform/openide.windows/src/org/openide/windows/WindowManager.java
Labels: Need Squashing

#1265 [NETBEANS-1851] PHPUnit java.lang.AssertionError: At least 2 lines must be found (message + stacktrace)
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/run/PhpUnitLogParser.java
  php/php.phpunit/test/unit/data/phpunit-log-netbeans1851.xml
  php/php.phpunit/test/unit/src/org/netbeans/modules/php/phpunit/run/PhpUnitLogParserTest.java
Labels: PHP
