Repository apache/netbeans, pull requests merged in 2019-09, with the labels that each got.

#1461 [NETBEANS-2832] Added input reading to Gradle projects.
  groovy/gradle/netbeans-gradle-tooling/src/main/groovy/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.groovy
  groovy/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
Labels: Gradle

#1426 [NETBEANS-2980] Fix potential NPE on ImportAnalysis2.getPackage()
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/ImportAnalysis2.java
Labels: Java

#1204 [NETBEANS-2409](partial): attempting to avoid FileUtil.normalizeFile …
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/FeatureProjectFactory.java
  java/java.openjdk.project/src/META-INF/upgrade/BuildUtils.hint
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/common/BuildUtils.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ActionProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ClassPathProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ModulesHint.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/Utilities.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ActionProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ConfigurationImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/FilterStandardProjects.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/JDKProject.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ModuleDescription.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/SourceLevelQueryImpl.java
  java/java.openjdk.project/test/unit/src/org/netbeans/modules/java/openjdk/jtreg/ActionProviderImplTest.java
  java/java.openjdk.project/test/unit/src/org/netbeans/modules/java/openjdk/project/ClassPathProviderImplTest.java
  java/java.openjdk.project/test/unit/src/org/netbeans/modules/java/openjdk/project/SourceLevelQueryImplTest.java
Labels: NB11.2, performance

#1457 NETBEANS-3020 Cleanup Welcome screen
  nb/welcome/src/org/netbeans/modules/welcome/resources/Bundle.properties
  nb/welcome/src/org/netbeans/modules/welcome/resources/layer.xml
  nb/welcome/src/org/netbeans/modules/welcome/resources/tour.url
  nb/welcome/src/org/netbeans/modules/welcome/resources/tutorial1-1.url
  nb/welcome/src/org/netbeans/modules/welcome/resources/tutorial1.url
  nb/welcome/src/org/netbeans/modules/welcome/resources/tutorial2.url
  nb/welcome/src/org/netbeans/modules/welcome/resources/tutorial3.url
  nb/welcome/src/org/netbeans/modules/welcome/resources/tutorial4.url
  nb/welcome/src/org/netbeans/modules/welcome/resources/tutorial5.url
  nb/welcome/src/org/netbeans/modules/welcome/ui/ArticlesAndNews.java
  nb/welcome/src/org/netbeans/modules/welcome/ui/BottomBar.java
  nb/welcome/src/org/netbeans/modules/welcome/ui/DemoPanel.java
  nb/welcome/src/org/netbeans/modules/welcome/ui/LearnAndDiscoverTab.java
  nb/welcome/src/org/netbeans/modules/welcome/ui/WhatsNewTab.java
Labels: NB11.2, Need Squashing

#926 LSP Server for Java
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProvider.java
  java/java.lsp.server/build.xml
  java/java.lsp.server/external/binaries-list
  java/java.lsp.server/external/lsp4j-0.5.0-license.txt
  java/java.lsp.server/external/xtend-2.14.0-license.txt
  java/java.lsp.server/licenseinfo.xml
  java/java.lsp.server/manifest.mf
  java/java.lsp.server/nbproject/project.properties
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/script/bin/nb-java-lsp-server
  java/java.lsp.server/script/etc/nb-java-lsp-server.clusters
  java/java.lsp.server/script/etc/nb-java-lsp-server.conf
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Bundle.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/text/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/workspace/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/ServerTest.java
  java/java.lsp.server/vscode/.gitignore
  java/java.lsp.server/vscode/README.md
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/VerifyJDK11.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/tsconfig.json
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ClassPathProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/Utilities.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementOpen.java
  java/java.sourceui/src/org/netbeans/modules/java/source/ui/ElementOpenAccessor.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBJavacTrees.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/cluster.properties
  nbbuild/licenses/MIT-vscode-ext
  nbbuild/licenses/names.properties
Labels: Java

#1288 [NETBEANS-2653] Generate toString() with StringBuilder
  java/java.editor/src/org/netbeans/modules/java/editor/codegen/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/codegen/ToStringGenerator.java
  java/java.editor/src/org/netbeans/modules/java/editor/codegen/ui/ToStringPanel.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/codegen/ToStringGeneratorTest.java
Labels: Java

#1476 [NETBEANS-2893] Regenerate signature files for PHP 7.4
  php/php.project/external/binaries-list
  php/php.project/external/phpsigfiles-1.2-license.txt
  php/php.project/external/phpsigfiles-1.2-notice.txt
  php/php.project/nbproject/project.properties
Labels: PHP

#1404 [NETBEANS-2925] Possible solution to not to filter out sources from the buildDir
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
Labels: Gradle

#1422 [NETBEANS-2940] Cache ArchiveRootProviders
  platform/openide.filesystems/src/org/openide/filesystems/FileUtil.java
Labels: performance

#1493 [NETBEANS-2722] Upload button text and def. window size
  php/php.project/src/org/netbeans/modules/php/project/connections/sync/diff/DiffPanel.java
Labels: PHP

#1483 [NETBEANS-3076] Try to create unit-test with Gradle Projects
  apisupport/apisupport.project/nbproject/project.properties
  groovy/gradle.java/nbproject/project.properties
  groovy/gradle.java/nbproject/project.xml
  groovy/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImplTest.java
  platform/openide.util.ui/nbproject/project.properties
  platform/openide.util/nbproject/project.properties
Labels: Gradle

#1501 [NETBEANS-3041] Support passing JVM Arguments to Gradle Daemon
  groovy/gradle/manifest.mf
  groovy/gradle/src/org/netbeans/modules/gradle/api/execute/GradleCommandLine.java
  groovy/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  groovy/gradle/src/org/netbeans/modules/gradle/spi/GradleFiles.java
Labels: API Change, Gradle, Need Squashing

#1503 [NETBEANS-2751] OpenJFX Samples
  java/java.examples/src/org/netbeans/modules/java/examples/Bundle.properties
  java/maven/src/org/netbeans/modules/maven/layer.xml
  java/maven/src/org/netbeans/modules/maven/newproject/Bundle.properties
  java/maven/src/org/netbeans/modules/maven/newproject/MavenWizardIterator.java
  java/maven/src/org/netbeans/modules/maven/newproject/javafx.html
  javafx/javafx2.samples/src/org/netbeans/modules/javafx2/samples/Bundle.properties
  javafx/javafx2.samples/src/org/netbeans/modules/javafx2/samples/resources/layer.xml
  javafx/openjfx.samples/build.xml
  javafx/openjfx.samples/l10n.list
  javafx/openjfx.samples/licenseinfo.xml
  javafx/openjfx.samples/manifest.mf
  javafx/openjfx.samples/nbproject/project.properties
  javafx/openjfx.samples/nbproject/project.xml
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/nb-configuration.xml
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/nbactions.xml
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/pom.xml
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/java/module-info.java
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/java/org/openjfx/hellofxml/App.java
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/java/org/openjfx/hellofxml/PrimaryController.java
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/java/org/openjfx/hellofxml/SecondaryController.java
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/resources/org/openjfx/hellofxml/primary.css
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/resources/org/openjfx/hellofxml/primary.fxml
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/resources/org/openjfx/hellofxml/secondary.css
  javafx/openjfx.samples/samples/HelloFXMLWithMaven/src/main/resources/org/openjfx/hellofxml/secondary.fxml
  javafx/openjfx.samples/samples/HelloFXWithMaven/nb-configuration.xml
  javafx/openjfx.samples/samples/HelloFXWithMaven/nbactions.xml
  javafx/openjfx.samples/samples/HelloFXWithMaven/pom.xml
  javafx/openjfx.samples/samples/HelloFXWithMaven/src/main/java/module-info.java
  javafx/openjfx.samples/samples/HelloFXWithMaven/src/main/java/org/openjfx/hellofx/App.java
  javafx/openjfx.samples/samples/HelloFXWithMaven/src/main/java/org/openjfx/hellofx/SystemInfo.java
  javafx/openjfx.samples/samples/HelloFXWithMaven/src/main/resources/org/openjfx/hellofx/styles.css
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/Bundle.properties
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/OpenJFXSampleProjectGenerator.java
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/OpenJFXSampleProjectIterator.java
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/PanelConfigureProject.java
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/PanelConfigureProjectVisual.form
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/PanelConfigureProjectVisual.java
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/PanelProjectLocationVisual.form
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/PanelProjectLocationVisual.java
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/WizardProperties.java
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/resources/HelloFXMLWithMaven.html
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/resources/HelloFXWithMaven.html
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/resources/layer.xml
  javafx/openjfx.samples/src/org/netbeans/modules/openjfx/samples/resources/samples.html
Labels: NB11.2

#1237 [NETBEANS-2349] Convert switch typecast case to switch expression
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Utilities.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertSwitchToRuleSwitch.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertSwitchToRuleSwitchTest.java
Labels: Java, NB11.2

#1504 [NETBEANS-3094] NBI cleaner process must attempt to remove read-only files too
  nbi/engine/native/cleaner/windows/src/main.c
Labels: NB11.2

#1494 [NETBEANS-2941] Allow the IDE to see the compiler options in Gradle Projects
  groovy/gradle.java/apichanges.xml
  groovy/gradle.java/manifest.mf
  groovy/gradle.java/nbproject/project.xml
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaProjectBuilder.java
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaSourceSet.java
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleCompilerOptionsQuery.java
  groovy/gradle/netbeans-gradle-tooling/src/main/groovy/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.groovy
  groovy/gradle/src/org/netbeans/modules/gradle/GradleProjectCache.java
Labels: API Change, Gradle, NB11.2

#1510 [NETBEANS-3103] Formatting is broken with class constant code completion(self::)
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_parent_01.php
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_parent_01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_parent_02.php
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_parent_02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_self_01.php
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_self_01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_self_02.php
  php/php.editor/test/unit/data/testfiles/formatting/broken/netbeans3103_self_02.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterBrokenTest.java
Labels: PHP

#1477 [NETBEANS-2788] The link provided for downloading Groovy is obsolete
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/Bundle.properties
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/options/Bundle.properties
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/options/SupportPanel.java
Labels: Need Squashing

#1509 [NETBEANS-3097]:Corrected font-color type name for text-block(JDK-13)
  java/java.editor/src/org/netbeans/modules/java/editor/resources/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/resources/fontsColors.xml
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/ColoringManager.java
Labels: Need Squashing

#1496 [NETBEANS-3095] avoid null pointer exception in SplashPainter
  platform/core.startup/src/org/netbeans/core/startup/Splash.java
Labels: NB11.2, Need Squashing

#1516 [NETBEANS-3108] PHP: Some features(e.g. Go to declaration) do not work after "new"
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/ModelVisitor.java
  php/php.editor/test/unit/data/testfiles/gotodeclaration/testNb3108/testNb3108.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testNb3108/testNb3108.php
  php/php.editor/test/unit/data/testfiles/testNb3108.php.testNb3108_01a.occurrences
  php/php.editor/test/unit/data/testfiles/testNb3108.php.testNb3108_01b.occurrences
  php/php.editor/test/unit/data/testfiles/testNb3108.php.testNb3108_02a.occurrences
  php/php.editor/test/unit/data/testfiles/testNb3108.php.testNb3108_02b.occurrences
  php/php.editor/test/unit/data/testfiles/testNb3108.php.testNb3108_03a.occurrences
  php/php.editor/test/unit/data/testfiles/testNb3108.php.testNb3108_03b.occurrences
  php/php.editor/test/unit/data/testfiles/testNb3108.php.testNb3108_03c.occurrences
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/GotoDeclarationNb3108Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImplNb3108Test.java
Labels: PHP

#1527 update path of gitinfo to be aside user.build.properties
  .gitignore
  nbbuild/antsrc/org/netbeans/nbbuild/HgExec.java
  nbbuild/antsrc/org/netbeans/nbbuild/ParseGitBranch.java
  nbbuild/antsrc/org/netbeans/nbbuild/ReleaseJsonProperties.java
  nbbuild/antsrc/org/netbeans/nbbuild/ValidateHgConfiguration.java
  nbbuild/build.xml
  nbbuild/rat-exclusions.txt
Labels: Need Squashing

#1535 [NETBEANS-3175] Removed JavaFX Maven application, replace with Gluon
  java/maven/src/org/netbeans/modules/maven/newproject/MavenWizardIterator.java
Labels: NB11.2
