Repository apache/netbeans, pull requests merged in 2020-02, with the labels that each got.

#1910 Only initialize the LSP server once; prevent NPE in LSP code completion.
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
Labels: LSP

#1938 [NETBEANS-3600] Use gradle-wrapper.properties to detect wrapper
  groovy/gradle/src/org/netbeans/modules/gradle/spi/GradleFiles.java
Labels: Gradle

#1937 [NETBEANS-3818] Gradle Projects Generation Update
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleLibraryProjectWizard.java
  groovy/gradle.javaee/src/org/netbeans/modules/gradle/javaee/web/newproject/ServerSelectionPanelVisual.java
  groovy/gradle.javaee/src/org/netbeans/modules/gradle/javaee/web/newproject/WebApplicationProjectWizard.java
Labels: Gradle

#1913 sync master to release 113 branch for beta3
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleLibraryProjectWizard.java
  groovy/gradle.javaee/src/org/netbeans/modules/gradle/javaee/web/newproject/ServerSelectionPanelVisual.java
  groovy/gradle.javaee/src/org/netbeans/modules/gradle/javaee/web/newproject/WebApplicationProjectWizard.java
  groovy/gradle/src/org/netbeans/modules/gradle/spi/GradleFiles.java
  ide/defaults/src/org/netbeans/modules/defaults/BlueTheme-editor.xml
  ide/defaults/src/org/netbeans/modules/defaults/CityLights-editor.xml
  ide/defaults/src/org/netbeans/modules/defaults/NetBeans55-editor.xml
  ide/defaults/src/org/netbeans/modules/defaults/NetBeansEarth-editor.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/CompileProcess.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/DebugProcess.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/JPDAStart.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/SingleJavaSourceDebugActionProvider.java
  java/java.editor/src/org/netbeans/modules/java/editor/codegen/RemoveSurroundingCodeAction.java
  java/java.editor/src/org/netbeans/modules/java/editor/resources/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/resources/fontsColors-highlighting.xml
  java/java.editor/src/org/netbeans/modules/java/editor/resources/layer.xml
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ImplementAllAbstractMethods.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/AnnotationProcessors.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/ParameterNameProviderImpl.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/ImportAnalysis2.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/PositionEstimator.java
  java/libs.springframework/src/org/netbeans/libs/springframework/spring-framework300.xml
  java/libs.springframework/src/org/netbeans/libs/springframework/spring-framework400.xml
  java/libs.springframework/src/org/netbeans/libs/springframework/spring-framework500.xml
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/FindUsagesVisitor.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/ProjectColorTabDecorator.java
  platform/core.windows/src/org/netbeans/core/windows/view/EditorView.java
  platform/janitor/nbproject/project.xml
  platform/janitor/src/org/netbeans/modules/janitor/Bundle.properties
  platform/janitor/src/org/netbeans/modules/janitor/Janitor.java
  platform/janitor/src/org/netbeans/modules/janitor/JanitorOptionsController.java
  platform/janitor/src/org/netbeans/modules/janitor/JanitorOptionsPanel.form
  platform/janitor/src/org/netbeans/modules/janitor/JanitorOptionsPanel.java
  platform/janitor/src/org/netbeans/modules/janitor/JanitorPanel.form
  platform/janitor/src/org/netbeans/modules/janitor/JanitorPanel.java
  platform/masterfs.windows/src/org/netbeans/modules/masterfs/watcher/windows/WindowsNotifier.java
  platform/o.n.swing.laf.dark/src/org/netbeans/swing/laf/dark/DarkMetalTheme.java
  platform/o.n.swing.laf.dark/src/org/netbeans/swing/laf/dark/DarkNimbusTheme.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Bundle.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatDarkLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLightLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/fontscolors/FlatLafDark-highlights.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/fontscolors/FlatLafLight-annotations.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/fontscolors/FlatLafLight-highlights.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/fontscolors/FlatLafLight-tokenColorings.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/layer.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatToolbarDragger.java
  platform/openide.actions/src/org/openide/actions/HeapView.java
  platform/openide.awt/src/org/openide/awt/HtmlLabelUI.java
  platform/openide.loaders/src/org/openide/awt/Toolbar.java
  platform/openide.util.ui/src/org/openide/util/CachedHiDPIIcon.java
  platform/openide.util.ui/src/org/openide/util/FilteredIcon.java
  platform/openide.util.ui/src/org/openide/util/ImageUtilities.java
  platform/openide.util.ui/test/unit/src/org/openide/util/ImageUtilitiesTest.java
Labels: do not merge

#1943 [NETBEANS-3864] Missing source level 13 and 14 in a NetBeans module p…
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/ui/customizer/SingleModuleProperties.java
Labels: nb11.3

#1828 [NETBEANS-3646] - Update google guava from 15.0 to 27.0
  ide/c.google.guava/external/binaries-list
  ide/c.google.guava/external/guava-27.0-jre-license.txt
  ide/c.google.guava/nbproject/project.properties
  ide/c.google.guava/nbproject/project.xml
Labels: NB12.0

#1911 Ensuring that 'newText' in TextEdit is non-null.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/text/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/ServerTest.java
Labels: LSP

#1899 Update winp and use processtreekiller from maven central
  ide/extexecution.process/external/binaries-list
  ide/extexecution.process/external/libpam4j-1.1-license.txt
  ide/extexecution.process/external/processtreekiller-2.0.1-license.txt
  ide/extexecution.process/external/winp-1.28-license.txt
  ide/extexecution.process/nbproject/project.properties
  ide/extexecution.process/nbproject/project.xml
Labels: NB12.0

#1973 [NETBEANS-2314] Truncated param descriptions should not yield exceptions
  webcommon/javascript2.jsdoc/src/org/netbeans/modules/javascript2/jsdoc/model/JsDocElementUtils.java
  webcommon/javascript2.jsdoc/test/unit/src/org/netbeans/modules/javascript2/jsdoc/model/JsDocElementUtilsTest.java
Labels: NB12.0

#1934 [NETBEANS-3799] Improve extracting types from PHP annotations
  php/php.api.annotation/src/org/netbeans/modules/php/api/annotation/util/AnnotationUtils.java
  php/php.api.annotation/test/unit/src/org/netbeans/modules/php/api/annotation/util/AnnotationUtilsTest.java
  php/php.doctrine2/test/unit/src/org/netbeans/modules/php/doctrine2/annotations/orm/parser/DiscriminatorMapLineParserTest.java
  php/php.doctrine2/test/unit/src/org/netbeans/modules/php/doctrine2/annotations/orm/parser/EntityLineParserTest.java
  php/php.doctrine2/test/unit/src/org/netbeans/modules/php/doctrine2/annotations/orm/parser/ManyToManyLineParserTest.java
  php/php.doctrine2/test/unit/src/org/netbeans/modules/php/doctrine2/annotations/orm/parser/ManyToOneLineParserTest.java
  php/php.doctrine2/test/unit/src/org/netbeans/modules/php/doctrine2/annotations/orm/parser/OneToManyLineParserTest.java
  php/php.doctrine2/test/unit/src/org/netbeans/modules/php/doctrine2/annotations/orm/parser/OneToOneLineParserTest.java
  php/php.doctrine2/test/unit/src/org/netbeans/modules/php/doctrine2/annotations/parser/Doctrine2CommonLineAnnotationLineParserTest.java
Labels: PHP

#1967 [NETBEANS-2183] Workaround change in CDNJS search API
  webcommon/javascript.cdnjs/src/org/netbeans/modules/javascript/cdnjs/LibraryCustomizer.java
  webcommon/javascript.cdnjs/src/org/netbeans/modules/javascript/cdnjs/LibraryProvider.java
  webcommon/javascript.cdnjs/src/org/netbeans/modules/javascript/cdnjs/ui/SearchPanel.java
  webcommon/javascript.cdnjs/src/org/netbeans/modules/javascript/cdnjs/ui/SelectionPanel.java
  webcommon/javascript.cdnjs/test/unit/src/org/netbeans/modules/javascript/cdnjs/LibraryProviderTest.java
Labels: NB12.0

#1962 [NETBEANS-3909] SQL Execution should reuse Output Window if possible
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLEditorSupport.java
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLExecutionLoggerImpl.java
Labels: NB12.0

#1970 [NETBEANS-2613] Enable fetching schemas for urn schema
  ide/xml.retriever/src/org/netbeans/modules/xml/retriever/catalog/impl/CatalogModelImpl.java
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/catalog/impl/CatalogModelImplTest.java
Labels: NB12.0

#1955 Hook formating/rangeFormating into LSP Client
  ide/lsp.client/src/org/netbeans/modules/lsp/client/Utils.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/Formatter.java
Labels: LSP, NB12.0
