Repository apache/netbeans, pull requests merged in 2020-08, with the labels that each got.

#2263 [NETBEANS-4604] PHP - instant rename of private constant
  php/php.editor/src/org/netbeans/modules/php/editor/csl/InstantRenamerImpl.java
Labels: PHP

#2280 [NETBEANS-4443] PHP 8.0 Support: throw Expression part
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/ThrowExpression.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/Visitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/visitors/DefaultTreePathVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/visitors/DefaultVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGenerator.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP80UnhandledError.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/UnreachableStatementHint.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/UnusedVariableHint.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/throwExpression_01.pass
  php/php.editor/test/unit/data/testfiles/formatting/throwExpression01.php
  php/php.editor/test/unit/data/testfiles/formatting/throwExpression01.php.formatted
  php/php.editor/test/unit/data/testfiles/parser/issue211165_04.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php73/functionCallTrailingCommas_02.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php73/functionCallTrailingCommas_03.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php73/functionCallTrailingCommas_04.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php74/arrowFunctionsParseError_01.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php74/arrowFunctionsParseError_02.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php74/arrowFunctionsParseError_04.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php74/spreadOperatorInArrayExpression_03.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php74/spreadOperatorInArrayExpression_04.php.errors
  php/php.editor/test/unit/data/testfiles/parser/php80/throwExpression_01.php
  php/php.editor/test/unit/data/testfiles/parser/php80/throwExpression_01.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PrintASTVisitor.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#2295 [NETBEANS-4443] PHP 8.0 Support: Allow ::class on objects part
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/StaticConstantAccess.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP80UnhandledError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/classNameLiteralOnObjects_01.pass
  php/php.editor/test/unit/data/testfiles/completion/lib/nb1859/nb1859_02.php.testNamespaceFunction_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnThis_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb501/nb501.php.testNb501_03a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/base/uniformVariableSyntax01.php.testUniformVariableSyntax01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/base/uniformVariableSyntax03.php.testUniformVariableSyntax03b.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/base/uniformVariableSyntax03.php.testUniformVariableSyntax03c.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/base/uniformVariableSyntax03.php.testUniformVariableSyntax03d.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/uniformVariableSyntax/testUVSNestedStaticFieldAccess.php.testUVSNestedStaticFieldAccess_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/uniformVariableSyntax/testUVSNestedStaticFieldAccess.php.testUVSNestedStaticFieldAccess_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php.testClassNameLiteralOnObjects_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php.testClassNameLiteralOnObjects_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php.testClassNameLiteralOnObjects_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php.testClassNameLiteralOnObjects_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php.testClassNameLiteralOnObjects_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php.testClassNameLiteralOnObjects_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testClassNameLiteralOnObjects/classNameLiteralOnObjects.php.testClassNameLiteralOnObjects_07.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests240527/issue240527.php.testStaticAccessFromEnclosedExtendedInstance.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests240527/issue240527.php.testStaticAccessFromEnclosedInstance.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests240527/issue240527.php.testStaticAccessFromExtendedInstance.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests240527/issue240527.php.testStaticAccessFromInstance.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests240527/issue240527.php.testStaticAccessFromInstanceArray.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests240527/issue240527.php.testStaticAccessFromThis.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests269108/issue269108.php.testReturnSelf_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests269108/issue269108.php.testReturnSelf_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests269108/issue269108.php.testReturnSelf_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests269108/issue269108.php.testReturnStatic_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests269108/issue269108.php.testReturnStatic_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests269108/issue269108.php.testReturnStatic_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests269108/issue269108.php.testReturnThis_02.completion
  php/php.editor/test/unit/data/testfiles/parser/php80/classNameLiteralOnObjects_01.php
  php/php.editor/test/unit/data/testfiles/parser/php80/classNameLiteralOnObjects_01.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP80CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion262141UVSTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
Labels: PHP

#2296 Fixing removal of a double-quote inside a text block.
  java/java.editor/src/org/netbeans/modules/editor/java/TypingCompletion.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/TypingCompletionUnitTest.java
Labels: Java

#2232 [NETBEANS-4699] Make it easy to create dynamically updated ProxyLookup instances without subclassing
  platform/openide.util.lookup/apichanges.xml
  platform/openide.util.lookup/manifest.mf
  platform/openide.util.lookup/src/org/openide/util/lookup/ProxyLookup.java
  platform/openide.util.lookup/test/unit/src/org/openide/util/lookup/ProxyLookupFactoryMethodsTest.java
Labels: API Change

#2294 Adding support for clangd to cpplite
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/UnconfiguredHint.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/Utils.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/LanguageServerImpl.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/options/Bundle.properties
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/options/CPPLitePanel.form
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/options/CPPLitePanel.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/spi/CProjectConfigurationProvider.java
  cpplite/cpplite.project/src/org/netbeans/modules/cpplite/project/CPPLiteCProjectConfigurationProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/NavigatorPanelImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
Labels: C/C++, LSP

#2308 Update validator.jar for html.validation
  ide/html.validation/external/binaries-list
  ide/html.validation/external/galimatias-0.1.3-license.txt
  ide/html.validation/external/iri-0.8-license.txt
  ide/html.validation/external/langdetect-1.2-license.txt
  ide/html.validation/external/salvation-2.7.2-license.txt
  ide/html.validation/external/saxon9B-9.1.0.2-license.txt
  ide/html.validation/external/validator-20200626.patch
  ide/html.validation/external/validator-howto-build.txt
  ide/html.validation/external/validator.patch
  ide/html.validation/nbproject/project.properties
  ide/html.validation/nbproject/project.xml
  ide/html.validation/test/unit/data/testfiles/testEmbeddedCSS.xhtml
  ide/html.validation/test/unit/src/org/netbeans/modules/html/validation/ValidationTransactionTest.java
  nbbuild/licenses/MIT-galimatias
Labels: HTML

#2325 [NETBEANS-4620] NullPointerException - finding occurrences
  ide/editor.search/src/org/netbeans/modules/editor/search/SearchComboBoxEditor.java
Labels: Editor, NB12.0-u2

#2327 [NETBEANS-3428] FlatLaf: fix selection background color in output view
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatDarkLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLightLaf.properties
Labels: NB12.0-u2

#2326 [NETBEANS-4627] FlatLaf: fix wrong background color of search result table in Find Tasks Editor
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatDarkLaf.properties
Labels: NB12.0-u2
