Repository apache/netbeans, pull requests merged in 2020-10, with the labels that each got.

#2416 Change repo link in documentation
  nbbuild/antsrc/org/netbeans/nbbuild/Arch-default-arch-where.xsl
Labels: doc, hacktoberfest

#2284 [NETBEANS-4664] - Upgrade JDBC PostgreSQL from 42.2.10 to 42.2.16
  ide/db.drivers/external/binaries-list
  ide/db.drivers/external/postgresql-42.2.16-license.txt
  ide/db.drivers/nbproject/project.properties
  ide/db.drivers/src/org/netbeans/modules/db/drivers/Bundle.properties
  ide/db.drivers/src/org/netbeans/modules/db/drivers/PostgreSQLDriver.xml
  ide/db.drivers/src/org/netbeans/modules/db/drivers/postgresql.xml
Labels: Upgrade Library

#2414 Change ide/core.ide arch-what response
  ide/core.ide/arch.xml
  ide/core.ide/nbproject/project.properties
Labels: doc, hacktoberfest

#2420 Hacktoberfest opt-in
  .asf.yaml
Labels: hacktoberfest

#2282 [NETBEANS-3990] Sealed color and formatting
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/ColoringAttributes.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/DetectorTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
Labels: Java

#2403 Add response for platform/api.progress.nb arch-what answer
  platform/api.progress.nb/arch.xml
Labels: doc

#2415 Check Javadoc build using GitHub action
  .github/workflows/main.yml
Labels: CI, doc, hacktoberfest

#2411 [NETBEANS-4867] Fix inconsistent Gradle SubProject Detection
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectCache.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectFactory.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/AbstractDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/SubProjectDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/SubProjectsNode.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/SubProjectsNodeFactory.java
Labels: Gradle

#2419 Ant task to display generated Javadoc
  README.md
  nbbuild/build.xml
Labels: doc, hacktoberfest

#2426 [NETBEANS-2644] Gradle buildSrc projects are recognized and displayed in the Build Scripts node
  extide/gradle/apichanges.xml
  extide/gradle/src/org/netbeans/modules/gradle/BulkModelRetriever.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectFactory.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/BuildScriptsNode.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/SubProjectsNode.java
  extide/gradle/src/org/netbeans/modules/gradle/queries/Info.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/GradleFiles.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectFactoryTest.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/spi/GradleFilesTest.java
Labels: hacktoberfest

#2433 [NETBEANS-4818] Using equals instead of == in multi-module J2SE proje…
  java/java.j2semodule/src/org/netbeans/modules/java/j2semodule/resources/build-impl.xsl
Labels: Java

#2346 Improve @modules hints - transfer open, handle hidden usages.
  java/java.openjdk.project/nbproject/project.xml
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ModulesHint.java
  java/java.openjdk.project/test/unit/src/org/netbeans/modules/java/openjdk/jtreg/ModulesHintTest.java
Labels: Java

#2283 [NETBEANS-3990]: Auto completion for Sealed Types
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorNonDefaultConstructor.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorNonDefaultConstructorInnerClass.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorTest.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorTestInnerClass.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorWithConstructors.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorWithConstructorsInnerClass.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorWithDefaultConstructor.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/CreateConstructorWithDefaultConstructorInnerClass.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/OverrideAbstractList.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/OverrideAbstractListAbstract.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/UnimplementedMethod.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/classModifiersWithoutPublic.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/extendsAndImplementsAndPermitsKeywords.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/extendsAndPermitsKeywords.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/implementsAndPermitsKeywords.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/interfaceMemberModifiersAndTypes.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/memberModifiersStartingWithP.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/memberModifiersTypesAndGenElements.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/memberModifiersTypesAndGenElements2.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/memberModifiersTypesAndGenElements3.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/memberModifiersTypesAndGenElements4.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/permitsKeyword.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/topLevelKeywords.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/15/topLevelKeywordsWithoutPackage.pass
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask115FeaturesTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
Labels: Java, Need Squashing

#2437 [NETBEANS-4891] Fix missing file node of generic Gradle root project
  .travis.yml
  extide/gradle/src/org/netbeans/modules/gradle/queries/GenericProjectSources.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/queries/GenericProjectSourcesTest.java
  java/gradle.java/nbproject/project.properties
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/AbstractGradleJavaTestCase.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImplTest.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImplTest.java
Labels: Gradle, hacktoberfest

#2439 [NETBEANS-4895] Improve archive detection of a non-existent file.
  platform/openide.filesystems/src/org/openide/filesystems/JarArchiveRootProvider.java
  platform/openide.filesystems/test/unit/src/org/openide/filesystems/IsArchiveFileTest.java
Labels: hacktoberfest

#2423 [NETBEANS-4559] Web Project Properties Dialog fails to save Relative URL
  enterprise/maven.j2ee/nbproject/project.xml
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/MicroActionsProvider.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/MicroExecutionChecker.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/MicroProjectHook.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/ReloadAction.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/resources/action-mapping.xml
Labels: Java EE/Jakarta EE, Payara

#2385 Improving the behavior of cpplite project - building should have prop…
  cpplite/cpplite.project/nbproject/project.xml
  cpplite/cpplite.project/src/org/netbeans/modules/cpplite/project/ActionProviderImpl.java
  ergonomics/ide.ergonomics/cpplite.properties
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/FeatureInfo.java
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/FeatureManager.java
Labels: C/C++

#2442 [NETBEANS-4896] Classpath Fixes for Gradle Java projects
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/CompileClassPathImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/SourceClassPathImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceForBinary.java
Labels: Gradle

#2334 [NETBEANS-3986] Create new Class/Interface/Enum when copy-paste raw text
  java/java.project.ui/src/org/netbeans/spi/java/project/support/ui/CreateJavaClassFileFromClipboard.java
  java/java.project.ui/src/org/netbeans/spi/java/project/support/ui/PackageViewChildren.java
  java/java.project.ui/test/unit/src/org/netbeans/spi/java/project/support/ui/PackageViewTest.java
Labels: Java

#2389 Find Usages for LSP languages - both client and (Java) server.
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/CDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/CPPDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/HDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/HPPDataObject.java
  ide/lsp.client/external/binaries-list
  ide/lsp.client/external/lsp4j-0.8.1-p1-license.txt
  ide/lsp.client/external/lsp4j-0.9.0-license.txt
  ide/lsp.client/external/xtend-2.19.0-license.txt
  ide/lsp.client/nbproject/project.properties
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/Utils.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/HyperlinkProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/Refactoring.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RefactoringActionsProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RefactoringUIImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/tree/FileTreeElement.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/tree/ProjectTreeElement.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/tree/TreeElementFactoryImpl.java
  java/java.lsp.server/external/binaries-list
  java/java.lsp.server/external/xtend-2.19.0-license.txt
  java/java.lsp.server/nbproject/project.properties
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  webcommon/typescript.editor/src/org/netbeans/modules/typescript/editor/TypeScriptDataObjectDataObject.java
Labels: LSP

#2458 [NETBEANS-4908] Enable run/debug single when the suitable task is provided by the Gradle project.
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/ActionProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ActionToTaskUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/CustomActionRegistrationSupport.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/GradleBaseTokenProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ProjectActionMappingProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/customizer/BuildActionsCustomizer.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/actions/ProjectActionMappingProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/actions/ReplaceTokenProvider.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/api/execute/RunUtilsTest.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/spi/actions/ReplaceTokenProviderTest.java
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaTokenProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/JavaActionProvider.java
Labels: Gradle

#2402 Add arch.xml for platform/openide.filesystems.nb module
  platform/openide.filesystems.nb/arch.xml
  platform/openide.filesystems.nb/nbproject/project.properties
Labels: doc

#2445 Adding breadcrumbs for LSP languages.
  ide/editor.breadcrumbs/nbproject/project.xml
  ide/lsp.client/manifest.mf
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/Utils.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/BreadcrumbsImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/layer.xml
Labels: LSP

#2460 Fix javadoc generation
  platform/openide.filesystems.nb/arch.xml
Labels: bug, doc

#2466 Stack trace analyzer needs to understand modular stack traces.
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/StackLineAnalyser.java
  java/java.navigation/test/unit/src/org/netbeans/modules/java/stackanalyzer/StackLineAnalyserTest.java
Labels: Java

#2464 Using Incomplete classpath to indicate unloadable Gradle project
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/AbstractGradleClassPathImpl.java
  java/java.hints/nbproject/project.properties
  java/java.hints/src/org/netbeans/modules/java/hints/project/IncompleteClassPath.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/CompilationInfoImpl.java
Labels: Gradle

#2468 Annotation processors may generate class files:
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/OutputFileManager.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/parsing/WriteArbitraryClassFileAPTest.java
Labels: Java

#2463 Update JUnit to version 4.13.1
  java/java.j2seproject/nbproject/project.properties
  java/java.project.ui/nbproject/project.properties
  java/java.project.ui/test/qa-functional/src/projects/LibrariesTest.java
  java/java.project/nbproject/project.properties
  java/performance/threaddemo/build.properties
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/build.properties
  nbbuild/installer/engine/nbproject/project.properties
  nbbuild/installer/test/nbproject/project.properties
  nbbuild/test/unit/src/org/netbeans/nbbuild/FixTestDependencies.properties
  nbbuild/test/unit/src/org/netbeans/nbbuild/FixTestDependenciesPass.properties
  nbi/engine/nbproject/project.properties
  platform/junitlib/external/binaries-list
  platform/junitlib/external/junit-4.13.1-license.txt
  platform/junitlib/nbproject/project.properties
  platform/junitlib/src/org/netbeans/modules/junitlib/junit_4.xml
  platform/libs.junit4/external/binaries-list
  platform/libs.junit4/external/junit-4.13.1-license.txt
  platform/libs.junit4/nbproject/project.properties
  platform/libs.junit4/nbproject/project.xml
  websvccommon/websvc.saas.codegen/nbproject/project.properties
Labels: Upgrade Library, hacktoberfest

#2470 [NETBEANS-4919] Avoiding dependency on javac internal classes from javadoc/.../Analyzer, using NetBeans' HTML information instead.
  ide/html.editor.lib/nbproject/project.xml
  java/javadoc/nbproject/project.xml
  java/javadoc/src/org/netbeans/modules/javadoc/hints/Analyzer.java
Labels: Java

#2479 [NETBEANS-4930] Upgrade Gradle Tooling 6.7 with JDK-15 Support
  extide/gradle/external/binaries-list
  extide/gradle/external/gradle-6.7-bin-license.txt
  extide/gradle/external/gradle-6.7-bin-notice.txt
  extide/gradle/netbeans-gradle-tooling/build.gradle
  extide/gradle/netbeans-gradle-tooling/gradle/wrapper/gradle-wrapper.properties
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-6.7-license.txt
  extide/libs.gradle/external/gradle-tooling-api-6.7-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Gradle

#2462 [lsp] partial fix of invalidation of breakpoints during file open
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP, bug

#2478 StatusDisplayer messages remoted to LSP client.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientCapabilities.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientWrapper.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeLanguageClient.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ShowStatusMessageParams.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceUIContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractLspStatusDisplayer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/UIContext.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/protocol.ts
Labels: LSP

#2469 [NETBEANS-4910] Correcting open and close events sent from the LSP client to the LSP server.
  ide/editor.lib2/src/org/netbeans/api/editor/EditorRegistry.java
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/EditorApiPackageAccessor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/BreadcrumbsImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandlerTest.java
Labels: LSP

#2293 Handling of switch expressions and rule cases in Flow and NPECheck hint.
  java/java.hints/nbproject/project.xml
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/NPECheck.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/Flow.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/HideFieldByVarTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/NPECheckTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/introduce/FlowTest.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeUtilities.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
Labels: Java

#2481 Prevent from a deadlock between debugger and debuggee when breakpoint is resolved right during it's submission.
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleAccessor.java
Labels: bug

#2485 [NETBEANS-4938] Fixed Gradle Java Frontend Application generation
  java/gradle.htmlui/nbproject/project.xml
  java/gradle.htmlui/src/org/netbeans/modules/gradle/htmlui/GradleArchetype.java
  java/gradle.htmlui/src/org/netbeans/modules/gradle/htmlui/HtmlJavaApplicationProjectWizard.java
  java/gradle.htmlui/src/org/netbeans/modules/gradle/htmlui/resources/layer.xml
  java/gradle.htmlui/test/unit/src/org/netbeans/modules/gradle/htmlui/CreateArchetypeTest.java
Labels: Gradle

#2486 [NETBEANS-4944] Create New Gradle Projects with Wrapper by Default
  extide/gradle/src/org/netbeans/modules/gradle/newproject/ProjectAttributesPanelVisual.java
Labels: Gradle

#2487 [NETBEANS-4916] Removed Non-Inplemented COS Settings from Gradle Project UI
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/Bundle.properties
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/CompileOptionsPanel.form
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/CompileOptionsPanel.java
Labels: Gradle

#2490 [NETBEANS-3789] Fix missing artitact nodes in Gradle Project Configurations.
  extide/gradle/arch.xml
  extide/gradle/netbeans-gradle-tooling/src/main/groovy/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.groovy
  extide/gradle/netbeans-gradle-tooling/src/test/data/simple-with-tests/build.gradle
  extide/gradle/netbeans-gradle-tooling/src/test/data/simple-with-tests/settings.gradle
  extide/gradle/netbeans-gradle-tooling/src/test/data/simple/settings.gradle
  extide/gradle/netbeans-gradle-tooling/src/test/data/unresolvable/settings.gradle
  extide/gradle/src/org/netbeans/modules/gradle/GradleModuleFileCache21.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectCache.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/ConfigurationsNode.java
Labels: Gradle

#2497 Avoid registering the LSP client's hyperlink provider unless the given file is handled by the LSP client.
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/HyperlinkProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
Labels: LSP

#2499 [NETBEANS-4535] Better way to detect sources and javadocs in Gradle Projects
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleProjects.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/ConfigurationsNode.java
Labels: Gradle

#2503 [NETBEANS-4901] Remove the `--progressbar` option
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/PhpDocScript.java
Labels: PHP

#2502 [NETBEANS-4970] Incorrect formatting for lambda functions
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/netbeans4970.php
  php/php.editor/test/unit/data/testfiles/formatting/netbeans4970.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
Labels: PHP
