Repository apache/netbeans, pull requests merged in 2020-04, with the labels that each got.

#2069 Use current platform for OpenJDK tests
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ClassPathProviderImpl.java
Labels: Java

#2052 Improving LSP client: ability to share language servers across differ…
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LanguageServerProviderAccessor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/HyperlinkProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/spi/LanguageServerProvider.java
Labels: LSP, NB12.0

#2013 Fix Java refactoring with vanilla javac
  .travis.yml
  java/java.source.base/apichanges.xml
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/ClassIndex.java
  java/java.source.base/src/org/netbeans/api/java/source/CompilationController.java
  java/java.source.base/src/org/netbeans/api/java/source/SourceUtils.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/CompilationInfoImpl.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/JavacParser.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/ParameterNameProviderImpl.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/CompileWorkerTestBase.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/parsing/ModuleOraculumTest.java
  java/refactoring.java/nbproject/project.xml
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/InlineMethodTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/InlineRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/InlineVariableTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/InnerToOuterTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/IntroduceLocalExtensionTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/MoveClassTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/MoveFileRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/MoveMembersRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/MoveMembersTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/MoveTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/PullUpTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/PushDownRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/PushDownTransformer.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/RenameTestClassRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/spi/JavaRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/spi/RefactoringVisitor.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/suites/TestEntityCatalogImpl.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/FindSubclassesTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/FindUsagesJDK9Test.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/FindUsagesPerfTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/FindUsagesTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/InlineTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/InnerToOutterTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/IntroduceLocalExtensionTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/MoveBase.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/MoveClassPerfTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/MoveClassTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/MoveMethodTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/Noop.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/OpenDocumentsPerfTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/PullUpTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/RefTestBase.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/RefactoringTestBase.java
Labels: API Change, Java

#2068 [NETBEANS-4127] Adjust maven profiler to provide jvmargs as separate …
  java/maven/src/org/netbeans/modules/maven/newproject/MavenWizardIterator.java
  profiler/maven.profiler/src/org/netbeans/modules/maven/profiler/RunCheckerImpl.java
  profiler/profiler.nbimpl/src/org/netbeans/modules/profiler/nbimpl/actions/ProfilerLauncher.java
Labels: NB12.0

#2073 [NETBEANS-4154] Payara Platform 5.202 support in Apache NetBeans IDE
  enterprise/payara.common/nbproject/org-netbeans-modules-payara-common.sig
  enterprise/payara.common/src/org/netbeans/modules/payara/common/Bundle.properties
  enterprise/payara.common/src/org/netbeans/modules/payara/common/PayaraInstance.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ServerDetails.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/AddDomainLocationVisualPanel.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/Retriever.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/ServerWizardIterator.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/VersionRepository.java
  enterprise/payara.tooling/nbproject/org-netbeans-modules-payara-tooling.sig
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/AdminFactory.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/data/PayaraVersion.java
Labels: NB12.0

#2087 [NETBEANS-4071] Fix plexus class setup for maven embedder
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: NB12.0

#2062 [NETBEANS-4078] Don't install nb-javac on JDK11
  ergonomics/ide.ergonomics/java.properties
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/ConfigurationPanel.java
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/ModulesInstaller.java
Labels: NB12.0

#2095 If cancel happens while Analyzer is running, AssertionError is thrown…
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/JavacParser.java
Labels: Java

#2105 Lock npm module versions
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
Labels: Java, LSP

#2098 [TRAVIS] Run tests for enterprise modules
  .travis.yml
  enterprise/websvc.websvcapi/nbproject/project.properties
  enterprise/websvc.wsstackapi/nbproject/project.properties
Labels: NB12.0

#2100 NETBEANS-4209: Update Truffle debugging for GraalVM 20.1.0
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/DebugManagerHandler.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/LanguageName.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleAccess.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleStrataProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/ast/TruffleNode.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/ast/model/ASTNodeModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/ast/model/ASTTreeExpansionModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/TruffleBreakpointsHandler.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/TruffleStackFrame.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingTruffleActionsProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingTruffleTreeModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/source/SourcePosition.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/TruffleStackVariable.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/TruffleVariable.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/TruffleVariableImpl.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/models/TruffleVariablesActionsProviderFilter.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/models/TruffleVariablesTableModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/models/TruffleVariablesTreeModel.java
  java/debugger.jpda.truffle/test/unit/src/org/netbeans/modules/debugger/jpda/truffle/DebugSLTest.java
  java/debugger.jpda.truffle/test/unit/src/org/netbeans/modules/debugger/jpda/truffle/testapps/SLApp.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/FrameInfo.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/GuestObject.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleAccessor.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleDebugManager.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/SourcePosition.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/TruffleAST.java
Labels: NB12.0

#2092 [NETBEANS-4037] Attempting to avoid querying the SourceForBinaryQuery…
  ide/api.java.classpath/src/org/netbeans/api/java/classpath/GlobalPathRegistry.java
Labels: Java

#2077 Update used groovy libraries to 2.5.11. Fixes NETBEANS-4172
  groovy/libs.groovy/external/binaries-list
  groovy/libs.groovy/external/groovy-2.5.11-license.txt
  groovy/libs.groovy/external/groovy-2.5.11-notice.txt
  groovy/libs.groovy/nbproject/project.properties
  groovy/libs.groovy/nbproject/project.xml
  groovy/libs.groovy/src/org/netbeans/modules/libs/groovy/Bundle.properties
  groovy/libs.groovy/src/org/netbeans/modules/libs/groovy/groovy-all.xml
Labels: NB12.0

#2081 [NETBEANS-3707] Fixed colors used for PHP code completion
  ide/csl.api/src/org/netbeans/modules/csl/editor/completion/GsfCompletionItem.java
Labels: CSL

#2111 [NETBEANS-4239] Fixed NPE in GradleCompilerOptionsQuery
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaSourceSet.java
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleCompilerOptionsQuery.java
Labels: Gradle, NB12.0

#2048 [NETBEANS-3787] FlatLaf: fixed active tab painting if project tab colors enabled
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/ProjectColorTabDecorator.java
Labels: NB12.0
