Repository apache/netbeans, pull requests merged in 2020-11, with the labels that each got.

#2511 [NETBEANS-4976] Revalidate the breadcrumbs component after changing i…
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/BreadcrumbsImpl.java
Labels: LSP

#2508 [NETBEANS-1972] Initial Groovy Support Module for Gradle
  groovy/gradle.groovy/build.xml
  groovy/gradle.groovy/manifest.mf
  groovy/gradle.groovy/nbproject/project.properties
  groovy/gradle.groovy/nbproject/project.xml
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/Bundle.properties
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/RecommendedPrivilegedTemplatesImpl.java
  groovy/groovy.support/nbproject/project.xml
  nbbuild/cluster.properties
Labels: Gradle, Groovy

#2513 ioContainer in IOProvider.getIO(...) is allowed to be null.
  platform/openide.io/src/org/openide/io/BridgingIOProvider.java
  platform/openide.io/test/unit/src/org/openide/io/BridgingIOProviderTest.java
Labels: Java

#2518 Enable limited DialogDisplayer emulation over LSP.
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspDialogDisplayer.java
Labels: LSP

#2524 Increase the major version for php.editor
  php/php.dbgp/manifest.mf
  php/php.dbgp/nbproject/project.xml
  php/php.editor/manifest.mf
  php/php.editor/nbproject/project.properties
  php/php.editor/nbproject/project.xml
  php/php.kit/manifest.mf
  php/php.kit/nbproject/project.xml
  php/php.refactoring/manifest.mf
  php/php.refactoring/nbproject/project.xml
  php/php.smarty/manifest.mf
  php/php.smarty/nbproject/project.xml
  php/php.symfony/manifest.mf
  php/php.symfony/nbproject/project.xml
  php/php.zend/manifest.mf
  php/php.zend/nbproject/project.xml
  php/php.zend2/manifest.mf
  php/php.zend2/nbproject/project.xml
  php/spellchecker.bindings.php/manifest.mf
  php/spellchecker.bindings.php/nbproject/project.xml
Labels: PHP

#2523 Prevent race conditions during CLI install
  java/java.lsp.server/nbcode/nbproject/genfiles.properties
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  platform/o.n.bootstrap/external/binaries-list
  platform/o.n.bootstrap/external/platform-launchers-12.2-license.txt
  platform/o.n.bootstrap/launcher/unix/nbexec
  platform/o.n.bootstrap/launcher/windows/nbexec.cpp
  platform/o.n.bootstrap/launcher/windows/platformlauncher.cpp
  platform/o.n.bootstrap/nbproject/project.properties
  platform/o.n.bootstrap/src/org/netbeans/CLIHandler.java
  platform/o.n.bootstrap/src/org/netbeans/MainImpl.java
Labels: LSP

#2324 Adding support for workspace/symbol to both the LSP client and Java LSP server.
  cpplite/cpplite.editor/nbproject/project.xml
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/PathRecognizerImpl.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/LanguageServerImpl.java
  cpplite/cpplite.project/nbproject/project.xml
  cpplite/cpplite.project/src/org/netbeans/modules/cpplite/project/CPPLiteProject.java
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/BaseSymbolProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CustomIndexerImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/Icons.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/SymbolProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TypeProviderImpl.java
  ide/parsing.lucene/nbproject/project.properties
  ide/parsing.lucene/nbproject/project.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.sourceui/src/org/netbeans/modules/java/source/ui/JavaSymbolProvider.java
Labels: LSP

#2543 Update GitHub action dependency to fix error
  .github/workflows/main.yml
Labels: CI

#2537 [NETBEANS-5029] PHP - generated methods are public by default
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/CGSGenerator.java
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/CGSInfo.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
Labels: PHP

#2533 [NETBEANS-4650] Fix code completion for traits of use and group use statements
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4650/nb4650.php
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4650/nb4650.php.testNb4650_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4650/nb4650.php.testNb4650_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests241902/issue241902.php.testUseCase1.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionNb4650Test.java
Labels: PHP

#2536 [NETBEANS-5028] PHP - improved display of constant in code completion
  php/php.editor/src/org/netbeans/modules/php/editor/model/nodes/ConstantDeclarationInfo.java
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_02a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_09.completion
Labels: PHP

#2535 [NETBEANS-5027] PHP - improved display of array parameter
  php/php.editor/src/org/netbeans/modules/php/editor/CodeUtils.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/CodeUtilsTest.java
Labels: PHP

#2551 [NETBEANS-5049] Prevent NPEs in SemanicHighlighter.
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/TokenList.java
Labels: Java

#2550 [NETBEANS-5048] PHP - cancel Find Usages action
  php/php.refactoring/src/org/netbeans/modules/refactoring/php/findusages/PhpWhereUsedQueryPlugin.java
Labels: PHP

#2554 Fixing java/java.lsp.server tests.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP

#2567 [NETBEANS-4217] Display port number in requested URL in PHP Debugger
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/RequestedUrlEvalCommand.java
Labels: PHP

#2565 [NETBEANS-5073] Add space after data type
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatToken.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/test/unit/data/testfiles/formatting/spaceAfterType.php
  php/php.editor/test/unit/data/testfiles/formatting/spaceAfterType.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
Labels: PHP

#2568 [NETBEANS-5062] PHPDoc static type incorrectly resolved when returned by another class
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/FunctionScopeImpl.java
  php/php.editor/test/unit/data/testfiles/completion/lib/nb5062/nb5062.php
  php/php.editor/test/unit/data/testfiles/completion/lib/nb5062/nb5062.php.testNb5062Self_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb5062/nb5062.php.testNb5062Self_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb5062/nb5062.php.testNb5062Self_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb5062/nb5062.php.testNb5062Static_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb5062/nb5062.php.testNb5062Static_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb5062/nb5062.php.testNb5062Static_03.completion
  php/php.editor/test/unit/data/testfiles/gotodeclaration/testNb5062/testNb5062.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testNb5062/testNb5062.php
  php/php.editor/test/unit/data/testfiles/testNb5062.php.testNb5062_01a.occurrences
  php/php.editor/test/unit/data/testfiles/testNb5062.php.testNb5062_01b.occurrences
  php/php.editor/test/unit/data/testfiles/testNb5062.php.testNb5062_01c.occurrences
  php/php.editor/test/unit/data/testfiles/testNb5062.php.testNb5062_01d.occurrences
  php/php.editor/test/unit/data/testfiles/testNb5062.php.testNb5062_01e.occurrences
  php/php.editor/test/unit/data/testfiles/testNb5062.php.testNb5062_01f.occurrences
  php/php.editor/test/unit/data/testfiles/testNb5062.php.testNb5062_01g.occurrences
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionNb5062Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/GotoDeclarationNb5062Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImplNb5062Test.java
Labels: PHP

#2555 [NETBEANS-5052] Mark unused private constants
  php/php.editor/src/org/netbeans/modules/php/editor/csl/SemanticAnalysis.java
  php/php.editor/test/unit/data/testfiles/semantic/anonymousClass01.php
  php/php.editor/test/unit/data/testfiles/semantic/anonymousClass01.php.semantic
  php/php.editor/test/unit/data/testfiles/semantic/class005.php
  php/php.editor/test/unit/data/testfiles/semantic/class005.php.semantic
  php/php.editor/test/unit/data/testfiles/semantic/unusedPrivateConst.php
  php/php.editor/test/unit/data/testfiles/semantic/unusedPrivateConst.php.semantic
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/SemanticAnalyzerTest.java
Labels: PHP

#2569 [NETBEANS-5060] Add information for Xdebug 3 to the ConnectionErrMessage panel
  .github/workflows/main.yml
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/Bundle.properties
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ConnectionErrMessage.form
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ConnectionErrMessage.java
  php/php.project/src/org/netbeans/modules/php/project/ui/options/PhpOptions.java
Labels: PHP
