Repository apache/netbeans, pull requests merged in 2020-01, with the labels that each got.

#1767 [NETBEANS-3260] : Corrected output for modular project while building…
  java/java.j2semodule/src/org/netbeans/modules/java/j2semodule/resources/build-impl.xsl
Labels: Java

#1833 Various fixes for the LSP client.
  ide/c.google.gson/external/binaries-list
  ide/c.google.gson/external/gson-2.8.5-license.txt
  ide/c.google.gson/nbproject/project.properties
  ide/c.google.gson/nbproject/project.xml
  ide/lsp.client/external/binaries-list
  ide/lsp.client/external/lsp4j-0.8.1-license.txt
  ide/lsp.client/external/lsp4j-0.8.1-p1-license.txt
  ide/lsp.client/external/xtend-2.14.0-license.txt
  ide/lsp.client/external/xtend-2.18.0-license.txt
  ide/lsp.client/nbproject/project.properties
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/Utils.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/HyperlinkProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/Icons.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/NavigatorPanelImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/icons/empty.png
Labels: LSP

#1874 Spelling fix: intented -> intended
  php/php.samples/samples_src/Calculator-Codeception/readme.html
  php/php.samples/samples_src/Calculator-Nette-Tester/readme.html
  php/php.samples/samples_src/Calculator-PHPUnit/readme.html
  php/php.samples/samples_src/Calculator-atoum/readme.html
  php/php.samples/samples_src/TodoList/page/home.phtml
  php/php.samples/samples_src/TodoList/readme.html
Labels: PHP

#1861 [NETBEANS-3684] Added support for Gralde Composite Builds
  groovy/gradle.java/nbproject/project.xml
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/customizer/Bundle.properties
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/customizer/CompileOptionsPanel.form
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/customizer/CompileOptionsPanel.java
  groovy/gradle/manifest.mf
  groovy/gradle/nbproject/project.properties
  groovy/gradle/nbproject/project.xml
  groovy/gradle/src/org/netbeans/modules/gradle/api/execute/GradleCommandLine.java
  groovy/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
  groovy/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  groovy/gradle/test/unit/src/org/netbeans/modules/gradle/AbstractGradleProjectTestCase.java
  groovy/gradle/test/unit/src/org/netbeans/modules/gradle/api/execute/GradleCommandLineTest.java
  groovy/gradle/test/unit/src/org/netbeans/modules/gradle/api/execute/RunUtilsTest.java
Labels: Gradle

#1871 [NETBEANS-3115] Resolve third-party source against open Gradle projects.
  groovy/gradle.java/src/org/netbeans/modules/gradle/java/queries/OpenGradleProjectForBinary.java
Labels: Gradle

#1746 [NETBEANS-3552] - Upgrade GraalVM from 19.0.0 to 19.3.0
  .travis.yml
  ide/libs.graalsdk/external/binaries-list
  ide/libs.graalsdk/external/graal-sdk-19.3.0-license.txt
  ide/libs.graalsdk/manifest.mf
  ide/libs.graalsdk/nbproject/project.properties
  ide/libs.graalsdk/nbproject/project.xml
  ide/libs.graalsdk/test/unit/src/org/netbeans/libs/graalsdk/JavaScriptEnginesTest.java
  nbbuild/travis/scripting.sh
  platform/api.scripting/test/unit/src/org/netbeans/api/scripting/JavaScriptEnginesTest.java
  webcommon/libs.graaljs/external/binaries-list
  webcommon/libs.graaljs/external/icu4j-65.1-license.txt
  webcommon/libs.graaljs/external/js-19.3.0-license.txt
  webcommon/libs.graaljs/manifest.mf
  webcommon/libs.graaljs/nbproject/project.properties
  webcommon/libs.graaljs/nbproject/project.xml
  webcommon/libs.truffleapi/external/binaries-list
  webcommon/libs.truffleapi/external/truffle-api-19.3.0-license.txt
  webcommon/libs.truffleapi/manifest.mf
  webcommon/libs.truffleapi/nbproject/project.properties
  webcommon/libs.truffleapi/nbproject/project.xml
Labels: nb11.3

#1870 Support for pattern matching in instanceof.
  java/ant.hints/src/org/netbeans/modules/ant/hints/errors/EnablePreviewAntProj.java
  java/java.completion/src/org/netbeans/modules/java/completion/BaseTask.java
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/BindingUse.pass
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/CompletionTestBase.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask114FeaturesTest.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/FindLocalUsagesQuery.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/Utilities.java
  java/java.editor.base/test/unit/data/goldenfiles/org/netbeans/modules/java/editor/base/semantic/MarkOccDetTest/testErroneousMethodNETBEANS_224.pass
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/DetectorTest.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/MarkOccDetTest.java
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/GoToSupportTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/rename/InstantRenamePerformerTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertToPatternInstanceOf.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToPatternInstanceOfTest.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShimsCopier.java
  java/java.source.base/src/org/netbeans/modules/java/source/builder/TreeFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/VeryPretty.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/InstanceOfTest.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/errors/EnablePreviewMavenProj.java
Labels: Java

#1880 [NETBEANS-3647] Update FtpClient.java - compatibility with IIS
  php/php.project/src/org/netbeans/modules/php/project/connections/ftp/FtpClient.java
Labels: PHP, nb11.3

#1878 Adding necessary add-exports to the Java LSP server; removing the add…
  java/java.lsp.server/script/etc/nb-java-lsp-server.conf
  nb/ide.launcher/netbeans.conf
Labels: Java, LSP

#1851 Fix typo in Turbo.java comments
  ide/versioning.util/src/org/netbeans/modules/turbo/Turbo.java
Labels: Code cleanup

#1562 [NETBEANS-3515] NP-38 Payara Server Hot reload support
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/impl/DeployOnSaveManager.java
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/impl/ServerFileDistributor.java
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/plugins/api/DeploymentChangeDescriptor.java
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/plugins/api/ModuleChangeDescriptor.java
  enterprise/maven.j2ee/src/org/netbeans/modules/maven/j2ee/web/WebModuleProviderImpl.java
  enterprise/payara.common/nbproject/org-netbeans-modules-payara-common.sig
  enterprise/payara.common/src/org/netbeans/modules/payara/common/CommonServerSupport.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/PayaraInstance.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/nodes/Hk2Cookie.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/registration/AutomaticRegistration.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/resources/show-password.png
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ui/Bundle.properties
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ui/InstancePanel.form
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ui/InstancePanel.java
  enterprise/payara.common/src/org/netbeans/modules/payara/spi/PayaraModule.java
  enterprise/payara.common/src/org/netbeans/modules/payara/spi/PayaraModule2.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/ide/FastDeploy.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/ide/Hk2TargetModuleID.java
  enterprise/payara.tooling/nbproject/org-netbeans-modules-payara-tooling.sig
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/CommandDeploy.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/CommandRedeploy.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/RunnerHttpDeploy.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/RunnerHttpRedeploy.java
  enterprise/payara.tooling/test/unit/src/org/netbeans/modules/payara/tooling/admin/CommandHttpLifeCycleTest.java
  enterprise/payara.tooling/test/unit/src/org/netbeans/modules/payara/tooling/admin/CommandRestApplicationTest.java
Labels: Payara

#1889 [NETBEANS-3717] Allow LaF to change the color of the selected item in Code Completion
  ide/editor.completion/src/org/netbeans/modules/editor/completion/CompletionScrollPane.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
Labels: nb11.3

#1886 Update to Groovy 2.5.9 and enable groovy editor tests
  .travis.yml
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/inference/TypeInferenceVisitor.java
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/collections/collections1/Collections1.groovy.testCollections1_5.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals1/CollectionLiterals1.groovy
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals1/CollectionLiterals1.groovy.testCollectionLiterals1_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals1/CollectionLiterals1.groovy.testCollectionLiterals1_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals1/CollectionLiterals1.groovy.testCollectionLiterals1_3.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals2/CollectionLiterals2.groovy
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals2/CollectionLiterals2.groovy.testCollectionLiterals2_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals2/CollectionLiterals2.groovy.testCollectionLiterals2_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/collectionLiterals2/CollectionLiterals2.groovy.testCollectionLiterals2_3.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/grails/dataSourceClosure1/DataSourceClosure1.groovy
  groovy/groovy.editor/test/unit/data/testfiles/completion/grails/dataSourceClosure1/DataSourceClosure1.groovy.testDataSourceClosure1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/inference/Inference1.groovy
  groovy/groovy.editor/test/unit/data/testfiles/completion/inference/Inference1.groovy.testInference2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/interface/interfaceCompletion1/InterfaceCompletion1.groovy.testInterfaceCompletion1_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionInsideConstructor1/CompletionInsideConstructor1.groovy.testCompletionInsideConstructor1_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString1/CompletionNoPrefixString1.groovy.testCompletionNoPrefixString1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString2/CompletionNoPrefixString2.groovy.testCompletionNoPrefixString2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/namedparams/emptyConstructor/EmptyConstructor.groovy.testEmptyConstructor.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/namedparams/fewParamsConstructor/FewParamsConstructor.groovy.testFewParamsConstructor_AfterLeftParenthesis.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator1/SpreadOperator1.groovy.testSpreadOperator1_stringArray_all.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator2/SpreadOperator2.groovy.testSpreadOperator2_stringArray_sPrefix.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/package/afterExtendsTypeCompletion1/AfterExtendsTypeCompletion1.groovy.testAfterExtendsTypeCompletion1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/transformations/delegate1/Delegate1.groovy.testDelegate1_interfaceDelegator_withoutPrefix.completion
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/FlowCCTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/GrailsConfigsTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/GroovyCCTestBase.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/InferenceCCTest.java
  groovy/libs.groovy/external/binaries-list
  groovy/libs.groovy/external/groovy-2.5.9-license.txt
  groovy/libs.groovy/external/groovy-2.5.9-notice.txt
  groovy/libs.groovy/manifest.mf
  groovy/libs.groovy/nbproject/project.properties
  groovy/libs.groovy/nbproject/project.xml
  groovy/libs.groovy/src/org/netbeans/modules/libs/groovy/Bundle.properties
  groovy/libs.groovy/src/org/netbeans/modules/libs/groovy/groovy-all.xml
  ide/lexer/nbproject/project.properties
Labels: Groovy

#1898 Fix startup warnings from netbeans 11.3
  enterprise/servletjspapi/nbproject/project.properties
  enterprise/web.jspparser/nbproject/project.properties
  enterprise/web.struts/nbproject/project.properties
  enterprise/websvc.restlib/src/org/netbeans/modules/websvc/swdp/swdp.xml
  groovy/gradle/nbproject/project.properties
  groovy/gradle/src/org/netbeans/modules/gradle/GradleDataObject.java
  ide/libs.jaxb/nbproject/project.properties
  ide/libs.jaxb/nbproject/project.xml
  ide/libs.jaxb/src/org/netbeans/libs/jaxb/jaxb.xml
  java/j2ee.eclipselink/external/binaries-list
  java/j2ee.eclipselink/external/eclipselink-2.5.2-license.txt
  java/j2ee.eclipselink/nbproject/project.properties
  java/j2ee.eclipselink/src/org/netbeans/modules/j2ee/eclipselink/eclipselink_lib.xml
  java/j2ee.eclipselink/src/org/netbeans/modules/j2ee/eclipselink/jpa20-persistence.xml
  java/j2ee.persistence/nbproject/project.properties
  java/java.source/src/org/netbeans/modules/java/source/JBrowseModule.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/callhierarchy/CallHierarchyTopComponent.form
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/callhierarchy/CallHierarchyTopComponent.java
  java/websvc.jaxws21/src/org/netbeans/modules/websvc/jaxws21/jaxws21.xml
  php/php.project/src/org/netbeans/modules/php/project/api/PhpSourcePath.java
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/file/NpmDebugLogDataObject.java
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/file/PackageLockJsonDataObject.java
  webcommon/typescript.editor/src/org/netbeans/modules/typescript/editor/TypeScriptDataObjectDataObject.java
Labels: Code cleanup

#1902 [NETBEANS-3749][NETBEANS-3757]: fixing behavior of LSP-based code com…
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
Labels: LSP

#1904 TextMate lexer should listen on SystemFS, so newly added grammars wor…
  ide/textmate.lexer/src/org/netbeans/modules/textmate/lexer/TextmateTokenId.java
Labels: LSP

#1646 [NETBEANS-3311] Providing support convert text block to string
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertTextBlockToString.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertTextBlockToStringTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
Labels: Java

#1857 [NETBEANS-3616]:Provided support of enable-preview hint and debug opt…
  java/java.api.common/nbproject/org-netbeans-modules-java-api-common.sig
  java/java.api.common/nbproject/project.properties
  java/java.api.common/nbproject/project.xml
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/CompileProcess.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/DebugProcess.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/JPDAStart.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/RunProcess.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/SingleJavaSourceDebugActionProvider.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/SingleJavaSourceRunActionProvider.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/SingleSourceCompilerOptQueryImpl.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/SingleSourceFileUtil.java
  java/java.api.common/test/unit/src/org/netbeans/modules/java/api/common/singlesourcefile/JavaFileTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/errors/EnablePreviewSingleSourceFile.java
  java/java.hints/src/org/netbeans/modules/java/hints/resources/layer.xml
  java/java.source/src/org/netbeans/modules/java/JavaNode.java
Labels: Java
