Repository apache/netbeans, pull requests merged in 2020-12, with the labels that each got.

#2530 First attempt for Java getter/setter generator for the Java LSP server.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/GetterSetterGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: Java, LSP

#2572 Display sources loaded from String and find their MIME type.
  ide/spi.debugger.ui/apichanges.xml
  ide/spi.debugger.ui/manifest.mf
  ide/spi.debugger.ui/src/org/netbeans/spi/debugger/ui/DebuggingView.java
  java/debugger.jpda.truffle/nbproject/project.xml
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleAccess.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/impl/TruffleBreakpointsHandler.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/TruffleStackFrame.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/TruffleDVFrame.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/source/Source.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/FrameInfo.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/GuestObject.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleAccessor.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleDebugManager.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/SourcePosition.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/DebugAdapterContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/NbProtocolServer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/NbSourceProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/breakpoints/NbBreakpoint.java
  java/java.lsp.server/vscode/package.json
Labels: bug

#2574 Inform VSCode that application/javascript is also a MIME type of JavaScript.
  java/java.lsp.server/vscode/package.json
Labels: LSP, enhancement

#2577 [NETBEANS-5080] Detach the request of DebugSession to avoid infinite loop(to finish the task)
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ConnectionErrMessage.form
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ConnectionErrMessage.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/DebugSession.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/SessionManager.java
Labels: PHP

#2573 [NETBEANS-5075] Remove consecutive empty lines when formatting PHP code
  php/php.editor/src/org/netbeans/modules/php/editor/indent/CodeStyle.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FmtOptions.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtBlankLines.form
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtBlankLines.java
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/MaxPreservedLines01.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/MaxPreservedLines01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/MaxPreservedLines02.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/MaxPreservedLines02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/MaxPreservedLines03.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/MaxPreservedLines03.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issue176453.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterBlankLinesTest.java
Labels: PHP

#2581 [NETBEANS-5096] Fix formatting in executable script
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/OpenClosePHPTag06.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/OpenClosePHPTag06.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterBlankLinesTest.java
Labels: PHP

#2578 [NETBEANS-5091] PHP - more improvements for constants in code completion
  php/php.editor/src/org/netbeans/modules/php/editor/model/nodes/ClassConstantDeclarationInfo.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/nodes/ConstantDeclarationInfo.java
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php.testClassConst_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php.testClassConst_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php.testClassConst_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php.testClassConst_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php.testClassConst_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php.testClassConst_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/classConst.php.testClassConst_07.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php.testGlobalConst_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php.testGlobalConst_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php.testGlobalConst_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php.testGlobalConst_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php.testGlobalConst_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php.testGlobalConst_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php56/globalConst.php.testGlobalConst_07.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/contextSensitiveLexer/contextSensitiveLexerInterface.php.testContextSensitiveLexerInterface02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_02a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInArrayExpression/spreadOperatorInArrayExpression.php.testSpreadOperatorInArrayExpression_GlobalConst_09.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_00.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_07.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_08.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_10.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_11.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_12.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSpreadOperatorInClassConst/spreadOperatorInClassConst.php.testSpreadOperatorInClassConst_15.completion
  php/php.editor/test/unit/data/testfiles/index/testClassConstantVisibility/testClassConstantVisibility.php.indexed
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP56CodeCompletionTest.java
Labels: PHP

#2583 [NETBEANS-5108] Use complete Composer package name
  php/php.composer/src/org/netbeans/modules/php/composer/PhpProjectConvertor.java
Labels: PHP

#2584 Removing debug output.
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CustomIndexerImpl.java
Labels: LSP

#2592 [NETBEANS-5146] Add ScrollOnExpand property to TreeView
  platform/openide.explorer/apichanges.xml
  platform/openide.explorer/nbproject/project.properties
  platform/openide.explorer/src/org/openide/explorer/view/TreeView.java
Labels: API Change

#2604 Fix ini values for Xdebug 3
  .github/workflows/main.yml
Labels: CI, PHP

#2603 [NETBEANS-5155] retain fallback to file's MIME type.
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/hints/ErrorCheckingSupport.java
Labels: JavaScript

#2599 Illegal accesses are not allowed by default now, adding javac-related…
  nb/ide.launcher/netbeans.conf
Labels: Java

#2595 [NETBEANS-2387] Gradle Task Navigator with Favorites
  extide/gradle/nbproject/project.xml
  extide/gradle/src/org/netbeans/modules/gradle/FavoriteTaskManager.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/navigator/TasksNavigatorPanel.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/navigator/TasksPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/execute/navigator/TasksPanel.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/TaskNode.java
Labels: Gradle

#2605 Existing CreateElement fixes exposed as CodeActions in LSP
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateClassFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateEnumConstant.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateFieldFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateFixBase.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateMethodFix.java
  java/java.lsp.server/nbcode/integration/licenseinfo.xml
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/package-info.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/resources/GeneratedMethodBody.template
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/resources/LambdaBody.template
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/resources/OverriddenMethodBody.template
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP

#2598 [NETBEANS-4550] Handling tests that have a module-info overriding module-info from sources.
  java/java.api.common/src/org/netbeans/modules/java/api/common/classpath/ModuleClassPaths.java
  java/java.api.common/test/unit/src/org/netbeans/modules/java/api/common/classpath/ModuleClassPathsTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/PatchModuleFileManager.java
  java/maven/src/org/netbeans/modules/maven/queries/UnitTestsCompilerOptionsQueryImpl.java
  java/maven/test/unit/src/org/netbeans/modules/maven/queries/UnitTestsCompilerOptionsQueryImplTest.java
Labels: Java

#2553 [NETBEANS-4938] TestCase for a SourceGroup bug in Gradle Projects
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/AbstractGradleProjectTestCase.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaDebuggerImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaProjectProblemProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaTokenProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/LookupProviders.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/RecommendedPrivilegedTemplatesImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/SourceGroupResourceWatchList.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/output/LocationOpener.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GlobalClassPathProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/LookupProviders.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/DebugFixHooks.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/GradleJavaPlatformProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/LookupProviders.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/ShowJavadocHook.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/nodes/BootCPNodeFactory.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/output/GatlingReportProcessorFactory.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/output/JDPAProcessorFactory.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/output/JavaCompilerProcessorFactory.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/output/LookupProviders.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/FileBuiltQueryImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleAnnotationProcessorQueryImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleBinaryForSource.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleCompilerOptionsQuery.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleFileLocator.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceForBinary.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceLevelImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleTestForSourceImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/LookupProviders.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImplTest.java
Labels: Gradle

#2624 [NETBEANS-5198] Fix using lookup in constructor of FavoriteTaskManager
  extide/gradle/src/org/netbeans/modules/gradle/FavoriteTaskManager.java
Labels: Gradle

#2614 [NETBEANS-5172] Fix anonymous function formatting
  php/php.editor/src/org/netbeans/modules/php/editor/indent/CodeStyle.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FmtOptions.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatToken.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtSpaces.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/Spaces.php
  php/php.editor/test/unit/data/testfiles/formatting/arrowFunctions01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issue176453.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issue247047.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issue259111.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/php80/spaceAroundUnionTypeSeparator_01a.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/php80/spaceAroundUnionTypeSeparator_01b.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/php80/spaceAroundUnionTypeSeparator_02a.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/php80/spaceAroundUnionTypeSeparator_02b.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceAroundReturnType04.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceAroundReturnType05.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceAroundReturnType06.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceBeforeAnonymousFunction01.php
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceBeforeAnonymousFunction01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceBeforeAnonymousFunction02.php
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceBeforeAnonymousFunction02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceCheckAfterKeywords01.php
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceCheckAfterKeywords01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceCheckAfterKeywords02.php
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceCheckAfterKeywords02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas03.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/functionCallTrailingCommas04.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayAlways01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayAlways02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayNever01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayNever02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsAlways01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsAlways02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsNever01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsNever02.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterSpacesTest.java
Labels: PHP
