Repository apache/netbeans, pull requests merged in 2020-05, with the labels that each got.

#2108 Do not suggest to install nb-javac on JDK 14+
  java/java.j2semodule/src/org/netbeans/modules/java/j2semodule/ui/customizer/Bundle.properties
  java/java.j2seproject/src/org/netbeans/modules/java/j2seproject/ui/customizer/Bundle.properties
  java/java.source/src/org/netbeans/modules/java/source/JBrowseModule.java
  java/maven/src/org/netbeans/modules/maven/customizer/Bundle.properties
  nb/updatecenters/extras/nbjavac/src/org/netbeans/modules/nbjavac/Bundle.properties
Labels: Java

#2124 [NETBEANS-4283]:Code Modifications related to finalisation of Switch Expressions in JDK14
  java/java.hints/src/org/netbeans/modules/java/hints/errors/DifferentCaseKindsFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Utilities.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertSwitchToRuleSwitch.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/DifferentCaseKindsFixTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertSwitchToRuleSwitchTest.java
Labels: Java

#2070 [NETBEANS-4029] Fix feature dialog
  ergonomics/ide.ergonomics/nbproject/project.properties
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/ConfigurationPanel.java
  ergonomics/ide.ergonomics/test/unit/src/org/netbeans/modules/ide/ergonomics/fod/ConfigurationPanelTest.java
  ergonomics/ide.ergonomics/test/unit/src/org/netbeans/modules/ide/ergonomics/fod/TestBundle.properties
  ergonomics/ide.ergonomics/test/unit/src/org/netbeans/modules/ide/ergonomics/fod/TestBundle2.properties
Labels: NB12.0

#2091 NETBEANS-4192 The Gui builder uses deprecated InputEvent *_MASK constant
  java/form/src/org/netbeans/modules/form/editors/KeyStrokeEditor.java
Labels: do not merge

#2134 [NETBEANS-4259] Preventing crash in code completion for a lambda expr…
  java/java.completion/src/org/netbeans/modules/java/completion/BaseTask.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask18FeaturesTest.java
Labels: Java

#2157 [NETBEANS-3858] Checking if the iterator has a next element, before m…
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/ParameterNameProviderImpl.java
Labels: Java
