Repository apache/netbeans, pull requests merged in 2020-07, with the labels that each got.

#2223 [NETBEANS-4500] Fixed tests for PHP Editor on Windows
  .github/workflows/main.yml
  .travis.yml
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/api/test/CslTestBase.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IntroduceSuggestion.java
  php/php.editor/test/unit/data/testfiles/verification/testIntroduceSuggestion.php.testIntroduceSuggestion_01.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/js/JsFormatterEmbeddedTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/HintsTest.java
Labels: CI, PHP

#2227 [NETBEANS-4420] Fix IAE on tooltip images with unknown size.
  platform/openide.util.ui/src/org/openide/util/ImageUtilities.java
Labels: NB12.0-u1

#2121 Adding tests for java.source.base without nb-javac and java.hints tests to Travis; fixing tests and code along the way.
  .travis.yml
  java/java.hints.test/src/org/netbeans/modules/java/hints/test/api/HintTest.java
  java/java.hints/nbproject/project.properties
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/SuspiciousToArray.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ChangeMethodReturnType.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateElement.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/RenameConstructor.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Utilities.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/VarCompDeclaration.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProvider.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/Flow.java
  java/java.hints/src/org/netbeans/modules/java/hints/suggestions/Move.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/ConvertAnonymousToInnerTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/TestEntityCatalogImpl.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/AccessErrorTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/AddParameterOrLocalFixTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/ChangeMethodReturnTypeTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/CreateClassTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/CreateFieldTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/CreateMethodTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/NewImportClassTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsTestBase.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/introduce/IntroduceHintTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/AnnotationProcessorsTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToPatternInstanceOfTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/mapreduce/ForLoopToFunctionalHintTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/suggestions/LambdaTest.java
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/TreeUtilities.java
  java/java.source.base/src/org/netbeans/modules/java/source/matching/CopyFinder.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/GeneratorTestMDRCompat.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/TryTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/VarTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBAttr.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBParserFactory.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/Utilities.java
Labels: Java

#2228 [NETBEANS-4509] PHP - code completion for function with return type
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/test/unit/data/testfiles/completion/lib/arrays/arrays.php
  php/php.editor/test/unit/data/testfiles/completion/lib/arrays/arrays.php.testArrays_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/arrays/arrays.php.testArrays_06.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPArrayCodeCompletionTest.java
Labels: PHP

#2221 [NETBEANS-4487] Move PHP tests on Linux to GitHub Actions
  .github/workflows/main.yml
  .travis.yml
Labels: CI, PHP

#2230 [NETBEANS-4541] Set working directory when running PHP CS Fixer
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/CodingStandardsFixer.java
Labels: PHP

#2201 Fixing vanilla indexer to handle based anonymous classes properly.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java

#2229 [NETBEANS-4528] Setting classname for GradleTestcase
  java/gradle.test/src/org/netbeans/modules/gradle/test/GradleTestcase.java
Labels: NB12.0-u1

#2182 GitHub actions badge
  README.md
Labels: CI

#2241 [NETBEANS-4503] Code completion does not work in functions declared inside methods
  php/php.editor/src/org/netbeans/modules/php/editor/model/VariableScopeFinder.java
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4503/nb4503.php
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4503/nb4503.php.testNb4503_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4503/nb4503.php.testNb4503_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4503/nb4503.php.testNb4503_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4503/nb4503.php.testNb4503_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4503/nb4503.php.testNb4503_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4503/nb4503.php.testNb4503_06.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionNb4503Test.java
Labels: PHP

#2244 [NETBEANS-4652] Change the max level of PHPStan to 8
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/AnalysisOptions.java
Labels: PHP

#2231 [NETBEANS-4340] Added PHP Mess Detector options configuration
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/MessDetectorAnalyzerImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/MessDetectorParams.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/MessDetector.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/AnalysisOptions.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/Bundle.properties
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/MessDetectorCustomizerPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/MessDetectorCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/Bundle.properties
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/MessDetectorOptionsPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/MessDetectorOptionsPanel.java
Labels: PHP

#2245 [NETBEANS-4507] Fix Composer search when package has no description
  php/php.composer/src/org/netbeans/modules/php/composer/output/parsers/CliParser.java
  php/php.composer/test/unit/src/org/netbeans/modules/php/composer/output/parsers/CliParserTest.java
Labels: PHP

#2086 Fix apisupport.ant tests
  .travis.yml
  apisupport/apisupport.ant/build.xml
  apisupport/apisupport.ant/test/unit/data/example-external-projects/html4j/nbproject/project.properties
  apisupport/apisupport.ant/test/unit/data/example-external-projects/javafx/nbproject/project.properties
  apisupport/apisupport.ant/test/unit/data/example-external-projects/suite3/nbplatform/platform5/core/core/META-INF/manifest.mf
  apisupport/apisupport.ant/test/unit/data/example-external-projects/suite3/nbplatform/random/modules/ext/stuff/META-INF/manifest.mf
  apisupport/apisupport.ant/test/unit/data/example-external-projects/suite3/nbplatform/random/modules/random/META-INF/manifest.mf
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/ApisupportAntUtilsTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/AvoidModuleListInProjectConstructorTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/DialogDisplayerImpl.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/EvaluatorTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/ModuleDependencyTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/NbModuleProjectTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/NbModuleProviderImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/ProjectXMLManagerTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/UseFxTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/UseHtml4JavaTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/AccessibilityQueryImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/AntArtifactProviderImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/ClassPathProviderImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/GlobalJavadocForBinaryImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/JavadocForBinaryImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/SourceForBinaryImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/SourceLevelQueryImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/SubprojectProviderImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/UnitTestForSourceQueryImplTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/spi/BrandingSupportTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/suite/BuildZipDistributionTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/ui/ModuleActionsTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/ui/ModuleLogicalViewTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/ui/customizer/SingleModulePropertiesTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/ui/wizard/LibraryStartVisualPanelTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/universe/ModuleListTest.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/universe/TestEntryTest.java
Labels: wait-for-feedback

#2247 [NETBEANS-4308] Deadlock in SQLEditorSupport
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLEditorSupport.java
Labels: NB12.0-u2

#2246 [NETBEANS-2981] Add script paths to code analysis customizer panels
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/CodeSnifferAnalyzerImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/CodingStandardsFixerAnalyzerImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/MessDetectorAnalyzerImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/PHPStanAnalyzerImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/CodingStandardsFixer.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/MessDetector.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/PHPStan.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/AnalysisOptionsValidator.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/ValidatorCodeSnifferParameter.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/ValidatorCodingStandardsFixerParameter.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/ValidatorMessDetectorParameter.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/ValidatorPHPStanParameter.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/AnalysisDefaultDocumentListener.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/Bundle.properties
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/CodeSnifferCustomizerPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/CodeSnifferCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/CodingStandardsFixerCustomizerPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/CodingStandardsFixerCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/MessDetectorCustomizerPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/MessDetectorCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/PHPStanCustomizerPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/PHPStanCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/Bundle.properties
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/CodeSnifferOptionsPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/CodingStandardsFixerOptionsPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/CodingStandardsFixerOptionsPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/MessDetectorOptionsPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/PHPStanOptionsPanel.form
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/PHPStanOptionsPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/util/AnalysisUiUtils.java
Labels: PHP

#2242 [NETBEANS-4185] Support for self return type
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnSelf_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnStatic_06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnThis_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/nb4185/nb4185.php.testReturnThis_02.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionNb4185Test.java
Labels: PHP

#2254 [NETBEANS-4573] PHP CS Fixer doesn't work with a directory and a file
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/CodingStandardsFixer.java
Labels: PHP

#2250 Minor improvements for php.api.phpmodule
  php/php.api.phpmodule/manifest.mf
  php/php.api.phpmodule/src/org/netbeans/modules/php/api/PhpVersion.java
  php/php.api.phpmodule/src/org/netbeans/modules/php/api/validation/ValidationResult.java
  php/php.api.phpmodule/test/unit/src/org/netbeans/modules/php/api/PhpVersionTest.java
Labels: PHP

#2249 [NETBEANS-4571] Show PHP Static Analysis configuration files in Important Files
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ImportantFilesImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/CodeSniffer.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/CodingStandardsFixer.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/PHPStan.java
Labels: PHP

#2255 Removed java.platform dependency from the Gradle Projects module
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/nbproject/org-netbeans-modules-gradle.sig
  extide/gradle/nbproject/project.xml
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectProblemProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/execute/GradleJavaPlatformProvider.java
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaDebuggerImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaProjectProblemProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/AbstractGradleScriptClassPath.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/BootClassPathImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ScriptClassPathProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/CompileOptionsPanel.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/GradleJavaPlatformProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/JavaRunUtils.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/nodes/BootCPNodeFactory.java
  java/gradle.kit/nbproject/project.xml
Labels: Gradle

#2188 [NETBEANS-4444] The selected text is not removed in the Find Combobox when text is input via IME
  ide/editor.search/src/org/netbeans/modules/editor/search/SearchComboBoxEditor.java
Labels: Editor

#2258 [NETBEANS-4593] Recognize a URL which contains "@"
  ide/editor/src/org/netbeans/modules/editor/url/Parser.java
  ide/editor/test/unit/src/org/netbeans/modules/editor/url/ParserTest.java
Labels: Editor

#2217 [NETBEANS-2333][NETBEANS-3681] Update validator.jar for html.validation
  ide/html.validation/external/binaries-list
  ide/html.validation/external/validator-20200626-patched-license.txt
  ide/html.validation/external/validator-20200626.patch
  ide/html.validation/manifest.mf
  ide/html.validation/nbproject/project.properties
  ide/html.validation/nbproject/project.xml
  ide/html.validation/src/org/netbeans/modules/html/validation/NbMessageEmitter.java
  ide/html.validation/src/org/netbeans/modules/html/validation/NbValidationTransaction.java
  ide/html.validation/test/unit/src/org/netbeans/modules/html/validation/ValidatorImplTest.java
  nbbuild/licenses/MIT-validator
Labels: HTML

#2257 [NETBEANS-1646] Formatting options for CSS
  ide/css.editor/src/org/netbeans/modules/css/resources/layer.xml
Labels: CSS

#2207 Separating unused element detection out of the semantic highlighter; …
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetector.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/Utilities.java
  java/java.editor.base/test/unit/data/goldenfiles/org/netbeans/modules/java/editor/base/semantic/DetectorTest/test89356.pass
  java/java.editor.base/test/unit/data/goldenfiles/org/netbeans/modules/java/editor/base/semantic/DetectorTest/testConstructorUsedBySuper1.pass
  java/java.editor.base/test/unit/data/goldenfiles/org/netbeans/modules/java/editor/base/semantic/DetectorTest/testConstructorUsedBySuper2.pass
  java/java.editor.base/test/unit/data/goldenfiles/org/netbeans/modules/java/editor/base/semantic/DetectorTest/testLambdaAndFunctionType.pass
  java/java.editor.base/test/unit/data/org/netbeans/modules/java/editor/base/semantic/data/ConstructorUsedBySuper1.java
  java/java.editor.base/test/unit/data/org/netbeans/modules/java/editor/base/semantic/data/ConstructorUsedBySuper2.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/DetectorTest.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/TestBase.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetectorTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnusedTest.java
Labels: Java

#2253 [NETBEANS-4576] Support for code template completion for HTML
  ide/html.editor/src/org/netbeans/modules/html/editor/HtmlCodeTemplateFilter.java
  ide/html.editor/src/org/netbeans/modules/html/editor/resources/codetemplates.xml
  ide/html.editor/src/org/netbeans/modules/html/editor/resources/layer.xml
Labels: HTML

#2265 [NETBEANS-4443] PHP 8.0 Support: Non-capturing catches part
  php/php.api.phpmodule/src/org/netbeans/modules/php/api/PhpVersion.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/ModelVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/CatchClause.java
  php/php.editor/src/org/netbeans/modules/php/editor/resources/layer.xml
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP80UnhandledError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/nonCapturingCatches_01.pass
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNonCapturingCatches/nonCapturingCatches.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNonCapturingCatches/nonCapturingCatches.php.testNonCapturingCatches_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNonCapturingCatches/nonCapturingCatches.php.testNonCapturingCatches_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNonCapturingCatches/nonCapturingCatches.php.testNonCapturingCatches_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNonCapturingCatches/nonCapturingCatches.php.testNonCapturingCatches_04.completion
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceAroundNonCapturingCatches01.php
  php/php.editor/test/unit/data/testfiles/formatting/spaces/spaceAroundNonCapturingCatches01.php.formatted
  php/php.editor/test/unit/data/testfiles/gotodeclaration/testNonCapturingCatches/testNonCapturingCatches.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testNonCapturingCatches/testNonCapturingCatches.php
  php/php.editor/test/unit/data/testfiles/parser/php80/nonCapturingCatches_01.php
  php/php.editor/test/unit/data/testfiles/parser/php80/nonCapturingCatches_01.php.errors
  php/php.editor/test/unit/data/testfiles/testNonCapturingCatches.php.testNonCapturingCatches_01.occurrences
  php/php.editor/test/unit/data/testfiles/testNonCapturingCatches.php.testNonCapturingCatches_02.occurrences
  php/php.editor/test/unit/data/testfiles/testNonCapturingCatches.php.testNonCapturingCatches_03.occurrences
  php/php.editor/test/unit/data/testfiles/testNonCapturingCatches.php.testNonCapturingCatches_04.occurrences
  php/php.editor/test/unit/data/testfiles/testNonCapturingCatches.php.testNonCapturingCatches_05.occurrences
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP80CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/GotoDeclarationPHP80Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImplPHP80Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterSpacesTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#2268 [NETBEANS-4621] Color highlighting is not correct when script type attribute value is "module"
  ide/html.lexer/src/org/netbeans/api/html/lexer/HTMLTokenId.java
Labels: HTML, JavaScript

#2267 [NETBEANS-4615] Display compiler arg in Gradle Source Customizer Panel
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/Bundle.properties
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/SourceSetPanel.form
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/SourceSetPanel.java
Labels: Gradle

#2269 [NETBEANS-4443] PHP 8.0 Support: Allow trailing comma in parameter list part
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatToken.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP80UnhandledError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/allowTrailingCommaInParameterList_01.pass
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayAlways01.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayAlways01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayAlways02.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayAlways02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayNever01.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayNever01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayNever02.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/closureInArrayNever02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsAlways01.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsAlways01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsAlways02.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsAlways02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsNever01.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsNever01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsNever02.php
  php/php.editor/test/unit/data/testfiles/formatting/wrapping/php80/AllowTrailingCommaInParameterList/declarationsNever02.php.formatted
  php/php.editor/test/unit/data/testfiles/parser/php80/allowTrailingCommaInParameterList_01.php
  php/php.editor/test/unit/data/testfiles/parser/php80/allowTrailingCommaInParameterList_01.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterWrappingTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#2273 [NETBEANS-4636] Make FileBuilt and SourceForBinary work with Modular Gradle Java Projects
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/FileBuiltQueryImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceForBinary.java
Labels: Gradle

#2222 [NETBEANS-4311]: Added support for auto-completion of Java Record
  ide/editor/src/org/netbeans/modules/editor/resources/completion/record.png
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/override.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/record.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/typesRecordLocalMembersAndVars.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/typesRecordStaticMembersAndVars.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/14/typesRecordLocalMembersAndVars.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/14/typesRecordStaticMembersAndVars.pass
  java/java.completion/test/unit/data/org/netbeans/modules/java/completion/data/Records.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask114FeaturesTest.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/ui/WhereUsedPanel.java
Labels: Java

#2281 Netbeans license headers cleanup check-in #1
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/launchers/actions/LaunchersPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/options/ProjectOptionsPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/runprofiles/DirectoryChooserPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/runprofiles/EnvPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/runprofiles/RerunArguments.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/utils/ConfSelectorPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/utils/DirectoryChooserPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/utils/PathPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/utils/StringListPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/BuildActionsPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/FileListEditorPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/PanelConfigureProjectVisual.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/PanelProjectLocationVisual.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/ParserConfigurationPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/PreBuildActionPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/SelectBinaryPanelVisual.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/SelectModePanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/SourceFilesPanel.form
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/SourceFoldersPanel.form
  cnd/cnd.navigation/src/org/netbeans/modules/cnd/navigation/docview/DocViewTopComponent.form
  cnd/cnd.remote.projectui/src/org/netbeans/modules/cnd/remote/projectui/wizard/ide/TemplatesPanelGUI.form
  cnd/cnd.remote.ui/src/org/netbeans/modules/cnd/remote/ui/EditPathMapDialog.form
  cnd/cnd.remote.ui/src/org/netbeans/modules/cnd/remote/ui/proxysettings/ProxySettingsPanel.form
  cnd/cnd.remote.ui/src/org/netbeans/modules/cnd/remote/ui/wizard/CreateHostVisualPanel1.form
  cnd/cnd.simpleunit/src/org/netbeans/modules/cnd/simpleunit/editor/filecreation/NewTestSimplePanelGUI.form
  cnd/cnd.simpleunit/src/org/netbeans/modules/cnd/simpleunit/wizard/GenerateTestChooseElementsVisualPanel.form
  contrib/cnd.debugger.dbx/src/org/netbeans/modules/cnd/debugger/dbx/rtc/RtcTopComponent.form
  contrib/cnd.diagnostics.clank/nbproject/project.properties
  contrib/cnd.diagnostics.clank/nbproject/project.xml
  contrib/cnd.diagnostics.clank/src/org/netbeans/modules/cnd/diagnostics/clank/ui/codesnippet/ClankDiagnosticsDetailsTopComponent.form
  contrib/cnd.diagnostics.clank/src/org/netbeans/modules/cnd/diagnostics/clank/ui/codesnippet/CodeSnippetPanel.form
  contrib/cnd.mixeddev/src/org/netbeans/modules/cnd/mixeddev/java/jni/ui/JProjectFileChooser.form
  contrib/cnd.mixeddev/src/org/netbeans/modules/cnd/mixeddev/wizard/PanelProjectLocationVisual.form
  contrib/odcs.cnd/src/org/netbeans/modules/odcs/cnd/ui/DevelopVMConnectionPanel.form
Labels: license

#2279 Improvements to the Java LSP Server
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/AddParameterOrLocalFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateElement.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ImportClass.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/AddParameterOrLocalFixTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/CreateElementTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsTestBase.java
  java/java.lsp.server/build.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/text/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/ServerTest.java
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/VerifyJDK14.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.sourceui/manifest.mf
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementOpen.java
Labels: Java, LSP
