Repository apache/netbeans, pull requests merged in 2021-01, with the labels that each got.

#2631 [NETBEANS-5206] Enable LazyOpen on Gradle Projects
  extide/gradle/apichanges.xml
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/AbstractDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/options/GradleExperimentalSettings.java
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/GradleSettings.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/AbstractGradleProjectTestCase.java
Labels: API Change, Gradle

#2639 [NETBEANS-5214] Fix handling of global values
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/GrammarResolver.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/api/properties/GrammarResolverTest.java
Labels: CSS

#2627 Symbol.islocal has been renamed in JDK 16, avoiding the use of it
  java/java.source.base/src/org/netbeans/modules/java/source/PostFlowAnalysis.java
  java/java.source.base/src/org/netbeans/modules/java/source/builder/ElementsService.java
  java/java.source.base/src/org/netbeans/modules/java/source/usages/SourceAnalyzerFactory.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ElementUtilitiesTest.java
Labels: Java

#2600 First attempt add LSP-based rename refactoring to the Java LSP Server and the LSP Client.
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/CDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/CPPDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/HDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/HPPDataObject.java
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/Bundle.properties
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/ModificationResult.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/Refactoring.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RefactoringActionsProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RenamePanel.form
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RenamePanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RenameRefactoringUIImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/WhereUsedRefactoringUIImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/tree/DiffElement.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/TestUtils.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandlerTest.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/bindings/refactoring/RenameRefactoringTest.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/api/AccessorImpl.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/api/RefactoringSession.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/api/impl/APIAccessor.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/api/impl/SPIAccessor.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/plugins/FileRenamePlugin.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/AccessorImpl.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/spi/JavaRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/spi/hooks/JavaModificationResult.java
  webcommon/typescript.editor/src/org/netbeans/modules/typescript/editor/TypeScriptDataObjectDataObject.java
Labels: LSP

#2646 Renaming modified src.java file leads to Cannot save src.java error. Hotfix.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractDialogDisplayer.java
Labels: LSP

#2647 Make IntroduceElement fixes available as LSP CodeActions.
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceExpressionBasedMethodFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceFieldFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceFixBase.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceMethodFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceVariableFix.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#2630 [NETBEANS-377] Add PSR-4 hints
  php/php.editor/src/org/netbeans/modules/php/editor/resources/layer.xml
  php/php.editor/src/org/netbeans/modules/php/editor/verification/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PSR4Hint.java
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testClassNameDifferent/Vendor/App/ClassName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testClassNameDifferent/Vendor/App/ClassName.php.testClassNameDifferent.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testClassNameDifferentCase/Vendor/App/ClassName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testClassNameDifferentCase/Vendor/App/ClassName.php.testClassNameDifferentCase.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testClassNameOk/Vendor/App/ClassName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testClassNameOk/Vendor/App/ClassName.php.testClassNameOk.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testInterfaceNameDifferent/Vendor/App/InterfaceName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testInterfaceNameDifferent/Vendor/App/InterfaceName.php.testInterfaceNameDifferent.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testInterfaceNameDifferentCase/Vendor/App/InterfaceName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testInterfaceNameDifferentCase/Vendor/App/InterfaceName.php.testInterfaceNameDifferentCase.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testInterfaceNameOk/Vendor/App/InterfaceName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testInterfaceNameOk/Vendor/App/InterfaceName.php.testInterfaceNameOk.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testNamespaceDifferent/Vendor/App/ClassName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testNamespaceDifferent/Vendor/App/ClassName.php.testNamespaceDifferent.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testNamespaceDifferentCase/Vendor/App/ClassName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testNamespaceDifferentCase/Vendor/App/ClassName.php.testNamespaceDifferentCase.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testNamespaceOk/Vendor/App/ClassName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testNamespaceOk/Vendor/App/ClassName.php.testNamespaceOk.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testSubNamespaceOk/App/ClassName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testSubNamespaceOk/App/ClassName.php.testSubNamespaceOk.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testTraitNameDifferent/Vendor/App/TraitName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testTraitNameDifferent/Vendor/App/TraitName.php.testTraitNameDifferent.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testTraitNameDifferentCase/Vendor/App/TraitName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testTraitNameDifferentCase/Vendor/App/TraitName.php.testTraitNameDifferentCase.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testTraitNameOk/Vendor/App/TraitName.php
  php/php.editor/test/unit/data/testfiles/verification/PSR4/testTraitNameOk/Vendor/App/TraitName.php.testTraitNameOk.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/PSR4HintTest.java
Labels: PHP

#2643 Display Java + Truffle guest frames correctly.
  java/debugger.jpda.truffle/build.xml
  java/debugger.jpda.truffle/nbproject/project.properties
  java/debugger.jpda.truffle/nbproject/project.xml
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/FirstSourceURLProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/CurrentPCInfo.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/ExecutionHaltedInfo.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleAccess.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleEval.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleStrataProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/actions/PauseInGraalScriptActionProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/actions/StepActionProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/TruffleStackFrame.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/TruffleStackInfo.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingTruffleActionsProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingTruffleTreeModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingViewTruffleSupport.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/source/Source.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/impl/TruffleVariableImpl.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/models/TruffleLocalVariablesTreeModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/models/TruffleVariablesTableModel.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/DebuggerVisualizer.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/FrameInfo.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleAccessor.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleDebugManager.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/SourcePosition.java
  java/debugger.jpda/nbproject/project.properties
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/JPDADebuggerImpl.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/util/Operator.java
Labels: bug

#2648 [NETBEANS-4996] Refresh hints in VSCode editor.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: bug

#2650 Hotfix: remove redundant check that causes LSP tests to fail.
  ide/parsing.api/src/org/netbeans/modules/parsing/api/Source.java
Labels: LSP, bug

#2649 LSP: Go to definition enhanced with possible sources download
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/queries/DefaultSourceLevelQueryImpl.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/queries/SourceJavadocAttacherUtil.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP

#2655 Various fixes for LSP codeAction and rename requests.
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateClassFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceExpressionBasedMethodFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceMethodFix.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/LspServerUtils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ConstructorGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#2653 Support executor ProgressHandle cancel over DAP protocol.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/DebugAdapterContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbDisconnectRequestHandler.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/LspInternalHandle.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/OperationContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractProgressEnvironment.java
Labels: LSP, Need Squashing

#2660 LSP codeAction fixes.
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateClassFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceExpressionBasedMethodFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceFieldFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceMethodFix.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
Labels: LSP

#2683 [NETBEANS-5253] Fix NPE in PSR-4 hint
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PSR4Hint.java
Labels: PHP

#2677 [NETBEANS-5249] PHP debugger - improved Xdebug log hint
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/DbgpMessage.java
Labels: PHP

#2659 [NETBEANS-5228] Enable 'return' breakpoint in PHP debugger
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/DbgpMethodBreakpointPanel.form
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/DbgpMethodBreakpointPanel.java
Labels: PHP

#2673 [NETBEANS-5234] PHP debugger - fix display of long strings
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/Property.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/PropertyValueResponse.java
Labels: PHP

#2665 [NETBEANS-2843] PHP debugger - support for resolved breakpoints
  php/php.dbgp/manifest.mf
  php/php.dbgp/nbproject/project.xml
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/DebuggerOptions.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/FeatureGetCommand.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/InitMessage.java
  php/php.project/manifest.mf
  php/php.project/src/org/netbeans/modules/php/project/api/PhpOptions.java
  php/php.project/src/org/netbeans/modules/php/project/ui/options/Bundle.properties
  php/php.project/src/org/netbeans/modules/php/project/ui/options/PhpDebuggerPanel.form
  php/php.project/src/org/netbeans/modules/php/project/ui/options/PhpDebuggerPanel.java
  php/php.project/src/org/netbeans/modules/php/project/ui/options/PhpDebuggerPanelController.java
  php/php.project/src/org/netbeans/modules/php/project/ui/options/PhpOptions.java
Labels: PHP

#2678 [NETBEANS-5244] Add the project settings for XML configuration of phpDocumentor
  php/php.phpdoc/manifest.mf
  php/php.phpdoc/nbproject/project.xml
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/PhpDocScript.java
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/PhpDocumentorProvider.java
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/ui/PhpDocPreferences.java
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/ui/PhpDocPreferencesValidator.java
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/ui/customizer/Bundle.properties
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/ui/customizer/PhpDocPanel.form
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/ui/customizer/PhpDocPanel.java
Labels: PHP

#2681 [NETBEANS-5245] Show and change the PHP Version of project properties on the status bar
  php/php.project/manifest.mf
  php/php.project/nbproject/project.xml
  php/php.project/src/org/netbeans/modules/php/project/ui/PhpVersionStatusLineElementProvider.java
Labels: PHP

#2676 [NETBEANS-4606] Regenerate signature files for PHP 8.0
  php/php.project/external/binaries-list
  php/php.project/external/phpsigfiles-1.3-license.txt
  php/php.project/external/phpsigfiles-1.3-notice.txt
  php/php.project/nbproject/project.properties
Labels: PHP

#2692 [NETBEANS-4443] PHP 8.0 Support: Allow trailing comma in closure use lists
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable15.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable16.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP80UnhandledError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/allowTrailingCommaInClosureUseLists_01.pass
  php/php.editor/test/unit/data/testfiles/formatting/php80/allowTrailingCommaInClosureUseLists_01a.php
  php/php.editor/test/unit/data/testfiles/formatting/php80/allowTrailingCommaInClosureUseLists_01a.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/php80/allowTrailingCommaInClosureUseLists_01b.php
  php/php.editor/test/unit/data/testfiles/formatting/php80/allowTrailingCommaInClosureUseLists_01b.php.formatted
  php/php.editor/test/unit/data/testfiles/parser/php80/allowTrailingCommaInClosureUseLists_01.php
  php/php.editor/test/unit/data/testfiles/parser/php80/allowTrailingCommaInClosureUseLists_01.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#2691 [NETBEANS-5261] Shared settings for PHP code generators
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/CGSGenerator.java
Labels: PHP

#2686 Fix broken links to images in the extension's readme.
  java/java.lsp.server/build.xml
Labels: LSP

#2679 Properly stop Maven execution from LSP/DAP
  java/java.lsp.server/nbcode/integration/manifest.mf
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/LspInternalHandle.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/OperationContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/ProgressOperationEvent.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/ProgressOperationListener.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
  platform/core.execution/manifest.mf
  platform/core.execution/src/org/netbeans/core/execution/ExecutionEngine.java
  platform/core.execution/src/org/netbeans/core/execution/RunClassThread.java
  platform/core.execution/test/unit/src/org/netbeans/core/execution/CoreExecutionCompatibilityTest.java
  platform/openide.execution/nbproject/project.properties
  platform/openide.execution/src/org/openide/execution/ExecutionEngine.java
  platform/openide.execution/test/unit/src/org/openide/execution/ExecutionCompatibilityTest.java
  platform/openide.execution/test/unit/src/org/openide/execution/ExecutionEngineHid.java
Labels: LSP, Maven

#2698 Restart NBLS when an extension providing some NB cluster is installed/uninstalled.
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#2682 Adding folding range via LSP support, both client and server.
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/FoldManagerImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP

#2705 LSP code lens for running tests and main methods.
  ide/gsf.testrunner.ui/nbproject/project.xml
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodDebuggerProvider.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodRunnerProvider.java
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.testrunner.ui/nbproject/project.properties
  java/java.testrunner.ui/nbproject/project.xml
  java/java.testrunner.ui/src/org/netbeans/modules/java/testrunner/ui/ComputeTestMethodsImpl.java
  java/java.testrunner.ui/src/org/netbeans/modules/java/testrunner/ui/spi/ComputeTestMethods.java
  java/junit.ui/nbproject/project.xml
  java/junit.ui/src/org/netbeans/modules/junit/ui/actions/TestClassInfoTask.java
  java/junit.ui/src/org/netbeans/modules/junit/ui/actions/TestSingleMethodSupport.java
  java/testng.ui/nbproject/project.xml
  java/testng.ui/src/org/netbeans/modules/testng/ui/actions/TestClassInfoTask.java
Labels: LSP

#2652 Project problems are resolved in headless environment.
  ide/projectui/src/org/netbeans/modules/project/ui/problems/BrokenReferencesCustomizer.java
  ide/projectui/src/org/netbeans/modules/project/ui/problems/BrokenReferencesImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractLspStatusDisplayer.java
Labels: LSP, bug

#2620 Fixing Java code generator to properly handle manipulations with annotations on enum constants.
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/remove-from-parent.hint
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/remove-from-parent.test
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/AnnotationTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/GeneratorTestBase.java
Labels: Java

#2593 [NETBEANS-5118] Fixing computation of effective text block content wh…
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/DetectorTest.java
Labels: Java
