Repository apache/netbeans, pull requests merged in 2021-09, with the labels that each got.

#3139 Get elements resolved before working with types.
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/CompilationUnit.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/MethodCompletion.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/TypesCompletion.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/JavaElementHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/java/JavaElementHandle.java
Labels: bug, Groovy

#3141 Include URLs in Java code templates for easier customization
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/CloneAndCloneableTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/ImplementAllAbstractMethodsTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/suggestions/ImplementMethodsTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/GeneratorUtilitiesTest.java
  java/java.source/src/org/netbeans/modules/java/source/resources/GeneratedMethodBody.template
  java/java.source/src/org/netbeans/modules/java/source/resources/LambdaBody.template
  java/java.source/src/org/netbeans/modules/java/source/resources/OverriddenMethodBody.template
Labels: Java

#3149 LSP: Pull Up and Push Down refactorings added.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/MoveRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/PullUpRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/PushDownRefactoring.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP

#3150 Proper handling of LSP logging breakpoints.
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleAccess.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleEval.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/TruffleLineBreakpoint.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/impl/HitBreakpointInfo.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/impl/TruffleBreakpointOutput.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/impl/TruffleBreakpointsHandler.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/impl/TruffleBreakpointsRegistry.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/console/DebuggerOutput.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/expr/InvocationExceptionTranslated.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/breakpoints/NbBreakpoint.java
Labels: LSP

#3157 LSP: Surround With refactorings implemented.
  ide/csl.api/src/org/netbeans/modules/csl/editor/codetemplates/GsfCodeTemplateFilter.java
  ide/editor.codetemplates/apichanges.xml
  ide/editor.codetemplates/nbproject/project.properties
  ide/editor.codetemplates/nbproject/project.xml
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/AbbrevDetection.java
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/CodeTemplateCompletionProvider.java
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/CodeTemplateManagerOperation.java
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/SurroundWithFix.java
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/spi/CodeTemplateFilter.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCodeTemplateFilter.java
  java/java.editor/src/org/netbeans/modules/editor/java/Utilities.java
  java/java.editor/src/org/netbeans/modules/java/editor/resources/DefaultAbbrevs.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/MoveRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/PullUpRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/PushDownRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/SurroundWithHint.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP

#3165 Performance: groovy loads classes using FileSystems
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/GroovyIndexer.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParser.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/NbGroovyErrorCollector.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/ClassNodeCache.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/CompilationUnit.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/NbClassNodeResolver.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/PerfData.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/PerfStatCompilationUnit.java
  groovy/libs.groovy/nbproject/project.xml
Labels: enhancement, Groovy, performance

#3169 LSP: Various Surround With refactoring fixes.
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/CodeTemplateCompletionProvider.java
  java/java.editor/src/org/netbeans/modules/java/editor/resources/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/resources/DefaultAbbrevs.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/SurroundWithHint.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#3174 LSP: ChangeMethodParameters refactoring added.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ChangeMethodParametersRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeActionsProvider.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP

#3092 SCSS improvements
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3.g
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Lexer.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Parser.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/CssTokenId.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/NodeType.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/Css3ParserScssTest.java
Labels: CSS

#3177 [NETBEANS-6023] - cleanup SQLParser.java warning errors
  ide/db.sql.visualeditor/nbproject/org-netbeans-modules-db-sql-visualeditor.sig
  ide/db.sql.visualeditor/nbproject/project.properties
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/SQLParser.jj
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querymodel/AndNode.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querymodel/FromNode.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querymodel/GroupByNode.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querymodel/OrNode.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querymodel/OrderByNode.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querymodel/SelectNode.java
Labels: Code cleanup

#3155 Switch typescript and cpplite editors to multiviews
  cpplite/cpplite.editor/nbproject/project.xml
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/Bundle.properties
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/CDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/CPPDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/HDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/HPPDataObject.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/file/package-info.java
  webcommon/typescript.editor/nbproject/project.xml
  webcommon/typescript.editor/src/org/netbeans/modules/typescript/editor/TypeScriptDataObjectDataObject.java
  webcommon/typescript.editor/src/org/netbeans/modules/typescript/editor/TypeScriptEditorKit.java
  webcommon/typescript.editor/src/org/netbeans/modules/typescript/editor/TypeScriptLSP.java
Labels: TypeScript, C/C++

#3175 Avoid ClassLoader resource lookups
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParser.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/NbGroovyErrorCollector.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/CompilationUnit.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/NbClassNodeResolver.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/PerfData.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/PerfStatCompilationUnit.java
Labels: enhancement, Groovy, performance

#3185 [NETBEANS-6045] - cleanup ArrayList warnings
  enterprise/j2ee.dd.webservice/src/org/netbeans/modules/j2ee/dd/impl/webservices/WebServicesProxy.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/application/ApplicationProxy.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/client/AppClientProxy.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/common/ComponentBeanMultiple.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/EjbJarProxy.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/WebAppProxy.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/app/EarDataObject.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/multiview/EjbJarMultiViewDataObject.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/api/ConfigurationUtils.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/lexer/GroovyLexer.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/QueryBuilder.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/QueryModel.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querymodel/QueryNode.java
  ide/jellytools.ide/src/org/netbeans/jellytools/EditorOperator.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/Utils.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/editor/completion/JPACodeCompletionProvider.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/entitygenerator/DbSchemaEjbGenerator.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/DBSchemaFileList.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/JavaPersistenceGenerator.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/TableClosure.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/variables/ViewModel.java
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/MavenProjectGrammar.java
  java/xml.tools.java/src/org/netbeans/modules/xml/tools/java/generator/SAXGeneratorSupport.java
  javafx/javafx2.editor/src/org/netbeans/modules/javafx2/editor/completion/beans/FxBean.java
  platform/openide.explorer/src/org/netbeans/modules/openide/explorer/ExternalDragAndDrop.java
Labels: Code cleanup

#3193 [NETBEANS-6065] Make Gradle Project test close connections to Gradle Daemon
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectConnection.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectImplTest.java
Labels: Gradle

#3186 LSP: Test results displayed using the new TestExplorer API.
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/TestMethodFinderImpl.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodFinder.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/TestProgressHandler.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TestSuiteInfo.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/progress/TestProgressHandlerTest.java
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/protocol.ts
  java/java.lsp.server/vscode/src/test/runTest.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
Labels: LSP

#3197 Fix test failures in Groovy.editor
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParser.java
  groovy/groovy.editor/test/unit/data/testfiles/BookmarkController.groovy.indexed
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/api/test/CslTestBase.java
Labels: bug, Groovy

#3179 Update JavaFX to 17
  extra/libs.javafx.linux/build.xml
  extra/libs.javafx.linux/external/binaries-list
  extra/libs.javafx.linux/external/javafx-base-13-linux.jar.external
  extra/libs.javafx.linux/external/javafx-base-17-linux.jar.external
  extra/libs.javafx.linux/external/javafx-controls-13-linux.jar.external
  extra/libs.javafx.linux/external/javafx-controls-17-linux.jar.external
  extra/libs.javafx.linux/external/javafx-graphics-13-linux.jar.external
  extra/libs.javafx.linux/external/javafx-graphics-17-linux.jar.external
  extra/libs.javafx.linux/external/javafx-linux-17-license.txt
  extra/libs.javafx.linux/external/javafx-media-13-linux.jar.external
  extra/libs.javafx.linux/external/javafx-media-17-linux.jar.external
  extra/libs.javafx.linux/external/javafx-swing-13-linux.jar.external
  extra/libs.javafx.linux/external/javafx-swing-17-linux.jar.external
  extra/libs.javafx.linux/external/javafx-web-13-linux.jar.external
  extra/libs.javafx.linux/external/javafx-web-17-linux.jar.external
  extra/libs.javafx.linux/licenseinfo.xml
  extra/libs.javafx.linux/manifest.mf
  extra/libs.javafx.linux/nbproject/project.properties
  extra/libs.javafx.linux/nbproject/project.xml
  extra/libs.javafx.macosx/build.xml
  extra/libs.javafx.macosx/external/binaries-list
  extra/libs.javafx.macosx/external/javafx-base-13-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-base-17-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-controls-13-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-controls-17-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-graphics-13-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-graphics-17-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-mac-17-license.txt
  extra/libs.javafx.macosx/external/javafx-media-13-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-media-17-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-swing-13-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-swing-17-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-web-13-mac.jar.external
  extra/libs.javafx.macosx/external/javafx-web-17-mac.jar.external
  extra/libs.javafx.macosx/licenseinfo.xml
  extra/libs.javafx.macosx/manifest.mf
  extra/libs.javafx.macosx/nbproject/project.properties
  extra/libs.javafx.macosx/nbproject/project.xml
  extra/libs.javafx.win/build.xml
  extra/libs.javafx.win/external/binaries-list
  extra/libs.javafx.win/external/javafx-base-13-win.jar.external
  extra/libs.javafx.win/external/javafx-base-17-win.jar.external
  extra/libs.javafx.win/external/javafx-controls-13-win.jar.external
  extra/libs.javafx.win/external/javafx-controls-17-win.jar.external
  extra/libs.javafx.win/external/javafx-graphics-13-win.jar.external
  extra/libs.javafx.win/external/javafx-graphics-17-win.jar.external
  extra/libs.javafx.win/external/javafx-media-13-win.jar.external
  extra/libs.javafx.win/external/javafx-media-17-win.jar.external
  extra/libs.javafx.win/external/javafx-swing-13-win.jar.external
  extra/libs.javafx.win/external/javafx-swing-17-win.jar.external
  extra/libs.javafx.win/external/javafx-web-13-win.jar.external
  extra/libs.javafx.win/external/javafx-web-17-win.jar.external
  extra/libs.javafx.win/external/javafx-win-17-license.txt
  extra/libs.javafx.win/licenseinfo.xml
  extra/libs.javafx.win/manifest.mf
  extra/libs.javafx.win/nbproject/project.properties
  extra/libs.javafx.win/nbproject/project.xml
  ide/core.browser.webview/nbproject/project.properties
  ide/core.browser.webview/src/org/netbeans/core/browser/webview/ext/WebKitDebuggingTransport.java
Labels: Upgrade Library

#3178 Update JNA and JNA platform to 5.9.0
  platform/libs.jna.platform/external/binaries-list
  platform/libs.jna.platform/external/jna-platform-5.9.0-license.txt
  platform/libs.jna.platform/nbproject/org-netbeans-libs-jna-platform.sig
  platform/libs.jna.platform/nbproject/project.properties
  platform/libs.jna.platform/nbproject/project.xml
  platform/libs.jna/external/binaries-list
  platform/libs.jna/external/jna-5.9.0-license.txt
  platform/libs.jna/nbproject/org-netbeans-libs-jna.sig
  platform/libs.jna/nbproject/project.properties
  platform/libs.jna/nbproject/project.xml
Labels: Upgrade Library
