Repository apache/netbeans, pull requests merged in 2021-06, with the labels that each got.

#2984 Completion items imported from Java delegate to ElementJavadoc to get the content.
  groovy/groovy.editor/nbproject/project.xml
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/CompletionHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/CompletionItem.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/MethodCompletion.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/TypesCompletion.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/CompletionAccessor.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/GroovyElementsProvider.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/JavaElementHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/java/JavaElementHandle.java
Labels: Groovy, enhancement

#2905 Adding declarative Java hints to the LSP server.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/nbproject/project.properties
  ide/api.lsp/src/org/netbeans/api/lsp/CodeAction.java
  ide/api.lsp/src/org/netbeans/api/lsp/Command.java
  ide/api.lsp/src/org/netbeans/api/lsp/Diagnostic.java
  ide/api.lsp/src/org/netbeans/api/lsp/Position.java
  ide/api.lsp/src/org/netbeans/api/lsp/ResourceOperation.java
  ide/api.lsp/src/org/netbeans/api/lsp/TextDocumentEdit.java
  ide/api.lsp/src/org/netbeans/api/lsp/WorkspaceEdit.java
  ide/api.lsp/src/org/netbeans/spi/lsp/ErrorProvider.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.hints.declarative/nbproject/project.properties
  java/java.hints.declarative/nbproject/project.xml
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/idebinding/CompletionCollectorImpl.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/idebinding/HintsErrorProvider.java
  java/java.hints/nbproject/project.xml
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.lsp.server/licenseinfo.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/syntaxes/java.tmLanguage.json
  nbbuild/licenses/MIT-java-grammar
  nbbuild/licenses/names.properties
Labels: Java, LSP

#3001 Groovy Code Completion support available through LSP protocol.
  groovy/groovy.editor/manifest.mf
  groovy/groovy.editor/nbproject/project.xml
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/CompletionHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/CompletionItem.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/CompletionAccessor.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/GroovyCompletionCollector.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/GroovyCompletionImpl.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/GroovyElementsProvider.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/HTMLJavadocParser.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/JavaElementHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/TransformationHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/utils/GroovyUtils.java
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionInsideFor1/CompletionInsideFor1.groovy.testCompletionInsideFor1_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString1/CompletionNoPrefixString1.groovy.testCompletionNoPrefixString1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString2/CompletionNoPrefixString2.groovy.testCompletionNoPrefixString2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator1/SpreadOperator1.groovy.testSpreadOperator1_stringArray_all.completion
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/AccessCCTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/CamelCaseCCTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/CodeCompletionTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/DuplicatesCCTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/FieldCCTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/GroovyCCTestBase.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/InferenceCCTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/NewVarsCCTest.java
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/api/test/CslTestBase.java
Labels: Groovy, LSP, enhancement

#3006 LSP server informs client about unsuccessful launch.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
Labels: Gradle, LSP

#3004 Gradle Action Providers can disable an action.
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/ActionProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ActionToTaskUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ConfigurableActionsProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/CustomActionRegistrationSupport.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/DefaultActionMapping.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/ActionMapping.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/customizer/BuildActionsCustomizer.form
  extide/gradle/src/org/netbeans/modules/gradle/customizer/BuildActionsCustomizer.java
  extide/gradle/src/org/netbeans/modules/gradle/customizer/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/customizer/CustomActionMapping.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/actions/GradleActionsProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/actions/ProjectActionMappingProvider.java
  extide/gradle/test/unit/src/META-INF/generated-layer.xml
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/actions/ConfigurableActionsProviderImplTest.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/actions/declarative-actions.xml
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/actions/declarative-actions2.xml
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/JavaActionProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/action-mapping.xml
Labels: API Change, Gradle, enhancement

#3016 Support for disabling actions in Maven (used by Micronaut)
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/micronaut-actions.xml
  java/api.maven/manifest.mf
  java/api.maven/test/unit/src/META-INF/generated-layer.xml
  java/api.maven/test/unit/src/org/netbeans/api/maven/MavenActionsTest.java
  java/api.maven/test/unit/src/org/netbeans/api/maven/test-maven-actions.xml
  java/api.maven/test/unit/src/org/netbeans/api/maven/test-maven-actions2.xml
  java/maven/apichanges.xml
  java/maven/manifest.mf
  java/maven/src/org/netbeans/modules/maven/configurations/M2ConfigProvider.java
  java/maven/src/org/netbeans/modules/maven/customizer/ActionMappings.form
  java/maven/src/org/netbeans/modules/maven/customizer/ActionMappings.java
  java/maven/src/org/netbeans/modules/maven/customizer/Bundle.properties
  java/maven/src/org/netbeans/modules/maven/execute/ActionToGoalUtils.java
  java/maven/src/org/netbeans/modules/maven/spi/actions/MavenActionsProvider.java
Labels: API Change, Maven, enhancement

#3017 Temporary configuration takes precedence, does not fire changes.
  java/maven/src/org/netbeans/modules/maven/configurations/M2ConfigProvider.java
Labels: Maven, bug

#3019 Prevent deadlock - Workspace shared IO supports close on input stream.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceIOContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractLspInputOutputProvider.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceContextTest.java
Labels: Gradle, LSP

#2977 [NETBEANS-5704] when generating --patch-module option, also use the generated source roots.
  java/maven/src/org/netbeans/modules/maven/queries/UnitTestsCompilerOptionsQueryImpl.java
  java/maven/test/unit/src/org/netbeans/modules/maven/queries/UnitTestsCompilerOptionsQueryImplTest.java
Labels: Java

#2831 [NETBEANS-5503] Update JUnit from 4.13.1 to 4.13.2
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/universe/ModuleList.java
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/queries/ClassPathProviderImplTest.java
  java/java.j2seproject/nbproject/project.properties
  java/java.project.ui/nbproject/project.properties
  java/java.project.ui/test/qa-functional/src/projects/LibrariesTest.java
  java/java.project/nbproject/project.properties
  java/junit.ant.ui/src/org/netbeans/modules/junit/ant/ui/JUnitProjectOpenedHook.java
  java/performance/threaddemo/build.properties
  nbbuild/antsrc/org/netbeans/nbbuild/ParseProjectXml.java
  nbbuild/build.properties
  nbbuild/installer/engine/nbproject/project.properties
  nbbuild/installer/test/nbproject/project.properties
  nbbuild/test/unit/src/org/netbeans/nbbuild/FixTestDependencies.properties
  nbbuild/test/unit/src/org/netbeans/nbbuild/FixTestDependenciesPass.properties
  nbi/engine/nbproject/project.properties
  platform/junitlib/external/binaries-list
  platform/junitlib/external/junit-4.13.2-license.txt
  platform/junitlib/nbproject/project.properties
  platform/junitlib/src/org/netbeans/modules/junitlib/Bundle.properties
  platform/junitlib/src/org/netbeans/modules/junitlib/junit_4.xml
  platform/libs.junit4/external/binaries-list
  platform/libs.junit4/external/junit-4.13.2-license.txt
  platform/libs.junit4/nbproject/project.properties
  platform/libs.junit4/nbproject/project.xml
  websvccommon/websvc.saas.codegen/nbproject/project.properties
Labels: Upgrade Library

#3023 LSP: Minor fixes of Groovy templates.
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/Bundle.properties
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/resources/Groovy.html
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/resources/layer.xml
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/wizard/impl/GroovyJUnitTestWizard.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
Labels: Groovy, LSP

#3026 Avoid NPE if hyperlink belongs to another provider.
  ide/editor/src/org/netbeans/modules/editor/url/HyperlinkImpl.java
Labels: LSP, bug

#3027 Exported more packages to allow transformation loading, prevents Linkage errors
  groovy/groovy.editor/nbproject/project.xml
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/PathFinderVisitor.java
  groovy/libs.groovy/manifest.mf
  groovy/libs.groovy/nbproject/project.xml
Labels: Groovy, bug

#3022 LSP: Hover, go to declaration, and code lens implementation for Groovy
  groovy/groovy.editor/nbproject/project.xml
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/FindTypeUtils.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/PathFinderVisitor.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/java/ElementDeclaration.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyDeclarationFinder.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/occurrences/TypeVisitor.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/occurrences/VariableScopeVisitor.java
  groovy/groovy.editor/test/unit/data/testfiles/declarationfinder/Imports.groovy
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/GroovyDeclarationFinderTest.java
  groovy/groovy.support/nbproject/project.xml
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/actions/GroovyComputeTestMethods.java
  ide/csl.api/src/org/netbeans/modules/csl/core/LanguageRegistrationProcessor.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/completion/GsfCompletionProvider.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/completion/GsfHoverProvider.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/hyperlink/GoToSupport.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/hyperlink/GsfHyperlinkProvider.java
  ide/gsf.testrunner.ui/apichanges.xml
  ide/gsf.testrunner.ui/manifest.mf
  ide/gsf.testrunner.ui/nbproject/project.xml
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/spi/ComputeTestMethods.java
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/junit.ui/manifest.mf
  java/junit.ui/nbproject/project.xml
  java/junit.ui/src/org/netbeans/modules/junit/ui/actions/TestClassInfoTask.java
Labels: Groovy, LSP
