Repository apache/netbeans, pull requests merged in 2021-03, with the labels that each got.

#2784 Register JDKPlatformProvider when creating javac in ant's ClassLoader.
  extide/o.apache.tools.ant.module/src/org/apache/tools/ant/module/bridge/AntBridge.java
  extide/o.apache.tools.ant.module/test/unit/data/compile/Test.java
  extide/o.apache.tools.ant.module/test/unit/data/compile/build.xml
  extide/o.apache.tools.ant.module/test/unit/src/org/apache/tools/ant/module/bridge/AntBridgeTest.java
Labels: Java

#2787 Trust priming build, as the user already saw the warning.
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectProblemProvider.java
Labels: Gradle, enhancement

#2800 Graceful handling of renamed/deleted files.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP, bug

#2805 [NETBEANS-5438] Fix incorrect PHP xdebug3 port config when copying to clipboard
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ConnectionErrMessage.java
Labels: PHP

#2799 LSP progress cancel request may not work
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/nbcode/integration/LspInputOutputProvider.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/nbcode/integration/LspProgressEnvironment.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven/src/org/netbeans/modules/maven/execute/CommandLineOutputHandler.java
Labels: LSP, bug

#2810 Fixed invalid branding directory name.
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-java-j2seplatform.jar/org/netbeans/modules/java/j2seplatform/api/Bundle.properties
Labels: LSP, bug

#2734 [GR-28352] Java: Compile Workspace compiles more than workspace.
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
Labels: LSP

#2128 A prototype of CoS for vanilla javac.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/src/org/netbeans/modules/java/source/usages/BuildArtifactMapperImpl.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java

#2811 [NETBEANS-5545] ParentProject and RootProject query support for Maven projects
  java/maven/.gitignore
  java/maven/manifest.mf
  java/maven/src/org/netbeans/modules/maven/queries/MavenParentRootImpl.java
  java/maven/test/unit/data/parent-projects/basic/child/pom.xml
  java/maven/test/unit/data/parent-projects/basic/pom.xml
  java/maven/test/unit/data/parent-projects/multi/first/child/pom.xml
  java/maven/test/unit/data/parent-projects/multi/first/pom.xml
  java/maven/test/unit/data/parent-projects/multi/pom.xml
  java/maven/test/unit/data/parent-projects/multi/second/pom.xml
  java/maven/test/unit/data/parent-projects/nested/first/child/pom.xml
  java/maven/test/unit/data/parent-projects/nested/pom.xml
  java/maven/test/unit/data/parent-projects/nested/second/pom.xml
  java/maven/test/unit/data/parent-projects/single/pom.xml
  java/maven/test/unit/data/parent-projects/skipped/first/child/pom.xml
  java/maven/test/unit/data/parent-projects/skipped/first/pom.xml
  java/maven/test/unit/data/parent-projects/skipped/pom.xml
  java/maven/test/unit/data/parent-projects/skipped/second/pom.xml
  java/maven/test/unit/data/parent-projects/unrelated/child/pom.xml
  java/maven/test/unit/data/parent-projects/unrelated/pom.xml
  java/maven/test/unit/src/org/netbeans/modules/maven/queries/MavenParentRootImplTest.java
Labels: Maven, enhancement

#2806 Auto-open project owner of the opened file.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/LspServerState.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP, enhancement

#2779 [NETBEANS-5141] Support Gradle Source Groups from Alien Projects
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/nodes/SourcesNodeFactory.java
Labels: Gradle

#2491 [NETBEANS-4946] - Improve JAVA/JAKARTA EE with Ant based projects
  enterprise/j2ee.api.ejbmodule/nbproject/project.properties
  enterprise/j2ee.clientproject/nbproject/project.properties
  enterprise/j2ee.clientproject/src/org/netbeans/modules/j2ee/clientproject/AppClientProvider.java
  enterprise/j2ee.clientproject/src/org/netbeans/modules/j2ee/clientproject/api/AppClientProjectGenerator.java
  enterprise/j2ee.clientproject/src/org/netbeans/modules/j2ee/clientproject/ui/customizer/AppClientProjectProperties.java
  enterprise/j2ee.clientproject/src/org/netbeans/modules/j2ee/clientproject/ui/resources/layer.xml
  enterprise/j2ee.common/licenseinfo.xml
  enterprise/j2ee.common/nbproject/project.properties
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/J2eeProjectCapabilities.java
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/dd/DDHelper.java
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/dd/resources/ear-8.xml
  enterprise/j2ee.core/nbproject/project.properties
  enterprise/j2ee.core/src/org/netbeans/api/j2ee/core/Profile.java
  enterprise/j2ee.dd.webservice/nbproject/project.properties
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/application/Application.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/application/DDProvider.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/client/AppClient.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/common/RootInterface.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/ejb/DDProvider.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/web/WebFragmentProvider.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/common/DDUtils.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/EjbJarProxy.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/resources/application-client_8.mdd
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/resources/application_8.mdd
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/app/EarDataLoader.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/catalog/EnterpriseCatalog.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/client/ClientDataLoader.java
  enterprise/j2ee.earproject/nbproject/project.properties
  enterprise/j2ee.earproject/src/org/netbeans/modules/j2ee/earproject/EarProjectGenerator.java
  enterprise/j2ee.earproject/src/org/netbeans/modules/j2ee/earproject/ProjectEar.java
  enterprise/j2ee.ejbcore/nbproject/project.properties
  enterprise/j2ee.ejbjarproject/nbproject/project.properties
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/EjbJarProject.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/EjbJarProvider.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/api/EjbJarProjectGenerator.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/ui/customizer/EjbJarProjectProperties.java
  enterprise/j2ee.ejbrefactoring/nbproject/project.properties
  enterprise/j2ee.ejbverification/nbproject/project.properties
  enterprise/j2ee.genericserver/nbproject/project.properties
  enterprise/j2ee.kit/nbproject/project.properties
  enterprise/javaee.project/nbproject/project.properties
  enterprise/javaee.project/src/org/netbeans/modules/javaee/project/api/ant/ui/wizard/J2eeVersionWarningPanel.java
  enterprise/javaee.project/src/org/netbeans/modules/javaee/project/api/ant/ui/wizard/ProjectServerPanel.java
  enterprise/maven.j2ee/src/org/netbeans/modules/maven/j2ee/ejb/EjbJarImpl.java
  enterprise/web.beans/nbproject/project.properties
  enterprise/web.beans/src/org/netbeans/modules/web/beans/wizard/BeansXmlIterator.java
Labels: Java EE/Jakarta EE

#2817 [NETBEANS-5458] Update Batik SVG to version 1.14
  platform/libs.batik.read/external/batik-1.14-license.txt
  platform/libs.batik.read/external/batik-1.14-notice.txt
  platform/libs.batik.read/external/binaries-list
  platform/libs.batik.read/external/xmlgraphics-commons-2.6-license.txt
  platform/libs.batik.read/external/xmlgraphics-commons-2.6-notice.txt
  platform/libs.batik.read/nbproject/project.properties
  platform/libs.batik.read/nbproject/project.xml
  platform/openide.util.ui.svg/manifest.mf
  platform/openide.util.ui.svg/nbproject/project.properties
  platform/openide.util.ui.svg/nbproject/project.xml
  platform/openide.util.ui.svg/src/org/openide/util/svg/SVGIcon.java
  platform/openide.util.ui.svg/test/unit/src/org/openide/util/svg/SVGLoaderImplTest.java
  platform/openide.util.ui.svg/test/unit/src/org/openide/util/svg/externalHref.svg
  platform/openide.util.ui.svg/test/unit/src/org/openide/util/svg/innocent.svg
Labels: Upgrade Library

#2824 LSP: Various stability issues with more complex project fixed.
  java/java.lsp.server/nbcode/branding/modules/org-openide-text.jar/org/netbeans/modules/openide/text/Bundle.properties
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBAttr.java
  platform/openide.text/apichanges.xml
  platform/openide.text/arch.xml
  platform/openide.text/manifest.mf
  platform/openide.text/src/org/netbeans/modules/openide/text/AskEditorQuestions.java
  platform/openide.text/src/org/netbeans/modules/openide/text/Bundle.properties
  platform/openide.text/src/org/openide/text/Bundle.properties
  platform/openide.text/src/org/openide/text/CloneableEditorSupport.java
  platform/openide.text/test/unit/src/org/netbeans/modules/openide/text/AskEditorQuestionsTest.java
  platform/openide.text/test/unit/src/org/netbeans/modules/openide/text/Bundle_da.properties
  platform/openide.text/test/unit/src/org/netbeans/modules/openide/text/Bundle_no.properties
Labels: LSP

#2816 [NETBEANS-5430] Implement ActionProvider.COMMAND_PRIME for gradle
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/ActionProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectProblemProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
Labels: Gradle, LSP, enhancement

#2815 Fixed ProjectUtils.parentOf() for gradle subprojects.
  extide/gradle/src/org/netbeans/modules/gradle/queries/ParentRootProviderImpl.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/queries/ParentRootProviderTest.java
Labels: Gradle, bug

#2755 [NETBEANS-5350] Improved Fix Uses dialog
  php/php.editor/src/org/netbeans/modules/php/editor/actions/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixDuplicateImportStmts.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixUsesAction.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/ImportDataCreator.java
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_01.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_02.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_03.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_04.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_05.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_06.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_07.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_issue227304.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_issue246537a.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testImportData/testImportData_issue246537b.php.importData
Labels: PHP

#2836 [NETBEANS-5484] Handle NPE when the project Gradle project discovery fails
  extide/gradle/src/org/netbeans/modules/gradle/nodes/BuildScriptsNode.java
  extide/gradle/src/org/netbeans/modules/gradle/queries/ProjectContainerProviderImpl.java
Labels: Gradle

#2837 [NETBEANS-5484] Clear NB Non-Project cache when we have more info from Gradle
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectCache.java
Labels: Gradle

#1758 [NETBEANS-3561] Corrected compiler warnings in Visual Library API pro…
  platform/api.visual/nbproject/project.properties
  platform/api.visual/src/org/netbeans/api/visual/border/BorderFactory.java
  platform/api.visual/src/org/netbeans/api/visual/graph/layout/GraphLayout.java
  platform/api.visual/src/org/netbeans/api/visual/graph/layout/GraphLayoutFactory.java
  platform/api.visual/src/org/netbeans/api/visual/graph/layout/TreeGraphLayout.java
  platform/api.visual/src/org/netbeans/api/visual/layout/LayoutFactory.java
  platform/api.visual/src/org/netbeans/api/visual/model/ObjectScene.java
  platform/api.visual/src/org/netbeans/api/visual/print/ScenePrinter.java
  platform/api.visual/src/org/netbeans/api/visual/widget/ResourceTable.java
  platform/api.visual/src/org/netbeans/api/visual/widget/general/ListItemWidget.java
  platform/api.visual/src/org/netbeans/api/visual/widget/general/ListWidget.java
  platform/api.visual/src/org/netbeans/modules/visual/action/CycleObjectSceneFocusProvider.java
  platform/api.visual/src/org/netbeans/modules/visual/export/Scene2Image.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/HierarchicalLayout.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/OrthogonalLayout.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/TreeGraphLayout.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/BarycenterCrossingMinimizer.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/BarycenterXCoordinateAssigner.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/DirectedGraph.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/EdgeReversingCycleRemover.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/LayeredGraph.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/MixedGraph.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/VertexInsertionLayerAssigner.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/DirectionalGraph.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/DualGraph.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/EmbeddedPlanarGraph.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/Face.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/FlowNetwork.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/GTPlanarizer.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/MGraph.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/MinimumBendOrthogonalizer.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/OrthogonalRepresentation.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/orthogonalsupport/RectangularCompactor.java
Labels: Code cleanup

#2834 Adding annotations to test method, so that they can be run more easily from the glyph gutter.
  ide/gsf.testrunner.ui/apichanges.xml
  ide/gsf.testrunner.ui/manifest.mf
  ide/gsf.testrunner.ui/nbproject/project.xml
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/annotation/PopupUtil.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/annotation/RunDebugTestGutterAction.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/annotation/SelectActionPopup.form
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/annotation/SelectActionPopup.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/annotation/TestMethodAnnotation.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodRunnerProvider.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/layer.xml
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/resources/Bundle.properties
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/resources/runnable-test-annotation.xml
  java/junit.ui/src/org/netbeans/modules/junit/ui/actions/TestClassInfoTask.java
  java/testng.ui/src/org/netbeans/modules/testng/ui/actions/TestClassInfoTask.java
Labels: Java

#2808 Fixing codegen handling of both rewrite of an import and an adding of an import due to qual ident.
  java/java.source.base/src/org/netbeans/api/java/source/GeneratorUtilities.java
  java/java.source.base/src/org/netbeans/modules/java/source/GeneratorUtilitiesAccessor.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/ImmutableTreeTranslator.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/ImportAnalysis2Test.java
Labels: Java

#2768 Trust checkbox changed to tri-option combobox to indicate temporal trust.
  extide/gradle/src/org/netbeans/modules/gradle/ProjectTrust.java
  extide/gradle/src/org/netbeans/modules/gradle/customizer/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/customizer/GradleExecutionPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/customizer/GradleExecutionPanel.java
Labels: Gradle, Need Squashing, bug

#2844 [NETBEANS-5499] Felix removed in favour of Netbinox, fixes URLStreamHandlerFactory. add-opens added for jdk.compiler.
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/script/etc/nbcode.conf
Labels: Need Squashing
