Repository apache/netbeans, pull requests merged in 2021-02, with the labels that each got.

#2718 Fixing failing build.
  java/java.lsp.server/build.xml
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#2722 [NETBEANS-5304] CSS: Prevent UI blocking on undocumented properties
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/StandardPropertiesHelpResolver.java
Labels: CSS

#2723 [NETBEANS-5299] Update FlatLaf from 1.0-rc1 to 1.0-rc2
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-1.0-rc2-license.txt
  platform/libs.flatlaf/nbproject/org-netbeans-libs-flatlaf.sig
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Look and Feel

#2715 Sync delivery to release123 for 12.3 Beta 2
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/FeatureProjectFactory.java
  ergonomics/ide.ergonomics/test/unit/src/org/netbeans/modules/ide/ergonomics/fod/FeatureProjectFactoryTest.java
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/StandardPropertiesHelpResolver.java
  ide/html.editor/src/org/netbeans/modules/html/editor/api/completion/HtmlCompletionItem.java
  ide/web.common.ui/src/org/netbeans/modules/web/common/ui/api/FileReferenceCompletion.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/TruffleDebugManager.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleAccess.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleEval.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/actions/StepActionProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/TruffleStackFrame.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/TruffleStackInfo.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingTruffleActionsProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingTruffleNodeModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/frames/models/DebuggingTruffleTreeModel.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/impl/TruffleVariableImpl.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/models/TruffleVariablesActionsProviderFilter.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/vars/tooltip/ToolTipAnnotation.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/JPDATruffleAccessor.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/DebuggingTreeExpansionModelFilter.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/WatchesModel.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/expr/InvocationExceptionTranslated.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/AbstractVariable.java
  java/java.lsp.server/build.xml
  java/java.lsp.server/vscode/src/extension.ts
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-1.0-rc2-license.txt
  platform/libs.flatlaf/nbproject/org-netbeans-libs-flatlaf.sig
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: do not merge

#2714 LSP CodeActions enhancements.
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.editor/src/org/netbeans/modules/java/editor/overridden/ComputeOverriders.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ImplementAllAbstractMethods.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ConstructorGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementOpen.java
Labels: LSP

#2606 [NETBEANS-5161] Prevent IAE when resolving composite project dependencies
  extide/gradle/src/org/netbeans/modules/gradle/GradleModuleFileCache21.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProject.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleConfiguration.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleDependency.java
Labels: Gradle

#2725 [NETBEANS-5326] LSP codelens output fixes
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/NbSourceProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/NbThreads.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchWithDebuggingDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, bug

#2730 [NETBEANS-5319] Always do save modified files when used through LSP.
  java/java.lsp.server/nbcode/branding/modules/org-openide-loaders.jar/org/netbeans/modules/openide/loaders/Bundle.properties
Labels: Java, LSP

#2726 Correct the breakpoint functionality in cpplite debugger.
  cpplite/cpplite.debugger/src/META-INF/debugger/BreakpointsView/org.netbeans.spi.viewmodel.NodeModel
  cpplite/cpplite.debugger/src/META-INF/debugger/CPPLiteSession/org.netbeans.spi.debugger.ActionsProvider
  cpplite/cpplite.debugger/src/META-INF/debugger/org.netbeans.api.debugger.LazyDebuggerManagerListener
  cpplite/cpplite.debugger/src/META-INF/debugger/org.netbeans.api.debugger.Properties$Reader
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/Bundle.properties
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/CPPLiteActionsProvider.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/CPPLiteDebugger.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/CPPThread.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/DebuggerAnnotation.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/DebuggerBreakpointAnnotation.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/BreakpointAnnotationListener.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/BreakpointAnnotationProvider.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/BreakpointModel.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/BreakpointsReader.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/CPPLiteBreakpoint.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/CPPLiteBreakpointActionProvider.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/LoadBreakpoints.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/PersistenceManager.java
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/debuggingview/DebuggingViewSupportImpl.java
  cpplite/cpplite.debugger/test/unit/src/org/netbeans/modules/cpplite/debugger/AbstractDebugTest.java
  cpplite/cpplite.debugger/test/unit/src/org/netbeans/modules/cpplite/debugger/BreakpointsTest.java
  cpplite/cpplite.debugger/test/unit/src/org/netbeans/modules/cpplite/debugger/StepTest.java
  ide/api.debugger/src/org/netbeans/api/debugger/Breakpoint.java
Labels: C/C++, bug

#2736 Showing completions returned by annotation Processors in VS Code.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP

#2751 VSCode NetBeans (LSP) changelog update for 12.3 rel.
  java/java.lsp.server/vscode/CHANGELOG.md
Labels: LSP

#2752 Adding exports so that opening classfiles without sources works.
  nb/ide.launcher/netbeans.conf
Labels: Java

#2754 Removing delay after launch Project action terminates.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
Labels: LSP

#2760 [NETBEANS-5362] Update FlatLaf from 1.0-rc2 to 1.0 to fix NPE in Jvi plugin when showing popup
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-1.0-license.txt
  platform/libs.flatlaf/nbproject/org-netbeans-libs-flatlaf.sig
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Look and Feel

#2762 [NETBEANS-5353] Use cleanTest instead of rerun-tasks to force test to run
  java/gradle.java/src/org/netbeans/modules/gradle/java/action-mapping.xml
Labels: Gradle

#2764 [NETBEANS-5318] Temporary script trust.
  extide/gradle/src/org/netbeans/modules/gradle/ProjectTrust.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
Labels: Gradle

#2767 Broken project auto-resolution repeats actions
  ide/projectui/src/org/netbeans/modules/project/ui/problems/BrokenReferencesImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/NotifyDescriptorAdapter.java
Labels: LSP, Need Squashing, bug

#2731 Support for VM/app argument injection to (maven) run and debug project actions
  .travis.yml
  ide/extexecution.base/apichanges.xml
  ide/extexecution.base/manifest.mf
  ide/extexecution.base/src/org/netbeans/api/extexecution/base/ExplicitProcessParameters.java
  ide/extexecution.base/test/unit/src/org/netbeans/api/extexecution/base/ExplicitProcessParametersTest.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/vscode/package.json
  java/maven/apichanges.xml
  java/maven/arch.xml
  java/maven/manifest.mf
  java/maven/nbproject/project.properties
  java/maven/nbproject/project.xml
  java/maven/src/org/netbeans/modules/maven/MavenProjectPropsImpl.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/api/execute/PrerequisitesChecker.java
  java/maven/src/org/netbeans/modules/maven/api/execute/RunConfig.java
  java/maven/src/org/netbeans/modules/maven/api/execute/RunUtils.java
  java/maven/src/org/netbeans/modules/maven/cos/CosChecker.java
  java/maven/src/org/netbeans/modules/maven/cos/OldJavaRunnerCOS.java
  java/maven/src/org/netbeans/modules/maven/customizer/ActionMappings.java
  java/maven/src/org/netbeans/modules/maven/customizer/RunJarPanel.java
  java/maven/src/org/netbeans/modules/maven/execute/BeanRunConfig.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/execute/ModelRunConfig.java
  java/maven/src/org/netbeans/modules/maven/execute/defaultActionMappings.xml
  java/maven/src/org/netbeans/modules/maven/execute/ui/RunGoalsPanel.java
  java/maven/src/org/netbeans/modules/maven/runjar/LaunchArgPrereqsChecker.java
  java/maven/src/org/netbeans/modules/maven/runjar/MavenExecuteUtils.java
  java/maven/src/org/netbeans/modules/maven/runjar/PropertySplitter.java
  java/maven/src/org/netbeans/modules/maven/runjar/RunJarPrereqChecker.java
  java/maven/src/org/netbeans/modules/maven/runjar/RunJarStartupArgs.java
  java/maven/test/unit/data/mavenmock/2.2/lib/fake221.jar
  java/maven/test/unit/data/mavenmock/3.0.5/lib/fake305.jar
  java/maven/test/unit/data/mavenmock/3.3.1/lib/fake331.jar
  java/maven/test/unit/data/mavenmock/4.0.0/lib/fake400.jar
  java/maven/test/unit/data/mavenmock/source.jar
  java/maven/test/unit/src/org/netbeans/modules/maven/api/execute/RunUtilsTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/customizer/RunJarPanelTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenExecutionTestBase.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/ReactorCheckerTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/runjar/ExecutionEnvHelperTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/runjar/MavenExecuteUtilsTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/runjar/PropertySplitterTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/runjar/nbactions-template.xml
  platform/api.progress.nb/test/unit/src/org/netbeans/api/progress/ProgressHandleFactoryTest.java
Labels: API Change, LSP, Maven
