Repository apache/netbeans, pull requests merged in 2021-12, with the labels that each got.

#3348 Dispose/disconnect tree view after client stop.
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: bug, LSP, VSCode

#3354 LSP: attempt to speed up open type action.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementOpen.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenSourceJavadocAttacher.java
Labels: LSP

#3351 Bridged node actions to LSP commands. Enabled DB explorer view for LSP clients.
  ide/db/apichanges.xml
  ide/db/nbproject/project.properties
  ide/db/src/org/netbeans/api/db/explorer/support/DatabaseExplorerUIs.java
  ide/db/src/org/netbeans/modules/db/explorer/action/ConnectAction.java
  ide/db/src/org/netbeans/modules/db/explorer/action/DisconnectAction.java
  ide/db/src/org/netbeans/modules/db/resources/mf-layer.xml
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspGlobalActionContext.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/database-cookies.contextValues
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/nbproject/project.properties
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionExplorer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/DefaultDecorationsImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/LspTreeViewServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodeActionsProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodeLookupContextValues.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeNodeRegistryImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractGlobalActionContext.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: enhancement, API Change, LSP, VSCode

#3350 [NETBEANS-6253] Posibility to run single Groovy Script
  groovy/groovy.support/nbproject/project.properties
  groovy/groovy.support/nbproject/project.xml
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/actions/singlefilerun/JPDAStart.java
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/actions/singlefilerun/SingleGroovySourceRunActionProvider.java
Labels: enhancement, Groovy

#3353 LSP + VSCode extension: Run/Debug via project actions.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/test/suite/testutils.ts
  java/maven/src/org/netbeans/modules/maven/newproject/TemplateUtils.java
  java/maven/src/org/netbeans/modules/maven/runjar/RunJarPrereqChecker.java
Labels: VSCode

#3362 [NETBEANS-6276] Groovy CC doesn't work on JDK 1.8
  groovy/groovy.editor/nbproject/project.xml
Labels: bug, Groovy

#3364 Merge the code lens actions with the launch config properties and adapt Gradle to apply env.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode

#3368 [NETBEANS-6291] Navigation to fields sometimes doesn't work in Groovy
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyDeclarationFinder.java
Labels: bug, Groovy

#3365 LSP: Allow to specify default DB connection
  ide/db/apichanges.xml
  ide/db/nbproject/project.properties
  ide/db/src/org/netbeans/api/db/explorer/ConnectionManager.java
  ide/db/src/org/netbeans/modules/db/explorer/ConnectionList.java
  ide/db/src/org/netbeans/modules/db/explorer/action/MakePreferred.java
  ide/db/src/org/netbeans/modules/db/explorer/node/ConnectionNode.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBCommandProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeNodeRegistry.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProvider.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: enhancement, API Change, LSP

#3367 LSP: Provide completion for SQL queries for repository annotations.
  java/j2ee.persistence/nbproject/project.xml
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/editor/completion/CCParser.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/editor/completion/ETCompletionContextResolver.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/editor/completion/JPACodeCompletionProvider.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/editor/completion/JPACompletionItem.java
  java/java.lsp.server/nbcode/nbproject/platform.properties
Labels: LSP

#3366 Avoid spurious exception in log. Warn if perf counters are enabled on incompatible JDK
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/PerfStatCompilationUnit.java
Labels: bug, Groovy

#3209 Allow plugins to exclude files from being indexed
  ide/parsing.indexing/apichanges.xml
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/FileObjectCrawler.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/FilteringIterable.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/IndexabilityQuery.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/IndexabilityQueryContextAccessor.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/IndexabilitySupport.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/RepositoryUpdater.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/TimeStamps.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/spi/indexing/IndexabilityQueryImplementation.java
  ide/parsing.indexing/test/unit/src/org/netbeans/modules/parsing/impl/indexing/RepositoryUpdaterTest.java
Labels: API Change

#3370 Maintain data identity for duplicit info requests
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ui/refactoring.css
  java/java.lsp.server/vscode/src/explorer.ts
Labels: bug, LSP

#3374 LSP: Couple of Text Explorer fixes.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/testAdapter.ts
Labels: LSP

#3371 Show Databases and Projects views only after NBLS extension activates.
  java/java.lsp.server/vscode/package.json
Labels: bug, VSCode

#3328 Upgrade to Apache Maven 3.8.4
  java/maven.embedder/external/apache-maven-3.6.3-jsoup-license.txt
  java/maven.embedder/external/apache-maven-3.6.3-jsr-250-license.txt
  java/maven.embedder/external/apache-maven-3.8.4-bin-license.txt
  java/maven.embedder/external/apache-maven-3.8.4-bin-notice.txt
  java/maven.embedder/external/apache-maven-3.8.4-epl-license.txt
  java/maven.embedder/external/apache-maven-3.8.4-slf4j-license.txt
  java/maven.embedder/external/binaries-list
  java/maven.embedder/external/binariesembedded-list
  java/maven.embedder/nbproject/project.properties
  java/maven.embedder/nbproject/project.xml
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/impl/NBModelBuilder.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/cmd/ShellConstructorTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/runjar/RunJarStartupArgsTest.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, Maven

#2744 Options panel use GTK default colors
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/LFCustoms.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/gtk/GtkLFCustoms.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/metal/MetalLFCustoms.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/nimbus/NimbusLFCustoms.java
  platform/options.api/nbproject/project.properties
  platform/options.api/src/org/netbeans/modules/options/OptionsPanel.java
Labels: Look and Feel

#3377 Rewrite lambda to an inner class to prevent from Gradle warning about execution optimizations.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
Labels: Gradle

#3380 [NETBEANS-6315] Escape HTML entities in PHPStan report
  php/php.code.analysis/manifest.mf
  php/php.code.analysis/nbproject/project.xml
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/parsers/PHPStanReportParser.java
  php/php.code.analysis/test/unit/data/phpstan/phpstan-log-html-entities.xml
  php/php.code.analysis/test/unit/src/org/netbeans/modules/php/analysis/parsers/PHPStanReportParserTest.java
Labels: PHP

#3376 Really convert IDs to numbers to use with Map. Re-fetch items that have been marked as changed.
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: bug, VSCode

#3379 [NETBEANS-6312] Assure that TokenHierarchy is called with Document's read lock.
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/highlighting/SyntaxHighlighting.java
  ide/editor.util/src/org/netbeans/lib/editor/util/swing/DocumentUtilities.java
  ide/textmate.lexer/src/org/netbeans/modules/textmate/lexer/SyntaxHighlighting.java
Labels: Editor

#3375 NETBEANS-6307: check global artifact cache, ignore per-project cached structure if not consistent.
  extide/gradle/src/org/netbeans/modules/gradle/loaders/DiskCacheProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleArtifactStore.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/loaders/DiskCacheProjectLoaderTest.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/loaders/testReloadProject.gradle
Labels: bug, Gradle

#3382 Delay change events for node after the node's pending queries are resolved
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: bug, VSCode

#3358 Adding command for New Database Connection
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/nbproject/project.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ShowInputBoxParams.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/nbcode.ts
  java/java.lsp.server/vscode/src/protocol.ts
Labels: enhancement, LSP

#3378 Run Configuration UI for the Explorer view
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/runConfiguration.ts
Labels: enhancement, VSCode

#3384 Disable client-side projects and nodejs support.
  java/java.lsp.server/nbcode/nbproject/platform.properties
Labels: bug, LSP

#3383 Various fixes of project / folder actions presence in vscode
  java/java.lsp.server/arch.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/URITranslator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/DefaultDecorationsImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProvider.java
  java/java.lsp.server/vscode/package.json
Labels: bug, LSP, VSCode

#3390 [NETBEANS-6337] - remove annotation warnings related to deprecating
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/admin/ServerAdmin.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/IdeContext.java
  enterprise/j2ee.api.ejbmodule/src/org/netbeans/modules/j2ee/api/ejbjar/Car.java
  enterprise/j2ee.api.ejbmodule/src/org/netbeans/modules/j2ee/api/ejbjar/Ear.java
  enterprise/j2ee.api.ejbmodule/src/org/netbeans/modules/j2ee/api/ejbjar/EjbJar.java
  enterprise/j2ee.api.ejbmodule/src/org/netbeans/modules/j2ee/spi/ejbjar/CarImplementation.java
  enterprise/j2ee.api.ejbmodule/src/org/netbeans/modules/j2ee/spi/ejbjar/EarImplementation.java
  enterprise/j2ee.api.ejbmodule/src/org/netbeans/modules/j2ee/spi/ejbjar/EjbJarFactory.java
  enterprise/j2ee.api.ejbmodule/src/org/netbeans/modules/j2ee/spi/ejbjar/EjbJarImplementation.java
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/ui/BrokenServerSupport.java
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/ui/NoSelectedServerWarning.java
  enterprise/j2ee.dd.webservice/src/org/netbeans/modules/j2ee/dd/api/webservices/DDProvider.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/client/DDProvider.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/web/DDProvider.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/EjbJarProvider.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/api/EjbJarProjectGenerator.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ui/JavaPlatformsComboBox.java
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/dd/loader/PayaraDDProvider.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/ServerAdmin.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/api/JsfComponentUtils.java
  ide/editor.deprecated.pre65formatting/src/org/netbeans/modules/editor/FormatterIndentEngine.java
  ide/editor.plain.lib/src/org/netbeans/editor/ext/plain/PlainSyntax.java
  ide/editor.plain.lib/src/org/netbeans/editor/ext/plain/PlainTokenContext.java
  ide/xml.catalog.ui/src/org/netbeans/modules/xml/catalog/lib/StreamEnvironment.java
  ide/xml.catalog.ui/src/org/netbeans/modules/xml/catalog/spi/CatalogDescriptor.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/entitygenerator/EntityMember.java
  java/maven/src/org/netbeans/modules/maven/api/output/OutputUtils.java
  platform/api.progress.nb/src/org/netbeans/api/progress/ProgressHandleFactory.java
  platform/openide.loaders/src/org/openide/loaders/CreateFromTemplateAttributesProvider.java
Labels: Code cleanup

#3392 javac wrapper module should clean its "external" folder.
  java/libs.javacapi/build.xml
  java/libs.javacapi/nbproject/project.properties
Labels: Java
