Repository apache/netbeans, pull requests merged in 2021-10, with the labels that each got.

#3195 [NETBEANS-6055] Prevent NPE form GradleDistributionManager
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDistributionProviderImpl.java
Labels: Gradle

#3191 Prevent NullPointerException in CPP LanguageServerImpl
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/LanguageServerImpl.java
Labels: LSP, C/C++

#3196 LSP: various refactor bugfixes
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.editor/src/org/netbeans/modules/java/editor/codegen/ToStringGenerator.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ErrorFixesFakeHint.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/MagicSurroundWithTryCatchFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/SurroundWithTryCatchLog.form
  java/java.hints/src/org/netbeans/modules/java/hints/errors/SurroundWithTryCatchLog.java
  java/java.lsp.server/nbcode/integration/release/config/Preferences/org/netbeans/modules/java/hints/default/org.netbeans.modules.java.hints.errors.ErrorFixesFakeHintSURROUND_WITH_TRY_CATCH.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/src/testAdapter.ts
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/MoveFileRefactoringPlugin.java
Labels: LSP

#3182 Do not persist breakpoints and watches when debugging through LSP server.
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/breakpoints/PersistenceManager.java
  ide/javascript2.debug/src/org/netbeans/modules/javascript2/debug/breakpoints/io/PersistenceManager.java
  ide/spi.debugger.ui/apichanges.xml
  ide/spi.debugger.ui/arch.xml
  ide/spi.debugger.ui/manifest.mf
  ide/spi.debugger.ui/src/org/netbeans/modules/debugger/ui/PersistenceManager.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/breakpoints/PersistenceManager.java
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspDebuggerOptions.java
  java/java.lsp.server/nbcode/integration/test/unit/src/org/netbeans/modules/nbcode/integration/VerifyDebuggerPersistence.java
  java/java.lsp.server/nbproject/project.xml
Labels: LSP

#3184 Must reach ELEMENTS_RESOLVED before working with java els
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParser.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/JavaElementHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyDeclarationFinder.java
Labels: bug, Groovy
