Repository apache/netbeans, pull requests merged in 2021-07, with the labels that each got.

#3030 Avoid NPEs when Finder returns DeclarationLocation.NONE or no FObject.
  ide/api.lsp/src/org/netbeans/api/lsp/HyperlinkLocation.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/hyperlink/GoToSupport.java
Labels: Groovy, LSP, bug

#3029 Source/javadoc attacher must report download actions as enabled.
  extide/gradle/src/org/netbeans/modules/gradle/ActionProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/JavaActionProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceAttacherImpl.java
Labels: Gradle, Java, bug

#3011 Small LSP fixes
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP, bug

#3034 Full ClassNode loads in indexer
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/CompilationUnit.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/CompleteElementHandler.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/JavaElementHandler.java
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_1.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_2.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_3.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_3.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_4.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_4.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_5.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_5.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_6.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_6.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_7.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/completionReturnType1/CompletionReturnType1.groovy.testCompletionReturnType1_7.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionForLiteral1/CompletionForLiteral1.groovy.testCompletionForLiteral1_3.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionForLiteral1/CompletionForLiteral1.groovy.testCompletionForLiteral1_3.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString1/CompletionNoPrefixString1.groovy.testCompletionNoPrefixString1.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString1/CompletionNoPrefixString1.groovy.testCompletionNoPrefixString1.12.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString1/CompletionNoPrefixString1.groovy.testCompletionNoPrefixString1.13.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString1/CompletionNoPrefixString1.groovy.testCompletionNoPrefixString1.9.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString1/CompletionNoPrefixString1.groovy.testCompletionNoPrefixString1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString2/CompletionNoPrefixString2.groovy.testCompletionNoPrefixString2.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString2/CompletionNoPrefixString2.groovy.testCompletionNoPrefixString2.12.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString2/CompletionNoPrefixString2.groovy.testCompletionNoPrefixString2.13.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString2/CompletionNoPrefixString2.groovy.testCompletionNoPrefixString2.9.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoPrefixString2/CompletionNoPrefixString2.groovy.testCompletionNoPrefixString2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator1/SpreadOperator1.groovy.testSpreadOperator1_stringArray_all.11.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator1/SpreadOperator1.groovy.testSpreadOperator1_stringArray_all.12.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator1/SpreadOperator1.groovy.testSpreadOperator1_stringArray_all.13.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator1/SpreadOperator1.groovy.testSpreadOperator1_stringArray_all.9.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/operators/spreadOperator1/SpreadOperator1.groovy.testSpreadOperator1_stringArray_all.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/transformations/delegate1/Delegate1.groovy.testDelegate1_interfaceDelegator_withoutPrefix.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/transformations/singleton2/Singleton2.groovy.testSingleton2_withGetPrefix.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/transformations/singleton3/Singleton3.groovy.testSingleton3_withoutPrefix.completion
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/occurrences/AliasOccurrencesTest.java
Labels: Groovy, bug

#3035 Groovy: Go to declaration should work for annotations.
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/FindTypeUtils.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/PathFinderVisitor.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyDeclarationFinder.java
  groovy/groovy.editor/test/unit/data/testfiles/declarationfinder/Annotations.groovy
  groovy/groovy.editor/test/unit/data/testfiles/declarationfinder/a/Annotation.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/GroovyDeclarationFinderTest.java
Labels: Groovy

#3040 Fixed source+javadoc Gradle download
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleCommandLine.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleExecConfiguration.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleExecAccessor.java
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceAttacherImpl.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/api/execute/GradleExecApiTrampoline.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/queries/GradleSourceAttacherImplTest.java
  java/gradle.java/test/unit/src/org/netbeans/modules/java/j2seplatform/api/Bundle_da.properties
  java/gradle.java/test/unit/src/org/netbeans/modules/java/j2seplatform/api/Bundle_no.properties
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/queries/SourceJavadocAttacherUtil.java
Labels: Gradle, LSP, bug

#3042 Optionally disable groovy support in NBJLS
  groovy/groovy.editor/manifest.mf
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/GroovyIndexer.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParser.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/utils/GroovyUtils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientCapabilities.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: Groovy, LSP, bug, performance

#3044 Report progress from Gradle's CreateFromTemplateHandler
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/BaseGradleWizardIterator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUI.java
Labels: Gradle, LSP, bug

#3045 Changelog update before 12.4.301 release.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
Labels: LSP

#3050 LSP: Run all tests action fixed in Gradle projects.
  extide/gradle/src/org/netbeans/modules/gradle/actions/ActionToTaskUtils.java
  java/java.lsp.server/vscode/src/test/runTest.ts
Labels: LSP

#2970 [NETBEANS-5698] Fix tabcontrol painting on MacOS retina displays (Aqua LAF)
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/AquaEditorTabCellRenderer.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/AquaEditorTabDisplayerUI.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/AquaViewTabDisplayerUI.java
Labels: Look and Feel

#3052 [NETBEANS-5678] Use the URL of the forked repository of the Skeleton Generator
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/options/Bundle.properties
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/options/PhpUnitOptionsPanel.form
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/options/PhpUnitOptionsPanel.java
Labels: PHP

#2863 [NETBEANS-5546] - Update asm from 8.0.1 to 9.2
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/WildflyDeploymentFactory.java
  harness/apisupport.harness/build.xml
  java/lib.jshell.agent/agentsrc/org/netbeans/lib/jshell/agent/NbJShellAgent.java
  java/lib.jshell.agent/nbproject/project.properties
  nbbuild/templates/common.xml
  platform/core.startup/src/org/netbeans/core/startup/Asm.java
  platform/libs.asm/external/asm-9.2-license.txt
  platform/libs.asm/external/binaries-list
  platform/libs.asm/nbproject/project.properties
  platform/libs.asm/nbproject/project.xml
Labels: Upgrade Library

#2957 [NETBEANS-5682] - cleanup more of the raw type iterator warnings..
  enterprise/j2ee.clientproject/src/org/netbeans/modules/j2ee/clientproject/ui/customizer/CustomizerLibraries.java
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/DatasourceCustomizer.java
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/ui/BrokenDatasourceSupport.java
  enterprise/j2ee.common/src/org/netbeans/modules/j2ee/common/ui/MissingDatabaseConnectionWarning.java
  enterprise/j2ee.dd.webservice/src/org/netbeans/modules/j2ee/dd/impl/commonws/ComponentBeanMultiple.java
  enterprise/j2ee.dd.webservice/src/org/netbeans/modules/j2ee/dd/impl/commonws/DescriptionBeanMultiple.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/app/DDChangesPanel.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/client/DDChangesPanel.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/multiview/EntityAndSessionHelper.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/multiview/EntityHelper.java
  enterprise/j2ee.earproject/src/org/netbeans/modules/j2ee/earproject/EarActionProvider.java
  enterprise/j2ee.earproject/src/org/netbeans/modules/j2ee/earproject/ui/customizer/CustomizerLibraries.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/api/codegeneration/CallEjbGenerator.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/UpdateProjectImpl.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/ui/customizer/CustomizerLibraries.java
  enterprise/web.freeform/src/org/netbeans/modules/web/freeform/WebFreeFormActionProvider.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/dialogs/AddNavigationCaseDialog.java
  enterprise/web.monitor/src/org/netbeans/modules/web/monitor/client/Controller.java
  ide/editor.fold.nbui/src/org/netbeans/modules/editor/fold/ui/CaretFoldExpanderImpl.java
  ide/xml.core/src/org/netbeans/modules/xml/dtd/grammar/DTDGrammar.java
  ide/xml.multiview/src/org/netbeans/modules/xml/multiview/XmlMultiViewEditorSupport.java
  ide/xml/src/org/netbeans/modules/xml/actions/CollectSystemAction.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/project/ui/customizer/SourceRootsUi.java
  java/java.j2seproject/src/org/netbeans/modules/java/j2seproject/resources/build-impl.xsl
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/JPDAStart.java
  java/java.project.ui/test/unit/data/simple-app/nbproject/build-impl.xml
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/MavenAssemblyGrammar.java
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/MavenProjectGrammar.java
  java/xml.tools.java/src/org/netbeans/modules/xml/tools/java/generator/ElementBindings.java
  java/xml.tools.java/src/org/netbeans/modules/xml/tools/java/generator/GenerateDOMScannerSupport.java
  platform/core.multiview/src/org/netbeans/core/multiview/MultiViewTopComponentLookup.java
  platform/openide.actions/src/org/openide/actions/ToolsAction.java
  platform/openide.filesystems/src/org/openide/filesystems/StreamPool.java
  platform/openide.util.lookup/src/org/openide/util/lookup/ProxyLookup.java
Labels: Code cleanup

#2958 [NETBEANS-5683] - remove last remaining HashSet raw type warnings..
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/MavenWhiteListQueryImpl.java
  enterprise/j2ee.genericserver/src/org/netbeans/modules/j2ee/genericserver/ide/GSJ2eePlatformFactory.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/JSFFrameworkProvider.java
  enterprise/websvc.manager/src/org/netbeans/modules/websvc/manager/model/WebServiceListModel.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/model/GenericResourceBean.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
  platform/autoupdate.services/src/org/netbeans/modules/autoupdate/services/Utilities.java
  platform/core.multiview/src/org/netbeans/core/multiview/MultiViewActionMap.java
  platform/core.multiview/src/org/netbeans/core/multiview/MultiViewTopComponentLookup.java
  platform/openide.nodes/src/org/openide/nodes/CookieSet.java
  platform/openide.options/src/org/openide/options/VetoSystemOption.java
Labels: Code cleanup

#3054 [NETBEANS-5832] Fixing compilation of static initializer for vanilla indexing.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java

#3055 [NETBEANS-5859] Upgraded Jacoco to 0.8.7 to support JDK 17 coverage
  java/gradle.java.coverage/external/binaries-list
  java/gradle.java.coverage/external/org.jacoco.core-0.8.7-license.txt
  java/gradle.java.coverage/external/org.jacoco.core-0.8.7-notice.txt
  java/gradle.java.coverage/nbproject/project.properties
  java/gradle.java.coverage/nbproject/project.xml
Labels: Gradle, Upgrade Library

#3065 [NETBEANS-5719] Unused property hint is shown when the property is used as a constructor argument
  php/php.editor/src/org/netbeans/modules/php/editor/csl/SemanticAnalysis.java
  php/php.editor/test/unit/data/testfiles/semantic/netbeans5719_01.php
  php/php.editor/test/unit/data/testfiles/semantic/netbeans5719_01.php.semantic
  php/php.editor/test/unit/data/testfiles/semantic/netbeans5719_02.php
  php/php.editor/test/unit/data/testfiles/semantic/netbeans5719_02.php.semantic
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/SemanticAnalyzerTest.java
Labels: PHP

#2963 [NETBEANS-5686] Upgrade module 'websvc.restlib' libraries
  enterprise/websvc.restlib/external/asm-all-repackaged-2.2.0-b21-license.txt
  enterprise/websvc.restlib/external/binaries-list
  enterprise/websvc.restlib/external/cglib-2.2.0-b21-license.txt
  enterprise/websvc.restlib/external/guava-14.0.1-license.txt
  enterprise/websvc.restlib/external/hk2-2.6.1-license.txt
  enterprise/websvc.restlib/external/hk2-api-2.2.0-b21-license.txt
  enterprise/websvc.restlib/external/hk2-locator-2.2.0-b21-license.txt
  enterprise/websvc.restlib/external/hk2-utils-2.2.0-b21-license.txt
  enterprise/websvc.restlib/external/jakarta.annotation-api-1.3.5-license.txt
  enterprise/websvc.restlib/external/jakarta.persistence-api-2.2.3-license.txt
  enterprise/websvc.restlib/external/jakarta.servlet-api-4.0.4-license.txt
  enterprise/websvc.restlib/external/jakarta.validation-api-2.0.2-license.txt
  enterprise/websvc.restlib/external/jakarta.ws.rs-api-2.1.6-license.txt
  enterprise/websvc.restlib/external/jakarta.xml.bind-api-2.3.3-license.txt
  enterprise/websvc.restlib/external/javax.annotation-api-1.2-license.txt
  enterprise/websvc.restlib/external/javax.inject-2.2.0-b21-license.txt
  enterprise/websvc.restlib/external/javax.servlet-api-3.0.1-license.txt
  enterprise/websvc.restlib/external/javax.ws.rs-api-2.0-license.txt
  enterprise/websvc.restlib/external/jaxb-api-2.2.7-license.txt
  enterprise/websvc.restlib/external/jersey-2.34-license.txt
  enterprise/websvc.restlib/external/jersey-client-2.5.1-license.txt
  enterprise/websvc.restlib/external/jersey-common-2.5.1-license.txt
  enterprise/websvc.restlib/external/jersey-container-servlet-2.5.1-license.txt
  enterprise/websvc.restlib/external/jersey-container-servlet-core-2.5.1-license.txt
  enterprise/websvc.restlib/external/jersey-entity-filtering-2.5.1-license.txt
  enterprise/websvc.restlib/external/jersey-media-moxy-2.5.1-license.txt
  enterprise/websvc.restlib/external/jersey-server-2.5.1-license.txt
  enterprise/websvc.restlib/external/osgi-resource-locator-1.0.1-license.txt
  enterprise/websvc.restlib/external/osgi.core-8.0.0-license.txt
  enterprise/websvc.restlib/external/persistence-api-1.0-license.txt
  enterprise/websvc.restlib/manifest.mf
  enterprise/websvc.restlib/nbproject/project.properties
  enterprise/websvc.restlib/nbproject/project.xml
  enterprise/websvc.restlib/src/org/netbeans/modules/websvc/swdp/Bundle.properties
  enterprise/websvc.restlib/src/org/netbeans/modules/websvc/swdp/restapi.xml
  enterprise/websvc.restlib/src/org/netbeans/modules/websvc/swdp/swdp.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/licenses/EPL-v20-GPL-2-CP
Labels: Upgrade Library

#2953 [NETBEANS-5661] - Added regular expression window and hint
  java/java.hints/licenseinfo.xml
  java/java.hints/nbproject/project.xml
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Regexp.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CheckRegex.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CheckRegexTopComponent.form
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CheckRegexTopComponent.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/Regexp.java
  java/java.hints/src/org/netbeans/modules/java/hints/resources/half-match.png
  java/java.hints/src/org/netbeans/modules/java/hints/resources/match.png
  java/java.hints/src/org/netbeans/modules/java/hints/resources/no-match.png
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/CheckRegexTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/RegexpTest.java
Labels: Java, Need Squashing

#3069 [NETBEANS-5480] Add an option(system property) to disable the feature to fold PHP tags
  php/php.editor/src/org/netbeans/modules/php/editor/csl/FoldingScanner.java
Labels: PHP

#3068 Force bytecode parsing. Cache resource misses.
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/ClassNodeCache.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/CompilationUnit.java
  groovy/libs.groovy/nbproject/project.xml
Labels: Groovy, enhancement, performance

#3064 Fix java.editor's Java formatting tests
  ide/editor/test/unit/src/org/netbeans/modules/editor/BaseDocumentUnitTestCase.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaFormatterArrayInitOrEnumUnitTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaFormatterUnitTest.java
Labels: Java

#3060 [NETBEANS-1644] Implement a minimal CSS beautifier
  ide/css.editor/src/org/netbeans/modules/css/editor/indent/CssIndentTask.java
  ide/css.editor/test/unit/data/testfiles/case003.css.formatted
  ide/css.editor/test/unit/data/testfiles/netbeans.css.formatted
  ide/css.editor/test/unit/src/org/netbeans/modules/css/editor/indent/CssIndenterTest.java
  php/php.twig/test/unit/data/testfiles/format/testIssue230506_09.twig.formatted
Labels: CSS

#3066 LSP: Support for running Spock tests and display results.
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/actions/GroovyComputeTestMethods.java
  java/gradle.test/src/org/netbeans/modules/gradle/test/GradleTestProgressListener.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/TestProgressHandler.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/testAdapter.ts
  java/maven/src/org/netbeans/modules/maven/ActionProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenTestForSourceImpl.java
  java/maven/test/unit/src/org/netbeans/modules/maven/newproject/simplewizard/SimpleWizardHandlerTest.java
Labels: LSP

#2814 Branded in "Trust all gradle" button.
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-gradle.jar/org/netbeans/modules/gradle/api/execute/Bundle.properties
Labels: LSP, enhancement

#3076 [Groovy] Manage AST transformations
  groovy/groovy.editor/apichanges.xml
  groovy/groovy.editor/arch.xml
  groovy/groovy.editor/nbproject/project.properties
  groovy/groovy.editor/nbproject/project.xml
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/util/CompletionContext.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/ApplyGroovyTransformation.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParser.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/ApplyGroovyTransformationProcessor.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/CompilationUnit.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/ParsingCompilerCustomizer.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/SimpleTransformationCustomizer.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/resources/layer.xml
  groovy/groovy.editor/test/unit/src/META-INF/services/org.codehaus.groovy.transform.ASTTransformation
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParserTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/test/DisableTransformersStub.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/test/GroovyTestTransformer.java
  ide/parsing.indexing/apichanges.xml
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/IndexingTask.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/RepositoryUpdater.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/spi/indexing/support/IndexingSupport.java
Labels: Groovy, enhancement

#3081 LSP: Multiple problems with introduce constant fixed.
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceConstantFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceFieldFix.java
  java/java.lsp.server/nbcode/integration/release/config/Editors/text/x-java/Preferences/org-netbeans-modules-editor-settings-CustomPreferences.xml
Labels: LSP

#3078 [NETBEANS-5841] prevent NPE in LSP client using a Python Language Server
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
Labels: LSP

#3053 Fixing handling of pattern matching in instanceof in code generator
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/ImmutableTreeTranslator.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/InstanceOfTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/RenameTest.java
Labels: Java
