Repository apache/netbeans, pull requests merged in 2021-08, with the labels that each got.

#3090 [NETBEANS-4275] Add code completion for @inheritDoc
  php/php.apigen/src/org/netbeans/modules/php/apigen/annotations/ApiGenAnnotationsProvider.java
  php/php.apigen/src/org/netbeans/modules/php/apigen/annotations/Bundle.properties
  php/php.apigen/src/org/netbeans/modules/php/apigen/annotations/InheritDocTag.java
Labels: PHP

#3089 [NETBEANS-5533] Remove the URL of the old wiki
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ConnectionErrMessage.form
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ConnectionErrMessage.java
Labels: PHP

#3082 [NETBEANS-5887] Use RequestProcessor to fix SecurityException:setContextClassLoader.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/NbProtocolServer.java
Labels: LSP

#3091 Indexing of inner classes/interfaces
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/ASTUtils.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/GroovyIndexer.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/StructureAnalyzer.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/CompletionItem.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/elements/ast/ASTClass.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/elements/ast/ASTField.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/elements/ast/ASTMethod.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/inference/MethodInference.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/inference/TypeInferenceVisitor.java
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/reassignment/Reassignment.groovy
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/reassignment/Reassignment.groovy.testReassignment_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/flow/reassignment/Reassignment.groovy.testReassignment_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/methods4/Methods4.groovy
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/methods4/Methods4.groovy.testMethods4.completion
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/FlowCCTest.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/MethodCCTest.java
Labels: bug, Groovy

#3105 NETBEANS-5906: treat custom actions as enabled
  extide/gradle/src/org/netbeans/modules/gradle/ActionProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ActionToTaskUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ConfigurableActionsProviderImpl.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/actions/ConfigurableActionsProviderImplTest.java
Labels: bug, Gradle

#3096 Exposing "Frontend UI Pages" to users of Java Frontend Application
  java/gradle.htmlui/src/org/netbeans/modules/gradle/htmlui/HtmlJavaPagesNodeFactory.java
  java/gradle.htmlui/test/unit/src/org/netbeans/modules/gradle/htmlui/CreateArchetypeTest.java
Labels: Gradle

#3118 By default build release-like version of .vsix
  java/java.lsp.server/build.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/nbcode/integration/test/unit/src/org/netbeans/modules/nbcode/integration/VerifyPresentUpdateCentersTest.java
  java/java.lsp.server/vscode/BUILD.md
Labels: Java, LSP

#3128 LSP: Show test results for MX projects.
  groovy/groovy.support/src/org/netbeans/modules/groovy/support/actions/GroovyComputeTestMethods.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/testAdapter.ts
  java/junit.ui/src/org/netbeans/modules/junit/ui/actions/TestClassInfoTask.java
Labels: LSP

#3138 LSP: Extract Superclass and Extract Interface refactorings added.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/MoveRefactoring.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP
