Repository apache/netbeans, pull requests merged in 2021-05, with the labels that each got.

#2931 [NETBEANS-5475] fix potential NPE after GradleJavaSourceSet.relativePath() calls
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaTokenProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/FileBuiltQueryImpl.java
Labels: Gradle, bug

#2930 Improved messages when project is opened bcs of file being worked on.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
Labels: LSP, bug

#2923 [NETBEANS-5638] Insane should ignore stub classes in traversal.
  harness/o.n.insane/src/org/netbeans/insane/impl/InsaneEngine.java
Labels: bug

#2933 [NETBEANS-4252] Added PathFinder to Gradle Build Scripts Node
  extide/gradle/src/org/netbeans/modules/gradle/nodes/BuildScriptsNode.java
Labels: Gradle

#2939 LSP: Go to Type Definition added.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/nbproject/project.properties
  ide/api.lsp/src/org/netbeans/api/lsp/HyperlinkLocation.java
  ide/api.lsp/src/org/netbeans/spi/lsp/HyperlinkTypeDefLocationProvider.java
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.editor/src/org/netbeans/modules/java/editor/hyperlink/JavaHyperlinkProvider.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP

#2936 LSP: "Go to Type" should open also types in project dependencies.
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.sourceui/nbproject/project.xml
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementOpen.java
  java/java.sourceui/src/org/netbeans/modules/java/source/ui/JavaTypeProvider.java
Labels: LSP

#2944 [NETBEANS-5668] Fix slipping <br/>-s in the Project Problem Dialog
  extide/gradle/netbeans-gradle-tooling/src/main/groovy/org/netbeans/modules/gradle/tooling/NetBeansToolingPlugin.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectErrorNotifications.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
Labels: Gradle

#2955 LSP: Provide hover information in Micronaut yaml files.
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautHoverProvider.java
  ide/api.lsp/apichanges.xml
  ide/api.lsp/arch.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/nbproject/project.properties
  ide/api.lsp/nbproject/project.xml
  ide/api.lsp/src/org/netbeans/api/lsp/Hover.java
  ide/api.lsp/src/org/netbeans/api/lsp/HyperlinkLocation.java
  ide/api.lsp/src/org/netbeans/spi/lsp/HoverProvider.java
  ide/api.lsp/test/unit/src/org/netbeans/api/lsp/HoverTest.java
  ide/api.lsp/test/unit/src/org/netbeans/api/lsp/HyperlinkLocationTest.java
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/editor/java/JavaHoverProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementJavadoc.java
  nbbuild/build.properties
  nbbuild/javadoctools/links.xml
  nbbuild/javadoctools/properties.xml
  nbbuild/javadoctools/replaces.xml
Labels: LSP

#2924 [NETBEANS-5627] [NETBEANS-5629] Gradle early Lookup and Classpath initialization.
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/ActionProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectFactory.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/ReloadAction.java
  extide/gradle/src/org/netbeans/modules/gradle/ReloadProjectDependenciesDecorator.java
  extide/gradle/src/org/netbeans/modules/gradle/api/NbGradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/DiskCacheProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleProjectLoaderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/AbstractGradleProjectTestCase.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectImplTest.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/ProjectTrustTest.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImpl.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/GradleCoreAccessor.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImplTest.java
Labels: API Change, Gradle, Java, enhancement

#2920 [NETBEANS-2373] Better than nothing support for Gradle Distribution dirs
  extide/gradle.dists/build.xml
  extide/gradle.dists/manifest.mf
  extide/gradle.dists/nbproject/project.properties
  extide/gradle.dists/nbproject/project.xml
  extide/gradle.dists/src/org/netbeans/modules/gradle/dists/Bundle.properties
  extide/gradle.dists/src/org/netbeans/modules/gradle/dists/DistribitionSourceWatchList.java
  extide/gradle.dists/src/org/netbeans/modules/gradle/dists/DistributionNodeFactory.java
  extide/gradle.dists/src/org/netbeans/modules/gradle/dists/DistributionSourcesImpl.java
  extide/gradle.dists/src/org/netbeans/modules/gradle/dists/LookupProviders.java
  extide/gradle.dists/src/org/netbeans/modules/gradle/dists/api/GradleDistProject.java
  extide/gradle.dists/src/org/netbeans/modules/gradle/dists/api/GradleDistProjectBuilder.java
  extide/gradle/manifest.mf
  extide/gradle/netbeans-gradle-tooling/src/main/groovy/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.groovy
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  nbbuild/cluster.properties
Labels: Gradle

#2904 In cpplite project, when reading configuration, an empty string should not be considered a valid configuration.
  cpplite/cpplite.project/src/org/netbeans/modules/cpplite/project/BuildConfiguration.java
Labels: C/C++

#2877 Fixing newly created cpplite project, avoiding starting the C/C++ LSP server when the configuration is not readable.
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/LanguageServerImpl.java
  cpplite/cpplite.project/src/org/netbeans/modules/cpplite/project/ui/wizard/CPPLiteProjectWizardIterator.java
Labels: C/C++

#2950 LSP: Find usages should search also in project dependecies.
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-java-source-base.jar/org/netbeans/modules/java/source/usages/Bundle.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.source.base/apichanges.xml
  java/java.source.base/arch.xml
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/SourceUtils.java
  java/java.source.base/src/org/netbeans/modules/java/source/usages/BinaryAnalyser.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/SourceUtilsTest.java
  java/refactoring.java/nbproject/project.xml
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/SourceUtilsEx.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/JavaWhereUsedQueryPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/spi/JavaRefactoringPlugin.java
Labels: LSP

#2971 LSP: Get project source roots, classpath, and packages commands added.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
Labels: LSP

#2962 Micronaut configuration completion and navigation improvements
  enterprise/micronaut/src/org/netbeans/modules/micronaut/MicronautConfigUtilities.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionItem.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautHoverProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hyperlink/MicronautConfigHyperlinkProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hyperlink/MicronautJavaHyperlinkProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/newproject/BasePropertiesVisual.form
  enterprise/micronaut/src/org/netbeans/modules/micronaut/newproject/BasePropertiesVisual.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/newproject/Bundle.properties
  enterprise/micronaut/src/org/netbeans/modules/micronaut/newproject/MicronautLaunchService.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/newproject/MicronautProjectWizardIterator.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/refactor/MicronautRefactoringFactory.java
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#2982 Fixes NPE and potential lockup in tests.
  platform/openide.execution/src/org/openide/execution/ExecutionEngine.java
  platform/openide.io/src/org/openide/windows/IOProvider.java
Labels: Gradle, bug
