Repository apache/netbeans, pull requests merged in 2022-04, with the labels that each got.

#3901 ci pipeline improvements
  .github/workflows/main.yml
Labels: enhancement, CI

#3915 [#3898] Parameterize Tomcat startup/shutdown timeouts.
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/customizer/Bundle.properties
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/customizer/CustomizerDataSupport.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/customizer/CustomizerStartup.form
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/customizer/CustomizerStartup.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/optional/StartTomcat.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/TomcatProperties.java
Labels: enhancement

#3890 Cleanup the use of Float primitive wrapper.
  ide/api.debugger/src/org/netbeans/api/debugger/Properties.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/TokenAcceptor.java
  ide/db.dataview/src/org/netbeans/modules/db/dataview/util/DBReadWriteHelper.java
  ide/schema2beans/src/org/netbeans/modules/schema2beans/Common.java
  ide/schema2beans/src/org/netbeans/modules/schema2beans/GraphManager.java
  java/classfile/src/org/netbeans/modules/classfile/CPFloatInfo.java
  java/performance/benchmarks/src/org/netbeans/performance/benchmarks/XMLReporter.java
  java/performance/sparrow/src/org/netbeans/performance/impl/logparsing/GcLog.java
  java/performance/sparrow/src/org/netbeans/performance/spi/AveragedNameValueLogElement.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/systemoptions/SerParser.java
  platform/o.n.swing.tabcontrol/demosrc/org/netbeans/swing/tabcontrol/demo/TestFrame.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/IndexedPropertyEditor.java
  platform/openide.filesystems/src/org/openide/filesystems/XMLMapAttr.java
  platform/openide.options/src/org/openide/text/PrintSettings.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/cpu/CCTDisplay.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/cpu/DiffCCTDisplay.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/cpu/DiffFlatProfilePanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/cpu/FlatProfilePanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/cpu/ReverseCallGraphPanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/cpu/SubtreeCallGraphPanel.java
  websvccommon/websvc.saas.codegen/src/org/netbeans/modules/websvc/saas/codegen/model/ParameterInfo.java
Labels: Code cleanup, Java

#3907 Relax serialized project cache checks
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NeedOnlineModeException.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansToolingPlugin.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleArtifactStore.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
Labels: enhancement, Gradle, performance

#3923 Cleanup raw type warnings related to WeakReference.
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/api/web/DDProvider.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/multiview/DDMultiViewDataObject.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/AbstractDiskCache.java
  ide/bugtracking/src/org/netbeans/modules/bugtracking/RepositoryImpl.java
  ide/xml.multiview/src/org/netbeans/modules/xml/multiview/XmlMultiViewDataObject.java
  ide/xml.tax/src/org/netbeans/modules/xml/tax/cookies/TreeEditorCookieImpl.java
  ide/xml/src/org/netbeans/modules/xml/DTDDataObject.java
  ide/xml/src/org/netbeans/modules/xml/XMLDataObject.java
  ide/xml/src/org/netbeans/modules/xml/text/TextEditorSupport.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/DebuggerAntLogger.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/editor/completion/db/DBMetaDataProvider.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintsParser.java
  java/java.sourceui/src/org/netbeans/modules/java/source/ui/OpenProjectFastIndex.java
  platform/openide.compat/src/org/openide/util/WeakListener.java
  platform/openide.filesystems/src/org/openide/filesystems/Repository.java
  platform/sampler/src/org/netbeans/modules/sampler/SamplesOutputStream.java
  websvccommon/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/wsdl/impl/WsdlModelerFactory.java
Labels: Code cleanup, Java

#3935 Db Nodes action cleanup
  ide/db/src/org/netbeans/modules/db/explorer/action/RefreshAction.java
  ide/db/src/org/netbeans/modules/db/resources/mf-layer.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/database-cookies.contextValues
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
Labels: VSCode

#3776 Upgrade Commons-Lang3 from 3.8.1 to 3.12.0
  platform/o.apache.commons.lang3/build.xml
  platform/o.apache.commons.lang3/external/binaries-list
  platform/o.apache.commons.lang3/external/commons-lang3-3.12.0-license.txt
  platform/o.apache.commons.lang3/external/commons-lang3-3.12.0-notice.txt
  platform/o.apache.commons.lang3/external/commons-lang3-3.8.1-notice.txt
  platform/o.apache.commons.lang3/nbproject/project.properties
  platform/o.apache.commons.lang3/nbproject/project.xml
Labels: Upgrade Library

#3926 NBLS: Refactorings bug fixes.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUI.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ChangeMethodParametersRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/MoveRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PullUpRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PushDownRefactoring.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/ExtractSuperclassRefactoringPlugin.java
Labels: LSP

#3938 Micronaut Controller class added to New from Template.
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Bundle.properties
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautController.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/Controller.html
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
Labels: LSP

#3931 VSNetBeans doc changes for 13.0.301 VSIX release
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.lsp.server/vscode/README.md
  java/java.lsp.server/vscode/images/cloud-explorer.png
  java/java.lsp.server/vscode/images/database-explorer.png
  java/java.lsp.server/vscode/images/move_refactoring.png
  java/java.lsp.server/vscode/images/project-explorer.png
Labels: VSCode

#3930 Remove IDE defaults from NBLS distribution.
  java/java.lsp.server/nbcode/nbproject/platform.properties
Labels: kind:bug, VSCode

#3950 Sync fixes: currentP can be seen as null by workers.
  extide/gradle/src/org/netbeans/modules/gradle/execute/navigator/TasksPanel.java
Labels: kind:bug, Gradle

#3945 Expand unrolled spock tests.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/TestProgressHandler.java
  java/java.lsp.server/vscode/src/testAdapter.ts
Labels: LSP

#3955 Support invocation expressions in LSP Call Hierarchy; bugfixes
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.sourceui/apichanges.xml
  java/java.sourceui/nbproject/project.properties
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementHeaders.java
  java/java.sourceui/src/org/netbeans/modules/java/source/ui/LspElementUtils.java
  java/refactoring.java/nbproject/project.xml
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/callhierarchy/LspCallHierarchyProvider.java
Labels: kind:bug, LSP, VSCode

#3941 Fix resolving possible type of a dynamic variable in DeclarationFinder
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyDeclarationFinder.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/utils/GroovyUtils.java
  groovy/groovy.editor/test/unit/data/testfiles/declarationfinder/a/Declaration4.groovy
  groovy/groovy.editor/test/unit/data/testfiles/declarationfinder/a/TestBuilder.java
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/GroovyDeclarationFinderTest.java
Labels: enhancement, Groovy

#3957 Replace _dark and svg icon variant in VSCode
  java/java.lsp.server/vscode/package.json
Labels: VSCode

#3832 Prevent possible NPE at MicronautDataCompletionTask
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
Labels: Java

#3942 Fix project load caching
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleArtifactStore.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectImplTest.java
Labels: kind:bug, Gradle, performance

#3618 Update Apache Felix to 7.0.3 release
  platform/libs.felix/external/binaries-list
  platform/libs.felix/external/org.apache.felix.main-7.0.3-license.txt
  platform/libs.felix/external/org.apache.felix.main-7.0.3-notice.txt
  platform/libs.felix/nbproject/project.properties
  platform/libs.felix/nbproject/project.xml
Labels: Upgrade Library

#3963 PHPStan alternative configuration file
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ImportantFilesImpl.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/commands/PHPStan.java
Labels: PHP

#3924 [3911] Filter source roots to avoids clashes between module-info files.
  java/java.platform/src/org/netbeans/modules/java/platform/classpath/PlatformClassPathProvider.java
Labels: kind:bug, Java

#3969 Fixing potential NPE.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: kind:bug, Gradle

#3877 [3803]Fixing printing of type names for captured types with type variables.
  java/java.editor/src/org/netbeans/modules/editor/java/AutoImport.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaCodeTemplateProcessorTest.java
  java/java.source.base/src/org/netbeans/api/java/source/TypeUtilities.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/TypeUtilitiesTest.java
Labels: kind:bug, Java, Editor

#3973 Taking caret offset from SourceModificationEvent.
  ide/csl.api/src/org/netbeans/modules/csl/spi/GsfUtilities.java
Labels: kind:bug, Groovy, VSCode

#3968 [vscode] Project View synchronizes with the active editor.
  java/java.lsp.server/nbproject/project.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/LspTreeViewServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/PathFinder.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/ProjectExplorer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/FindPathParams.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/TreeViewService.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/protocol.ts
Labels: enhancement, VSCode

#3979 3967: Avoid NPEs, assure compilation phase.
  java/java.sourceui/src/org/netbeans/modules/java/source/ui/LspElementUtils.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/callhierarchy/CallHierarchyTasks.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/callhierarchy/LspCallHierarchyProvider.java
Labels: kind:bug, LSP

#3983 Update FlatLaf from 2.0.1 to 2.1
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-2.1-license.txt
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Look and Feel

#3984 LSP: Minor bug fixes
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ui/MoveMembers.html
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ui/refactoring.css
  java/java.sourceui/src/org/netbeans/modules/java/source/ui/LspElementUtils.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBClassReader.java
Labels: LSP

#3902 improved tests for BaseUtilities.toFile & BaseUtitities.toURI
  platform/openide.util/test/unit/src/org/openide/util/BaseUtilitiesTest.java
Labels: Code cleanup, tests

#3949 Action to create a method breakpoint on a stackframe
  java/debugger.jpda.ui/nbproject/project.properties
  java/debugger.jpda.ui/nbproject/project.xml
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/CallStackActionsProvider.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/DebuggingActionsProvider.java
Labels: enhancement, Java

#3932 cancel previous CI run on repeated PR update.
  .github/workflows/main.yml
Labels: enhancement, CI

#3994 Fix GradleReport Notification and potential NPE on Gradle earlier, than 6.8
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleReport.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
Labels: Gradle

#3953 version bump: require javac 18.
  java/java.source.base/src/org/netbeans/modules/java/source/NoJavacHelper.java
  java/java.source/src/org/netbeans/modules/java/source/JBrowseModule.java
Labels: Java

#3266 Support for JEP 413: Snippet java docs
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/TagRegistery.java
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_HighlightAndReplace_cornercase.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_AlongWith_HighlightTag.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_AlongWith_ReplaceTag.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_AlongWith_SubStringAndReplaceTag.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_AppliesToNextLine.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_EmptyReplacementValue.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_FieldRef_ToThisClass_UsingHash.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_Ref_ToThisClass_UsingHash.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_With_RegexAndRegion.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_LinkTag_With_RegionAttribute.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_Link_MultipleTag_OnSameLine.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_NestedRegion_Highlight_And_replace.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_NestedRegion_ReplaceAnnotation_Regex.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_NestedRegion_ReplaceAnnotation_Substring.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_Region_ReplaceAnnotation_Regex.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_Region_ReplaceAnnotation_RegexInnComment.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_SingleLine_MultipleReplaceAnnotation_Regex.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_SingleLine_MultipleReplaceAnnotation_Substring.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_SingleLine_ReplaceAnnotation_Regex_DoubleQuote.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_SingleLine_Replace_Regex.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_SingleLine_Replace_RegexDot.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_SingleLine_Replace_RegexDotStar.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_SingleLine_Replace_Substring.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_TestError_HighlightTag.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_TestError_LinkTag.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_TestError_NoRegionToEnd.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_TestError_ReplaceTag.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_TestError_UnpairedRegion.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightRecord.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightTagRegexWithAllCharacterChange.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightTagRegexWithAllCharacterChangeUsingDot.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightTagSubstringApplyToNextLine.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightUsingMultipleSnippetTagInOneJavaDocWithRegion.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightUsingNestedRegions.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightUsingRegex.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightUsingRegionsEndedWithDoubleColon.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightUsingSubstring.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightUsingSubstringAndRegex.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_highlightUsingSubstringRegexAndType.pass
  java/java.editor/test/unit/data/goldenfiles/org/netbeans/modules/editor/java/GoToSupportTest/javadocsnippet_noMarkupTagPresent.pass
  java/java.editor/test/unit/data/org/netbeans/modules/java/editor/javadocsnippet/data/Errors.java
  java/java.editor/test/unit/data/org/netbeans/modules/java/editor/javadocsnippet/data/HighlightTag.java
  java/java.editor/test/unit/data/org/netbeans/modules/java/editor/javadocsnippet/data/LinkTag.java
  java/java.editor/test/unit/data/org/netbeans/modules/java/editor/javadocsnippet/data/ReplaceTag.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/GoToSupportTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/Bundle.properties
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementJavadoc.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/snippet/HtmlStartEndTag.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/snippet/MarkupTag.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/snippet/MarkupTagAttribute.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/snippet/MarkupTagProcessor.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/snippet/SnippetMarkupTagExtractor.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/snippet/SnippetTagCommentParser.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/snippet/SourceLineMeta.java
  java/java.sourceui/test/unit/src/org/netbeans/api/java/source/ui/snippet/SnippetTagCommentParserTest.java
Labels: work-in-progress, do not merge, Java

#4001 Fix WeakListener usage in Gradle modules
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectConnection.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ProjectActionMappingProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/SubProjectsNode.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/AbstractGradleClassPathImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/nodes/BootCPNodeFactory.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleCompilerOptionsQuery.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceForBinary.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceLevelImpl.java
Labels: Code cleanup, Gradle

#3993 [3921] Correctly handling opens directive in package rename.
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/MoveTransformer.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/RenamePackageTest.java
Labels: Java

#4015 disable failing tests until resolved.
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: tests

#3558 maven indexing lucene renovation
  apisupport/maven.apisupport/nbproject/project.xml
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/MavenNbModuleImpl.java
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-6.1.1-license.txt
  java/maven.indexer/external/indexer-core-6.1.1-notice.txt
  java/maven.indexer/external/lucene-8.11.1-license.txt
  java/maven.indexer/external/lucene-8.11.1-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  java/maven.indexer/src/org/apache/lucene/search/MultiTermQuery.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/ArtifactDependencyIndexCreator.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/Cancellation.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/ClassDependencyIndexCreator.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/CustomArtifactContextProducer.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/FastScanner.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/RemoteIndexTransferListener.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/RepositoryIndexerListener.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/ResultImpl.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/NBArtifactInfo.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/NBGroupInfo.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/NBVersionInfo.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/PluginIndexManager.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/QueryRequest.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryInfo.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryPreferences.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryQueries.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryUtil.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/spi/ArchetypeQueries.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/spi/BaseQueries.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/spi/ChecksumQueries.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/spi/RepositoryIndexQueryProvider.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/ClassDependencyIndexCreatorTest.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/MatchWordsTest.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/api/AbstractTestQueryProvider.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/api/RepositoryQueriesTest.java
Labels: Code cleanup, Java, Upgrade Library, Maven

#4025 clean up code base to remove Windows 95 & 98 support..
  ide/extbrowser/src/org/netbeans/modules/extbrowser/NbDdeBrowserImpl.java
  ide/xml.text.obsolete90/test/unit/data/goldenfiles/org/netbeans/modules/xml/text/indent/XMLFormatterTest/testReformatSample2.pass
  ide/xml.text.obsolete90/test/unit/data/input/XMLFormatterTest/testReformat/netbeans_build.xml
  ide/xml.text/test/unit/data/goldenfiles/org/netbeans/modules/xml/text/indent/XMLFormatterTest/testReformatSample2.pass
  ide/xml.text/test/unit/data/input/XMLFormatterTest/testReformat/netbeans_build.xml
  java/performance/sparrow/build.xml
  nbi/engine/native/launcher/windows/src/ExtractUtils.c
  nbi/engine/native/launcher/windows/src/Main.c
  nbi/engine/native/launcher/windows/src/SystemUtils.c
  nbi/engine/native/launcher/windows/src/SystemUtils.h
  platform/core.output2/src/org/netbeans/core/output2/OutWriter.java
  platform/o.n.swing.tabcontrol/beanstubs/org/openide/util/Utilities.java
  platform/openide.compat/nbproject/org-openide-compat.sig
  platform/openide.util.ui/nbproject/org-openide-util-ui.sig
  platform/openide.util.ui/nbproject/org-openide-util.sig
  platform/openide.util.ui/src/org/openide/util/Utilities.java
  platform/openide.util/nbproject/org-openide-util.sig
  platform/openide.util/src/org/openide/util/BaseUtilities.java
  profiler/lib.profiler/nbproject/org-netbeans-lib-profiler.sig
  profiler/lib.profiler/src/org/netbeans/lib/profiler/global/Platform.java
Labels: Code cleanup

#4042 Strip HTML tags from project problem messages
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/project/ProjectAlertPresenter.java
Labels: kind:bug, LSP

#4046 Add necessary dependencies for com.jcraft.jsch
  java/java.lsp.server/nbcode/nbproject/platform.properties
Labels: kind:bug, VSCode

#4041 Proxy selector fixes
  ide/libs.truffleapi/nbproject/project.xml
  platform/core.network/src/org/netbeans/core/network/proxy/NbProxySelector.java
Labels: kind:bug, Platform

#4049 Improvements for LSP Client
  ide/lsp.client/src/org/netbeans/modules/lsp/client/Utils.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LanguageClientImpl.java
Labels: TypeScript
