Repository apache/netbeans, pull requests merged in 2022-06, with the labels that each got.

#4151 fix NPE on git checkout error, print msg to output instead.
  ide/git/src/org/netbeans/modules/git/ui/checkout/AbstractCheckoutAction.java
  ide/git/src/org/netbeans/modules/git/ui/checkout/Bundle.properties
Labels: kind:bug, git

#4185 set release drafter workflow to manual activation.
  .github/workflows/release-drafter.yml
Labels: CI

#4182 Fix possible NPE at RunUtils.getCompatibleGradleDistribution
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
Labels: Gradle

#4183 Minor fixes.
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#4187 LSP: Open type command added.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/QuickOpen.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#4176 External Code Formatters added into NBLS.
  .travis.yml
  java/java.lsp.server/build.xml
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  nbbuild/misc/prepare-bundles/src/main/java/org/netbeans/prepare/bundles/PrepareBundles.java
Labels: LSP

#4169 PHP 8.1: Support for the special property(value) of BackedEnum #4066
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCompletionItem.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable15.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable16.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable17.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable18.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/NamespaceName.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php81/enumerations_03.pass
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testEnumsUnionAndBackedMembers/enumsUnionAndBackedMembers.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testEnumsUnionAndBackedMembers/enumsUnionAndBackedMembers.php.testEnumsUnionAndBackedMembers_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testEnumsUnionAndBackedMembers/enumsUnionAndBackedMembers.php.testEnumsUnionAndBackedMembers_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testEnumsUnionAndBackedMembers/enumsUnionAndBackedMembers.php.testEnumsUnionAndBackedMembers_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testEnumsUnionAndBackedMembers/enumsUnionAndBackedMembers.php.testEnumsUnionAndBackedMembers_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testEnumsUnionAndBackedMembers/enumsUnionAndBackedMembers.php.testEnumsUnionAndBackedMembers_05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testEnumsUnionAndBackedMembers/stub.php
  php/php.editor/test/unit/data/testfiles/parser/php81/enumerations_03.php
  php/php.editor/test/unit/data/testfiles/parser/php81/enumerations_03.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP81CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#4191 Add property sheet for Gradle Configuration nodes
  extide/gradle/nbproject/project.xml
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleConfiguration.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/ConfigurationsNode.java
Labels: Gradle

#4210 Fix potential NPE in GradleModuleFileCache21
  extide/gradle/src/org/netbeans/modules/gradle/GradleModuleFileCache21.java
Labels: Gradle

#4193 upgrade maven-indexer to 6.21 and remove workaround for MINDEXER-157.
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-6.2.1-license.txt
  java/maven.indexer/external/indexer-core-6.2.1-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: Code cleanup, Upgrade Library, Maven

#4201 updated col.toArray() java editor template ("2ar").
  java/java.editor/src/org/netbeans/modules/java/editor/resources/DefaultAbbrevs.xml
  java/java.editor/test/qa-functional/data/goldenfiles/org/netbeans/test/java/editor/codetemplates/CodeTemplatesTest/testDumpTemplates.pass
Labels: Java, Editor

#4200 Regex checker UI improvements
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CheckRegexTopComponent.form
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CheckRegexTopComponent.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/RegexExampleGeneratorPanel.form
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/RegexExampleGeneratorPanel.java
Labels: UI

#4205 JDK downloader improvements
  java/java.disco/external/binaries-list
  java/java.disco/external/discoclient-2.0.24-license.txt
  java/java.disco/external/jdktools-11.0.11-license.txt
  java/java.disco/nbproject/project.properties
  java/java.disco/nbproject/project.xml
  java/java.disco/src/org/netbeans/modules/java/disco/AdvancedPanel.form
  java/java.disco/src/org/netbeans/modules/java/disco/AdvancedPanel.java
  java/java.disco/src/org/netbeans/modules/java/disco/ArchitectureListCellRenderer.java
  java/java.disco/src/org/netbeans/modules/java/disco/BrowsePanel.form
  java/java.disco/src/org/netbeans/modules/java/disco/BrowsePanel.java
  java/java.disco/src/org/netbeans/modules/java/disco/Bundle.properties
  java/java.disco/src/org/netbeans/modules/java/disco/BundleTableModel.java
  java/java.disco/src/org/netbeans/modules/java/disco/Client.java
  java/java.disco/src/org/netbeans/modules/java/disco/FirstPanel.form
  java/java.disco/src/org/netbeans/modules/java/disco/FirstPanel.java
  java/java.disco/src/org/netbeans/modules/java/disco/LTSes.java
  java/java.disco/src/org/netbeans/modules/java/disco/QuickPanel.form
  java/java.disco/src/org/netbeans/modules/java/disco/QuickPanel.java
  java/java.disco/src/org/netbeans/modules/java/disco/QuickPkgSelection.java
  java/java.disco/src/org/netbeans/modules/java/disco/SelectPackagePanel.java
  java/java.disco/src/org/netbeans/modules/java/disco/VersionListCellRenderer.java
  java/java.disco/src/org/netbeans/modules/java/disco/archive/JDKCommonsUnzip.java
Labels: Java, Upgrade Library, UI

#4194 Try to generate maven project skeleton from our dependencies
  .github/workflows/main.yml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/MavenSkeletonProject.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/VerifyLibsAndLicenses.java
  nbbuild/build.xml
Labels: Maven, build

#4222 Improve stability of gradle build info extraction
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleReport.java
Labels: Gradle

#3954 Update asm from 9.2 to 9.3
  harness/apisupport.harness/build.xml
  java/lib.jshell.agent/nbproject/project.properties
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/templates/common.xml
  platform/libs.asm/external/asm-9.3-license.txt
  platform/libs.asm/external/binaries-list
  platform/libs.asm/nbproject/project.properties
  platform/libs.asm/nbproject/project.xml
Labels: Upgrade Library

#4165 safer auto completion chaining
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/CodeTemplateInsertHandler.java
Labels: kind:bug, Editor

#4180 Improve output window performance for ant java tasks #4141.
  extide/o.apache.tools.ant.module/src-bridge/org/apache/tools/ant/module/bridge/impl/ForkedJavaOverride.java
Labels: performance, Ant

#3759 Update maven-archetype-plugin from 3.1.2 to 3.2.1
  java/maven/src/org/netbeans/modules/maven/options/MavenCommandSettings.java
Labels: dependencies, Maven

#4230 Fixes for not initialized final fields added.
  java/java.hints/nbproject/project.xml
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ChangeMethodParameters.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ChangeParametersFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateClassFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateEnumConstant.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateFieldFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateMethodFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ImplementAllAbstractMethods.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ModificationResultBasedFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/NotInitializedVariable.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProvider.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/Bundle_test.properties
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/ChangeMethodParametersTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/NotInitializedVariableTest.java
Labels: Java

#4250 Fix variable highlighting in arrow function #4209
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/ModelVisitor.java
  php/php.editor/test/unit/data/testfiles/gotodeclaration/testArrowFunctions/testArrowFunctions.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testArrowFunctions/testArrowFunctions.php
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_01a.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_01b.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_01c.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_01d.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_01e.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_02a.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_02b.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_03a.occurrences
  php/php.editor/test/unit/data/testfiles/testArrowFunctions.php.testArrowFunctions_GH4209_03b.occurrences
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/GotoDeclarationPHP74Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImplPHP74Test.java
Labels: PHP

#4255 Register @ActionsProvider.Registrations as annotation processed by DebuggerProcessor
  ide/api.debugger/src/org/netbeans/debugger/registry/DebuggerProcessor.java
  ide/api.debugger/src/org/netbeans/spi/debugger/ActionsProviderSupport.java
Labels: Java

#4258 Moving UIContext out of public package.
  java/java.lsp.server/manifest.mf
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbproject/org-netbeans-modules-java-lsp-server.sig
  java/java.lsp.server/nbproject/project.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientCapabilities.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/UIContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceUIContext.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractDialogDisplayer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractLspHtmlViewer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractLspStatusDisplayer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/NotifyDescriptorAdapter.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/ui/AbstractDialogDisplayerTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/ui/MockHtmlViewer.java
Labels: LSP

#4204 Issue #3886: Unused in package misbehavior - fix.
  java/java.editor.base/nbproject/project.xml
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetector.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetectorTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
Labels: kind:bug, Java, hints

#4278 Inline redundant variable hint added.
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/conditionapi/Matcher.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Utilities.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProvider.java
  java/java.hints/src/org/netbeans/modules/java/hints/suggestions/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/suggestions/Tiny.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/suggestions/Bundle_test.properties
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/suggestions/TinyTest.java
Labels: Java, hints

#4284 improve php test performance
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/api/test/CslTestBase.java
  ide/ide.kit/nbproject/project.properties
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/PathRegistry.java
  java/java.hints/nbproject/project.properties
  nbbuild/templates/projectized.xml
Labels: PHP, CSL, performance, tests

#3981 Preventing to create hints more times.
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyParser.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/compiler/error/GroovyError.java
Labels: kind:bug, Groovy

#4232 JS: Don't generate hint for missing semicolon in generated constructor node
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/hints/JsConventionRule.java
  webcommon/javascript2.editor/test/unit/data/testfiles/hints/semicolonWarningGeneratedConstructor.js
  webcommon/javascript2.editor/test/unit/data/testfiles/hints/semicolonWarningGeneratedConstructor.js.testSemicolonWarningGeneratedConstructor.hints
  webcommon/javascript2.editor/test/unit/data/testfiles/hints/semicolonWarningRealConstructor.js
  webcommon/javascript2.editor/test/unit/data/testfiles/hints/semicolonWarningRealConstructor.js.testSemicolonWarningRealConstructor.hints
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/hint/JsConventionHintTest.java
Labels: JavaScript

#4297 Cleanup references to the generic emptySet()..
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/ExamineManifest.java
  ide/xsl/src/org/netbeans/modules/xsl/grammar/XSLGrammarQuery.java
  java/debugger.jpda.projects/src/org/netbeans/modules/debugger/jpda/projects/SourcePathProviderImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  javafx/javafx2.editor/src/org/netbeans/modules/javafx2/editor/completion/beans/BeanModelBuilder.java
  platform/openide.explorer/src/org/openide/explorer/DefaultEMLookup.java
  webcommon/javascript2.source.query/src/org/netbeans/modules/javascript2/source/query/SourceElementsQueryImpl.java
Labels: Code cleanup
