Repository apache/netbeans, pull requests merged in 2022-07, with the labels that each got.

#3240 [jackpot] Updates to autoboxing inspections
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Utilities.java
  java/java.hints/src/org/netbeans/modules/java/hints/perf/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/perf/Tiny.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/perf/TinyTest.java
Labels: enhancement, Java, hints

#4293 Java Record - changed state_component to record_component
  java/java.navigation/src/org/netbeans/modules/java/navigation/ElementScanningTask.java
  java/java.source/src/org/netbeans/modules/java/source/resources/icons/recordComponent.png
  java/java.source/src/org/netbeans/modules/java/ui/Icons.java
Labels: kind:bug, Java

#4301 Implemnted --direct-disable module option.
  platform/autoupdate.cli/src/org/netbeans/modules/autoupdate/cli/Bundle.properties
  platform/autoupdate.cli/src/org/netbeans/modules/autoupdate/cli/ModuleOptions.java
  platform/o.n.bootstrap/src/org/netbeans/ModuleManager.java
Labels: kind:bug, Platform

#4233 ci xserver for commit validation matrix
  .github/workflows/main.yml
  ide/ide.kit/nbproject/project.properties
  webcommon/web.inspect/src/org/netbeans/modules/web/inspect/ui/CssStylesPanelProviderImpl.java
  webcommon/web.inspect/src/org/netbeans/modules/web/inspect/ui/DomPanel.java
  webcommon/web.inspect/src/org/netbeans/modules/web/inspect/webkit/knockout/unused/UnusedBindingsPanel.form
  webcommon/web.inspect/src/org/netbeans/modules/web/inspect/webkit/knockout/unused/UnusedBindingsPanel.java
Labels: CI, tests

#4306 Git: replace invalid characters in branch name
  ide/git/src/org/netbeans/modules/git/GitModuleConfig.java
  ide/git/src/org/netbeans/modules/git/options/Bundle.properties
  ide/git/src/org/netbeans/modules/git/options/GitOptionsPanel.form
  ide/git/src/org/netbeans/modules/git/options/GitOptionsPanel.java
  ide/git/src/org/netbeans/modules/git/options/GitOptionsPanelController.java
  ide/git/src/org/netbeans/modules/git/ui/branch/CreateBranch.java
  ide/git/src/org/netbeans/modules/git/ui/checkout/AbstractCheckoutRevision.java
  ide/git/src/org/netbeans/modules/git/utils/GitUtils.java
  ide/git/src/org/netbeans/modules/git/utils/JGitUtils.java
Labels: UI, git

#4325 Use the copy constructor when that is all one needs.
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/ExamineManifest.java
  enterprise/glassfish.eecommon/src/org/netbeans/modules/glassfish/eecommon/api/ProgressEventSupport.java
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/api/ProgressEventSupport.java
  ide/api.debugger/src/org/netbeans/api/debugger/DebuggerManager.java
  ide/api.debugger/src/org/netbeans/spi/debugger/ActionsProviderSupport.java
  ide/bugtracking/src/org/netbeans/modules/bugtracking/RepositoryImpl.java
  ide/editor.settings.lib/src/org/netbeans/modules/editor/settings/storage/StorageImpl.java
  ide/spi.debugger.ui/src/org/netbeans/modules/debugger/ui/DebuggerManagerListener.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/CallStackModel.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/VariablesModel.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/WatchesModel.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/breakpoints/BreakpointModel.java
  java/debugger.jpda.projects/src/org/netbeans/modules/debugger/jpda/projects/SourcePathProviderImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  javafx/javafx2.editor/src/org/netbeans/modules/javafx2/editor/completion/beans/BeanModelBuilder.java
  platform/core.windows/src/org/netbeans/core/windows/persistence/ModeParser.java
  platform/openide.explorer/src/org/openide/explorer/DefaultEMLookup.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/RadioInplaceEditor.java
  platform/openide.util/src/org/openide/util/Task.java
  webcommon/javascript2.source.query/src/org/netbeans/modules/javascript2/source/query/SourceElementsQueryImpl.java
Labels: Code cleanup

#4012 remove jdk18 reflection calls and updated the usages
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/GoToSupportTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/ImmutableDocTreeTranslator.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementJavadoc.java
Labels: Code cleanup, Java

#4327 LSPClient: Don't assume URL -> FileObject mapping exists
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LanguageClientImpl.java
Labels: LSP

#4308 Fixes unhandled ExpressionArrayAccess in PHP Editor
  php/php.editor/src/org/netbeans/modules/php/editor/CodeUtils.java
Labels: kind:bug, PHP

#4298 Update FlatLaf from 2.1 to 2.3
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-2.3-license.txt
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
Labels: Upgrade Library, Look and Feel

#4331 Cleanup warnings related to raw type List..
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/multiview/CmpFieldsNode.java
  enterprise/web.core.syntax/src/org/netbeans/modules/web/core/syntax/ErrorAnnotationImpl.java
  enterprise/web.core/src/org/netbeans/modules/web/taglib/TaglibCatalog.java
  enterprise/web.struts/src/org/netbeans/modules/web/struts/StrutsConfigUtilities.java
  enterprise/web.struts/src/org/netbeans/modules/web/struts/StrutsFrameworkProvider.java
  enterprise/websvc.jaxwsmodel/src/org/netbeans/modules/websvc/api/jaxws/wsdlmodel/WsdlPort.java
  enterprise/websvc.jaxwsmodel/src/org/netbeans/modules/websvc/api/jaxws/wsdlmodel/WsdlService.java
  ide/api.debugger/src/org/netbeans/api/debugger/DebuggerManager.java
  ide/api.debugger/src/org/netbeans/api/debugger/GestureSubmitter.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/CondNode.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/QueryBuilder.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/QueryBuilderMetaData.java
  ide/db/src/org/netbeans/api/db/explorer/node/ChildNodeFactory.java
  ide/editor.structure/src/org/netbeans/modules/editor/structure/formatting/TagBasedLexerFormatter.java
  ide/editor/src/org/netbeans/modules/editor/NbEditorKit.java
  ide/languages/src/org/netbeans/modules/languages/FeatureList.java
  ide/languages/src/org/netbeans/modules/languages/NBSLanguageReader.java
  ide/languages/src/org/netbeans/modules/languages/features/CodeCommentAction.java
  ide/languages/src/org/netbeans/modules/languages/features/CodeUncommentAction.java
  ide/languages/src/org/netbeans/modules/languages/features/EditorTokenInput.java
  ide/languages/src/org/netbeans/modules/languages/features/ToggleCommentAction.java
  ide/languages/src/org/netbeans/modules/languages/parser/AnalyserAnalyser.java
  ide/options.editor/src/org/netbeans/modules/options/editor/spi/OptionsFilter.java
  ide/versioning.util/src/org/netbeans/modules/turbo/Turbo.java
  ide/versioning.util/src/org/netbeans/modules/turbo/TurboProvider.java
  ide/versioning.util/src/org/netbeans/modules/versioning/history/SummaryCellRenderer.java
  ide/xml.multiview/src/org/netbeans/modules/xml/multiview/SectionNode.java
  ide/xml/src/org/netbeans/modules/xml/actions/CollectSystemAction.java
  java/dbschema/src/org/netbeans/modules/dbschema/jdbcimpl/SchemaElementImpl.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/FixedWatchesManager.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/SourcePath.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/BreakpointsTreeModelFilter.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/DebuggingTreeModel.java
  java/debugger.jpda.visual/src/org/netbeans/modules/debugger/jpda/visual/actions/GestureSubmitter.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/expr/EvaluatorVisitor.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/entitygenerator/DbSchemaEjbGenerator.java
  java/java.hints.ui/src/org/netbeans/modules/java/hints/analysis/AnalyzerImpl.java
  platform/autoupdate.ui/src/org/netbeans/modules/autoupdate/ui/wizards/OperationWizardModel.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/DefaultTabDataModel.java
  platform/options.keymap/src/org/netbeans/modules/options/keymap/TableSorter.java
Labels: Code cleanup

#4273 Issue 4243: delete java/lang/Module and use dynamic proxy to implement Instrumentation across JDK versions…
  platform/o.n.bootstrap/src/java/lang/Module.java
  platform/o.n.bootstrap/src/org/netbeans/NbInstrumentation.java
Labels: enhancement

#4335 FlatLAF improvements and new configuration properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/DPISafeBorder.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatDarkLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLFCustoms.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLightLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/HiDPIUtils.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatEditorTabCellRenderer.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatEditorTabDisplayerUI.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatViewTabDisplayerUI.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/Utils.java
Labels: Look and Feel, UI

#4142 ElementUtilities performance optimization.
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.source.base/src/org/netbeans/api/java/source/ElementUtilities.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ElementUtilitiesTest.java
Labels: Java, performance, Editor

#4328 ci test reports via gh job summaries
  .github/workflows/main.yml
Labels: CI, tests

#4349 Improve alignment of text and "X" button in FlatLAF window system tabs
  platform/o.n.swing.laf.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatEditorTabCellRenderer.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatEditorTabDisplayerUI.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatTabControlIcon.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatViewTabDisplayerUI.java
  platform/o.n.swing.tabcontrol/apichanges.xml
  platform/o.n.swing.tabcontrol/manifest.mf
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/AbstractTabCellRenderer.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/AbstractViewTabDisplayerUI.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/BasicScrollingTabDisplayerUI.java
Labels: API Change, Look and Feel, UI

#4355 Analyze Stack Trace window improvements.
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/AnalyserCellRenderer.java
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/AnalyzeStackTopComponent.java
Labels: kind:bug, Java, UI

#4356 maven project wizard should set groupId #4343.
  java/maven/src/org/netbeans/modules/maven/newproject/idenative/IDENativeMavenWizardIterator.java
Labels: kind:bug, Maven

#4171 Adding ability to run OpenJDK's jtreg tests in VSCode using LSP's code lens
  ide/api.lsp/apichanges.xml
  ide/api.lsp/src/org/netbeans/api/lsp/CodeLens.java
  ide/api.lsp/src/org/netbeans/api/lsp/Command.java
  ide/api.lsp/src/org/netbeans/spi/lsp/CodeLensProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.openjdk.project/nbproject/project.xml
  java/java.openjdk.project/release/scripts/build-generic.xml
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/common/BuildUtils.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ActionProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/CodeLensProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ActionProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/Settings.java
Labels: Java, LSP

#4107 Add markup tag completion hints for inline snippets
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionTask.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/javadoc/JavaDocCompletionTaskTest.java
Labels: Java

#4289 Default value of userdir set to local.
  java/java.lsp.server/vscode/package.json
Labels: VSCode

#4270 Recursively print type parameter's type parameters.
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyVirtualSourceProvider.java
Labels: kind:bug, Groovy

#4287 Allow to find precise output folder for each language.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  java/gradle.java/apichanges.xml
  java/gradle.java/manifest.mf
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaProjectBuilder.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaSourceSet.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleSourceForBinary.java
Labels: kind:bug, Java, Gradle

#4236 Avoid NPE in ant module suite's "Project Properties" dialog.
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/universe/ClusterUtils.java
Labels: kind:bug, Ant

#4357 nb project wizard fixes
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardIterator.java
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardPanelVisual.form
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardPanelVisual.java
Labels: kind:bug, Maven, Platform

#4324 Invoke indexer in RepositoryUpdater grouped by mimepath of file
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/RepositoryUpdater.java
Labels: JavaScript, performance

#4369 Add javadoc for JDK 20 early access
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/J2SEPlatformDefaultJavadocImpl.java
Labels: Java

#4363 Fix missing module name in Javadoc URLs for Show Javadoc, etc.
  java/java.source.base/src/org/netbeans/modules/java/source/JavadocHelper.java
Labels: Java

#4377 Option to switch off Java language support inside NBLS added.
  java/java.lsp.server/nbcode/integration.java/build.xml
  java/java.lsp.server/nbcode/integration.java/manifest.mf
  java/java.lsp.server/nbcode/integration.java/nbproject/build-impl.xml
  java/java.lsp.server/nbcode/integration.java/nbproject/genfiles.properties
  java/java.lsp.server/nbcode/integration.java/nbproject/project.properties
  java/java.lsp.server/nbcode/integration.java/nbproject/project.xml
  java/java.lsp.server/nbcode/integration.java/nbproject/suite.properties
  java/java.lsp.server/nbcode/integration.java/src/META-INF/services/org.netbeans.modules.java.lsp.server.protocol.CodeActionsProvider
  java/java.lsp.server/nbcode/integration.java/src/META-INF/services/org.netbeans.modules.refactoring.spi.RefactoringPluginFactory
  java/java.lsp.server/nbcode/integration.java/src/org/netbeans/modules/nbcode/integration/java/Bundle.properties
  java/java.lsp.server/nbcode/integration.java/src/org/netbeans/modules/nbcode/integration/java/layer.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/nbcode/nbproject/project.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientCapabilities.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
Labels: LSP

#4389 Let ClassSource check for null elements in constructor.
  java/form/src/org/netbeans/modules/form/project/ClassSource.java
Labels: kind:bug, FormDesigner

#4385 [GITHUB-3913] Disable Micronaut HyperlinkProviders to prevent deadlock
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hyperlink/MicronautConfigHyperlinkProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hyperlink/MicronautJavaHyperlinkProvider.java
Labels: kind:bug, priority:high, Micronaut

#4390 use java.home as "default jdk" if jdk.home leads to symlinks.
  java/api.debugger.jpda/src/org/netbeans/api/debugger/jpda/Bundle.properties
  java/form/src/org/netbeans/modules/form/Bundle2.properties
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/DefaultPlatformImpl.java
Labels: kind:bug, Java

#4379 Upgrade Gradle Tooling API to 7.5 with Java 18 Support
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleCommandLine.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-7.5-license.txt
  extide/libs.gradle/external/gradle-tooling-api-7.5-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Gradle, Upgrade Library, Highlight

#4387 Fix NPE when there is no build.gradle for the root project
  extide/gradle/src/org/netbeans/modules/gradle/GradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleReport.java
Labels: Gradle

#4388 Add minimal support for Gradle default version catalog
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/GradleReport.java
  extide/gradle/src/org/netbeans/modules/gradle/nodes/BuildScriptsNode.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/GradleFiles.java
Labels: Gradle

#4392 NEON - added FlatLaf Dark specific colors to improve legibility
  php/languages.neon/src/org/netbeans/modules/languages/neon/resources/FontAndColors-FlatLafDark.xml
  php/languages.neon/src/org/netbeans/modules/languages/neon/resources/layer.xml
Labels: kind:bug, PHP

#4384 #4366: Handle references to other compilation units.
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/callhierarchy/Call.java
Labels: kind:bug, Java

#4383 Let iterate() initialize the indexer first.
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: kind:bug, Maven

#4396 Change output encoding fallback behavior to account for JEP400
  ide/extexecution.base/src/org/netbeans/api/extexecution/base/BaseExecutionService.java
  java/maven/src/org/netbeans/modules/maven/execute/CommandLineOutputHandler.java
Labels: kind:bug, enhancement, os:windows

#4391 [NETBEANS-4044] Fixing patching of modular libraries
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/PatchModuleFileManager.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/parsing/PatchModuleTest.java
Labels: kind:bug, Java

#4403 upgrade maven-indexer to 6.2.2.
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-6.2.2-license.txt
  java/maven.indexer/external/indexer-core-6.2.2-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
Labels: Upgrade Library, Maven

#4404 reuse existing nbm maven plugin to export package
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/MavenPackageModifierImpl.java
Labels: kind:bug, Maven

#4427 Fixed issues in history view
  ide/versioning.ui/src/org/netbeans/modules/versioning/ui/history/HistoryFileView.java
  ide/versioning.ui/src/org/netbeans/modules/versioning/ui/history/HistoryRootNode.java
Labels: kind:bug

#4435 PHPStan - fixes typo in config panel and updates config file name
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/Bundle.properties
Labels: kind:bug, PHP

#4421 Unbalanced hint should work for fields initialized in constructor
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unbalanced.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnbalancedTest.java
Labels: kind:bug, enhancement, hints
