Repository apache/netbeans, pull requests merged in 2022-02, with the labels that each got.

#3543 [#3511] workaround for extends/implements panel not showing any results.
  java/java.project.ui/src/org/netbeans/modules/java/project/ui/ExtensionAndImplementationVisualPanel.java
Labels: kind:bug, Java

#3549 [NETBEANS-6177] Fix an issue the stop command is not sent
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/DebugSession.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/SessionManager.java
Labels: PHP

#3545 [NETBEANS-6410] - Upgrade JAXB from 2.3.3 to 2.3.5
  ide/libs.jaxb/external/binaries-list
  ide/libs.jaxb/external/jaxb-2.3.5-xjc-license.txt
  ide/libs.jaxb/external/jaxb-impl-2.3.5-license.txt
  ide/libs.jaxb/nbproject/project.properties
  ide/libs.jaxb/src/org/netbeans/libs/jaxb/Bundle.properties
  ide/libs.jaxb/src/org/netbeans/libs/jaxb/jaxb.xml
Labels: Upgrade Library

#3555 Hint wizzard module dependency fix.
  apisupport/apisupport.wizards/src/org/netbeans/modules/apisupport/project/ui/wizard/javahint/NewJavaHintIterator.java
Labels: kind:bug, Java, Platform

#3569 Adding vscode icons for OCI explorer
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-cloud-oracle.jar/org/netbeans/modules/cloud/oracle/resources/compartment.svg
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-cloud-oracle.jar/org/netbeans/modules/cloud/oracle/resources/database.svg
Labels: enhancement, VSCode

#3578 [NETBEANS-6438] Add code folding for PHP attributes
  php/php.editor/src/org/netbeans/modules/php/editor/csl/FoldingScanner.java
  php/php.editor/src/org/netbeans/modules/php/editor/csl/PHPFoldingProvider.java
  php/php.editor/test/unit/data/testfiles/attributeSyntax_01.php.folds
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/FoldingTest.java
Labels: PHP

#3597 [#3593] Fix csl elementhandle
  ide/csl.api/src/org/netbeans/modules/csl/navigation/ElementNode.java
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/TopLevelStructureItem.java
  ide/css.prep/src/org/netbeans/modules/css/prep/editor/CPCategoryStructureItem.java
  ide/css.prep/src/org/netbeans/modules/css/prep/editor/CPCssEditorModule.java
Labels: CSL, CSS

#3591 [#3590] Prevent suspicious NPE forn Gradle SubProjectsNode
  extide/gradle/src/org/netbeans/modules/gradle/nodes/SubProjectsNode.java
Labels: Gradle

#3575 fixed wrong nb-javac module name so that it can be installed.
  java/java.j2semodule/src/org/netbeans/modules/java/j2semodule/ui/customizer/Bundle.properties
  java/java.j2seproject/src/org/netbeans/modules/java/j2seproject/ui/customizer/Bundle.properties
  java/java.source/src/org/netbeans/modules/java/source/JBrowseModule.java
  java/maven/src/org/netbeans/modules/maven/customizer/Bundle.properties
Labels: kind:bug, Java

#3585 Support icon resource fetch on LSP protocol, multiple content types.
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/UIDefaultsIconMetadata.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/URITranslator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/LspTreeViewServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeItem.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeNodeRegistry.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeNodeRegistryImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/GetResourceParams.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/ResourceData.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/TreeItemData.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/TreeViewService.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/protocol.ts
Labels: API Change, LSP, VSCode

#3620 Updated Gradle CLI option support.
  extide/gradle/apichanges.xml
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleCommandLine.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleCliCompletionProvider.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/api/execute/GradleCommandLineTest.java
Labels: Gradle

#3621 Fixed endless CompletionStage chaining.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProvider.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProviderTest.java
Labels: kind:bug, LSP

#3623 Fixed processing env variables with '=' in value
  java/java.lsp.server/vscode/src/runConfiguration.ts
Labels: VSCode

#3627 Use the blessed modifier order in projects located in javafx projects
  javafx/javafx2.editor/src/org/netbeans/modules/javafx2/editor/completion/beans/FxBean.java
  javafx/javafx2.editor/src/org/netbeans/modules/javafx2/editor/completion/impl/ClassCompleter.java
  javafx/javafx2.editor/src/org/netbeans/modules/javafx2/editor/spi/FXMLOpener.java
  javafx/javafx2.project/src/org/netbeans/modules/javafx2/project/ui/RuntimeComboBox.java
  javafx/javafx2.scenebuilder/src/org/netbeans/modules/javafx2/scenebuilder/SceneBuilderFXMLOpener.java
  javafx/javafx2.scenebuilder/src/org/netbeans/modules/javafx2/scenebuilder/Settings.java
  javafx/javafx2.scenebuilder/src/org/netbeans/modules/javafx2/scenebuilder/impl/SBHomeFactory.java
  javafx/javafx2.scenebuilder/src/org/netbeans/modules/javafx2/scenebuilder/options/GrowingComboBox.java
  javafx/javafx2.scenebuilder/src/org/netbeans/modules/javafx2/scenebuilder/options/SBOptionsPanel.java
  javafx/javafx2.scenebuilder/src/org/netbeans/modules/javafx2/scenebuilder/options/SBOptionsPanelController.java
Labels: Code cleanup

#3189 Bugfix: Go To source broken for nested classes.
  java/gradle.java/apichanges.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/output/Location.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/output/LocationOpener.java
  java/gradle.java/test/unit/src/org/netbeans/modules/gradle/java/api/output/LocationTest.java
  java/gradle.test/nbproject/project.xml
  java/gradle.test/src/org/netbeans/modules/gradle/test/ui/nodes/GradleJUnitNodeOpener.java
  java/gradle.test/src/org/netbeans/modules/gradle/test/ui/nodes/GradleTestMethodNode.java
Labels: kind:bug, Java, Gradle

#3637 Fix the wrong use of Enumeration interface
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/FindComponentModules.java
Labels: Code cleanup

#3613 Support CompletableFuture in DialogDisplayer
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractDialogDisplayer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/NotifyDescriptorAdapter.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/ui/AbstractDialogDisplayerTest.java
  platform/core.windows/nbproject/project.xml
  platform/core.windows/src/org/netbeans/core/windows/services/DialogDisplayerImpl.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/DialogDisplayerImplTest.java
  platform/openide.dialogs/apichanges.xml
  platform/openide.dialogs/manifest.mf
  platform/openide.dialogs/nbproject/project.properties
  platform/openide.dialogs/src/org/openide/DialogDisplayer.java
  platform/openide.dialogs/test/unit/src/org/openide/DialogDisplayerTest.java
Labels: enhancement, API Change, LSP, Platform

#3645 [NETBEANS-6468] Fix Windows LAF on Windows 11 and Java 17
  platform/core.windows/src/org/netbeans/core/windows/view/ui/CloseButtonTabbedPane.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/Startup.java
  platform/openide.awt/src/org/openide/awt/CloseButtonFactory.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/UIUtils.java
Labels: Look and Feel

#3647 update VariableMirrorTranslator to bring it up to standards
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/VariableMirrorTranslator.java
Labels: Code cleanup, Java

#3525 [NETBEANS-6425] Provide outline view for Groovy file in VSCode.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/src/org/netbeans/api/lsp/StructureElement.java
  ide/api.lsp/src/org/netbeans/modules/lsp/StructureElementAccessor.java
  ide/api.lsp/src/org/netbeans/spi/lsp/StructureProvider.java
  ide/api.lsp/test/unit/src/org/netbeans/api/lsp/StructureElementTest.java
  ide/csl.api/src/org/netbeans/modules/csl/core/LanguageRegistrationProcessor.java
  ide/csl.api/src/org/netbeans/modules/csl/navigation/GsfStructureProvider.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaStructureProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Groovy, VSCode

#3551 Larger icon sizes missing in platform branding UI #3544
  apisupport/apisupport.project/src/org/netbeans/modules/apisupport/project/spi/BrandingModel.java
  apisupport/apisupport.project/src/org/netbeans/modules/apisupport/project/ui/branding/BasicBrandingPanel.form
  apisupport/apisupport.project/src/org/netbeans/modules/apisupport/project/ui/branding/BasicBrandingPanel.java
  apisupport/apisupport.project/src/org/netbeans/modules/apisupport/project/ui/branding/Bundle.properties
Labels: Platform, UI

#3654 [NETBEANS-6463] Code completion doesn't offer methods from the same class
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/completion/util/CompletionContext.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/MethodCompletion.java
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_3.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_5.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_6.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/closures/insideClosure1/InsideClosure1.groovy.testInsideClosure1_7.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoDot2/CompletionNoDot2.groovy
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoDot2/CompletionNoDot2.groovy.testCompletionNoDot2_1.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoDot2/CompletionNoDot2.groovy.testCompletionNoDot2_2.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoDot2/CompletionNoDot2.groovy.testCompletionNoDot2_3.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoDot2/CompletionNoDot2.groovy.testCompletionNoDot2_4.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoDot2/CompletionNoDot2.groovy.testCompletionNoDot2_5.completion
  groovy/groovy.editor/test/unit/data/testfiles/completion/method/completionNoDot2/CompletionNoDot2.groovy.testCompletionNoDot2_6.completion
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/completion/MethodCCTest.java
Labels: kind:bug, Groovy

#3641 Gradle Tooling Upgrade to 7.4
  extide/gradle/build.xml
  extide/gradle/external/binaries-list
  extide/gradle/external/gradle-7.4-bin-license.txt
  extide/gradle/external/gradle-7.4-bin-notice.txt
  extide/gradle/external/gradle-wrapper-7.4-license.txt
  extide/gradle/nbproject/project.xml
  extide/gradle/netbeans-gradle-tooling/gradle/wrapper/gradle-wrapper.properties
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-7.4-license.txt
  extide/libs.gradle/external/gradle-tooling-api-7.4-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Gradle

#3656 Clean up the use of deprecated numeric constructors
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/ui/wizard/NewNbModuleWizardIterator.java
  apisupport/apisupport.wizards/src/org/netbeans/modules/apisupport/project/ui/wizard/common/BasicWizardIterator.java
  enterprise/profiler.j2ee/src/org/netbeans/modules/profiler/j2ee/J2EEProfilerSPI.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/ChooseCustomizer.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/ServletData.java
  enterprise/web.jsf.editor/src/org/netbeans/modules/web/jsf/editor/el/JsfVariableContext.java
  ide/xml.tax/lib/src/org/netbeans/tax/TreeEntityDecl.java
  ide/xml.tax/lib/src/org/netbeans/tax/TreeUtilities.java
  ide/xml.tax/lib/src/org/netbeans/tax/io/TreeStreamResult.java
  java/beans/src/org/netbeans/modules/beans/ModePropertyEditor.java
  java/debugger.jpda.projects/src/org/netbeans/modules/debugger/jpda/projects/EditorContextSupport.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/source/SourceURLMapper.java
  java/debugger.jpda.truffle/truffle-backend/org/netbeans/modules/debugger/jpda/backend/truffle/SourcePosition.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/BreakpointsTreeModelFilter.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/JPDADebuggerImpl.java
  java/i18n/src/org/netbeans/modules/i18n/regexp/Parser.java
  java/java.editor/src/org/netbeans/modules/java/editor/imports/ClipboardHandler.java
  java/java.j2semodule/src/org/netbeans/modules/java/j2semodule/ui/customizer/J2SEModularProjectProperties.java
  java/java.j2seproject/src/org/netbeans/modules/java/j2seproject/ui/customizer/J2SEProjectProperties.java
  java/java.project.ui/src/org/netbeans/modules/java/project/ui/NewJavaFileWizardIterator.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/ComputeDiff.java
  java/java.source.queriesimpl/src/org/netbeans/modules/java/source/queriesimpl/TemplateWizardIterator.java
  java/junit/src/org/netbeans/modules/junit/AbstractTestGenerator.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/spi/ui/JavaRefactoringGlobalAction.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/ui/ChangeParametersPanel.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/ui/JavaRefactoringGlobalAction.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/ui/MoveMembersPanel.java
  java/testng/src/org/netbeans/modules/testng/AbstractTestGenerator.java
  java/xml.jaxb/src/org/netbeans/modules/xml/jaxb/ui/JAXBWizardIterator.java
  java/xml.tools.java/src/org/netbeans/modules/xml/tools/java/generator/SAXGeneratorAbstractPanel.java
  javafx/javafx2.project/src/org/netbeans/modules/javafx2/project/PanelProjectLocationExtSrc.form
  javafx/javafx2.project/src/org/netbeans/modules/javafx2/project/PanelProjectLocationExtSrc.java
  javafx/javafx2.project/src/org/netbeans/modules/javafx2/project/PanelProjectLocationVisual.java
  nbi/engine/nbproject/project.properties
  nbi/engine/src/org/netbeans/installer/utils/LogManager.java
  nbi/engine/src/org/netbeans/installer/utils/helper/Version.java
  nbi/engine/src/org/netbeans/installer/utils/system/UnixNativeUtils.java
  nbi/engine/src/org/netbeans/installer/utils/system/launchers/impl/ExeLauncher.java
  nbi/engine/src/org/netbeans/installer/utils/system/windows/WindowsRegistry.java
  nbi/engine/src/org/netbeans/installer/wizard/components/actions/SearchForJavaAction.java
  nbi/engine/src/org/netbeans/installer/wizard/components/panels/PreInstallSummaryPanel.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/global/TransactionalSupport.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/DominatorTree.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/HprofHeap.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/HprofProxy.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/NumberList.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/StackFrameSegment.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/StackTraceSegment.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/StringSegment.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/SyntheticClassObjectValue.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/results/cpu/CPUCCTContainer.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/results/locks/LockGraphBuilder.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/server/HeapHistogramManager.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/server/ProfilerInterface.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/server/ProfilerRuntime.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/server/ProfilerRuntimeMemory.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/server/ProfilerRuntimeSampler.java
Labels: Code cleanup, Java

#3657 [NETBEANS-5599] PHP 8.1 Support: New in initializers (Part 4)
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/StaticStatement.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP81UnhandledError.java
Labels: PHP

#3671 Update project platform/favorites to JDK8 source level and remove wa…
  platform/favorites/nbproject/project.properties
  platform/favorites/src/org/netbeans/modules/favorites/Actions.java
  platform/favorites/src/org/netbeans/modules/favorites/FavoritesNode.java
  platform/favorites/src/org/netbeans/modules/favorites/Tab.java
  platform/favorites/src/org/netbeans/modules/favorites/api/Favorites.java
  platform/favorites/test/unit/src/org/netbeans/modules/favorites/FavoritesNodeTest.java
  platform/favorites/test/unit/src/org/netbeans/modules/favorites/NodesTest.java
  platform/favorites/test/unit/src/org/netbeans/modules/favorites/RootsTest.java
  platform/favorites/test/unit/src/org/netbeans/modules/favorites/VisibilityQueryWorksTest.java
  platform/favorites/test/unit/src/org/netbeans/modules/favorites/api/FavoritesTest.java
Labels: Code cleanup, Java

#3561 [jackpot] more robust condition handling + code renovations
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/ClassPathProviderImpl.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/Condition.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/ConditionAPIHacks.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintLexer.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintRegistry.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintTokenId.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintsParser.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintsWorker.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/EmbeddingProviderImpl.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/Hacks.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/MethodInvocationContext.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/PatternConvertorImpl.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/Utilities.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/EditorTestPerformer.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/HighlightsLayerFactoryImpl.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/TestLexer.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/TestLocatorImpl.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/TestParser.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/TestPerformer.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/TestTokenId.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintRegistryTest.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintsParserTest.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/EmbeddingProviderImplTest.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/MethodInvocationContextTest.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/conditionapi/ContextTest.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/debugging/EvaluationSpanTaskTest.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/idebinding/HintsTaskTest.java
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/test/TestParserTest.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/Utilities.java
Labels: Code cleanup, Java, Editor

#3642 Improve CSS Support
  ide/css.lib/build.xml
  ide/css.lib/src/org/netbeans/modules/css/lib/AbstractParseTreeNode.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3.g
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Lexer.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Parser.java
  ide/css.lib/src/org/netbeans/modules/css/lib/NbParseTreeBuilder.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/Css3ParserTest.java
  ide/libs.antlr3.runtime/external/antlr-runtime-3.5.2-license.txt
  ide/libs.antlr3.runtime/external/binaries-list
  ide/libs.antlr3.runtime/nbproject/project.properties
  ide/libs.antlr3.runtime/nbproject/project.xml
  ide/libs.antlr3.runtime/src/org/netbeans/libs/antlr3/runtime/Bundle.properties
  java/java.api.common/build.xml
  java/java.api.common/src/org/netbeans/modules/java/api/common/project/ui/customizer/vmo/gen/CommandLine.g
  java/java.api.common/src/org/netbeans/modules/java/api/common/project/ui/customizer/vmo/gen/CommandLine.tokens
  java/java.api.common/src/org/netbeans/modules/java/api/common/project/ui/customizer/vmo/gen/CommandLineLexer.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/project/ui/customizer/vmo/gen/CommandLineParser.java
  java/java.api.common/test/unit/src/org/netbeans/modules/java/api/common/project/ui/customizer/vmo/VmOptionsGrammarTest.java
  nbbuild/licenses/BSD-antlr-runtime3
Labels: CSS

#3665 Fix Windows profiler.lib workflow by using Windows10SDK.20348
  .github/workflows/native-binary-build-lib.profiler.yml
Labels: CI

#3668 Ignore dependencies for BOM-like projects.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
Labels: enhancement, Gradle
