Repository apache/netbeans, pull requests merged in 2022-09, with the labels that each got.

#4526 Build action must be included in the cache key
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
Labels: kind:bug, Maven

#4525 Gradle hide empty generated folders
  extide/gradle/src/org/netbeans/modules/gradle/api/NbGradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDistributionProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/nodes/SourcesNodeFactory.java
Labels: Gradle

#4582 Cleanup a bunch of raw type error messages related to TreeSet.
  enterprise/web.jspparser/src/org/netbeans/modules/web/jsps/parserapi/PageInfo.java
  ide/xml.catalog.ui/src/org/netbeans/modules/xml/catalog/CatalogNode.java
  ide/xml.catalog.ui/src/org/netbeans/modules/xml/catalog/CatalogRootNode.java
  ide/xml.core/src/org/netbeans/modules/xml/dtd/grammar/DTDParser.java
  ide/xml.tax/src/org/netbeans/modules/xml/tax/beans/editor/TreeNodeFilterCustomEditor.java
  ide/xsl/src/org/netbeans/modules/xsl/grammar/XSLGrammarQuery.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/RunTargetsAction.java
  platform/openide.filesystems/src/org/openide/filesystems/DefaultAttributes.java
Labels: Code cleanup

#4591 Cleanup debug Exception after an old issue
  ide/editor/src/org/netbeans/modules/editor/NbEditorDocument.java
Labels: Code cleanup, Editor

#4596 Automatically disable NBLS Java for GCN users.
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#4594 Support projects without build.gradle
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectFactory.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/GradleFiles.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectFactoryTest.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectFactory.java
Labels: kind:bug, Gradle, Maven

#4595 Project info exported through LSP
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/project/LspProjectInfo.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
Labels: LSP

#4623 FIX-3732: Prevent possible IAE in DocumentViewOp.
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/DocumentViewOp.java
Labels: Editor

#4467 Update nb-javac to 19+33.
  .github/workflows/main.yml
  java/debugger.jpda/nbproject/org-netbeans-modules-debugger-jpda.sig
  java/debugger.jpda/nbproject/project.properties
  java/java.completion/test/unit/data/org/netbeans/modules/java/completion/data/SwitchPatternMatching.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask117FeaturesTest.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCodeTemplateFilter.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/InfiniteRecursion.java
  java/java.hints/src/org/netbeans/modules/java/hints/suggestions/ExpectedTypeResolver.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertSwitchToRuleSwitchTest.java
  java/java.source.base/nbproject/org-netbeans-modules-java-source-base.sig
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/TranslateIdentifier.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/java.source.base/src/org/netbeans/modules/java/source/NoJavacHelper.java
  java/java.source.base/src/org/netbeans/modules/java/source/builder/TreeFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/VeryPretty.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reindenter.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/ImmutableTreeTranslator.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/TreeDuplicator.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/SwitchRuleFormattingTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/SwitchTest.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/java.source/nbproject/org-netbeans-modules-java-source.sig
  java/java.source/nbproject/project.properties
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-19+33-license.txt
  java/libs.javacapi/nbproject/org-netbeans-libs-javacapi.sig
  java/libs.javacapi/nbproject/project.properties
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-19+33-license.txt
  java/libs.nbjavacapi/manifest.mf
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  java/libs.nbjavacapi/src/org/netbeans/modules/nbjavac/api/Bundle.properties
  java/refactoring.java/nbproject/org-netbeans-modules-refactoring-java.sig
  java/refactoring.java/nbproject/project.properties
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/Utilities.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Java, Upgrade Library

#4625 Minor cleanup in YAML Language Support
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/EmbeddedSectionsHighlighting.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlCompletion.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlLanguage.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlParser.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlStructureItem.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlTokenId.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/ruby/RubyEmbeddingProvider.java
  ide/languages.yaml/test/unit/src/org/netbeans/modules/languages/yaml/YamlLexerTest.java
  ide/languages.yaml/test/unit/src/org/netbeans/modules/languages/yaml/YamlTestBase.java
Labels: Editor

#4589 Multi-release jar support
  .travis.yml
  ide/c.jcraft.jsch/build.xml
  platform/netbinox/nbproject/project.properties
  platform/netbinox/nbproject/project.xml
  platform/netbinox/src/org/netbeans/modules/netbinox/JarBundleFile.java
  platform/netbinox/src/org/netbeans/modules/netbinox/NetbinoxLoader.java
  platform/netbinox/test/unit/src/org/netbeans/modules/netbinox/NetbinoxMultiversionJarTest.java
  platform/o.n.bootstrap/src/org/netbeans/JarClassLoader.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/JarClassLoaderTest.java
Labels: Java, Platform

#4631 Artifact tags, support for shaded output and source attachments.
  ide/project.dependency/src/org/netbeans/modules/project/dependency/ArtifactSpec.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/ProjectArtifactsQuery.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/spi/ProjectArtifactsImplementation.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectMetadataCommand.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenArtifactsImplementation.java
  java/maven/test/unit/data/artifacts/shaded-attached/pom.xml
  java/maven/test/unit/data/artifacts/shaded-attached/src/main/java/SampleApplication.java
  java/maven/test/unit/data/artifacts/shaded-default/pom.xml
  java/maven/test/unit/data/artifacts/shaded-default/src/main/java/SampleApplication.java
  java/maven/test/unit/data/artifacts/shaded-sources/pom.xml
  java/maven/test/unit/data/artifacts/shaded-sources/src/main/java/SampleApplication.java
  java/maven/test/unit/data/artifacts/sources/pom.xml
  java/maven/test/unit/data/artifacts/sources/src/main/java/SampleApplication.java
  java/maven/test/unit/src/org/netbeans/modules/maven/queries/MavenArtifactsImplementationTest.java
Labels: Maven

#4665 Vulnerability audit fixes
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/ProjectVulnerability.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleDependencyResult.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
Labels: VSCode

#4370 The CPPLight debugger works on aarch64.
  cpplite/cpplite.debugger/src/org/netbeans/modules/cpplite/debugger/CPPLiteDebugger.java
  ide/dlight.nativeexecution/external/binaries-list
  ide/dlight.nativeexecution/external/exechlp-1.2-license.txt
  ide/dlight.nativeexecution/nbproject/project.properties
  ide/dlight.nativeexecution/release/bin/nativeexecution/hostinfo.sh
  ide/dlight.nativeexecution/src/org/netbeans/modules/nativeexecution/api/HostInfo.java
  ide/dlight.nativeexecution/src/org/netbeans/modules/nativeexecution/api/pty/PtySupport.java
  ide/dlight.nativeexecution/src/org/netbeans/modules/nativeexecution/api/util/MacroExpanderFactory.java
  ide/dlight.nativeexecution/src/org/netbeans/modules/nativeexecution/api/util/UnbufferSupport.java
  ide/dlight.nativeexecution/tools/Makefile
  ide/dlight.nativeexecution/tools/killall/Makefile
  ide/dlight.nativeexecution/tools/pty/Makefile
  ide/dlight.nativeexecution/tools/unbuffer/Makefile
Labels: C/C++

#4648 Fix extra space added in try with resources
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
Labels: kind:bug, Java

#4670 Fixed a NPE from issue #4629
  ide/editor.codetemplates/src/org/netbeans/lib/editor/codetemplates/CodeTemplateInsertHandler.java
Labels: kind:bug, Editor

#4672 Avoid using an invalid JavaPlatform
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/Utilities.java
Labels: kind:bug, Java, hints

#4689 Changed wording of the vulnerability scan message.
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
Labels: VSCode

#4607 Reveal things in project explorer by default.
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode

#4705 Fix possible NPE in NexusRepositoryIndexerImpl exception handler.
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: kind:bug, Maven
