Repository apache/netbeans, pull requests merged in 2022-10, with the labels that each got.

#4647 JavadocImports fixed for illegal string trim.
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/javadoc/JavadocImports.java
Labels: kind:bug, Java

#4703 Fix npe from gradle build actions dialog
  extide/gradle/src/org/netbeans/modules/gradle/customizer/BuildActionsCustomizer.java
Labels: kind:bug, Gradle

#4586 Fixing error recovery for (current) record patterns.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java

#4265 Cleanup warnings related to raw type List
  enterprise/web.struts/src/org/netbeans/modules/web/struts/StrutsConfigUtilities.java
  enterprise/websvc.jaxwsmodel/src/org/netbeans/modules/websvc/api/jaxws/wsdlmodel/WsdlPort.java
  enterprise/websvc.jaxwsmodel/src/org/netbeans/modules/websvc/api/jaxws/wsdlmodel/WsdlService.java
  ide/editor/src/org/netbeans/modules/editor/NbEditorKit.java
  ide/versioning.util/src/org/netbeans/modules/turbo/TurboProvider.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/FixedWatchesManager.java
  platform/openide.execution.compat8/src/org/openide/execution/NbClassPathCompat.java
Labels: Code cleanup

#4694 Fixed JBoss EAP regex patterns to match two digit minor/patch versions
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/WildflyOutputSupport.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/WildflyStartLineParser.java
  enterprise/javaee.wildfly/test/unit/src/org/netbeans/modules/javaee/wildfly/ide/WildflyStartLineParserTest.java
Labels: Java EE/Jakarta EE

#4721 NETBEANS-4720 Support custom gradle test sourcesets
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaTokenProvider.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/action-mapping.xml
Labels: Gradle

#4711 Override gradle's compiler version from compiler args.
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaSourceSet.java
Labels: Gradle

#4726 Various fixes and improvements [1/3]
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/actions/ActionToTaskUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/api/NbGradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/ArtifactSpec.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/ProjectArtifactsQuery.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenArtifactsImplementation.java
  platform/core.startup/src/org/netbeans/core/startup/Main.java
Labels: kind:bug, enhancement, API Change, Gradle

#4431 conditional CI pipeline + migrate some jobs from travis to gh
  .github/PULL_REQUEST_TEMPLATE.md
  .github/retry.sh
  .github/workflows/main.yml
  .travis.yml
Labels: CI

#4729 API: access to build properties of gradle script [2/3]
  extide/gradle/apichanges.xml
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/TypeUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/api/BuildPropertiesSupport.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProject.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/BuildPropertiesImplementation.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/ExtensionPropertiesExtractor.java
  extide/gradle/test/unit/data/buildprops/micronaut/build.gradle
  extide/gradle/test/unit/data/buildprops/micronaut/gradle.properties
  extide/gradle/test/unit/data/buildprops/micronaut/settings.gradle
  extide/gradle/test/unit/data/buildprops/micronaut/src/main/java/com/example/Application.java
  extide/gradle/test/unit/data/buildprops/micronaut/src/main/resources/application.yml
  extide/gradle/test/unit/data/buildprops/micronaut/src/main/resources/logback.xml
  extide/gradle/test/unit/data/buildprops/micronaut/src/test/java/com/example/MicrodemoTest.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/loaders/ExtensionPropertiesExtractorTest.java
Labels: enhancement, API Change, Gradle, Micronaut

#4681 Limit bootstrap libraries to java.se
  java/java.mx.project/src/org/netbeans/modules/java/mx/project/SuiteProject.java
Labels: MX

#4733 Better messages during project audit. Code cleanup.
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/AuditException.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/CreateKnowledgeBaseAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/ErrorUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/KnowledgeBaseItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/ProjectVulnerability.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/RunFileADMAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectAuditCommand.java
Labels: kind:bug, VSCode, enterprise

#4719 Add ability to load custom FlatLaf properties from user config.
  platform/o.n.swing.laf.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Bundle.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.form
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Installer.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/layer.xml
Labels: UI

#4735 Fix the syntax error for the constant array access #4684
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable15.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable16.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable17.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable18.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/gh4684.pass
  php/php.editor/test/unit/data/testfiles/parser/gh4684.php
  php/php.editor/test/unit/data/testfiles/parser/gh4684.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#4603 Keyboard focus can activate top component
  platform/core.windows/src/org/netbeans/core/windows/view/ui/TabbedHandler.java
Labels: UI

#4695 Unable to register Payara 6.x in Apache NetBeans 15
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/api/config/J2EEVersion.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/Hk2JavaEEPlatformImpl.java
  enterprise/payara.tooling/nbproject/org-netbeans-modules-payara-tooling.sig
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/ConfigBuilderProvider.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/JavaEEProfile.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/PayaraV6.xml
Labels: Payara

#4748 Add debugger listening connector to LSP.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/AttachConfigurations.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/ConfigurationAttributes.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/NbAttachRequestHandler.java
  java/java.lsp.server/vscode/package.json
Labels: affects VSCode

#4649 Fix for not calling auto completion after end tag was already added
  ide/html.editor/src/org/netbeans/modules/html/editor/completion/HtmlCompletionProvider.java
  ide/html.editor/test/unit/src/org/netbeans/modules/html/editor/completion/HtmlCompletionQueryTest.java
Labels: HTML

#4532 Update Maven archetype version for Jakarta EE 9.1
  enterprise/maven.j2ee/src/org/netbeans/modules/maven/j2ee/ui/wizard/archetype/Bundle.properties
Labels: Java EE/Jakarta EE, Maven

#4756 Fixing error recovery when j.l.MatchException is missing, and patterns are present.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java

#4580 revert rushed unbalanced-hint fix (#4421).
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unbalanced.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnbalancedTest.java
Labels: Java, hints

#4742 Add update centre notifications to Check for Updates dialog
  platform/autoupdate.ui/src/org/netbeans/modules/autoupdate/ui/wizards/Bundle.properties
  platform/autoupdate.ui/src/org/netbeans/modules/autoupdate/ui/wizards/LazyOperationDescriptionStep.java
Labels: UI

#4759 Fix for Gradle project sources popup menu invocation error #4755
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/refactoring/RefactoringActionsProvider.java
Labels: Gradle

#4768 [NETBEANS-4923]: Problem with Deploy/HotDeploy using Netbeans 12.1 an…
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/WildflyDeploymentFactory.java
Labels: kind:bug, Java, Java EE/Jakarta EE, priority:critical, enterprise

#4769 Code completion after yield in switch expressions fixed.
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/SwitchExprAfterYieldAutoCompletion.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/10/AutoCompletion_CaseLabels_PatternMatchingSwitch_1.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/10/AutoCompletion_CaseLabels_PatternMatchingSwitch_2.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/10/AutoCompletion_CaseLabels_PatternMatchingSwitch_3.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/10/SwitchExprAfterYieldAutoCompletion.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/14/AutoCompletion_CaseLabels_PatternMatchingSwitch_1.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/14/AutoCompletion_CaseLabels_PatternMatchingSwitch_2.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/14/AutoCompletion_CaseLabels_PatternMatchingSwitch_3.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/14/SwitchExprAfterYieldAutoCompletion.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/19/SwitchExprAfterYieldAutoCompletion.pass
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask113FeaturesTest.java
Labels: Java

#4749 use java.net.URLEncoder/Decoder instead of buggy custom impl.
  ide/team.commons/src/org/netbeans/modules/bugtracking/commons/TextUtils.java
Labels: kind:bug

#4678 Improve java platform selection logic for hints.
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/Utilities.java
  platform/openide.modules/nbproject/org-openide-modules.sig
  platform/openide.modules/src/org/openide/modules/SpecificationVersion.java
Labels: Java, hints

#4773 Improve support for ANTLRv4 Grammars
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/ui/AccessorImpl.java
  java/languages.antlr/nbproject/project.xml
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrDeclarationFinder.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrOccurrencesFinder.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrParser.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrStructureItem.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrTokenSequence.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/refactoring/Refactoring.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3CompletionProvider.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3Language.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3ParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4CompletionProvider.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Language.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4ParserResult.java
  java/languages.antlr/test/unit/src/org/netbeans/modules/languages/antlr/AntlrTokenSequenceTest.java
Labels: ANTLR

#4775 Limit ValidateClassFilesTest to scan only JARs referenced from modules
  ide/extexecution.process.jdk9/manifest.mf
  platform/o.n.core/test/qa-functional/src/org/netbeans/core/validation/ValidateClassFilesTest.java
Labels: ci:all-tests

#4780 Fix error in wizard when creating module-info file (GH4628)
  java/java.project.ui/src/org/netbeans/modules/java/project/ui/NewJavaFileWizardIterator.java
Labels: kind:bug, Java

#4774 Another attempt to fix intermittent clipboard bug on Windows
  platform/o.n.bootstrap/src/org/netbeans/NbClipboard.java
Labels: kind:bug, Platform, os:windows

#4794 Cleanup more raw type List warnings..
  enterprise/j2ee.clientproject/src/org/netbeans/modules/j2ee/clientproject/wsclient/AppClientProjectWebServicesClientSupport.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/client/ClientDataObject.java
  enterprise/j2ee.ddloaders/src/org/netbeans/modules/j2ee/ddloaders/common/xmlutils/XMLJ2eeUtils.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/EjbJarWebServicesClientSupport.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/EjbJarWebServicesSupport.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/UpdateProjectImpl.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/Utils.java
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/api/JDBCDriverDeployHelper.java
  enterprise/web.freeform/src/org/netbeans/modules/web/freeform/WebProjectGenerator.java
  enterprise/web.project/src/org/netbeans/modules/web/project/WebActionProvider.java
  enterprise/web.project/src/org/netbeans/modules/web/project/WebProjectWebServicesClientSupport.java
  enterprise/web.project/src/org/netbeans/modules/web/project/WebProjectWebServicesSupport.java
  enterprise/websvc.clientapi/src/org/netbeans/modules/websvc/api/client/WsCompileClientEditorSupport.java
  enterprise/websvc.clientapi/src/org/netbeans/modules/websvc/spi/jaxws/client/JAXWSClientSupportImpl.java
  enterprise/websvc.clientapi/src/org/netbeans/modules/websvc/spi/jaxws/client/ProjectJAXWSClientSupport.java
  enterprise/websvc.manager/src/org/netbeans/modules/websvc/manager/model/WebServiceListModel.java
  enterprise/websvc.websvcapi/src/org/netbeans/modules/websvc/api/webservices/WebServicesSupport.java
  enterprise/websvc.websvcapi/src/org/netbeans/modules/websvc/spi/webservices/WebServicesSupportImpl.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/actions/FixImportsAction.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/QueryBuilder.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/QueryBuilderGraphFrame.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/querybuilder/QueryBuilderMetaData.java
  ide/xml.core/src/org/netbeans/modules/xml/api/model/ExtendedGrammarQuery.java
  ide/xml.core/src/org/netbeans/modules/xml/dtd/grammar/DTDGrammar.java
  ide/xml.text.obsolete90/src/org/netbeans/modules/xml/text/obsolete90/ComplexValueSettingsFactory.java
  ide/xml.text/src/org/netbeans/modules/xml/text/completion/GrammarManager.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/editor/completion/ETCompletionContextResolver.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/entitygenerator/CMPMappingModel.java
  java/java.freeform/src/org/netbeans/modules/java/freeform/JavaProjectGenerator.java
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/effpom/AnnotationMarkProvider.java
  platform/openide.util/src/org/netbeans/modules/openide/util/DefaultMutexImplementation.java
  platform/openide.util/src/org/openide/util/TopologicalSortException.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/components/JTreeTable.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/components/treetable/TreeTableModelAdapter.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/ClassesController.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/FieldsBrowserController.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/InstancesController.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/ReferencesBrowserController.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/model/BrowserUtils.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/ui/FieldsBrowserControllerUI.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/ui/ReferencesBrowserControllerUI.java
Labels: API Change, Code cleanup

#4800 ANTLRv4 indent and code snippet support.
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/layer.xml
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3ParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/preferences.xml
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4CompletionProvider.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Formatter.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Language.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4ParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/preferences.xml
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/snippets.xml
Labels: ANTLR

#4592 Provide hints for conversion to Virtual thread executor when thread pools are used
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CanUseVT.java
Labels: Java, hints

#4803 Update FlatLaf from 2.4 to 2.5
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-2.5-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/libs.flatlaf/src/org/netbeans/libs/flatlaf/Installer.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Installer.java
Labels: Upgrade Library, UI

#4671 add semantic highlight for when keyword
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/DetectorTest.java
Labels: Java, Editor

#4811 Update FlatLaf from 2.5 to 2.6
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-2.6-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/libs.flatlaf/src/org/netbeans/libs/flatlaf/Installer.java
Labels: Upgrade Library, UI, ci:all-tests

#4802 Implement maven pom javac release option hint (JEP 247).
  java/maven.hints/src/org/netbeans/modules/maven/hints/layer.xml
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHint.java
  java/maven.hints/test/unit/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHintTest.java
Labels: Java, Maven, hints

#4816 Update issue report template for NetBeans 16 release candidates.
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#4836 Update JDK 19 Javadoc link from EA to GA.
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/J2SEPlatformDefaultJavadocImpl.java
Labels: kind:bug, Java

#4835 Maven UseReleaseOptionHint fixes
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHint.java
  java/maven.hints/test/unit/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHintTest.java
Labels: kind:bug, Java, Maven

#4838 put nb-javac modules on the plugin import block list.
  nb/autoupdate.pluginimporter/src/org/netbeans/modules/autoupdate/pluginimporter/Bundle.properties
Labels: kind:bug, Java

#4834 More options for LSP audit command
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/AuditOptions.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/ProjectVulnerability.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/RunFileADMAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectAuditCommand.java
Labels: kind:bug, enhancement, VSCode, enterprise

#4808 More precise code-completion for ANTLRv4 Grammars
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrDeclarationFinder.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3ParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4CompletionProvider.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4ParserResult.java
Labels: ANTLR

#4857 Never mark overriding methods as unused, fixes GH4276.
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetector.java
Labels: Java, hints

#4854 Sync delivery to release160 for 16-rc2
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/AuditOptions.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/ProjectVulnerability.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/RunFileADMAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleBaseProjectInternal.java
  extide/gradle/test/unit/data/projects/oldgradle/basic/build.gradle
  extide/gradle/test/unit/data/projects/oldgradle/basic/settings.gradle
  extide/gradle/test/unit/data/projects/oldgradle/basic/src/main/java/test/App.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/api/GradleBaseProjectTest.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetector.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/J2SEPlatformDefaultJavadocImpl.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectAuditCommand.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrDeclarationFinder.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3ParserResult.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4CompletionProvider.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4ParserResult.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHint.java
  java/maven.hints/test/unit/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHintTest.java
  nb/autoupdate.pluginimporter/src/org/netbeans/modules/autoupdate/pluginimporter/Bundle.properties
Labels: do not merge, Release process

#4863 Fix MoveMemberPanel and MoveClassPanel (GH4708)
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/ui/MoveClassPanel.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/ui/MoveMembersPanel.java
Labels: Java

#4872 wrap unreliable micronaut tests in retry script for now
  .github/workflows/main.yml
Labels: CI

#4877 about panel needs a vertical scrollbar if the async plugin update notification appears
  platform/o.n.core/src/org/netbeans/core/ui/ProductInformationPanel.form
  platform/o.n.core/src/org/netbeans/core/ui/ProductInformationPanel.java
Labels: Platform, UI

#4878 Fixed end of file indenting and code completion for ANTLR v4
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AbstractAntlrLexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrTokenSequence.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3Lexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4CompletionProvider.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Formatter.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Lexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4ParserResult.java
Labels: ANTLR

#4886 ci - run cache action after checkout
  .github/workflows/main.yml
Labels: CI

#4891 hide template link as last resort if it appears to be broken.
  ide/projectui/src/org/netbeans/modules/project/ui/resources/license-default.txt
Labels: Java, Maven, ci:all-tests
