Repository apache/netbeans, pull requests merged in 2022-08, with the labels that each got.

#4449 LSP: Cloud explorer should be hidden with Java support switched off.
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#4456 Treat Gradle disk cache at least as evaluated.
  extide/gradle/src/org/netbeans/modules/gradle/loaders/DiskCacheProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleProjectLoaderImpl.java
Labels: Gradle, tests

#4462 Update junixsocket 2.4.0 -> 2.5.1 (API incompatible!)
  ide/c.jcraft.jsch/nbproject/project.xml
  ide/docker.api/nbproject/project.xml
  ide/docker.api/src/org/netbeans/modules/docker/api/DockerAction.java
  ide/libs.c.kohlschutter.junixsocket/build.xml
  ide/libs.c.kohlschutter.junixsocket/external/binaries-list
  ide/libs.c.kohlschutter.junixsocket/external/junixsocket-2.5.1-license.txt
  ide/libs.c.kohlschutter.junixsocket/external/junixsocket-2.5.1-notice.txt
  ide/libs.c.kohlschutter.junixsocket/manifest.mf
  ide/libs.c.kohlschutter.junixsocket/nbproject/libs-c-kohlschutter-junixsocket.sig
  ide/libs.c.kohlschutter.junixsocket/nbproject/project.properties
  ide/libs.c.kohlschutter.junixsocket/nbproject/project.xml
Labels: Upgrade Library

#4442 Make sure, that Java, Groovy and Truffle breakpoints are not clashing
  groovy/groovy.debug/src/org/netbeans/modules/groovy/debug/GroovyBreakpointAnnotationListener.java
  groovy/groovy.debug/src/org/netbeans/modules/groovy/debug/GroovyBreakpointStratifier.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/actions/ToggleBreakpointsInLanguagesActionProvider.java
Labels: Groovy, priority:high

#4480 CSS: Implemented position:sticky
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/Bundle.properties
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/DefaultCssEditorModule.java
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/properties/default_module.properties
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/properties/positioning.properties
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/PropertyCategory.java
Labels: CSS

#4455 Better messages from Janitor on abandoned cache dirs.
  platform/janitor/src/org/netbeans/modules/janitor/Janitor.java
  platform/janitor/src/org/netbeans/modules/janitor/JanitorPanel.form
  platform/janitor/src/org/netbeans/modules/janitor/JanitorPanel.java
Labels: enhancement, Platform

#4498 Revert PR4025 due to changes in compile time constants.
  ide/extbrowser/src/org/netbeans/modules/extbrowser/NbDdeBrowserImpl.java
  ide/xml.text.obsolete90/test/unit/data/goldenfiles/org/netbeans/modules/xml/text/indent/XMLFormatterTest/testReformatSample2.pass
  ide/xml.text.obsolete90/test/unit/data/input/XMLFormatterTest/testReformat/netbeans_build.xml
  ide/xml.text/test/unit/data/goldenfiles/org/netbeans/modules/xml/text/indent/XMLFormatterTest/testReformatSample2.pass
  ide/xml.text/test/unit/data/input/XMLFormatterTest/testReformat/netbeans_build.xml
  java/performance/sparrow/build.xml
  nbi/engine/native/launcher/windows/src/ExtractUtils.c
  nbi/engine/native/launcher/windows/src/Main.c
  nbi/engine/native/launcher/windows/src/SystemUtils.c
  nbi/engine/native/launcher/windows/src/SystemUtils.h
  platform/core.output2/src/org/netbeans/core/output2/OutWriter.java
  platform/o.n.swing.tabcontrol/beanstubs/org/openide/util/Utilities.java
  platform/openide.compat/nbproject/org-openide-compat.sig
  platform/openide.util.ui/nbproject/org-openide-util-ui.sig
  platform/openide.util.ui/nbproject/org-openide-util.sig
  platform/openide.util.ui/src/org/openide/util/Utilities.java
  platform/openide.util/nbproject/org-openide-util.sig
  platform/openide.util/src/org/openide/util/BaseUtilities.java
  profiler/lib.profiler/nbproject/org-netbeans-lib-profiler.sig
  profiler/lib.profiler/src/org/netbeans/lib/profiler/global/Platform.java
Labels: do not merge, priority:critical

#4476 Gradle project reports unresolved configurations.
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProject.java
Labels: Gradle

#4501 org.netbeans.modules.java.hints.bugs.Unused doesn't cancel properly
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
Labels: kind:bug, Java, performance, Editor, hints

#4471 Updating macOS installer process to sign libjunixsocket-native-2.5.1.dylib
  nbbuild/installer/mac/newbuild/commonfiles/signNativeBinaries.sh
Labels: installer, os:macos

#4490 Exception reporter improvments
  nb/ide.branding/o.n.core/src/org/netbeans/core/Bundle_nb.properties
  platform/o.n.core/src/org/netbeans/core/Bundle.properties
  platform/o.n.core/src/org/netbeans/core/NotifyExcPanel.java
  platform/openide.dialogs/src/org/openide/NotifyDescriptor.java
Labels: Platform, UI

#4502 #4500 static imported methods slow down auto completion
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
Labels: kind:bug, Java, performance, Editor

#4317 Do not eager load non-eager module fragments.
  platform/o.n.bootstrap/src/org/netbeans/FixedModule.java
  platform/o.n.bootstrap/src/org/netbeans/Module.java
  platform/o.n.bootstrap/src/org/netbeans/ModuleManager.java
  platform/o.n.bootstrap/src/org/netbeans/Util.java
  platform/o.n.bootstrap/test/unit/data/jars/agent.mf
  platform/o.n.bootstrap/test/unit/data/jars/foo-javafx-client.mf
  platform/o.n.bootstrap/test/unit/data/jars/foo-javafx-core.mf
  platform/o.n.bootstrap/test/unit/data/jars/foo-javafx-linux-eager.mf
  platform/o.n.bootstrap/test/unit/data/jars/foo-javafx-linux.mf
  platform/o.n.bootstrap/test/unit/data/jars/foo-javafx-windows.mf
  platform/o.n.bootstrap/test/unit/data/jars/javafx-core/org/foo/javafx/Bundle.properties
  platform/o.n.bootstrap/test/unit/data/jars/javafx-linux-eager/org/foo/javafx/Eager.properties
  platform/o.n.bootstrap/test/unit/data/jars/javafx-linux/org/foo/javafx/Linux.properties
  platform/o.n.bootstrap/test/unit/data/jars/javafx-windows/org/foo/javafx/Windows.properties
  platform/o.n.bootstrap/test/unit/src/org/netbeans/MockModuleInstaller.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/ModuleManagerTest.java
Labels: kind:bug, performance, Platform

#4514 fix CI concurrency settings
  .github/workflows/main.yml
Labels: CI

#4459 Modernize ActionsManager in Debugger API
  ide/api.debugger/src/org/netbeans/api/debugger/ActionsManager.java
Labels: Code cleanup, Java

#4503 Some support for TOML files
  .travis.yml
  ide/editor.kit/nbproject/project.xml
  ide/languages.toml/build.xml
  ide/languages.toml/licenseinfo.xml
  ide/languages.toml/manifest.mf
  ide/languages.toml/nbproject/project.properties
  ide/languages.toml/nbproject/project.xml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/Bundle.properties
  ide/languages.toml/src/org/netbeans/modules/languages/toml/FontAndColors.xml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/LexerInputCharStream.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlCompletionProvider.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlDataObject.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlDeletedTextInterceptor.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlExample.toml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlLanguage.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlLexer.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlTokenId.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlTypedTextInterceptor.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/layer.xml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/preferences.xml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/toml-icon.png
  ide/languages.toml/src/org/netbeans/modules/languages/toml/toml-icon_dark.png
  ide/languages.toml/test/unit/src/org/netbeans/modules/languages/toml/TomlCompletionProviderTest.java
  ide/languages.toml/test/unit/src/org/netbeans/modules/languages/toml/TomlKeystrokeTest.java
  ide/languages.toml/test/unit/src/org/netbeans/modules/languages/toml/TomlTestBase.java
  ide/libs.tomlj/build.xml
  ide/libs.tomlj/external/binaries-list
  ide/libs.tomlj/external/tomlj-1.0.0-license.txt
  ide/libs.tomlj/manifest.mf
  ide/libs.tomlj/nbproject/project.properties
  ide/libs.tomlj/nbproject/project.xml
  ide/libs.tomlj/src/org/netbeans/libs/tomlj/Bundle.properties
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/cluster.properties
  nbbuild/rat-exclusions.txt
Labels: Editor

#4551 Change YAML indent to 2 spaces by default
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/preferences.xml
Labels: Editor

#4560 Accept file paths passed as a plain string, toURL throws IAE.
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/Utils.java
Labels: LSP

#4559 YAML Support Layer Code Cleanup
  ide/languages.yaml/nbproject/project.xml
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/EmbeddedSectionsHighlighting.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlDataObject.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlLanguage.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlTokenId.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/layer.xml
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/ruby/RubyEmbeddingProvider.java
Labels: Code cleanup, Editor

#4550 Added multiview [Source|History] for Dockerfile-s
  ide/docker.editor/nbproject/project.xml
  ide/docker.editor/src/org/netbeans/modules/docker/editor/DockerfileLanguage.java
  ide/docker.editor/src/org/netbeans/modules/docker/editor/DockerfileResolver.java
  ide/docker.editor/src/org/netbeans/modules/docker/editor/layer.xml
Labels: Docker
