Repository apache/netbeans, pull requests merged in 2022-12, with the labels that each got.

#4826 use default github release drafter and update categories.
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/release-drafter.yml
Labels: CI, ci:no-build, Release process

#5021 Support directly native build plugin
  enterprise/micronaut/src/org/netbeans/modules/micronaut/gradle/MicronautGradleArtifactsImpl.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
Labels: LSP, enterprise

#5028 #5023: Formatting preferences for Java contains bad sample code
  java/java.source/src/org/netbeans/modules/java/ui/Bundle.properties
Labels: Java

#5042 Made Gradle JavaCompilerProcessorFactory work in absence of a ClasspathProvider
  java/gradle.java/src/org/netbeans/modules/gradle/java/output/JavaCompilerProcessorFactory.java
Labels: Gradle

#4951 tweaks some versioning history settings.
  ide/git/src/org/netbeans/modules/git/ui/history/SearchExecutor.java
  ide/git/src/org/netbeans/modules/git/ui/history/SearchHistoryPanel.form
  ide/git/src/org/netbeans/modules/git/ui/history/SearchHistoryPanel.java
  ide/versioning.ui/src/org/netbeans/modules/versioning/ui/history/HistorySettings.java
Labels: UI, git

#5044 added more categories for the release notes generator.
  .github/release.yml
Labels: ci:no-build

#5034 Fix wrong popuppath by changing order of popupPresenterFilePath strings
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/EditorActionRegistrationProcessor.java
  java/jshell.support/src/org/netbeans/modules/jshell/editor/Bundle.properties
  java/jshell.support/src/org/netbeans/modules/jshell/resources/layer.xml
Labels: kind:bug, Editor

#5004 Cleanup few remaining raw type List warnings..
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/optional/StartTomcat.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/LogManager.java
  enterprise/web.core/src/org/netbeans/modules/web/core/api/JspColoringData.java
  enterprise/web.core/src/org/netbeans/modules/web/core/jsploader/TagLibParseSupport.java
  enterprise/web.core/src/org/netbeans/modules/web/jspcompiler/SmapResolver.java
  enterprise/web.jspparser/nbproject/project.properties
  enterprise/web.monitor/src/org/netbeans/modules/web/monitor/data/RequestAttributesOut.java
  enterprise/web.struts/src/org/netbeans/modules/web/struts/editor/StrutsConfigHyperlinkProvider.java
  ide/api.debugger/src/org/netbeans/api/debugger/Lookup.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/BoldVariablesTableModelFilter.java
  javafx/javafx2.editor/src/org/netbeans/modules/javafx2/editor/fxml/FxmlSchemaCatalog.java
  platform/openide.util/src/org/openide/util/MapFormat.java
  webcommon/lib.v8debug/src/org/netbeans/lib/v8debug/connection/LinkedJSONObject.java
Labels: Code cleanup

#4817 CI: the final migration
  .github/workflows/main.yml
  .travis.yml
  nbbuild/travis/ant.sh
  nbbuild/travis/hide-logs.sh
  nbbuild/travis/print-junit-report.sh
  nbbuild/travis/scripting.sh
Labels: CI, ci:all-tests, ci:dev-build

#4949 bump large file warning from 1 to 5MB.
  ide/csl.api/src/org/netbeans/modules/csl/spi/GsfUtilities.java
  platform/openide.loaders/src/org/openide/text/DataEditorSupport.java
  platform/openide.loaders/test/unit/src/org/openide/text/FileSizeThreshholdExceptionTest.java
Labels: Editor, Platform, UI, ci:all-tests

#4785 enable branch protection for master.
  .asf.yaml
Labels: CI, ci:no-build

#4985 Use Project Dictated JVM for Gradle Discovery
  extide/gradle/src/org/netbeans/modules/gradle/GradleJavaCompatProblemsProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectConnection.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/execute/package-info.java
Labels: Need Squashing, Gradle, 16u1

#5017 Fixed some Gradle introspection problems wit pre-6.1 Gradle Versions
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
Labels: Gradle

#5051 Fix Gradle/broken task dependency and serialization
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: Gradle

#5016 #4965: Fix issues with gradle pre-6.4 (#4995)
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/GradleInternalAdapter.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/api/GradleBaseProjectTest.java
Labels: Gradle

#5018 [#4865] Register JDPA and Java Compiler Output on Project level
  java/gradle.java/src/org/netbeans/modules/gradle/java/output/LookupProviders.java
Labels: Gradle

#5050 Made Gradle JavaCompilerProcessorFactory work in absence of a ClasspathProvider
  java/gradle.java/src/org/netbeans/modules/gradle/java/output/JavaCompilerProcessorFactory.java
Labels: Gradle

#5049 Use Project Dictated JVM for Gradle Discovery
  extide/gradle/src/org/netbeans/modules/gradle/GradleJavaCompatProblemsProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectConnection.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/execute/package-info.java
Labels: Gradle

#5006 Gradle: Support for proxy detection / autoconfiguration.
  extide/gradle/apichanges.xml
  extide/gradle/arch.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleNetworkProxySupport.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/options/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/options/GradleExperimentalSettings.java
  extide/gradle/src/org/netbeans/modules/gradle/options/NetworkProxySettings.java
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.java
Labels: enhancement, Gradle, 16u1

#5054 VSNetBeans changelog update for 16u1
  java/java.lsp.server/vscode/CHANGELOG.md
Labels: VSCode Extension, 16u1

#4930 [NETBEANS-4928] EAR deployment considers outputFileNameMapping Maven EAR plugin property
  enterprise/maven.j2ee/src/org/netbeans/modules/maven/j2ee/ear/EarImpl.java
Labels: Java EE/Jakarta EE, Maven

#4957 Avoid an `AssertionError` with Maven folds
  java/maven/src/org/netbeans/modules/maven/execute/CommandLineOutputHandler.java
  java/maven/src/org/netbeans/modules/maven/execute/cmd/ExecutionEventObject.java
Labels: Maven

#4820 Update asm from 9.3 to 9.4
  harness/apisupport.harness/build.xml
  java/lib.jshell.agent/nbproject/project.properties
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/templates/common.xml
  platform/libs.asm/external/asm-9.4-license.txt
  platform/libs.asm/external/binaries-list
  platform/libs.asm/nbproject/project.properties
  platform/libs.asm/nbproject/project.xml
Labels: Upgrade Library, Platform, ci:all-tests

#5074 Make Java Platform available on non-java Gradle Projects
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/LookupProviders.java
Labels: Gradle

#5019 Upgrade version numbers for the affected modules
  extide/gradle/manifest.mf
  java/gradle.java/nbproject/project.properties
Labels: ci:no-build, Release process

#4977 Have "Close All" and friends honor "Cancel" in save prompt dialogs
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/DocumentSwitcherTable.java
  platform/core.windows/src/org/netbeans/core/windows/actions/ActionUtils.java
Labels: Platform, UI

#5107 enable some important sounding java tests
  .github/workflows/main.yml
  java/java.lexer/nbproject/project.properties
  java/java.lexer/test/unit/data/testfiles/testInput.java.txt.tokens.txt
  java/javadoc/nbproject/project.properties
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/UtilitiesTest.java
Labels: Java, Maven, CI, tests, JavaDoc

#5046 Fix organize imports to not add record from same package
  java/java.source.base/src/org/netbeans/api/java/source/GeneratorUtilities.java
Labels: Java

#5045 FlatLaf: fix font of window title when using `--fontsize` argument (on Windows)
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/AllLFCustoms.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/Startup.java
Labels: Look and Feel, Platform

#5121 Fixing pattern matching for binding patterns
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/PatternMatchingInstanceof.hint
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/PatternMatchingInstanceof.test
  java/java.source.base/src/org/netbeans/modules/java/source/matching/CopyFinder.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/Utilities.java
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/UtilitiesTest.java
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/processor/JavaHintsAnnotationProcessorTest.java
  java/spi.java.hints/test/unit/src/org/netbeans/spi/java/hints/matching/CopyFinderTest.java
Labels: Java, tests

#5099 fix output window stacktrace parsing when mvnd is used.
  java/maven/src/org/netbeans/modules/maven/api/output/OutputUtils.java
  java/maven/src/org/netbeans/modules/maven/execute/CommandLineOutputHandler.java
  java/maven/src/org/netbeans/modules/maven/output/DependencyAnalyzeOutputProcessor.java
  java/maven/src/org/netbeans/modules/maven/output/JavaOutputListenerProvider.java
Labels: Maven

#5116 globally enable maven stacktrace processing.
  java/maven/src/org/netbeans/modules/maven/output/DefaultOutputProcessorFactory.java
  java/maven/src/org/netbeans/modules/maven/output/ExecPluginOutputListenerProvider.java
  java/maven/src/org/netbeans/modules/maven/output/JavaStacktraceOutputProcessor.java
Labels: Maven

#5124 Fixing project loading issues with micronaut complex project.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: Gradle

#5137 Prevent AOBE on empty, bad class files.
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBClassReader.java
Labels: Java

#5136 Last fix for NB16u1 from delivery -> release160
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: Release process

#5143 move webcommon job to JDK 11 and fix tests where needed.
  .github/workflows/main.yml
  webcommon/javascript2.jsdoc/test/unit/src/org/netbeans/modules/javascript2/jsdoc/JsDocCodeCompletionTest.java
Labels: JavaScript, CI, tests

#5144 move ide modules job to JDK 11 and fix tests where needed.
  .github/workflows/main.yml
  ide/db.dataview/test/unit/src/org/netbeans/modules/db/dataview/util/DateTypeTest.java
  ide/schema2beans/test/unit/data/TestContrivedApp.java
  ide/schema2beans/test/unit/src/tests/MainTest.java
  ide/xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/validator/WSDLSchemaValidatorTest.java
Labels: CI, tests

#4845 Upgrade ANTLRv4 Runtime to 4.11.1
  ide/languages.toml/nbproject/project.xml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/Bundle.properties
  ide/languages.toml/src/org/netbeans/modules/languages/toml/FontAndColors.xml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/LexerInputCharStream.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlLexer.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlTokenId.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlTypedTextInterceptor.java
  ide/libs.antlr4.runtime/external/antlr4-runtime-4.11.1-license.txt
  ide/libs.antlr4.runtime/external/antlr4-runtime-4.7.2-license.txt
  ide/libs.antlr4.runtime/external/binaries-list
  ide/libs.antlr4.runtime/manifest.mf
  ide/libs.antlr4.runtime/nbproject/project.properties
  ide/libs.antlr4.runtime/nbproject/project.xml
  ide/libs.tomlj/external/binaries-list
  ide/libs.tomlj/external/tomlj-1.1.0-license.txt
  ide/libs.tomlj/manifest.mf
  ide/libs.tomlj/nbproject/org-netbeans-libs-tomlj.sig
  ide/libs.tomlj/nbproject/project.properties
  ide/libs.tomlj/nbproject/project.xml
  java/languages.antlr/nbproject/project.xml
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3Lexer.java
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3Parser.java
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3ParserBaseListener.java
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3ParserListener.java
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4Lexer.java
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4Parser.java
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4ParserBaseListener.java
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4ParserListener.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/licenses/BSD-antlr-runtime4-2
  webcommon/javascript2.editor/nbproject/project.xml
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/parser/JsonParserTest.java
  webcommon/javascript2.json/build.xml
  webcommon/javascript2.json/nbproject/org-netbeans-modules-javascript2-json.sig
  webcommon/javascript2.json/nbproject/project.xml
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonBaseListener.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonBaseVisitor.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonLexer.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonListener.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonParser.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonParserBaseListener.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonParserBaseVisitor.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonParserListener.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonParserVisitor.java
  webcommon/javascript2.json/src/org/netbeans/modules/javascript2/json/parser/JsonVisitor.java
  webcommon/javascript2.json/tools/JsonLexer.g4
  webcommon/javascript2.json/tools/JsonParser.g4
  webcommon/javascript2.lexer/nbproject/project.xml
  webcommon/javascript2.model/nbproject/project.xml
Labels: Upgrade Library, ANTLR

#5142 [GH-5104] Ensure @use and @forward can be parsed in less files
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3.g
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Lexer.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Parser.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/Css3ParserLessTest.java
  ide/css.prep/src/org/netbeans/modules/css/prep/editor/CPStructureItem.java
Labels: CSS

#5013 Make more hints for java available
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/PrependedTextView.java
  ide/options.editor/src/org/netbeans/modules/options/editor/Bundle.properties
  ide/options.editor/src/org/netbeans/modules/options/editor/FolderBasedController.java
  ide/options.editor/src/org/netbeans/modules/options/editor/FolderBasedOptionPanel.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/DetectorTest.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/TestBase.java
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/java/editor/options/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/options/InlineHintsOptionsPanelController.java
  java/java.editor/src/org/netbeans/modules/java/editor/options/InlineHintsPanel.form
  java/java.editor/src/org/netbeans/modules/java/editor/options/InlineHintsPanel.java
  java/java.editor/src/org/netbeans/modules/java/editor/options/InlineHintsSettings.java
  java/java.editor/src/org/netbeans/modules/java/editor/resources/layer.xml
Labels: Java

#5155 Fix missing ICON_RESOURCE in git tag actions
  ide/git/src/org/netbeans/modules/git/ui/tag/CreateTagAction.java
  ide/git/src/org/netbeans/modules/git/ui/tag/ManageTagsAction.java
Labels: UI, git

#5160 tomcat5: Enable usage of javac release and remove internal class use (fix JDK8 and JDK17+)
  .github/workflows/main.yml
  enterprise/tomcat5/nbproject/project.properties
  enterprise/tomcat5/nbproject/project.xml
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/config/TomcatModuleConfiguration.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/deploy/TomcatManagerImpl.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/TomcatInstallUtil.java
Labels: DO NOT squash, enterprise, ci:dev-build

#5164 Add displayname for maven POM language and order languages in options dialog
  .github/workflows/main.yml
  ide/options.editor/src/org/netbeans/modules/options/editor/FolderBasedController.java
  ide/options.editor/src/org/netbeans/modules/options/editor/completion/CodeCompletionOptionsPanel.java
  ide/options.editor/src/org/netbeans/modules/options/indentation/FormattingPanel.form
  ide/options.editor/src/org/netbeans/modules/options/indentation/FormattingPanel.java
  ide/options.editor/src/org/netbeans/modules/options/util/LanguagesComparator.java
  ide/options.editor/test/unit/src/org/netbeans/modules/options/editor/EditorOptionsTest.java
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/Bundle.properties
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/layer.xml
  platform/options.api/src/org/netbeans/modules/options/OptionsCategoryImpl.java
Labels: Java, Maven, Platform, tests, ci:dev-build

#5157 Recognize nbjrt: protocol and locate JDK9+ src.zip
  java/java.platform/src/org/netbeans/modules/java/platform/queries/PlatformSourceForBinaryQuery.java
  java/java.platform/test/unit/src/org/netbeans/modules/java/platform/queries/PlatformSourceForBinaryQueryTest.java
Labels: Java, ci:all-tests

#5009 adds a basic maven dependency updater hint.
  java/maven.hints/src/org/netbeans/modules/maven/hints/layer.xml
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/Bundle.properties
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/HintsPanelLogic.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/PomModelUtils.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UpdateDependencyHint.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UpdateDependencyHintCustomizer.form
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UpdateDependencyHintCustomizer.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHint.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/spi/Configuration.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/spi/POMErrorFixBase.java
Labels: DO NOT squash, Maven, Editor, hints

#5111 upgrade exec-maven-plugin to 3.1.0.
  java/maven/src/org/netbeans/modules/maven/execute/defaultActionMappings.xml
  java/maven/test/unit/src/org/netbeans/modules/maven/api/customizer/ModelHandle2Test.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenExecutionTestBase.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/ModelRunConfigTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/runjar/nbactions-template.xml
  java/maven/test/unit/src/org/netbeans/modules/maven/spi/actions/ProvidedConfigurationsTest.java
Labels: Upgrade Library, Maven

#4788 [NETBEANS-4763] Handling switch expressions, case rules and exhaustive switches more correctly.
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/InfiniteRecursion.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/InfiniteRecursionTest.java
Labels: kind:bug, Java, hints
