Repository apache/netbeans, pull requests merged in 2022-05, with the labels that each got.

#4053 Micronaut Data finder completion should work for record entities.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
Labels: LSP

#4013 Do not include jdk.jshell in test mod list by default.
  nbbuild/default.xml
  nbbuild/templates/projectized.xml
Labels: kind:bug, tests

#4072 Allow tests to access JPDA. Pass mx path to the testsuite.
  java/java.mx.project/nbproject/project.properties
  java/java.mx.project/src/org/netbeans/modules/java/mx/project/SuiteActionProvider.java
  nbbuild/templates/projectized.xml
Labels: Java, tests

#4067 Additional fixes for Gradle reports
  extide/gradle/src/org/netbeans/modules/gradle/GradleReport.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
Labels: kind:bug, Gradle

#4070 new nb module project wizard improvements (merge v2)
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardPanelVisual.java
Labels: kind:bug, enhancement, Code cleanup

#4071 LSP: Javadoc code completion added.
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/javadoc/JavadocCompletionUtils.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionCollector.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionItem.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionQuery.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionTask.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/TagRegistery.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionQueryTest.java
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/javadoc/nbproject/project.xml
  java/javadoc/src/org/netbeans/modules/javadoc/hints/GenerateJavadocCollector.java
Labels: LSP

#4077 maven indexing: upgrade maven-indexer to 6.2.0 and remove workaround.
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-6.2.0-license.txt
  java/maven.indexer/external/indexer-core-6.2.0-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/CustomArtifactContextProducer.java
Labels: Code cleanup, Upgrade Library, Maven

#3343 [NETBEANS-6241] - Fixed switchToRuleSwitch Hint for BindingPattern and GuardedPattern
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Utilities.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertSwitchToRuleSwitchTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/VeryPretty.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/EstimatorFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/PositionEstimator.java
Labels: Need Squashing, Java

#4100 Repair failing TrufleSuiteTest.testParseTruffleSourcesWithoutError().
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/DumpStack.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/SuiteActionProviderTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/TrufleSuiteTest.java
Labels: tests

#4109 Prevent being created unexpected folders #4099
  php/php.project/src/org/netbeans/modules/php/project/ui/wizards/NewFileWizardIterator.java
Labels: PHP

#4106 upgrade nb-javac to 18.0.1.
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-18.0.1+10-license.txt
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-18.0.1+10-license.txt
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Java, Upgrade Library

#4097 Fix 'node id XXX already exists' error in vscode.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/LspTreeViewServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeItem.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/WeakIdentityMap.java
  platform/openide.nodes/src/org/openide/nodes/AsynchChildren.java
  platform/openide.nodes/src/org/openide/nodes/Children.java
  platform/openide.nodes/test/unit/src/org/openide/nodes/ChildFactoryTest.java
Labels: kind:bug, LSP, Platform

#4121 #4113: pretend that folders have no URI, so their icon can be customi…
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.lsp.server/vscode/src/explorer.ts
Labels: kind:bug, VSCode

#4108 Updating OCI libraries, adding DevOpsProject node
  enterprise/cloud.oracle/external/binaries-list
  enterprise/cloud.oracle/external/oci-java-sdk-2.27.0-license.txt
  enterprise/cloud.oracle/nbproject/project.properties
  enterprise/cloud.oracle/nbproject/project.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/CompartmentNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIManager.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/DevopsProject.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/DevopsProjectNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/resources/devops_project.svg
Labels: Upgrade Library

#4096 change default integration test goal action mapping to failsafe
  java/maven/src/org/netbeans/modules/maven/execute/defaultActionMappings.xml
Labels: Regression

#4128 LSP: Format Document and Format Selection actions implemented.
  groovy/groovy.editor/apichanges.xml
  groovy/groovy.editor/manifest.mf
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/lexer/LexUtilities.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyFormatter.java
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/OptionsExportModel.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
Labels: LSP

#4136 Fix maven groupId completion
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: Maven

#4120 Set --enable-preview for jtreg tests.
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ClassPathProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/CompilerOptionsQueryImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/TestRootDescription.java
Labels: Java

#4129 test release-drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: CI

#4095 maven indexing: local repo indexing optimizations
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/ClassDependencyIndexCreator.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/MatchWords.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/MatchWordsTest.java
Labels: performance, Maven

#4130 Avoid dependency on ReferenceQueue internals
  platform/openide.util.lookup/src/org/openide/util/lookup/implspi/ActiveQueue.java
Labels: kind:bug, do not merge, Platform

#4154 Correction of getOwningClass(), including a test.
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/ASTUtils.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyDeclarationFinder.java
  groovy/groovy.editor/test/unit/data/testfiles/declarationfinder/ClassWithInner.groovy
  groovy/groovy.editor/test/unit/src/org/netbeans/modules/groovy/editor/api/GroovyDeclarationFinderTest.java
Labels: Groovy

#4158 Autofocus new name field when renaming folder #4076
  ide/web.common.ui/src/org/netbeans/modules/web/common/ui/refactoring/RenamePanel.java
Labels: PHP

#4147 JavaWithMaven / POM Project
  java/maven/src/org/netbeans/modules/maven/newproject/TemplateUtils.java
  java/maven/src/org/netbeans/modules/maven/newproject/idenative/IDENativeMavenWizardIterator.java
  java/maven/src/org/netbeans/modules/maven/newproject/idenative/IDENativeTemplateHandler.java
  java/maven/src/org/netbeans/modules/maven/newproject/idenative/PomJavaNativeMWI.java
Labels: kind:bug, Maven, CI

#4157 Added support for properties backed up by functional interfaces
  platform/openide.nodes/apichanges.xml
  platform/openide.nodes/src/org/openide/nodes/PropertySupport.java
Labels: Platform

#3948 readme updates (fixed links) + new log/config/cache section.
  README.md
Labels: doc
