Repository apache/netbeans, pull requests merged in 2023-08, with the labels that each got.

#6280 #6278: discard newlines, collapse and trim whitespaces.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUI.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientWrapper.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/NotifyDescriptorAdapter.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/UtilsTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUITest.java
  java/java.lsp.server/vscode/CHANGELOG.md
Labels: LSP, VSCode Extension, priority:high

#6189 Use ex.printStackTrace(StringWriter) to avoid no message NPE
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: VSCode Extension

#6282 Fix Javadoc formatting error when using add/remove param hint.
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/AddTagFix.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/RemoveTagFix.java
Labels: Java, JavaDoc, ci:dev-build

#6286 LSP: Open sources from Jar files as read-only from their true locations.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/URITranslator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#6244 Feature: Added all enterprise modules with non failing unit tests
  .github/workflows/main.yml
  enterprise/glassfish.common/test/unit/src/org/netbeans/modules/glassfish/common/GlassfishInstanceProviderTest.java
  enterprise/glassfish.common/test/unit/src/org/netbeans/modules/glassfish/common/GlassfishInstanceTest.java
  enterprise/glassfish.common/test/unit/src/org/netbeans/modules/glassfish/common/ServerDetailsTest.java
  enterprise/glassfish.common/test/unit/src/org/netbeans/modules/glassfish/common/nodes/actions/EnableModulesActionTest.java
  enterprise/glassfish.common/test/unit/src/org/netbeans/modules/glassfish/common/wizards/AddServerLocationPanelTest.java
  enterprise/glassfish.common/test/unit/src/org/netbeans/modules/glassfish/common/wizards/RetrieverTest.java
  enterprise/glassfish.common/test/unit/src/org/netbeans/modules/glassfish/spi/UtilsTest.java
  enterprise/j2ee.common/test/unit/src/org/netbeans/modules/j2ee/common/ClasspathUtilTest.java
  enterprise/j2ee.common/test/unit/src/org/netbeans/modules/j2ee/common/J2eeProjectCapabilitiesTest.java
Labels: CI, enterprise

#6294 Fix issue (GH6290) in new DialogDisplayerImpl behaviour
  platform/core.windows/src/org/netbeans/core/windows/services/DialogDisplayerImpl.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbDialog.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbPresenter.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbDialogTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbPresenterTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NotifyLaterTest.java
Labels: Platform, ci:dev-build

#6275 Sync delivery to release190 for 19-rc4
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/annotation/EnterpriseBeansImpl.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/annotation/AnnotationHelpers.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/action/SendJMSGenerator.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/api/methodcontroller/EjbMethodController.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeVisualPanel2.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeWizardPanel2.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/mdb/MdbPropertiesPanelVisual.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/mdb/MessageDestinationUiSupport.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/session/SessionEJBWizardDescriptor.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/session/SessionEJBWizardPanel.java
  enterprise/j2ee.ejbverification/src/org/netbeans/modules/j2ee/ejbverification/rules/AsynchronousMethodInvocation.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/impl/metamodel/ObjectProviders.java
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLCloneableEditor.java
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLEditorSupport.java
  ide/lib.terminalemulator/src/org/netbeans/lib/terminalemulator/StreamTerm.java
  java/j2ee.persistenceapi/src/org/netbeans/modules/j2ee/persistenceapi/metadata/orm/annotation/EntityMappingsImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUI.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientWrapper.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/NotifyDescriptorAdapter.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/UtilsTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUITest.java
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/AddTagFix.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/RemoveTagFix.java
  platform/core.windows/src/org/netbeans/core/windows/services/DialogDisplayerImpl.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbDialog.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbPresenter.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbDialogTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbPresenterTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NotifyLaterTest.java
Labels: Release process

#6296 Start running enterprise tests on JDK 11
  .github/workflows/main.yml
  enterprise/j2ee.sun.dd/test/unit/src/org/netbeans/modules/j2ee/sun/dd/api/DDProviderTest.java
Labels: CI, tests, enterprise

#6267 Use Deque/ArrayDeque instead of Stack in RequestProcessor class
  platform/openide.util/src/org/openide/util/RequestProcessor.java
Labels: ci:all-tests

#6277 Do not mark test methods as unused.
  java/java.editor.base/nbproject/project.xml
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetector.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
  java/junit.ui/nbproject/project.xml
  java/junit.ui/src/org/netbeans/modules/junit/ui/actions/TestClassInfoTask.java
  java/spi.java.hints/apichanges.xml
  java/spi.java.hints/nbproject/project.properties
  java/spi.java.hints/nbproject/project.xml
  java/spi.java.hints/src/org/netbeans/spi/java/hints/unused/UsedDetector.java
Labels: Java, VSCode Extension, hints

#6276 Sync delivery to master after 19-rc4
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/annotation/EnterpriseBeansImpl.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/annotation/AnnotationHelpers.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/action/SendJMSGenerator.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/api/methodcontroller/EjbMethodController.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeVisualPanel2.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeWizardPanel2.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/mdb/MdbPropertiesPanelVisual.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/mdb/MessageDestinationUiSupport.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/session/SessionEJBWizardDescriptor.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/session/SessionEJBWizardPanel.java
  enterprise/j2ee.ejbverification/src/org/netbeans/modules/j2ee/ejbverification/rules/AsynchronousMethodInvocation.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/impl/metamodel/ObjectProviders.java
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLCloneableEditor.java
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLEditorSupport.java
  ide/lib.terminalemulator/src/org/netbeans/lib/terminalemulator/StreamTerm.java
  java/j2ee.persistenceapi/src/org/netbeans/modules/j2ee/persistenceapi/metadata/orm/annotation/EntityMappingsImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUI.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientWrapper.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/NotifyDescriptorAdapter.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/UtilsTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/LspTemplateUITest.java
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/AddTagFix.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/RemoveTagFix.java
  platform/core.windows/src/org/netbeans/core/windows/services/DialogDisplayerImpl.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbDialog.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbPresenter.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbDialogTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbPresenterTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NotifyLaterTest.java
Labels: Release process

#6307 Keep using Groovy DSL for Gradle
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
Labels: Gradle

#6285 redundant check for supported 'command' removed
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBCommandProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodeActionsProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodePropertiesProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/htmlui/WebView.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP, VSCode Extension

#6281 Allow to select 'Add Database Connection' or 'Add Oracle Autonomous DB' from database view toolbar
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#6298 use 'parameters' to find out if createProcedureInfo() was already invoked
  ide/db.metadata.model/src/org/netbeans/modules/db/metadata/model/jdbc/JDBCProcedure.java
Labels: enterprise, ci:all-tests

#6319 update npm module semver (moderate severity vulnerability)
  java/java.lsp.server/vscode/package-lock.json
Labels: VSCode Extension

#6308 Add nb-javac libwrapper tests.
  .github/workflows/main.yml
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/NoJavacHelperTest.java
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  java/libs.nbjavacapi/test/unit/src/org/netbeans/modules/nbjavac/api/NBJavacBrandingTest.java
Labels: Java, tests

#6315 Remove obsolete sun.zip.disableMemoryMapping JVM flag.
  java/performance/hudson/netbeans.conf
  nb/ide.launcher/netbeans.conf
Labels: Code cleanup, Platform

#6325 Clarify Java Platform Manager UI.
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/Bundle.properties
Labels: Java

#6249 JS: Fix handling of classes declared in anonymous functions
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/classInAnonymousFunction.js
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/classInAnonymousFunction.js.structure
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/classInAnonymousFunction2.js
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/classInAnonymousFunction2.js.structure
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/JsStructureScannerTest.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/javascript2.model/test/unit/data/testfiles/model/classInAnonymousFunction.js
  webcommon/javascript2.model/test/unit/data/testfiles/model/classInAnonymousFunction.js.model
  webcommon/javascript2.model/test/unit/data/testfiles/model/classInAnonymousFunction2.js
  webcommon/javascript2.model/test/unit/data/testfiles/model/classInAnonymousFunction2.js.model
  webcommon/javascript2.model/test/unit/src/org/netbeans/modules/javascript2/model/ModelTest.java
Labels: JavaScript

#6245 Enable validation and code completion for XML documents without schemaLocation
  ide/api.xml.ui/nbproject/project.xml
  ide/api.xml.ui/src/org/netbeans/spi/xml/cookies/SharedXMLSupport.java
  ide/api.xml.ui/test/unit/src/org/netbeans/spi/xml/cookies/SharedXMLSupportTest.java
  ide/api.xml.ui/test/unit/src/org/netbeans/spi/xml/cookies/data/ConformingNamespacesDocumentWithKnownSchema.xml
  ide/xml.catalog.ui/src/org/netbeans/modules/xml/catalog/Bundle.properties
  ide/xml.catalog.ui/src/org/netbeans/modules/xml/catalog/CatalogEntryPanel.form
  ide/xml.catalog.ui/src/org/netbeans/modules/xml/catalog/CatalogEntryPanel.java
  ide/xml.catalog/src/org/netbeans/modules/xml/catalog/CatalogEntityResolver.java
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/SecureURLResourceRetrieverTest.java
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/badssl.com-client.p12
  ide/xml.schema.completion/src/org/netbeans/modules/xml/schema/completion/util/CompletionContextImpl.java
Labels: enhancement, Code cleanup, DO NOT squash, UI, tests, ci:dev-build

#6268 Fix: Java completion parameter tooltip is not shown if previous parameter is TypeVariable
  java/java.completion/src/org/netbeans/modules/java/completion/JavaTooltipTask.java
Labels: Java

#6333 Configure latest released wrapper in new Gradle project
  extide/gradle/apichanges.xml
  extide/gradle/src/org/netbeans/modules/gradle/GradleJavaCompatProblemsProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
Labels: Gradle

#6312 Sync delivery to release190 for 19-rc5
  extide/gradle/apichanges.xml
  extide/gradle/src/org/netbeans/modules/gradle/GradleJavaCompatProblemsProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/Bundle.properties
Labels: do not merge, Release process

#6328 Fix: Enable to add docker instance via socket on mac with apple silicon
  ide/docker.api/src/org/netbeans/modules/docker/api/DockerSupport.java
Labels: Docker

#6345 LSP: cleanup of CodeActionsProvider.getCommands()
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBCommandProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TestClassGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ChangeMethodParametersRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/MoveRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PullUpRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PushDownRefactoring.java
Labels: LSP, VSCode Extension

#6331 LSP: Command to get document symbols added.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautStructureProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaStructureProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
Labels: LSP, VSCode Extension

#6352 LSP: Micronaut symbols position fixed.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautStructureProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
Labels: LSP, VSCode Extension, Micronaut

#6314 Sync delivery to master after 19-rc5
  extide/gradle/apichanges.xml
  extide/gradle/src/org/netbeans/modules/gradle/GradleJavaCompatProblemsProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/Bundle.properties
Labels: Release process

#6241 PHP: Improved validation when creating a line breakpoint
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/DbgpLineBreakpointCustomizerPanel.java
Labels: PHP

#6370 LSP: Scan for projects on server init.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP, VSCode Extension

#6375 Fix P + BR tag handling, LI is replaced by "* "
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/UtilsTest.java
Labels: LSP

#6371 Return the highest quality from all the loaders.
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleProjectLoaderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  extide/gradle/test/unit/data/projects/priming/broken1/build.gradle
  extide/gradle/test/unit/data/projects/priming/broken1/gradle.properties
  extide/gradle/test/unit/data/projects/priming/broken1/settings.gradle
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectImpl2Test.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectImplTest.java
  extide/gradle/test/unit/src/org/netbeans/modules/projectapi/nb/NbProjectManagerAccessor.java
  ide/projectui/src/org/netbeans/modules/project/ui/problems/BrokenReferencesCustomizer.java
Labels: Gradle

#6378 #6377: workaround vscode jar/nbjrt URI mangle
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/URITranslator.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/UtilsTest.java
Labels: LSP

#6380 LSP: Micronaut endpoints finder fixes.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/progress/TestProgressHandlerTest.java
Labels: LSP, VSCode Extension, Micronaut

#5338 Copy FlatLAF label positioning improvements into the Windows LAF
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/WinFlatEditorTabCellRenderer.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/WinFlatEditorTabDisplayerUI.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/WinFlatViewTabDisplayerUI.java
Labels: Look and Feel, Platform, os:windows

#6349 Remove little black line from new-project wizard.
  platform/openide.dialogs/src/org/openide/WizardDescriptor.java
Labels: Platform, UI

#6381 Fixed gap between checkboxes in php project testing settings
  php/php.project/src/org/netbeans/modules/php/project/ui/customizer/CustomizerTesting.java
Labels: PHP, UI

#6251 Prevent getting an incorrect type if a return type is `static` with PHPDoc tag(`@return`) #6247
  php/php.editor/src/org/netbeans/modules/php/editor/parser/PHPDocCommentParser.java
  php/php.editor/test/unit/data/testfiles/actions/testGH6247/testGH6247_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6247/testGH6247_01.php.importData
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/ImportDataCreatorTest.java
Labels: PHP

#6364 Fix code completion for fields with single line var doc #6359
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6359/gh6359.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6359/gh6359.php.testGH6359_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6359/gh6359.php.testGH6359_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6359/gh6359.php.testGH6359_03.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionGH6359Test.java
Labels: PHP

#6366 PHP: Added support for exception breakpoints.
  php/php.dbgp/licenseinfo.xml
  php/php.dbgp/nbproject/project.xml
  php/php.dbgp/src/META-INF/debugger/org.netbeans.spi.debugger.ui.BreakpointType
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/BreakpointModel.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/BreakpointRuntimeSetter.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/BreakpointsReader.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/Bundle.properties
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/DbgpExceptionBreakpointType.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/ExceptionBreakpoint.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/Utils.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/BrkpntCommandBuilder.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/BrkpntSetCommand.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/InitMessage.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/resources/class.png
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/resources/layer.xml
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/resources/php16Key.png
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/Bundle.properties
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/DbgpExceptionBreakpointPanel.form
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/DbgpExceptionBreakpointPanel.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/completion/ExceptionClassNbDebugEditorKit.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/completion/ExceptionCompletionItem.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/completion/ExceptionCompletionProvider.java
Labels: PHP

#6390 LSP: Prevent errors written to log on workspace symbol open.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP, VSCode Extension
