Repository apache/netbeans, pull requests merged in 2023-06, with the labels that each got.

#6008 Update issue report template for NB18
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#6007 Copy fake icons before JAR is created
  java/java.lsp.server/nbcode/integration/build.xml
Labels: LSP, VSCode Extension

#6009 upgrade vsce to @vscode/vsce version 2.19
  java/java.lsp.server/build.xml
Labels: LSP, VSCode Extension

#6013 Update netbeans_bug_report.yml for NB 18 (part 2!)
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#5910 Breakpoints in Scala sources in VSCode
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/breakpoints/NbBreakpoint.java
Labels: VSCode Extension

#6016 Enable sub-pixel anti-aliasing in splash screen progress text
  platform/core.startup/src/org/netbeans/core/startup/Splash.java
Labels: UI

#6002 Add support for GlassFish 7.0.5
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactory.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#6010 On JDKs without JavaFX/OpenFX libs.javafx has unsatisfiable package dependency
  platform/libs.javafx/manifest.mf
  platform/libs.javafx/nbproject/project.xml
  platform/libs.javafx/test/unit/src/org/netbeans/libs/javafx/IsFXEnabledTest.java
Labels: Cherry Pick, ci:all-tests, ci:dev-build

#5983 [JS] Fix ConcurrentModificationException scanning export class {} with multiple members
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/javascript2.model/test/unit/data/testfiles/structure/issueGH5184_03.js
  webcommon/javascript2.model/test/unit/data/testfiles/structure/issueGH5184_03.js.model
  webcommon/javascript2.model/test/unit/src/org/netbeans/modules/javascript2/model/ModelTest.java
Labels: Cherry Pick, JavaScript

#5993 Ensure tomcat basedirectory is configured and in a writeable location
  ide/httpserver/src/org/netbeans/modules/httpserver/HttpServerModule.java
Labels: Cherry Pick, ci:dev-build

#5995 [JS] Improve resolving this in ClassElements and in arrow functions
  webcommon/html.angular/nbproject/project.xml
  webcommon/html.angular/src/org/netbeans/modules/html/angular/editor/AngularJsCodeCompletion.java
  webcommon/html.angular/src/org/netbeans/modules/html/angular/model/AngularWhenInterceptor.java
  webcommon/html.angular/src/org/netbeans/modules/html/angular/model/ModelUtils.java
  webcommon/javascript2.editor/nbproject/project.xml
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsCompletionItem.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsSemanticAnalyzer.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/doc/JsDocumentationCompleter.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/index/JsIndexer.java
  webcommon/javascript2.editor/test/unit/data/testfiles/hints/issueGH5740.js
  webcommon/javascript2.editor/test/unit/data/testfiles/hints/issueGH5740.js.testIssueGH5740.hints
  webcommon/javascript2.editor/test/unit/data/testfiles/indexer/SelfreferencingFunction.js.indexed
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/issueGH4376.js
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/issueGH4376.js.structure
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/issueGH4376.js.testIssueGH4376_01.occurrences
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/issueGH4376.js.testIssueGH4376_02.occurrences
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/hint/JsGlobalIsNotDeclaredTest.java
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/navigation/MarkOccurrenceTest.java
  webcommon/javascript2.knockout/nbproject/project.xml
  webcommon/javascript2.knockout/src/org/netbeans/modules/javascript2/knockout/model/ModelUtils.java
  webcommon/javascript2.model/manifest.mf
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/JsElementImpl.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/JsFunctionImpl.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/api/IndexedElement.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/api/JsElement.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/api/ModelUtils.java
Labels: JavaScript, ci:dev-build

#5894 Ignore setTrace requests
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
Labels: LSP, VSCode Extension

#5970 Refactoring: Simplify `Profile`
  .github/workflows/main.yml
  enterprise/j2ee.core/nbproject/org-netbeans-modules-j2ee-core.sig
  enterprise/j2ee.core/src/org/netbeans/api/j2ee/core/Bundle.properties
  enterprise/j2ee.core/src/org/netbeans/api/j2ee/core/Profile.java
  enterprise/j2ee.core/test/unit/src/org/netbeans/api/j2ee/core/ProfileTest.java
Labels: Code cleanup, Java EE/Jakarta EE

#5536 Let the user choose main class, when none is open
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
Labels: LSP

#5722 Make sure the test roots are associated with the correct project(s) before attempting to run tests.
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ActionProviderImpl.java
Labels: Java

#5721 Adding a way to directly specify JTreg when no is known
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ActionProviderImpl.java
Labels: Java

#5877 JPDA Evaluator: Value, Description and Children should not be fetched on the EDT
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/EvaluatorTableModelFilter.java
Labels: Java

#5951 [JS] Fix handling of class constructor in classes in anonymous functions
  webcommon/javascript2.model/nbproject/project.xml
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/javascript2.model/test/unit/data/testfiles/model/classConstructor.js
  webcommon/javascript2.model/test/unit/data/testfiles/model/classConstructor.js.model
  webcommon/javascript2.model/test/unit/src/org/netbeans/modules/javascript2/model/ModelTest.java
  webcommon/libs.nashorn/manifest.mf
  webcommon/libs.nashorn/src/com/oracle/js/parser/Parser.java
  webcommon/libs.nashorn/src/com/oracle/js/parser/ir/FunctionNode.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/DumpingVisitor.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/ParserTest.java
Labels: JavaScript

#5173 Adding an option to disable unused hint for package private elements, ignoring elements that possibly are looked up using MethodHandles.Lookup.
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetector.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/UnusedDetectorTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnusedTest.java
Labels: Java, hints

#5922 maven remote index filters
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/MinimalArtifactInfoRemoteIndexCreator.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryPreferences.java
  java/maven/src/org/netbeans/modules/maven/options/Bundle.properties
  java/maven/src/org/netbeans/modules/maven/options/SettingsPanel.form
  java/maven/src/org/netbeans/modules/maven/options/SettingsPanel.java
Labels: performance, Maven, ci:dev-build

#6058 Adding DB configuration provider for NBLS
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/dbConfigurationProvider.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: Need Squashing, LSP, VSCode Extension

#6065 PHP: Changed the way null is parsed similar to true and false.
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/TrueFalseNull.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/nullableTypes_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/typedPropertiesClass.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/typedPropertiesTrait.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/constructorPropertyPromotion_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/mixedType_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/namedArguments_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/throwExpression_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/unionTypesTypes.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/testVariadicFunctions_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/testVariadicFunctions_02.pass
  php/php.editor/test/unit/data/testfiles/completion/documentation/guessingNullReturnType.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/guessingNullReturnType.php.testGuessingNullReturnType_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/guessingNullReturnType.php.testGuessingNullReturnType_02.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/nullConstant.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/nullConstant.php.testNullConstant_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/nullConstant.php.testNullConstant_02.html
  php/php.editor/test/unit/data/testfiles/completion/lib/tests235450/issue235450.php.testLowercase_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests235450/issue235450.php.testLowercase_04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/tests235450/issue235450.php.testLowercase_07.completion
  php/php.editor/test/unit/data/testfiles/parser/TrueFalseNull.php
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#6064 Tomcat 11 increased min supported Java version to 21
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/AntDeploymentProviderImpl.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#6057 Allow to re-enter username and password
  ide/db/src/org/netbeans/modules/db/explorer/action/ConnectAction.java
Labels: LSP, VSCode Extension

#6073 Fix multitabs underline at top tab rendering.
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/TabDataRenderer.java
Labels: Editor, Platform, UI, ci:dev-build

#5830 add user-select css property
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/DefaultCssEditorModule.java
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/properties/other.properties
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/properties/text.properties
  ide/css.editor/test/unit/src/org/netbeans/modules/css/editor/module/main/StandardPropertiesHelpResolverTest.java
Labels: CSS

#5998 #5978: Maven/priming optimization
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/maven.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/problems/ProblemReporterImpl.java
  java/maven/src/org/netbeans/modules/maven/problems/SanityBuildAction.java
Labels: Need Squashing, Maven, VSCode Extension

#6003 Configure regular "run" / JavaExec-style tasks for single-class execution. Retain runSingle for compatibility.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/action-mapping.xml
Labels: Gradle, VSCode Extension, enterprise

#6080 Apache LS does not add DB connection
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
Labels: LSP, VSCode Extension

#6015 Prefixing all code names of commands with 'nbls'.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBCommandProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/htmlui/WebView.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementAllAbstractMethodsAction.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientCapabilities.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/QuickOpen.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/SurroundWithHint.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TestClassGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ChangeMethodParametersRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/MoveRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PullUpRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PushDownRefactoring.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/dbConfigurationProvider.ts
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/launchConfigurations.ts
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
  java/java.lsp.server/vscode/src/test/suite/testutils.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/CodeLensProviderImpl.java
Labels: LSP, VSCode Extension

#6085 Attempting to avoid a crash when running a project/file when there's no DB connection.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
Labels: Java, LSP

#6081 Languages.hcl terraform semantic highlights
  ide/languages.hcl/build.xml
  ide/languages.hcl/licenseinfo.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/BasicHCLLexer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/Bundle.properties
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/FontAndColors.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLTokenId.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/TerraformLexer.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/layer.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformHCLLexer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformLanguage.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformParserResult.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformSemanticAnalyzer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/example.tf
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/tfvars/example.tfvars
Labels: HCL

#6114 Reverting "Prefixing all code names of commands with 'nbls'.", as more time will be needed to discuss, validate the patch and adjust to it.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBCommandProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/htmlui/WebView.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementAllAbstractMethodsAction.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientCapabilities.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/QuickOpen.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/SurroundWithHint.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TestClassGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ChangeMethodParametersRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/MoveRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PullUpRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PushDownRefactoring.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/dbConfigurationProvider.ts
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/launchConfigurations.ts
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
  java/java.lsp.server/vscode/src/test/suite/testutils.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/CodeLensProviderImpl.java
Labels: Java, LSP

#6102 shell env. variable cannot contain dot
  java/java.lsp.server/vscode/src/nbcode.ts
Labels: LSP, VSCode Extension

#6103 Add Oracle Autonomous DB - Select Compartment
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
Labels: LSP, VSCode Extension

#6089 Integrate upstream incremental index update optimizations and other improvements
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-7.0.3-license.txt
  java/maven.indexer/external/indexer-core-7.0.3-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/ArtifactDependencyIndexCreator.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/ClassDependencyIndexCreator.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/NBArtifactInfo.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/NBGroupInfo.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryUtil.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/ClassDependencyIndexCreatorTest.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImplTest.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/api/RepositoryQueriesTest.java
Labels: performance, Upgrade Library, Maven, ci:dev-build

#6070 Switch FlatLaf JTabbedPane tab type to card.
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
Labels: Look and Feel

#6086 Ensure common project actions are available in Rust projects
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/api/CargoCommand.java
  rust/rust.project/nbproject/project.xml
  rust/rust.project/src/org/netbeans/modules/rust/project/RustProject.java
  rust/rust.project/src/org/netbeans/modules/rust/project/RustProjectActionProvider.java
  rust/rust.project/src/org/netbeans/modules/rust/project/RustProjectOperations.java
  rust/rust.project/src/org/netbeans/modules/rust/project/layer.xml
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/RustProjectRootNode.java
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/actions/CargoExecutionCommand.java
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/actions/Command.java
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/actions/CopyCommand.java
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/actions/DeleteCommand.java
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/actions/GlobalCommand.java
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/actions/MoveCommand.java
  rust/rust.project/src/org/netbeans/modules/rust/project/ui/actions/RenameCommand.java
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/RustProjectOperationsTest.java
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Reference.Cargo.DottedName.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Reference.Cargo.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.DottedName.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.LiteralMultilineString.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.LiteralString.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.MultilineString.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.String.toml
Labels: Rust

#6091 Rust lexer has to be able to handle singular quotes '/"
  rust/rust.grammar/src/org/netbeans/modules/rust/grammar/RustTokenID.java
  rust/rust.grammar/src/org/netbeans/modules/rust/grammar/antlr4/RustLexer.java
  rust/rust.grammar/src/org/netbeans/modules/rust/grammar/antlr4/RustParser.java
  rust/rust.grammar/src/org/netbeans/modules/rust/grammar/antlr4/g4/RustLexer.g4
  rust/rust.grammar/test/unit/src/org/netbeans/modules/rust/grammar/antlr4/RustLexerTest.java
Labels: Rust

#5971 Adding org.eclipse.lsp4j.debug and org.eclipse.lsp4j.jsonrpc.debug dependencies to LSP Client
  ide/lsp.client/external/binaries-list
  ide/lsp.client/external/lsp4j-0.13.0-license.txt
  ide/lsp.client/nbproject/project.properties
  ide/lsp.client/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: LSP

#4929 [NETBEANS-4927] Maven EAR project fails to deploy on an app server
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/impl/InitialServerFileDistributor.java
Labels: Java EE/Jakarta EE

#6118 Fix some compiler warnings and did some cleanups for module `j2ee.core`
  enterprise/web.core/src/org/netbeans/modules/web/core/api/JspColoringData.java
  enterprise/web.core/src/org/netbeans/modules/web/core/jsploader/JspDataObject.java
  enterprise/web.core/src/org/netbeans/modules/web/core/jsploader/JspNode.java
  enterprise/web.core/src/org/netbeans/modules/web/core/jsploader/TagLibParseSupport.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/JspPaletteUtilities.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/GetPropertyCustomizer.form
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/GetPropertyCustomizer.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/IfCustomizer.form
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/IfCustomizer.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/SQLStmtCustomizer.form
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/SQLStmtCustomizer.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/SetPropertyCustomizer.form
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/SetPropertyCustomizer.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/UseBeanCustomizer.form
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/UseBeanCustomizer.java
  enterprise/web.core/src/org/netbeans/modules/web/jspcompiler/SmapResolver.java
  enterprise/web.core/src/org/netbeans/modules/web/taglib/TLDDataObject.java
  enterprise/web.core/src/org/netbeans/modules/web/taglib/TaglibCatalog.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/AttrDialog.form
  enterprise/web.core/src/org/netbeans/modules/web/wizards/AttrDialog.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/FinishableProxyWizardPanel.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/MappingEditor.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/TagHandlerIterator.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/ToolTipCombo.java
  enterprise/web.core/test/unit/src/org/netbeans/modules/web/core/TestWebModuleImplementation.java
  enterprise/web.core/test/unit/src/org/netbeans/modules/web/core/WebInjectionTargetQueryImplementationTest.java
  enterprise/web.core/test/unit/src/org/netbeans/modules/web/core/test/TestUtil.java
Labels: Code cleanup, enterprise

#6107 Dbalek/micronaut class generator fixes
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Bundle.properties
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEntity.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautRepository.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
Labels: Micronaut

#6123 Ability to navigate around Micronaut project by URI and beans.
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolSearcher.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/language/GroovyTypeSearcher.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
Labels: Micronaut

#6132 LSP: NPE from InputBoxStep fixed
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
Labels: LSP, VSCode Extension

#6136 Filtering symbols by query prefix.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolSearcher.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode Extension, Micronaut
