Repository apache/netbeans, pull requests merged in 2023-05, with the labels that each got.

#5906 Add metabuild json link via netbeans.apache.org
  .github/workflows/main.yml
  nbbuild/build.xml
Labels: build, Release process

#5911 Fix running and debugging single integration test (GH4513)
  java/maven/src/org/netbeans/modules/maven/execute/defaultActionMappings.xml
Labels: Maven

#5912 Fix unit test on single file being reported as integration test GH4587
  java/maven/src/org/netbeans/modules/maven/execute/DefaultReplaceTokenProvider.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/DefaultReplaceTokenProviderTest.java
Labels: Maven

#5913 add gradle JDK compatibility notice to readme build section.
  README.md
Labels: Gradle, doc, build, ci:no-build

#5898 Markdown viewer links
  ide/libs.flexmark/external/binaries-list
  ide/libs.flexmark/external/flexmark-0.62.2-license.txt
  ide/libs.flexmark/nbproject/project.properties
  ide/libs.flexmark/nbproject/project.xml
  ide/markdown/nbproject/project.xml
  ide/markdown/src/org/netbeans/modules/markdown/MarkdownViewerElement.java
  nbbuild/licenses/BSD-flexmark
Labels: Need Squashing, LSP, Upgrade Library, Editor

#5902 Do not attempt to remove unused binding variables for now.
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnusedTest.java
Labels: Java, hints, ci:all-tests

#5914 lower the OS level memory consumption of NB LSP
  java/java.lsp.server/script/etc/nbcode.conf
Labels: do not merge, LSP, VSCode Extension

#5869 OCI library upgrade
  enterprise/cloud.oracle/external/binaries-list
  enterprise/cloud.oracle/external/httpclient-4.5.13-license.txt
  enterprise/cloud.oracle/external/httpcore-4.4.13-license.txt
  enterprise/cloud.oracle/external/jakarta.activation-api-1.2.1-license.txt
  enterprise/cloud.oracle/external/javassist-3.25.0-GA-license.txt
  enterprise/cloud.oracle/external/oci-java-sdk-3.9.0-license.txt
  enterprise/cloud.oracle/external/resilience4j-1.7.1-license.txt
  enterprise/cloud.oracle/nbproject/project.properties
  enterprise/cloud.oracle/nbproject/project.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIProfile.java
  enterprise/websvc.restlib/external/binaries-list
  enterprise/websvc.restlib/external/jakarta.activation-api-1.2.1-license.txt
  enterprise/websvc.restlib/external/jakarta.annotation-api-2.1.1-license.txt
  enterprise/websvc.restlib/external/javax.annotation-api-1.3.2-license.txt
  enterprise/websvc.restlib/external/jersey-2.35-license.txt
  enterprise/websvc.restlib/nbproject/project.properties
  enterprise/websvc.restlib/nbproject/project.xml
  enterprise/websvc.restlib/src/org/netbeans/modules/websvc/swdp/Bundle.properties
  enterprise/websvc.restlib/src/org/netbeans/modules/websvc/swdp/swdp.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, VSCode Extension

#5930 Modified to ensure opened file focused.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#5802 Improving enable-preview Java fix
  java/ant.hints/manifest.mf
  java/ant.hints/src/org/netbeans/modules/ant/hints/errors/EnablePreviewAntProj.java
  java/ant.hints/src/org/netbeans/modules/ant/hints/layer.xml
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/LaunchProcess.java
  java/java.hints.legacy.spi/nbproject/project.xml
  java/java.hints.legacy.spi/src/org/netbeans/modules/java/hints/spi/preview/PreviewEnabler.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/errors/EnablePreview.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/EnablePreviewSingleSourceFile.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.hints/src/org/netbeans/modules/java/hints/resources/layer.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/maven.hints/nbproject/project.xml
  java/maven.hints/src/org/netbeans/modules/maven/hints/errors/Bundle.properties
  java/maven.hints/src/org/netbeans/modules/maven/hints/errors/EnablePreviewMavenProj.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/layer.xml
  java/maven.hints/test/unit/src/org/netbeans/modules/maven/hints/errors/EnablePreviewMavenProjTest.java
Labels: Java, LSP, Maven, Ant, hints, ci:all-tests, ci:dev-build

#5708 Service Console has been deprecated
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/database/DatabaseNode.java
Labels: LSP, VSCode Extension

#5597 Adding support for port offset when running WildFly
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/WildflyDeploymentManager.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/WildflyStartRunnable.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/commands/WildflyClient.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/commands/WildflyManagementAPI.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/AddServerLocationPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/AddServerPropertiesPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/AddServerPropertiesVisualPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/Bundle.properties
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/WildflyInstantiatingIterator.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/WildflyPluginProperties.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/WildflyPluginUtils.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/nodes/Bundle.properties
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/nodes/WildflyManagerNode.java
Labels: Java EE/Jakarta EE

#5935 fail proxy pac on windows if no URL
  platform/core.network/src/org/netbeans/core/network/proxy/ProxyAutoConfig.java
Labels: os:windows

#5599 VSCode keyword fix
  java/java.lsp.server/vscode/syntaxes/java.tmLanguage.json
Labels: LSP, VSCode Extension

#5939 fix wrong maven dependency versions in binariesembedded-list.
  java/maven.embedder/external/binariesembedded-list
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/CheckEmbeddedBinaries.java
Labels: Maven, priority:critical

#5931 upgrade to apache lucene 9.6.0 and maven-indexer 7.0.2 + more
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-7.0.2-license.txt
  java/maven.indexer/external/indexer-core-7.0.2-notice.txt
  java/maven.indexer/external/lucene-9.6.0-license.txt
  java/maven.indexer/external/lucene-9.6.0-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: Upgrade Library, Maven

#5938 VSCode: Stacktraces in test exceptions should be clickable.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
Labels: LSP, VSCode Extension

#5944 Sync delivery to release180 for 18-rc4
  java/maven.embedder/external/binariesembedded-list
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/CheckEmbeddedBinaries.java
Labels: Release process

#5945 Sync delivery to master after 18-rc4
  java/maven.embedder/external/binariesembedded-list
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/CheckEmbeddedBinaries.java
Labels: Release process

#4448 #4447 - Fix missing code folding blocks in java editor for conditions, loops and try/catch
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/fold/JavaElementFoldVisitor.java
  java/java.editor.lib/src/org/netbeans/editor/ext/java/JavaFoldManager.java
  java/java.editor/src/org/netbeans/modules/java/editor/fold/JavaElementFoldManager.java
  java/java.editor/src/org/netbeans/modules/java/editor/fold/JavaFoldTypeProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: enhancement, Java, Editor

#5963 VSCode: Various code completion enhancements.
  java/java.completion/src/org/netbeans/modules/java/completion/JavaDocumentationTask.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaHoverProvider.java
  java/java.editor/src/org/netbeans/modules/editor/java/Utilities.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/GoToSupportTest.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/J2SEPlatformDefaultJavadocImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.platform/src/org/netbeans/modules/java/platform/queries/PlatformJavadocForBinaryQuery.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementJavadoc.java
Labels: Java, LSP, VSCode Extension, JavaDoc

#5981 VSCode: Completion for annonymous inner classes improved.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/src/org/netbeans/api/lsp/Completion.java
  ide/api.lsp/src/org/netbeans/modules/lsp/CompletionAccessor.java
  ide/api.lsp/src/org/netbeans/spi/lsp/CompletionCollector.java
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementAllAbstractMethodsAction.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: Java, LSP, VSCode Extension

#5957 Cleanup the use of Double primitive wrapper
  enterprise/j2ee.sun.ddui/src/org/netbeans/modules/j2ee/sun/validation/constraints/NumberConstraint.java
  enterprise/j2ee.sun.ddui/src/org/netbeans/modules/j2ee/sun/validation/constraints/RangeConstraint.java
  enterprise/javaee.project/src/org/netbeans/modules/javaee/project/api/ant/ui/wizard/ImportBuildfile.java
  ide/api.debugger/src/org/netbeans/api/debugger/Properties.java
  ide/bugtracking.commons/src/org/netbeans/modules/bugtracking/issuetable/NodeTableModel.java
  ide/db.dataview/src/org/netbeans/modules/db/dataview/util/DBReadWriteHelper.java
  ide/db/libsrc/org/netbeans/lib/ddl/util/PListReader.java
  ide/db/src/org/netbeans/modules/db/explorer/dlg/CreateTableDialog.java
  ide/editor.completion/src/org/netbeans/modules/editor/completion/PatchedHtmlRenderer.java
  ide/schema2beans/src/org/netbeans/modules/schema2beans/Common.java
  ide/schema2beans/src/org/netbeans/modules/schema2beans/GraphManager.java
  java/classfile/src/org/netbeans/modules/classfile/CPDoubleInfo.java
  java/form/src/org/netbeans/modules/form/layoutdesign/LayoutDesigner.java
  java/j2ee.persistence/test/unit/src/org/netbeans/test/stub/api/Stub.java
  java/java.j2seproject/src/org/netbeans/modules/java/j2seproject/ui/wizards/ImportFoldersPanel.java
  javafx/javafx2.samples/SwingInterop/src/swinginterop/SampleTableModel.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/systemoptions/SerParser.java
  platform/core.windows/src/org/netbeans/core/windows/view/ViewHelper.java
  platform/core.windows/src/org/netbeans/core/windows/view/ui/MultiSplitPane.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/BaseTabLayoutModel.java
  platform/openide.awt/src/org/openide/awt/HtmlRenderer.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/IndexedPropertyEditor.java
  platform/openide.explorer/src/org/openide/explorer/view/NodeTableModel.java
  platform/openide.filesystems/src/org/openide/filesystems/XMLMapAttr.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/ClassesListController.java
  websvccommon/websvc.saas.codegen/src/org/netbeans/modules/websvc/saas/codegen/model/ParameterInfo.java
Labels: Code cleanup, ci:all-tests

#5991 Enable Micronaut HyperlinkProviders - deadlocks fixed.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/MicronautConfigUtilities.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautHoverProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hyperlink/MicronautConfigHyperlinkProvider.java
Labels: Java, LSP, VSCode Extension, Micronaut

#5982 Update external batik lib from 1.14 to 1.16.
  platform/libs.batik.read/external/batik-1.16-license.txt
  platform/libs.batik.read/external/batik-1.16-notice.txt
  platform/libs.batik.read/external/binaries-list
  platform/libs.batik.read/external/xmlgraphics-commons-2.7-license.txt
  platform/libs.batik.read/external/xmlgraphics-commons-2.7-notice.txt
  platform/libs.batik.read/nbproject/project.properties
  platform/libs.batik.read/nbproject/project.xml
Labels: Upgrade Library, ci:all-tests
