Repository apache/netbeans, pull requests merged in 2023-10, with the labels that each got.

#6440 [cnd] add C17, C23, C++20, C++23 language standards
  cnd/cnd.api.project/src/org/netbeans/modules/cnd/api/project/NativeFileItem.java
  cnd/cnd.api.project/src/org/netbeans/modules/cnd/api/project/NativeProjectSupport.java
  cnd/cnd.lexer/src/org/netbeans/cnd/api/lexer/CndLexerUtilities.java
  cnd/cnd.lexer/src/org/netbeans/cnd/api/lexer/CppTokenId.java
  cnd/cnd.lexer/test/unit/src/org/netbeans/modules/cnd/lexer/CppLexerBatchTestCase.java
  cnd/cnd.makeproject.source.bridge/src/org/netbeans/modules/cnd/makeproject/source/bridge/DocumentLanguageFlavorProvider.java
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/customizer/Bundle.properties
  cnd/cnd.makeproject.ui/src/org/netbeans/modules/cnd/makeproject/ui/wizards/PanelProjectLocationVisual.java
  cnd/cnd.makeproject/src/org/netbeans/modules/cnd/makeproject/DefaultSystemSettingsImpl.java
  cnd/cnd.makeproject/src/org/netbeans/modules/cnd/makeproject/NativeProjectProvider.java
  cnd/cnd.makeproject/src/org/netbeans/modules/cnd/makeproject/api/configurations/Bundle.properties
  cnd/cnd.makeproject/src/org/netbeans/modules/cnd/makeproject/api/configurations/CCCompilerConfiguration.java
  cnd/cnd.makeproject/src/org/netbeans/modules/cnd/makeproject/api/configurations/CCompilerConfiguration.java
  cnd/cnd.makeproject/src/org/netbeans/modules/cnd/makeproject/api/configurations/Item.java
  cnd/cnd.makeproject/src/org/netbeans/modules/cnd/makeproject/configurations/ConfigurationMakefileWriter.java
  cnd/cnd.toolchain/src/org/netbeans/modules/cnd/toolchain/compilerset/ToolchainManagerImpl.java
  cnd/cnd.toolchain/src/org/netbeans/modules/cnd/toolchain/resources/toolchaindefinition/GNU_c.xml
  cnd/cnd.toolchain/src/org/netbeans/modules/cnd/toolchain/resources/toolchaindefinition/GNU_cpp.xml
  cnd/cnd.toolchain/test/unit/src/org/netbeans/modules/cnd/toolchain/api/toolchaindefinition.xsd
  cnd/cnd.utils/src/org/netbeans/modules/cnd/utils/CndLanguageStandards.java
Labels: C/C++

#6498 Micronaut: Add missing path variable parameter fix.
  .github/workflows/main.yml
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hints/AddArgForRouteVar.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
  java/java.hints.legacy.spi/nbproject/project.properties
  java/java.hints.legacy.spi/nbproject/project.xml
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/CreatorBasedLazyFixList.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProvider.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/infrastructure/CreatorBasedLazyFixListTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/infrastructure/LazyHintComputationTest.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: Java, LSP, Micronaut

#6518 update npm module debug (moderate severity vulnerability)
  java/java.lsp.server/vscode/package-lock.json
Labels: LSP, VSCode Extension

#6517 Update bouncycastle to jdk18on-1.76.
  ide/bcpg/external/bcpg-jdk18on-1.76-license.txt
  ide/bcpg/external/binaries-list
  ide/bcpg/nbproject/project.properties
  ide/bcpg/nbproject/project.xml
  ide/bcpkix/external/bcpkix-jdk18on-1.76-license.txt
  ide/bcpkix/external/binaries-list
  ide/bcpkix/nbproject/project.properties
  ide/bcpkix/nbproject/project.xml
  ide/bcprov/external/bcprov-jdk18on-1.76-license.txt
  ide/bcprov/external/binaries-list
  ide/bcprov/nbproject/project.properties
  ide/bcprov/nbproject/project.xml
  ide/bcutil/external/bcutil-jdk18on-1.76-license.txt
  ide/bcutil/external/binaries-list
  ide/bcutil/nbproject/project.properties
  ide/bcutil/nbproject/project.xml
Labels: Upgrade Library, ci:all-tests

#6506 Update to maven-indexer 7.0.4 and lucene 9.8.0.
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-7.0.4-license.txt
  java/maven.indexer/external/lucene-9.8.0-license.txt
  java/maven.indexer/external/lucene-9.8.0-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
Labels: Upgrade Library, Maven

#6520 Build with dependencies before main action
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/maven-actions-override.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/micronaut-actions-override.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/spring-actions-override.xml
  java/maven/src/org/netbeans/modules/maven/execute/ReactorChecker.java
Labels: Maven, VSCode Extension, enterprise, Micronaut

#6415 Add support for String Templates.
  java/java.completion/src/org/netbeans/modules/java/completion/BaseTask.java
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/templateStart.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/10/templateStart.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/14/templateStart.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/19/templateStart.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/21/stringContent.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/21/templateStart.pass
  java/java.completion/test/unit/data/org/netbeans/modules/java/completion/data/StringTemplates.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/StringTemplatesTest.java
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/editor/java/JavaBracesMatcher.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaKit.java
  java/java.editor/src/org/netbeans/modules/editor/java/TypingCompletion.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaBracesMatcherTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/TypingCompletionUnitTest.java
  java/java.lexer/apichanges.xml
  java/java.lexer/manifest.mf
  java/java.lexer/src/org/netbeans/api/java/lexer/JavaStringTokenId.java
  java/java.lexer/src/org/netbeans/lib/java/lexer/JavaCharacterTokenId.java
  java/java.lexer/src/org/netbeans/lib/java/lexer/JavaLexer.java
  java/java.lexer/src/org/netbeans/lib/java/lexer/JavaStringLexer.java
  java/java.lexer/test/unit/src/org/netbeans/lib/java/lexer/JavaLexerBatchTest.java
  java/java.lexer/test/unit/src/org/netbeans/lib/java/lexer/JavaLexerStateTest.java
Labels: Java, ci:dev-build

#6391 FlatLaf: Enable Window decoration option for Linux
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLFCustoms.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafPrefs.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/Startup.java
Labels: Platform, UI, os:linux, ci:dev-build

#6533 Update bundled maven to 3.9.5.
  java/maven.embedder/external/apache-maven-3.9.5-bin-license.txt
  java/maven.embedder/external/apache-maven-3.9.5-bin-notice.txt
  java/maven.embedder/external/apache-maven-3.9.5-epl-license.txt
  java/maven.embedder/external/apache-maven-3.9.5-javax.annotation-api-license.txt
  java/maven.embedder/external/apache-maven-3.9.5-slf4j-license.txt
  java/maven.embedder/external/binaries-list
  java/maven.embedder/external/binariesembedded-list
  java/maven.embedder/nbproject/project.properties
  java/maven.embedder/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, Maven, ci:all-tests, ci:dev-build

#6543 CI: Enable java.editor.base tests.
  .github/workflows/main.yml
Labels: Java, CI, tests

#6512 PHP: Fixed element positioning in code completion settings for php
  php/php.editor/src/org/netbeans/modules/php/editor/options/CodeCompletionPanel.form
  php/php.editor/src/org/netbeans/modules/php/editor/options/CodeCompletionPanel.java
Labels: PHP, UI

#6441 [cnd] revive go to header/source action from cnd.navigation
  cnd/cnd.editor/src/org/netbeans/modules/cnd/editor/cplusplus/Bundle.properties
  cnd/cnd.editor/src/org/netbeans/modules/cnd/editor/cplusplus/CppSwitchAction.java
  cnd/cnd.editor/src/org/netbeans/modules/cnd/editor/layer.xml
  cnd/cnd.editor/src/org/netbeans/modules/cnd/editor/resources/DefaultKeyBindings.xml
  cnd/cnd.editor/src/org/netbeans/modules/cnd/editor/resources/cplusplus/header_source_icon.png
Labels: C/C++

#6551 Update JavaFX wizard names and move DukeScript wizard to a better position.
  javafx/javafx2.kit/src/org/netbeans/modules/javafx2/kit/JavaFXWizardIterator.java
  javafx/maven.htmlui/src/org/netbeans/modules/maven/htmlui/DukeScriptWizard.java
Labels: Java, JavaFX, UI

#6495 Remove TreeShims mechanism.
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/Utilities.java
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertToSwitchPatternInstanceOf.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToSwitchPatternInstanceOfTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShims.java
  java/java.source.base/src/org/netbeans/modules/java/source/TreeShimsCopier.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/ImmutableDocTreeTranslator.java
Labels: Code cleanup, Java

#5843 AnnotationProcessors shouldn't set the SourceVersion unless required
  php/languages.neon/src/org/netbeans/modules/languages/neon/processors/MethodCompletionProviderProcessor.java
Labels: Code cleanup, ci:all-tests

#6355 Improve cluster activation UX
  ergonomics/ide.ergonomics/nbproject/project.properties
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/Utilities.java
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/ConfigurationPanel.form
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/ConfigurationPanel.java
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/FindComponentModules.java
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/fod/ModulesActivator.java
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/newproject/Bundle.properties
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/newproject/ContentPanel.form
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/newproject/ContentPanel.java
  ergonomics/ide.ergonomics/src/org/netbeans/modules/ide/ergonomics/newproject/DescriptionStep.java
Labels: performance, Platform, UI, ci:all-tests, ci:dev-build

#6553 Update Gradle Tooling API to 8.4
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.4-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.4-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Gradle

#6565 upgrade codesnippet-doclet
  nbbuild/external/binaries-list
  nbbuild/external/codesnippet-doclet-1.0-license.txt
  nbbuild/javadoctools/template.xml
Labels: JavaDoc

#6528 Read initial git branch name from user config.
  ide/libs.git/src/org/netbeans/libs/git/jgit/Utils.java
Labels: git, ci:dev-build

#6567 fix link in apichanges for api.lsp
  ide/api.lsp/apichanges.xml
Labels: ci:no-build

#6559 Limit auto-import to recent versions
  nb/o.n.upgrader/src/org/netbeans/upgrade/AutoUpgrade.java
  nbbuild/antsrc/org/netbeans/nbbuild/ReleaseJsonProperties.java
Labels: Code cleanup, ci:dev-build

#6562 Update platform default splash to remove NB10 reference
  platform/core.startup/src/org/netbeans/core/startup/Bundle.properties
  platform/core.startup/src/org/netbeans/core/startup/splash.gif
  platform/core.startup/src/org/netbeans/core/startup/splash_dark.gif
Labels: Platform

#6561 Improve inline-hints settings, add keybinding, disable by default.
  ide/editor.actions/src/org/netbeans/modules/editor/actions/ShowInlineHintsAction.java
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/DocumentViewOp.java
  ide/editor/src/org/netbeans/modules/editor/resources/NetBeans-keybindings.xml
  java/java.editor/src/org/netbeans/modules/java/editor/options/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/options/InlineHintsPanel.form
  java/java.editor/src/org/netbeans/modules/java/editor/options/InlineHintsPanel.java
  java/java.editor/src/org/netbeans/modules/java/editor/options/InlineHintsSettings.java
Labels: Java, ci:dev-build

#6213 Compute JavaDoc URLs lazily
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/J2SEPlatformDefaultJavadocImpl.java
Labels: Code cleanup, Java

#6564 Display `Faces VERSION` instead of `JSF VERSION`
  enterprise/web.jsfapi/src/org/netbeans/modules/web/jsfapi/api/JsfVersion.java
  enterprise/web.jsfapi/test/unit/src/org/netbeans/modules/web/jsfapi/api/JsfVersionTest.java
Labels: Java EE/Jakarta EE

#6555 Git: enable "replace invalid branch characters" by default
  ide/git/src/org/netbeans/modules/git/GitModuleConfig.java
Labels: UI, git

#6502 Update profiler native binaries to released 1-24aefa9
  .gitignore
  profiler/lib.profiler/build.xml
  profiler/lib.profiler/external/binaries-list
  profiler/lib.profiler/external/profiler-external-binaries-1-24aefa9-license.txt
Labels: profiler, ci:dev-build

#6521 Add native execution binaries for macOS arm64 (1-24aefa9)
  ide/dlight.nativeexecution/external/binaries-list
  ide/dlight.nativeexecution/external/nativeexecution-external-binaries-1-24aefa9-license.txt
  ide/dlight.nativeexecution/nbproject/project.properties
Labels: ci:dev-build

#6542 Add support for GlassFish 7.0.6, 7.0.7, and 7.0.9
  enterprise/glassfish.common/nbproject/org-netbeans-modules-glassfish-common.sig
  enterprise/glassfish.common/nbproject/project.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.eecommon/nbproject/org-netbeans-modules-glassfish-eecommon.sig
  enterprise/glassfish.eecommon/nbproject/project.properties
  enterprise/glassfish.javaee/nbproject/project.properties
  enterprise/glassfish.tooling/nbproject/project.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactory.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV7_0_9.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/JavaSEPlatform.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#6529 Do not create repository and entity classes from template
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEntity.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautRepository.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
Labels: LSP, VSCode Extension, Micronaut

#6558 Do not ask for proxies on each project.
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleNetworkProxySupport.java
  extide/gradle/src/org/netbeans/modules/gradle/options/GradleExperimentalSettings.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenProxySupport.java
  java/maven/src/org/netbeans/modules/maven/options/MavenSettings.java
Labels: Gradle, Maven

#6548 #6536, #6537: avoid stack overflow, catch missing artifacts to be downloaded.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: Java, Gradle, VSCode Extension, Micronaut

#6552 #6525: maven execution should setup LegacySupport before running Maven
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/MavenEmbedder.java
Labels: Maven

#6575 Layout fixes for the project problems warning dialog.
  ide/projectui/src/org/netbeans/modules/project/ui/problems/BrokenReferencesAlertPanel.form
  ide/projectui/src/org/netbeans/modules/project/ui/problems/BrokenReferencesAlertPanel.java
Labels: UI, ci:dev-build

#6583 use clusters.config.release.list instead of clusters.config.full.list
  java/java.lsp.server/build.xml
Labels: LSP, VSCode Extension

#6584 Sync delivery to release200 (vsix fix)
  java/java.lsp.server/build.xml
Labels: ci:no-build, Release process

#6602 WildFly - ConcurrentHashMap over synchronized collections and some improvements
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/WildflyClassLoader.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/WildflyDeploymentManager.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/config/WildflyMessageDestinationManager.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/customizer/WildflyTabVisualPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/JBossJaxWsStack.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/WildflyJ2eePlatformFactory.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/WildflyStartServer.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/AddServerLocationPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/AddServerLocationVisualPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/AddServerPropertiesPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/AddServerPropertiesVisualPanel.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/WildflyInstantiatingIterator.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/WildflyPluginUtils.java
Labels: Java EE/Jakarta EE, enterprise, ci:all-tests

#6597 Update ASM from 9.5 to 9.6
  harness/apisupport.harness/build.xml
  java/lib.jshell.agent/nbproject/project.properties
  java/maven/build.xml
  nbbuild/templates/common.xml
  platform/libs.asm/external/asm-9.6-license.txt
  platform/libs.asm/external/binaries-list
  platform/libs.asm/nbproject/project.properties
  platform/libs.asm/nbproject/project.xml
Labels: Upgrade Library, Platform, ci:all-tests

#6218 Prefixing all code names of commands with 'nbls'.
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectAuditCommand.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectMetadataCommand.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBCommandProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/AttachConfigurationCompletion.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/AttachConfigurations.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/ConfigurationAttributes.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/NbAttachRequestHandler.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodeActionsProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodePropertiesProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/htmlui/WebView.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeActionsProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ConstructorGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/DelegateMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/EqualsHashCodeGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/GetterSetterGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementAllAbstractMethodsAction.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementOverrideMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LaunchConfigurationCompletion.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LoggerGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientCapabilities.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/OrganizeImportsCodeAction.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ProjectConfigurationCompletion.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/QuickOpen.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/SurroundWithHint.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TestClassGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ToStringGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ChangeMethodParametersRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/ExtractSuperclassOrInterfaceRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/MoveRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PullUpRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/PushDownRefactoring.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/EnablePreviewSingleSourceFile.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/dbConfigurationProvider.ts
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/launchConfigurations.ts
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
  java/java.lsp.server/vscode/src/test/suite/testutils.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/CodeLensProviderImpl.java
Labels: LSP, VSCode Extension

#6589 Fix Gradle version change in wrapper.properties
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDistributionProviderImpl.java
Labels: Gradle

#6590 JDK Downloader: fix current GA/EA values
  java/java.disco/src/org/netbeans/modules/java/disco/Client.java
  java/java.disco/src/org/netbeans/modules/java/disco/SelectPackagePanel.java
Labels: Java, ci:dev-build

#6594 Fix Git show history regression.
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/LogCommand.java
Labels: Regression, git, ci:dev-build

#6598 Try to close Gradle Daemons on exit.
  extide/gradle/src/org/netbeans/modules/gradle/GradleConnectorManager.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectConnection.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleDaemon.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/api/GradleBaseProjectTest.java
Labels: Gradle

#6605 Update FlatLaf from 3.2.1 to 3.2.5
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.2.5-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Upgrade Library, Look and Feel, ci:dev-build

#6593 Fix unnamed main method detection
  java/java.source.base/src/org/netbeans/api/java/source/SourceUtils.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/SourceUtilsTest.java
Labels: Java, hints, ci:dev-build

#6514 Priming build and reload improvements.
  .github/workflows/main.yml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/maven.properties
  java/java.mx.project/nbproject/project.properties
  java/maven/apichanges.xml
  java/maven/build.xml
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/NbArtifactFixer.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/api/NbMavenProject.java
  java/maven/src/org/netbeans/modules/maven/classpath/AbstractProjectClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/ClassPathProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/CompileClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/customizer/BasicInfoPanel.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/execute/ReactorChecker.java
  java/maven/src/org/netbeans/modules/maven/modelcache/MavenProjectCache.java
  java/maven/src/org/netbeans/modules/maven/nodes/AddDependencyPanel.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/problems/ProblemReporterImpl.java
  java/maven/src/org/netbeans/modules/maven/problems/SanityBuildAction.java
  java/maven/src/org/netbeans/modules/maven/spi/newproject/CreateProjectBuilder.java
  java/maven/test/unit/data/projects/multiproject/democa/.gitignore
  java/maven/test/unit/data/projects/multiproject/democa/LICENSE
  java/maven/test/unit/data/projects/multiproject/democa/lib/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/oci/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/pom.xml
  java/maven/test/unit/src/org/netbeans/modules/maven/NbMavenProjectImpl2Test.java
  java/maven/test/unit/src/org/netbeans/modules/maven/NbMavenProjectImplTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenExecMonitor.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MockMavenExec.java
  java/maven/test/unit/src/org/netbeans/modules/maven/problems/PrimingActionTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/spi/actions/ProvidedConfigurationsTest.java
  nbbuild/templates/common.xml
Labels: Maven, ci:all-tests

#6591 Micronaut Template for Data repository - add support for Pageable
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautRepository.java
Labels: LSP, VSCode Extension, enterprise, Micronaut

#6619 Formatting options UI: fix naming panel layout
  java/java.source/src/org/netbeans/modules/java/ui/FmtNaming.form
  java/java.source/src/org/netbeans/modules/java/ui/FmtNaming.java
Labels: Java, UI, ci:dev-build

#6618 Be more friendly on 'runSingle' when 'run' task is missing.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
Labels: Gradle

#6579 CI: Add build-from-src-zip job
  .github/workflows/main.yml
Labels: CI, VSCode Extension

#6554 Enable previously disabled tests for the java.hints module.
  java/java.hints/nbproject/project.properties
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/AssignResultToVariableTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/HideFieldByVarTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnbalancedTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/CreateMethodTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/ErrorHintsTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/VarCompDeclarationTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/introduce/IntroduceHintTest.java
Labels: Java, CI, tests, hints

#6617 Move platform jobs to 11
  .github/workflows/main.yml
  platform/core.multiview/test/unit/src/org/netbeans/core/multiview/MultiViewProcessorTest.java
  platform/favorites/src/org/netbeans/modules/favorites/Actions.java
  platform/favorites/test/unit/src/org/netbeans/modules/favorites/api/FavoritesTest.java
  platform/openide.awt/test/unit/src/org/netbeans/modules/openide/awt/ActionProcessorTest.java
  platform/openide.awt/test/unit/src/org/netbeans/modules/openide/openide/awt/StatefulActionProcessorTest.java
  platform/openide.filesystems/src/org/openide/filesystems/annotations/LayerBuilder.java
  platform/openide.filesystems/test/unit/src/org/openide/filesystems/annotations/LayerBuilderTest.java
  platform/openide.util.lookup/test/unit/src/org/openide/util/test/AnnotationProcessorTestUtils.java
  platform/options.api/test/unit/src/org/netbeans/modules/options/OptionsPanelControllerProcessorTest.java
Labels: DO NOT squash, Gradle, CI, Platform

#6629 [NETBEANS-6599] Do not throw a CompletionFailure for empty java.lang package outside of java.base.
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBClassFinder.java
  java/lib.nbjavac/test/unit/src/org/netbeans/lib/nbjavac/services/NBClassFinderTest.java
Labels: Java

#6635 Assignments to parameters to record compact constructors should not be marked as unused.
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/UnusedAssignmentOrBranch.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnusedAssignmentOrBranchTest.java
Labels: Java, hints

#6641 [NETBEANS-6638]: Avoid adding a space after opening curly brace.
  java/java.editor/src/org/netbeans/modules/editor/java/TypingCompletion.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/TypingCompletionUnitTest.java
Labels: Java

#6643 PHP: Fix autocomplete for exception class when adding exception breakpoint.
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/completion/ExceptionCompletionItem.java
Labels: PHP

#6646 [NETBEANS-5659] Collection.forEach is always a read from the collection.
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unbalanced.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnbalancedTest.java
Labels: Java, hints
