Repository apache/netbeans, pull requests merged in 2023-12, with the labels that each got.

#6770 LSP: Adding CodaActionProvider API.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/src/org/netbeans/api/lsp/CodeAction.java
  ide/api.lsp/src/org/netbeans/api/lsp/LazyCodeAction.java
  ide/api.lsp/src/org/netbeans/spi/lsp/CodeActionProvider.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBConnectionProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodePropertiesProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeActionsProvider2CommandProviderBridge.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeActionsProvider2LspApiBridge.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP, VSCode Extension

#6691 Prevent endless recursion, limit traversal depth.
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoModel.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansToolingPlugin.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/internal/NbProjectInfo.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectProblemProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleReport.java
  extide/gradle/src/org/netbeans/modules/gradle/api/NbGradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  extide/gradle/test/unit/data/projects/spotbugs/.gitignore
  extide/gradle/test/unit/data/projects/spotbugs/build.gradle
  extide/gradle/test/unit/data/projects/spotbugs/settings.gradle
  extide/gradle/test/unit/data/projects/spotbugs/src/main/java/com/example/gradlespotbugs/Hello.java
  extide/gradle/test/unit/data/projects/spotbugs/src/main/java/com/example/gradlespotbugs/package-info.java
  extide/gradle/test/unit/data/projects/spotbugs/src/main/java/module-info.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/NbGradleProjectImpl2Test.java
Labels: Java, Gradle, VSCode Extension, enterprise

#6773 Update bundled maven to 3.9.6.
  java/maven.embedder/external/apache-maven-3.9.6-bin-license.txt
  java/maven.embedder/external/apache-maven-3.9.6-bin-notice.txt
  java/maven.embedder/external/apache-maven-3.9.6-epl-license.txt
  java/maven.embedder/external/apache-maven-3.9.6-javax.annotation-api-license.txt
  java/maven.embedder/external/apache-maven-3.9.6-slf4j-license.txt
  java/maven.embedder/external/binaries-list
  java/maven.embedder/external/binariesembedded-list
  java/maven.embedder/nbproject/project.properties
  java/maven.embedder/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, Maven, ci:all-tests, ci:dev-build

#6329 Support for multi-file source launcher.
  java/java.api.common/src/org/netbeans/modules/java/api/common/queries/GenericModuleInfoAccessibilityQuery.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/codegen/EqualsHashCodeGeneratorTest.java
  java/java.file.launcher/build.xml
  java/java.file.launcher/manifest.mf
  java/java.file.launcher/nbproject/project.properties
  java/java.file.launcher/nbproject/project.xml
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/AttributeBasedSingleFileOptions.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/Bundle.properties
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SharedRootData.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/JPDAStart.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/LaunchProcess.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/SingleJavaSourceRunActionProvider.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/api/SourceLauncher.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/indexer/CompilerOptionsIndexer.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/LauncherSourceLevelQueryImpl.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/SingleSourceCompilerOptQueryImpl.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/spi/SingleFileOptionsQueryImplementation.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/templates/Description.html
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/templates/File.java.template
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/templates/package-info.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/SharedRootDataTest.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtilTest.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/actions/JavaFileTest.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProviderTest.java
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/test/TestPerformer.java
  java/java.hints.test/src/org/netbeans/modules/java/hints/test/api/HintTest.java
  java/java.kit/nbproject/project.xml
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/CompilerOptionsQueryImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/SingleFileOptionsQueryImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/singlesourcefile/CompilerOptionsQueryImplTest.java
  java/java.project/src/org/netbeans/modules/java/project/ProjectAccessibilityQuery2.java
  java/java.source.base/nbproject/project.xml
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/APTUtils.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ClassIndexTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ScanUtilsTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/SourceUtilsTestUtil.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/SourceUtilsTestUtil2.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/JavaSourceUtilImplTest.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
  java/refactoring.java/nbproject/project.xml
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/RefactoringUtils.java
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearchTest.java
  nbbuild/cluster.properties
Labels: Java, LSP

#6811 @Serdeable annotation added to generated entities.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEntity.java
Labels: Micronaut

#6806 Fix Swaped proxy and exec combo in Gradle Options
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.java
Labels: Gradle

#6799 Micronaut Data Endpoint Method generation added.
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletion.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Bundle.properties
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/EndpointSelectorPanel.form
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/EndpointSelectorPanel.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautController.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautDataEndpointGenerator.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/files/OpenedDocuments.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/vscode/package.json
Labels: Java, LSP, VSCode Extension, Micronaut

#6757 Better transient repo deduplication.
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryPreferences.java
Labels: Maven, ci:dev-build

#6751 Centralize internal maven artifact version queries.
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/MavenNbModuleImpl.java
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardIterator.java
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardPanelVisual.java
  java/maven/manifest.mf
  java/maven/nbproject/org-netbeans-modules-maven.sig
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/api/ModelUtils.java
  java/maven/src/org/netbeans/modules/maven/customizer/CompilePanel.java
  java/maven/src/org/netbeans/modules/maven/customizer/SourcesPanel.java
  java/maven/src/org/netbeans/modules/maven/nodes/BootCPNodeFactory.java
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
Labels: Java, Maven

#6728 Improve code REST code generation/integration in JavaEE 9+ environments (jakarta namespace change)
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/RestUtils.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/client/ClientJavaSourceHelper.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/client/JaxRsGenerationStrategy.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/Constants.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/EntityResourcesGenerator.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/GenericResourceGenerator.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/RestFacadeMethod.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/RestMethod.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/SpringEntityResourcesGenerator.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/model/EntityClassInfo.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/model/SourceModeler.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/codegen/resources/GenericResource.template
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/support/JavaSourceHelper.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/wizard/Util.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/wizard/fromdb/EjbFacadeGenerator.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/wizard/fromdb/Operation.java
  enterprise/websvc.restapi/src/org/netbeans/modules/websvc/rest/model/api/RestConstants.java
  enterprise/websvc.restapi/src/org/netbeans/modules/websvc/rest/model/impl/RestApplicationsImpl.java
  enterprise/websvc.restapi/src/org/netbeans/modules/websvc/rest/model/impl/RestServicesImpl.java
  enterprise/websvc.restapi/src/org/netbeans/modules/websvc/rest/model/impl/Utils.java
  enterprise/websvc.restapi/src/org/netbeans/modules/websvc/rest/spi/RestSupport.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/action/GenerationOptions.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/EntityClassesPanel.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/JavaPersistenceGenerator.java
Labels: Java EE/Jakarta EE, ci:dev-build

#6736 Update jaxb maven plugin and handle javax and jakarta namespaces
  enterprise/maven.jaxws/src/org/netbeans/modules/maven/jaxws/wizards/MavenSchemaCompiler.java
  java/xml.jaxb/src/org/netbeans/modules/xml/jaxb/ui/Bundle.properties
  java/xml.jaxb/src/org/netbeans/modules/xml/jaxb/ui/JAXBWizardIterator.java
Labels: Java EE/Jakarta EE, ci:dev-build

#6748 Detect JPA provider on classpath, removing requirement to have it as legacy library
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/provider/Provider.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/util/PersistenceProviderComboboxHelper.java
Labels: Java, Java EE/Jakarta EE, enterprise, ci:dev-build

#6765 Maven dependency update hint and version completion for pom profiles.
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/MavenProjectGrammar.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UpdateDependencyHint.java
Labels: Maven, hints, ci:dev-build

#6816 Use Ant for building NetBeans Gradle Tooling
  .github/workflows/main.yml
  README.md
  extide/gradle/build.xml
  extide/gradle/netbeans-gradle-tooling/build.xml
Labels: build

#6741 JS: Enable contiouus completion of JS private members of classes (# prefixed)
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsLanguage.java
Labels: JavaScript, ci:dev-build

#6747 Add support for GlassFish 7.0.10
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#6824 Add JAVA SE 23 support for Tomcat and TomEE
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#6746 Update OKE ConfigMap with Vault details
  enterprise/cloud.oracle/nbproject/project.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddDbConnectionToVault.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/DevopsProjectService.java
  enterprise/cloud.oracle/test/unit/src/org/netbeans/modules/cloud/oracle/actions/AddDbConnectionToVaultTest.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspDevopsConfigFinder.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/LspServerState.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/BUILD.md
Labels: LSP, VSCode Extension

#6804 allow to copy OCID to clipboard
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CopyOCIDAction.java
Labels: enterprise

#6812 Allow to configure just JVM params or app params
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/action-mapping.xml
Labels: Gradle, VSCode Extension

#6813 Use vscode's selected launch config for project launch and codelens run/debug
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode Extension

#6832 Fix errors from java multi-file source launcher
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SharedRootData.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
Labels: Java

#6780 Added warning for case where var and diamond operator are used together
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Tiny.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/Bundle_test.properties
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/TinyTest.java
Labels: Java, hints

#6820 Avoid null type, derive from provider type params or fallback to Object.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/GradleInternalAdapter.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: Gradle, VSCode Extension

#6837 CSS-Refactoring: Fix NullPointerException from folder/file renaming
  ide/css.editor/src/org/netbeans/modules/css/refactoring/CssRenameRefactoringPlugin.java
Labels: CSS, ci:dev-build

#6827 Add support for GlassFish 7.0.11
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/JavaSEPlatform.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#6853 PHP: Fixing cancelability bugs by reverting from a for each loop to a normal loop
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IncorrectNonAbstractMethodHintError.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP72UnhandledError.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP73UnhandledError.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP80UnhandledError.java
Labels: PHP

#6847 Publish configured GSON in request's Lookup
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
Labels: VSCode Extension

#6848 Allow to instruct the client to save a document.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientWrapper.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeLanguageClient.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/SaveDocumentRequestParams.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/TestCodeLanguageClient.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/progress/TestProgressHandlerTest.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/protocol.ts
Labels: LSP, VSCode Extension

#6845 Prevent deadlock from firing events.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/project/BrokenReferencesModel.java
Labels: VSCode Extension

#6791 Update to maven-indexer 7.1.1 and lucene 9.9.1.
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-7.1.1-license.txt
  java/maven.indexer/external/indexer-core-7.1.1-notice.txt
  java/maven.indexer/external/lucene-9.9.1-license.txt
  java/maven.indexer/external/lucene-9.9.1-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/SMORequestResult.java
  nbbuild/binaries-default-properties.xml
Labels: Upgrade Library, Maven, ci:dev-build

#6843 Disable ANSI decorations for default (embedded) maven logger.
  java/maven.embedder/nbproject/project.xml
Labels: Maven

#6841 Stacktrace analyzer window fixes
  java/java.navigation/manifest.mf
  java/java.navigation/src/org/netbeans/modules/java/navigation/BreadCrumbsScanningTask.java
  java/java.navigation/src/org/netbeans/modules/java/navigation/ElementScanningTask.java
  java/java.navigation/src/org/netbeans/modules/java/navigation/HTMLDocView.java
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/AnalyserCellRenderer.java
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/AnalyzeStackAction.java
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/AnalyzeStackTopComponent.java
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/StackLineAnalyser.java
  java/java.navigation/test/unit/src/org/netbeans/modules/java/stackanalyzer/StackLineAnalyserTest.java
Labels: Java, UI, ci:dev-build

#6851 Fix unimported command prefix.
  java/java.lsp.server/vscode/src/propertiesView/propertiesView.ts
Labels: LSP

#6721 Cleanup readme, add another workflow badge.
  README.md
Labels: ci:no-build

#6864 Issue template: make how-to-reproduce mandatory, add component field
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#6772 Fix Project Group window EDT race condition and update UX
  ide/projectui/src/org/netbeans/modules/project/ui/groups/GroupsMenu.java
  ide/projectui/src/org/netbeans/modules/project/ui/groups/ManageGroupsPanel.form
  ide/projectui/src/org/netbeans/modules/project/ui/groups/ManageGroupsPanel.java
  ide/projectui/src/org/netbeans/modules/project/ui/groups/NewGroupPanel.form
  ide/projectui/src/org/netbeans/modules/project/ui/groups/NewGroupPanel.java
Labels: DO NOT squash, UI, ci:dev-build

#6846 Return root node even though everything is filtered.
  ide/project.dependency/src/org/netbeans/modules/project/dependency/Scope.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenDependenciesImplementation.java
Labels: Maven, VSCode Extension

#6870 Don't create OCI Vault secrets with empty datasource name
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddDbConnectionToVault.java
Labels: LSP, VSCode Extension

#6877 Fix the formatting for the method call arguments alignment option #6714
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_01.php
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_01.php.testGH6714WithSpaces_01a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_01.php.testGH6714WithSpaces_01b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_01.php.testGH6714WithTab_01a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_01.php.testGH6714WithTab_01b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_02.php
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_02.php.testGH6714WithSpaces_02a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_02.php.testGH6714WithSpaces_02b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_02.php.testGH6714WithTab_02a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/gh6714_02.php.testGH6714WithTab_02b.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterAlignmentTest.java
Labels: PHP

#6876 PHP: mark a breakpoint as broken when an error is received when breakpoint_set is executed to set a breakpoint
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/annotations/BrkpntAnnotation.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/AbstractBreakpoint.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/BreakpointModel.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/Utils.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/BrkpntSetResponse.java
Labels: PHP

#6882 TaskList Model issues broken table model change events (breaks on JDK21+)
  ide/tasklist.ui/src/org/netbeans/modules/tasklist/ui/TaskListModel.java
Labels: Need Squashing, UI

#6823 Git client: Enable forced pushes for configured push and push to upstream
  ide/git/nbproject/project.xml
  ide/git/src/org/netbeans/modules/git/ui/fetch/BranchMapping.java
  ide/git/src/org/netbeans/modules/git/ui/fetch/FetchBranchesStep.java
  ide/git/src/org/netbeans/modules/git/ui/fetch/PullBranchesStep.java
  ide/git/src/org/netbeans/modules/git/ui/push/PushAction.java
  ide/git/src/org/netbeans/modules/git/ui/push/PushBranchesStep.java
  ide/git/src/org/netbeans/modules/git/ui/push/PushMapping.java
  ide/git/src/org/netbeans/modules/git/ui/push/PushToUpstreamAction.java
  ide/git/src/org/netbeans/modules/git/ui/push/PushWizard.java
  ide/git/src/org/netbeans/modules/git/ui/selectors/Bundle.properties
  ide/git/src/org/netbeans/modules/git/ui/selectors/ItemSelector.java
  ide/git/src/org/netbeans/modules/git/ui/selectors/ItemsPanel.form
  ide/git/src/org/netbeans/modules/git/ui/selectors/ItemsPanel.java
  ide/git/src/org/netbeans/modules/git/utils/GitUtils.java
  ide/libs.git/apichanges.xml
  ide/libs.git/manifest.mf
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/PushCommand.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/PushTest.java
Labels: API Change, UI, git

#6887 Update to JGit 6.8 and Bouncy Castle 1.77
  ide/bcpg/external/bcpg-jdk18on-1.77-license.txt
  ide/bcpg/external/binaries-list
  ide/bcpg/nbproject/project.properties
  ide/bcpg/nbproject/project.xml
  ide/bcpkix/external/bcpkix-jdk18on-1.77-license.txt
  ide/bcpkix/external/binaries-list
  ide/bcpkix/nbproject/project.properties
  ide/bcpkix/nbproject/project.xml
  ide/bcprov/external/bcprov-jdk18on-1.77-license.txt
  ide/bcprov/external/binaries-list
  ide/bcprov/nbproject/project.properties
  ide/bcprov/nbproject/project.xml
  ide/bcutil/external/bcutil-jdk18on-1.77-license.txt
  ide/bcutil/external/binaries-list
  ide/bcutil/nbproject/project.properties
  ide/bcutil/nbproject/project.xml
  ide/o.eclipse.jgit.gpg.bc/external/binaries-list
  ide/o.eclipse.jgit.gpg.bc/external/org.eclipse.jgit.gpg.bc-6.8.0.202311291450-r-license.txt
  ide/o.eclipse.jgit.gpg.bc/nbproject/project.properties
  ide/o.eclipse.jgit.gpg.bc/nbproject/project.xml
  ide/o.eclipse.jgit.lfs/external/binaries-list
  ide/o.eclipse.jgit.lfs/external/org.eclipse.jgit.lfs-6.8.0.202311291450-r-license.txt
  ide/o.eclipse.jgit.lfs/nbproject/project.properties
  ide/o.eclipse.jgit.lfs/nbproject/project.xml
  ide/o.eclipse.jgit.ssh.jsch/external/binaries-list
  ide/o.eclipse.jgit.ssh.jsch/external/org.eclipse.jgit.ssh.jsch-6.8.0.202311291450-r-license.txt
  ide/o.eclipse.jgit.ssh.jsch/nbproject/project.properties
  ide/o.eclipse.jgit.ssh.jsch/nbproject/project.xml
  ide/o.eclipse.jgit/external/binaries-list
  ide/o.eclipse.jgit/external/org.eclipse.jgit-6.8.0.202311291450-r-license.txt
  ide/o.eclipse.jgit/nbproject/project.properties
  ide/o.eclipse.jgit/nbproject/project.xml
Labels: Upgrade Library, git

#6896 Improve magic methods generation
  php/php.api.phpmodule/manifest.mf
  php/php.api.phpmodule/src/org/netbeans/modules/php/api/PhpVersion.java
  php/php.editor/nbproject/project.properties
  php/php.editor/nbproject/project.xml
  php/php.editor/src/org/netbeans/modules/php/editor/api/elements/ParameterElement.java
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/CGSInfo.java
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/MethodProperty.java
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/SinglePropertyMethodCreator.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCompletionItem.java
  php/php.editor/src/org/netbeans/modules/php/editor/elements/BaseFunctionElementSupport.java
  php/php.editor/src/org/netbeans/modules/php/editor/elements/ElementUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/elements/MethodElementImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/elements/ParameterElementImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/Type.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IntroduceSuggestion.java
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethodToString01/testMagicMethodToString01.php
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethodToString01/testMagicMethodToString01.php.testMagicMethodToString01_PHP83.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethodToString02/testMagicMethodToString02.php
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethodToString02/testMagicMethodToString02.php.testMagicMethodToString02_PHP83.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP56.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP70.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP71.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP72.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP73.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP74.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP80.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP81.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP82.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testMagicMethods01/testMagicMethods01.php.testMagicMethods01_PHP83.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testOverrideAttributeEnum01/testOverrideAttributeEnum01.php.testOverrideAttributeEnum01.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testOverrideAttributeEnum01/testOverrideAttributeEnum01.php.testOverrideAttributeEnum01_PHP82.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testSerializeUnserializeMagicMethod/testSerializeUnserializeMagicMethod.php.testSerializeUnserializeMagicMethod.codegen
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/insideClass.php.testInsideClass_2.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP56.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP70.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP71.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP72.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP73.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP74.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP80.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP81.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP82.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodsCustomTemplate/magicMethods.php.testMagicMethodsCustomTemplate_PHP83.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testToStringCustomTemplate/toString01.php
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testToStringCustomTemplate/toString01.php.testToStringCustomTemplate_01_PHP83.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testToStringCustomTemplate/toString02.php
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testToStringCustomTemplate/toString02.php.testToStringCustomTemplate_02_PHP83.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/base/anonymousClass01.php.testAnonymousClass01h.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php74/testSerializeUnserialize/serializeUnserialize.php.testSerializeUnserialize_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testReadonlyPropertiesTyping01/readonlyPropertiesTyping01.php.testReadonlyPropertiesTyping01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/test209117/issue209117.php.testUseCase1.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/test233756/issue233756.php.testUseCase1.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionMagicMethodTest.java
Labels: PHP
