Repository apache/netbeans, pull requests merged in 2023-02, with the labels that each got.

#5393 LSP client: Prevent NullPointerException when caret is not present on text component
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/GoToMarkOccurrencesAction.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RefactoringActionsProvider.java
Labels: kind:bug, TypeScript

#5391 Fix POM Graph colors for dark themes
  java/java.graph/src/org/netbeans/modules/java/graph/NodeWidget.java
Labels: Java, Maven, UI

#5366 Sync delivery to release170 for 17-rc3
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/resources/jakartaee_10.xsd
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/maven/MicronautMavenConstants.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/maven/MicronautPackagingArtifactsImpl.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/spring-actions-maven.xml
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/GoToMarkOccurrencesAction.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RefactoringActionsProvider.java
  java/java.graph/src/org/netbeans/modules/java/graph/NodeWidget.java
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBAttr.java
  java/maven/apichanges.xml
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/api/execute/RunUtils.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearch.java
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearchTest.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/Type.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IdenticalComparisonSuggestion.java
  php/php.editor/test/unit/data/testfiles/actions/useCase_09.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_09.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/useCase_10.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_10.php.usedNames
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php.testInstanceOverrideMethodWithGuessingBoolType_01.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php.testInstanceOverrideMethodWithGuessingBoolType_02.codegen
  php/php.editor/test/unit/data/testfiles/completion/lib/tests235450/issue235450.php.testLowercase_01.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/UsedNamesCollectorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
Labels: Release process

#5404 Sync delivery to master after 17-rc3 (merge conflict resolved)
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/resources/jakartaee_10.xsd
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/maven/MicronautMavenConstants.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/maven/MicronautPackagingArtifactsImpl.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/spring-actions-maven.xml
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/GoToMarkOccurrencesAction.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/refactoring/RefactoringActionsProvider.java
  java/java.graph/src/org/netbeans/modules/java/graph/NodeWidget.java
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBAttr.java
  java/maven/apichanges.xml
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/api/execute/RunUtils.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearch.java
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearchTest.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/Type.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IdenticalComparisonSuggestion.java
  php/php.editor/test/unit/data/testfiles/actions/useCase_09.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_09.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/useCase_10.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_10.php.usedNames
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php.testInstanceOverrideMethodWithGuessingBoolType_01.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php.testInstanceOverrideMethodWithGuessingBoolType_02.codegen
  php/php.editor/test/unit/data/testfiles/completion/lib/tests235450/issue235450.php.testLowercase_01.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/UsedNamesCollectorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
Labels: Release process

#5412 Fix increment on maven and java.editor.lib module for NB18
  java/java.editor.lib/nbproject/project.properties
  java/maven/nbproject/project.properties
Labels: Release process

#5406 Fixed copypaste leftovers.
  java/maven/src/org/netbeans/modules/maven/execute/MavenProxySupport.java
Labels: Maven

#5411 Display additional options prior to the standard ones.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/NotifyDescriptorAdapter.java
Labels: LSP, VSCode Extension

#5362 Report progress start when handle immediately switches to indeterminate.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/progress/LspProgressUIWorker.java
Labels: LSP, VSCode Extension

#5361 Various database fixes
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCINode.java
  ide/db/src/org/netbeans/modules/db/explorer/action/ConnectAction.java
  ide/db/src/org/netbeans/modules/db/explorer/node/ConnectionNode.java
Labels: LSP, enterprise

#5415 Improve TomEE support for JPA (Fix 4146)
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/deploy/TomcatManager.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/JpaSupportImpl.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#5238 nbbuild dir: removed unessesary old forms of Integer type
  nbbuild/antsrc/org/netbeans/nbbuild/ModuleDependencies.java
  nbbuild/installer/engine/src/org/netbeans/installer/utils/applications/GlassFishUtils.java
  nbbuild/installer/engine/src/org/netbeans/installer/wizard/components/sequences/netbeans/NbMainSequence.java
  nbbuild/installer/test/test/org/netbeans/test/installer/TestData.java
  nbbuild/installer/test/test/org/netbeans/test/installer/Utils.java
  nbbuild/test/unit/src/org/netbeans/nbbuild/TestBase.java
Labels: Code cleanup

#5419 Fixed javadoc tags
  apisupport/apisupport.project/src/org/netbeans/modules/apisupport/project/spi/NbModuleProvider.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Installer.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/nodes/actions/DisableModulesCookie.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/nodes/actions/EnableModulesCookie.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/nodes/actions/UndeployModuleCookie.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/nodes/actions/UnregisterResourceCookie.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/utils/AdminKeyFile.java
  enterprise/glassfish.javaee/src/org/netbeans/modules/glassfish/javaee/Hk2StartServer.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/MultiTargetChooserPanelGUI.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/entries/CallEjbPanel.java
  enterprise/j2ee.sun.ddui/src/org/netbeans/modules/j2ee/sun/ddloaders/multiview/web/SunWebJspConfigPropertyNode.java
  enterprise/j2ee.sun.ddui/src/org/netbeans/modules/j2ee/sun/share/configbean/Utils.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/Installer.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/nodes/actions/DisableModulesCookie.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/nodes/actions/EnableModulesCookie.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/nodes/actions/UndeployModuleCookie.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/nodes/actions/UnregisterResourceCookie.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/utils/AdminKeyFile.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/Hk2StartServer.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/TomcatUsers.java
  ide/csl.api/src/org/netbeans/modules/csl/spi/DefaultLanguageConfig.java
  ide/editor.indent/src/org/netbeans/modules/editor/indent/spi/CodeStylePreferences.java
  ide/editor.lib/src/org/netbeans/editor/EditorUI.java
  ide/editor.lib/src/org/netbeans/editor/JumpList.java
  ide/editor.lib/src/org/netbeans/editor/ext/KeywordMatchGenerator.java
  ide/editor.lib/src/org/netbeans/editor/ext/ToolTipSupport.java
  ide/editor.settings.storage/src/org/netbeans/modules/editor/settings/storage/ProfilesTracker.java
  ide/languages/src/org/netbeans/api/languages/ParserManager.java
  ide/o.openidex.util/src/org/openidex/search/SearchGroup.java
  ide/xml.schema.completion/src/org/netbeans/modules/xml/schema/completion/EndTagResultItem.java
  ide/xml.schema.completion/src/org/netbeans/modules/xml/schema/completion/TagLastCharResultItem.java
  ide/xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/impl/AnnotationImplTest.java
  ide/xml.text/src/org/netbeans/modules/xml/text/api/XMLTextUtils.java
  ide/xml.text/src/org/netbeans/modules/xml/text/api/dom/SyntaxElement.java
  ide/xml.wsdl.model/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/impl/SOAPElementFactoryProvider.java
  java/form/src/org/netbeans/modules/form/layoutsupport/AbstractLayoutSupport.java
  java/form/src/org/netbeans/modules/form/layoutsupport/LayoutSupportManager.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/provider/ProviderUtil.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaFormatterArrayInitOrEnumUnitTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaFormatterUnitTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaFormatterUnitTestCase.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/TestUtils.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/TypingCompletionUnitTest.java
  java/java.freeform/src/org/netbeans/modules/java/freeform/JavaActions.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/JavacParser.java
  nbi/engine/src/org/netbeans/installer/wizard/containers/SwingFrameContainer.java
  php/php.api.framework/src/org/netbeans/modules/php/api/framework/BadgeIcon.java
  platform/core.kit/test/perf/src/org/openide/filesystems/localfs/LocalFSTest.java
  platform/o.n.bootstrap/src/org/netbeans/NetigsoFramework.java
  platform/openide.loaders/src/org/openide/loaders/XMLEntityResolverChain.java
  platform/openide.util/src/org/openide/xml/XMLUtil.java
  platform/spi.quicksearch/src/org/netbeans/modules/quicksearch/recent/RecentSearches.java
  webcommon/web.clientproject.api/src/org/netbeans/modules/web/clientproject/api/BadgeIcon.java
  websvccommon/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/Saas.java
Labels: Code cleanup, JavaDoc

#5409 Fixed incorrect regexp usage in KODataBindContext
  webcommon/html.knockout/src/org/netbeans/modules/html/knockout/KODataBindContext.java
Labels: JavaScript

#5442 Minor / typo fixes
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, enterprise

#5280 Improve Dialog Placement
  platform/core.windows/src/org/netbeans/core/windows/services/DialogDisplayerImpl.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbPresenter.java
  platform/openide.util.ui/src/org/openide/util/Utilities.java
Labels: Platform

#5431 UnsupportedOperationException in maven dependency graph "Exclude dependency" and "Fix Version Conflict" actions
  java/java.graph/manifest.mf
  java/java.graph/src/org/netbeans/modules/java/graph/DependencyGraphScene.java
  java/java.graph/src/org/netbeans/modules/java/graph/GraphNode.java
  java/maven.graph/nbproject/project.xml
  java/maven.graph/src/org/netbeans/modules/maven/graph/MavenAction.java
Labels: Java, Maven, ci:dev-build

#5432 CSS: Support recursive calc definition, improve compatibility for custom properties, support :has pseudo-class
  ide/css.editor/nbproject/project.xml
  ide/css.editor/src/org/netbeans/modules/css/editor/module/main/properties/default_module.properties
  ide/css.editor/test/unit/src/org/netbeans/modules/css/editor/module/main/ColorsModuleTest.java
  ide/css.editor/test/unit/src/org/netbeans/modules/css/editor/module/main/CssModuleTestBase.java
  ide/css.lib/manifest.mf
  ide/css.lib/nbproject/org-netbeans-modules-css-lib.sig
  ide/css.lib/src/org/netbeans/modules/css/lib/AbstractParseTreeNode.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3.g
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Lexer.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Parser.java
  ide/css.lib/src/org/netbeans/modules/css/lib/NbParseTreeBuilder.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/CssParserResult.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/NodeType.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/NodeUtil.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/NodeVisitor.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/GrammarElement.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/GrammarElementVisitor.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/GroupGrammarElement.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/Properties.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/TokenAcceptor.java
  ide/css.lib/src/org/netbeans/modules/css/lib/nblexer/CaseInsensitiveNbLexerCHS.java
  ide/css.lib/src/org/netbeans/modules/css/lib/nblexer/NbLexerCharStream.java
  ide/css.lib/src/org/netbeans/modules/css/lib/properties/GrammarParser.java
  ide/css.lib/test/unit/data/testfiles/google-chrome-css-custom-properties.css
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/Css3ParserTest.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/CssTestBase.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/api/properties/GrammarResolverListenerTest.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/api/properties/PropertyValueTest.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/nblexer/NbCss3LexerTest.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/properties/GrammarParserTest.java
  ide/css.model/nbproject/project.xml
  ide/css.model/src/org/netbeans/modules/css/model/impl/ElementFactoryImpl.java
  ide/css.prep/nbproject/project.xml
  ide/css.visual/nbproject/project.xml
  ide/css.visual/src/org/netbeans/modules/css/visual/RuleEditorNode.java
  ide/html.editor/nbproject/project.xml
  javafx/javafx2.editor/nbproject/project.xml
  webcommon/javascript2.editor/nbproject/project.xml
  webcommon/javascript2.html/nbproject/project.xml
  webcommon/javascript2.jade/nbproject/project.xml
  webcommon/web.inspect/nbproject/project.xml
Labels: CSS, ci:dev-build

#5443 [GH-5427] PHP: Fix for displaying property type in documentation if @…
  php/php.editor/src/org/netbeans/modules/php/editor/completion/DocRenderer.java
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5427.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5427.php.testIssueGH5427_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5427.php.testIssueGH5427_02.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5427.php.testIssueGH5427_03.html
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
Labels: PHP

#5299 [NETBEANS-4123] Initial implementation of handling large strings
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/AbstractObjectVariable.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/AbstractVariable.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/ShortenedStrings.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/VariableMirrorTranslator.java
Labels: Java

#5296 Adding system path into the classpath info when parsing custom conditions in a hint file. Avoid failures while constructing custom scopes.
  java/java.hints.declarative/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintsParser.java
Labels: Java, hints

#5320 Removed creating of unused objects
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/action/HomeMethodGenerator.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/targetpanel/providers/JSFTargetPanelProvider.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/targetpanel/providers/TagTargetPanelProvider.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/targetpanel/providers/XmlOptionPanelManager.java
  enterprise/websvc.saas.codegen.j2ee/src/org/netbeans/modules/websvc/saas/codegen/j2ee/support/J2eeUtil.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/systemoptions/ColorProcessor.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/systemoptions/FileProcessor.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/systemoptions/HostPropertyProcessor.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/systemoptions/NbClassPathProcessor.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/systemoptions/URLProcessor.java
  nb/welcome/src/org/netbeans/modules/welcome/content/RSSFeed.java
  nbbuild/antsrc/org/netbeans/nbbuild/LocMakeNBM.java
  platform/api.visual/src/org/netbeans/modules/visual/anchor/DefaultAnchorShapeResolver.java
  platform/api.visual/src/org/netbeans/modules/visual/graph/layout/hierarchicalsupport/LayeredGraph.java
  platform/masterfs/src/org/netbeans/modules/masterfs/ProvidedExtensionsProxy.java
  platform/o.n.swing.tabcontrol/demosrc/org/netbeans/swing/tabcontrol/demo/TestFrame.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/DefaultTabDataModel.java
  platform/openide.filesystems/src/org/openide/filesystems/AbstractFolder.java
  platform/print/src/org/netbeans/modules/print/ui/Preview.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/details/jdk/image/ImageDetailProvider.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/ui/ReferencesBrowserControllerUI.java
  webcommon/javascript2.jquery/src/org/netbeans/modules/javascript2/jquery/editor/JQueryCodeCompletion.java
  webcommon/javascript2.requirejs/src/org/netbeans/modules/javascript2/requirejs/editor/RequireJSCodeCompletion.java
Labels: Code cleanup, ci:all-tests

#5297 Minimal Lexing Support for Go Language
  ide/editor.kit/nbproject/project.xml
  ide/go.lang/manifest.mf
  ide/languages.go/build.xml
  ide/languages.go/licenseinfo.xml
  ide/languages.go/manifest.mf
  ide/languages.go/nbproject/project.properties
  ide/languages.go/nbproject/project.xml
  ide/languages.go/src/org/netbeans/modules/languages/go/Bundle.properties
  ide/languages.go/src/org/netbeans/modules/languages/go/FontAndColors.xml
  ide/languages.go/src/org/netbeans/modules/languages/go/GoExample.go
  ide/languages.go/src/org/netbeans/modules/languages/go/GoLangLexer.java
  ide/languages.go/src/org/netbeans/modules/languages/go/GoLangParser.java
  ide/languages.go/src/org/netbeans/modules/languages/go/GoLangParserResult.java
  ide/languages.go/src/org/netbeans/modules/languages/go/GoLangStructureScanner.java
  ide/languages.go/src/org/netbeans/modules/languages/go/GoLanguage.java
  ide/languages.go/src/org/netbeans/modules/languages/go/GoTokenId.java
  ide/languages.go/src/org/netbeans/modules/languages/go/layer.xml
  ide/languages.go/src/org/netbeans/modules/languages/go/preferences.xml
  ide/languages.go/src/org/netbeans/modules/languages/go/resources/go.png
  ide/languages.go/src/org/netbeans/modules/languages/go/resources/go.svg
  nbbuild/cluster.properties
  nbbuild/rat-exclusions.txt
Labels: Platform, Go

#5469 Streams from java.nio.file.Files have to be closed
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleDaemon.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ActionProviderImpl.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/CheckEmbeddedBinaries.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ExclusionsFromLicenseInfo.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ReportFromLicenseinfo.java
  platform/autoupdate.ui/src/org/netbeans/modules/autoupdate/ui/Utilities.java
Labels: Code cleanup

#5460 Update JSTL to the Jakarta family
  enterprise/libs.jstl/external/binaries-list
  enterprise/libs.jstl/external/jakarta.servlet.jsp.jstl-1.2-license.txt
  enterprise/libs.jstl/external/javax.servlet.jsp.jstl-1.2.2-license.txt
  enterprise/libs.jstl/external/javax.servlet.jsp.jstl-api-1.2.1-license.txt
  enterprise/libs.jstl/nbproject/project.properties
  enterprise/libs.jstl/src/org/netbeans/libs/jstl/Bundle.properties
  enterprise/libs.jstl/src/org/netbeans/libs/jstl/jstl.xml
Labels: Upgrade Library, enterprise

#5462 Update ServletJSPAPI to the Jakarta family (covers up to Jakarta EE 8)
  enterprise/servletjspapi/build.xml
  enterprise/servletjspapi/external/binaries-list
  enterprise/servletjspapi/external/el-api-2.2-license.txt
  enterprise/servletjspapi/external/generated-servlet-jsp-api-3.1_2.3-license.txt
  enterprise/servletjspapi/external/generated-servlet-jsp-api-4.0_2.3-license.txt
  enterprise/servletjspapi/external/gf-client-module-5.0-license.txt
  enterprise/servletjspapi/external/javax.servlet-api-3.1.0-license.txt
  enterprise/servletjspapi/external/javax.servlet-api-4.0.0-license.txt
  enterprise/servletjspapi/external/javax.servlet-api-4.0.1-license.txt
  enterprise/servletjspapi/external/javax.servlet.jsp-api-2.3.3-license.txt
  enterprise/servletjspapi/external/servlet-jsp-api-4.0_2.3-license.txt
  enterprise/servletjspapi/nbproject/org-netbeans-modules-servletjspapi.sig
  enterprise/servletjspapi/nbproject/project.properties
  enterprise/servletjspapi/nbproject/project.xml
  enterprise/servletjspapi/src/org/netbeans/modules/servletjspapi/Bundle.properties
  enterprise/web.core.syntax/nbproject/project.properties
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/jsp-compilation-syscp.xml
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/jsp-compilation.xml
  enterprise/web.el/nbproject/project.properties
  enterprise/web.jsf.editor/nbproject/project.properties
  enterprise/web.jsf.editor/src/org/netbeans/modules/web/jsf/editor/facelets/EmptyServletContext.java
  enterprise/web.jspparser/nbproject/project.properties
  enterprise/web.jspparser/src/org/netbeans/modules/web/jspparser/JspParserImpl.java
  enterprise/web.jspparser/src/org/netbeans/modules/web/jspparser/ParserServletContext.java
  enterprise/web.project/nbproject/project.properties
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Java EE/Jakarta EE, Upgrade Library, enterprise

#5466 Add support for Glassfish 7.0.1
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.eecommon/src/org/netbeans/modules/glassfish/eecommon/api/config/J2eeModuleHelper.java
  enterprise/glassfish.eecommon/src/org/netbeans/modules/glassfish/eecommon/api/config/ServletVersion.java
  enterprise/glassfish.javaee/src/org/netbeans/modules/glassfish/javaee/Hk2DeploymentFactory.java
  enterprise/glassfish.javaee/src/org/netbeans/modules/glassfish/javaee/Hk2JavaEEPlatformFactory.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/j2ee.sun.dd/src/org/netbeans/modules/j2ee/sun/dd/api/ASDDVersion.java
Labels: Java EE/Jakarta EE, enterprise

#5476 PHP: Corrected a typo in the php parser tests
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/treatNamespacedNamesAsSingleToken_02a.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/treatNamespacedNamesAsSingleToken_02b.pass
  php/php.editor/test/unit/data/testfiles/parser/php80/treatNamespacedNamesAsSingleToken_02a.php
  php/php.editor/test/unit/data/testfiles/parser/php80/treatNamespacedNamesAsSingleToken_02b.php
Labels: kind:bug, PHP

#5503 Temporary fix: Support extra cluster directories.
  java/java.lsp.server/vscode/src/nbcode.ts
  platform/o.n.bootstrap/src/org/netbeans/MainImpl.java
Labels: LSP, VSCode Extension, Platform

#5480 Fix double initialization of comboHelper in Persistence Provider
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/unit/PersistenceUnitWizardPanelDS.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/unit/PersistenceUnitWizardPanelJdbc.java
Labels: Java EE/Jakarta EE, enterprise

#5475 PHP: Changed the way to parse an array type by analogy with other types.
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/UnusableTypesHintError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/arrowFunctions_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/typedPropertiesClass.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/typedPropertiesTrait.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php80/namedArguments_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php81/readonlyProperties_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/returnTypes_02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/shortArrays_02.pass
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5375.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5375.php.testIssueGH5375_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5375.php.testIssueGH5375_02.html
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: kind:bug, PHP

#5219 Replaced usage of String.to[U/L]Case() with String.equalsIgnoreCase()
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/GlassFishSettings.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/PayaraSettings.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/TomcatInstallUtil.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/wizards/ManagedBeanIterator.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/MethodCompletion.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/TypesCompletion.java
  ide/bugzilla/src/org/netbeans/modules/bugzilla/issue/IssuePanel.java
  ide/bugzilla/src/org/netbeans/modules/bugzilla/query/QueryParameter.java
  ide/css.editor/src/org/netbeans/modules/css/editor/module/spi/CompletionContext.java
  ide/db.core/src/org/netbeans/modules/db/sql/execute/SQLExecuteHelper.java
  ide/db.core/src/org/netbeans/modules/db/sql/history/SQLHistoryEntry.java
  ide/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/Log.java
  ide/db/src/org/netbeans/modules/db/explorer/DatabaseConnector.java
  ide/db/test/unit/src/org/netbeans/modules/db/test/DBTestBase.java
  ide/db/test/unit/src/org/netbeans/modules/db/test/DefaultDBProvider.java
  ide/dlight.nativeexecution/src/org/netbeans/modules/nativeexecution/api/util/Path.java
  ide/editor/test/qa-functional/src/org/netbeans/jellytools/modules/editor/KeyMapOperator.java
  ide/subversion/src/org/netbeans/modules/subversion/client/SvnClientInvocationHandler.java
  ide/terminal.nb/src/org/netbeans/modules/terminal/ioprovider/Terminal.java
  ide/xml.text.obsolete90/src/org/netbeans/modules/xml/text/syntax/XMLSyntaxSupport.java
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/source/Source.java
  java/form/src/org/netbeans/modules/form/editors/PrimitiveTypeArrayEditor.java
  java/java.hints/src/org/netbeans/modules/java/hints/WrongPackageSuggestion.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/LatteVariableCompletionProvider.java
  php/php.zend2/src/org/netbeans/modules/php/zend2/editor/Zend2EditorExtender.java
  platform/core.network/src/org/netbeans/core/network/proxy/NetworkProxyReloader.java
  platform/openide.filesystems/src/org/openide/filesystems/FileUtil.java
  platform/openide.filesystems/src/org/openide/filesystems/MIMESupport.java
  platform/uihandler/src/org/netbeans/modules/uihandler/Installer.java
  profiler/profiler.nbimpl/src/org/netbeans/modules/profiler/nbimpl/javac/JavacClassInfo.java
  profiler/profiler.oql.language/src/org/netbeans/modules/profiler/oql/language/OQLCompletionProvider.java
  webcommon/javascript.cdnjs/src/org/netbeans/modules/javascript/cdnjs/ui/SearchPanel.java
  webcommon/web.inspect/src/org/netbeans/modules/web/inspect/ui/DomPanel.java
Labels: Code cleanup, ci:all-tests

#5512 New rt and rf abbrevations for return true; and return false;
  java/java.editor/src/org/netbeans/modules/java/editor/resources/DefaultAbbrevs.xml
  java/java.editor/test/qa-functional/data/goldenfiles/org/netbeans/test/java/editor/codetemplates/CodeTemplatesTest/testDumpTemplates.pass
Labels: Java

#5531 PHP Debugger - show NULL values by default
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/models/VariablesModelFilter.java
Labels: enhancement, PHP

#5507 Group and define order for project actions.
  java/java.lsp.server/vscode/package.json
Labels: VSCode Extension

#5538 Fix spurious messages printed to the console.
  enterprise/micronaut/test/unit/data/gradle/artifacts/multi/gradle.properties
  java/jshell.support/src/org/netbeans/modules/jshell/editor/ConsoleEditor.java
  java/maven/src/org/netbeans/modules/maven/modelcache/MavenProjectCache.java
Labels: kind:bug, Java, Maven

#5495 Update JSPPARSER to the Jakarta family (covers up to Jakarta EE 8)
  enterprise/web.core.syntax/nbproject/project.properties
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/jsp-compilation-syscp.xml
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/jsp-compilation.xml
  enterprise/web.jspparser/build.xml
  enterprise/web.jspparser/external/binaries-list
  enterprise/web.jspparser/external/common-util-5.0-license.txt
  enterprise/web.jspparser/external/generated-glassfish-jspparser-4.0-license.txt
  enterprise/web.jspparser/external/generated-glassfish-jspparser-5.1.0-license.txt
  enterprise/web.jspparser/external/glassfish-ee-api-4.1-license.txt
  enterprise/web.jspparser/external/javax.el-2.2.6-license.txt
  enterprise/web.jspparser/external/javax.servlet.jsp-2.3.2-license.txt
  enterprise/web.jspparser/extsrc/org/netbeans/modules/web/jspparser_ext/OptionsImpl.java
  enterprise/web.jspparser/nbproject/project.properties
  enterprise/web.jspparser/src/org/netbeans/modules/web/jspparser/JspParserImpl.java
  enterprise/web.project/nbproject/project.properties
Labels: Java EE/Jakarta EE, Upgrade Library, enterprise

#5521 Audits should not automatically change persistent project settings.
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/ProjectVulnerability.java
Labels: VSCode Extension, enterprise

#5534 Fixed detection of duplicate types
  php/php.editor/src/org/netbeans/modules/php/editor/verification/UnusableTypesHintError.java
  php/php.editor/test/unit/data/testfiles/verification/UnusableTypesHintError/testDuplicateTypes_01.php
  php/php.editor/test/unit/data/testfiles/verification/UnusableTypesHintError/testDuplicateTypes_01.php.testDuplicateTypes_01.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/UnusableTypesHintErrorTest.java
Labels: kind:bug, PHP

#5548 Maven EventSpy not compatible < JDK 1.8
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
Labels: Maven

#5557 Update issue forms for NB17 and fix for some GitHub changes
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
  .github/ISSUE_TEMPLATE/netbeans_feature_request.yml
Labels: ci:no-build, Release process

#5562 Remove non-working header from GitHub issues markdown.
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
  .github/ISSUE_TEMPLATE/netbeans_feature_request.yml
Labels: ci:no-build, Release process

#5565 Regenerate PHP signature files
  php/php.project/external/binaries-list
  php/php.project/external/phpsigfiles-1.5-license.txt
  php/php.project/external/phpsigfiles-1.5-notice.txt
  php/php.project/nbproject/project.properties
Labels: PHP

#5568 switch CI from release to full cluster config.
  .github/workflows/main.yml
  README.md
  nbbuild/antsrc/org/netbeans/nbbuild/CheckModuleConfigs.java
  nbbuild/cluster.properties
Labels: CI, build, ci:all-tests
