Repository apache/netbeans, pull requests merged in 2023-01, with the labels that each got.

#5133 Update to nb-javac-19.0.1.
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToARMTest.java
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-19.0.1-ga-license.txt
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-19.0.1-ga-license.txt
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/UtilitiesTest.java
  java/spi.java.hints/test/unit/src/org/netbeans/spi/java/hints/JavaFixUtilitiesTest.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Java, Upgrade Library

#5127 Fix Javadoc 17 parsing
  .github/workflows/main.yml
  java/java.source.base/src/org/netbeans/modules/java/source/JavadocHelper.java
  java/java.sourceui/nbproject/project.properties
  java/java.sourceui/src/org/netbeans/api/java/source/ui/HTMLJavadocParser.java
  java/java.sourceui/test/unit/src/org/netbeans/api/java/source/ui/HTMLJavadocParserTest.java
  java/java.sourceui/test/unit/src/org/netbeans/api/java/source/ui/Javadoc17Class.html
  java/java.sourceui/test/unit/src/org/netbeans/api/java/source/ui/Javadoc17Enum.html
  java/java.sourceui/test/unit/src/org/netbeans/api/java/source/ui/JavadocClass.txt
  java/java.sourceui/test/unit/src/org/netbeans/api/java/source/ui/JavadocEnum.txt
Labels: Java, JavaDoc

#5194 LSP: Enable custom run config params for 'java' configuration.
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP

#5191 Do not inherit "throws Exception" from Callable to compile on JDK8
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIManager.java
Labels: LSP, VSCode Extension, enterprise

#5170 upgrade bundled maven to 3.8.7
  java/maven.embedder/external/apache-maven-3.8.7-bin-license.txt
  java/maven.embedder/external/apache-maven-3.8.7-bin-notice.txt
  java/maven.embedder/external/apache-maven-3.8.7-epl-license.txt
  java/maven.embedder/external/apache-maven-3.8.7-slf4j-license.txt
  java/maven.embedder/external/binaries-list
  java/maven.embedder/external/binariesembedded-list
  java/maven.embedder/nbproject/project.properties
  java/maven.embedder/nbproject/project.xml
  java/maven/build.xml
  java/maven/external/asm-7.0-license.txt
  java/maven/external/binaries-list
  java/maven/external/jarjar-1.7.2-license.txt
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, Maven, ci:all-tests

#5171 Allow to run missing ref hint in batch mode, but mark it as not having a fix.
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/MissingRefOutputHint.java
Labels: Java, hints

#5195 Strip protocol part, present e.g. if in KDE + manual proxy mode.
  platform/core.network/src/org/netbeans/core/network/proxy/NetworkProxySettings.java
Labels: kind:bug, Platform

#5199 Fix #5196: use precise sha1 instead of deleted tag vm-20.3.0
  java/java.mx.project/build.xml
Labels: tests, MX

#5180 [NETBEANS-1309] add support for @summary javadoc tag
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionQueryTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementJavadoc.java
Labels: Java, JavaDoc

#5126 readme update
  README.md
Labels: doc, ci:no-build

#5208 Include JS implementation for JDK16+ execution environment.
  java/java.lsp.server/nbcode/nbproject/platform.properties
Labels: LSP, VSCode Extension

#5198 Allow to collect contextual actions from layer path.
  platform/openide.util.ui/apichanges.xml
  platform/openide.util.ui/manifest.mf
  platform/openide.util.ui/src/org/openide/util/Utilities.java
  platform/openide.util.ui/test/unit/src/org/openide/util/UtilitiesTest.java
Labels: enhancement, API Change, Platform, UI

#5161 Linux launcher: Auto-detect subpixel text rendering mode on KDE
  harness/apisupport.harness/release/launchers/app.sh
  nb/ide.launcher/unix/netbeans
Labels: Platform, UI, os:linux

#5061 rewritten 2 tests of org.openide.util.TaskTest into more readable form
  platform/openide.util/test/unit/src/org/openide/util/TaskTest.java
Labels: Platform, tests

#5091 update OutputUtils to support stacktrace links leading to JDK files.
  java/maven/src/org/netbeans/modules/maven/api/output/OutputUtils.java
  java/maven/src/org/netbeans/modules/maven/classpath/AbstractProjectClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/ClassPathProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/execute/CommandLineOutputHandler.java
  java/maven/src/org/netbeans/modules/maven/runjar/RunJarPrereqChecker.java
Labels: kind:bug, Code cleanup, Maven

#5179 fix NPE in RemoveUnnecessary class when case statement list is null.
  java/java.hints/src/org/netbeans/modules/java/hints/control/RemoveUnnecessary.java
Labels: kind:bug, Java, hints, ci:dev-build

#5247 ANTLR uses ANTLR4 Lexer Support.
  java/languages.antlr/nbproject/project.xml
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AbstractAntlrLexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/AntlrTokenSequence.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/LexerInputCharStream.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3Lexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4CompletionProvider.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Lexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4ParserResult.java
  java/languages.antlr/test/unit/src/org/netbeans/modules/languages/antlr/AntlrTokenSequenceTest.java
Labels: ANTLR

#5246 TOML uses ANTLR4 Lexer Support.
  ide/languages.toml/nbproject/project.xml
  ide/languages.toml/src/org/netbeans/modules/languages/toml/LexerInputCharStream.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlLexer.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlTokenId.java
Labels: ANTLR

#5228 Replaced a part of replaceAll() calls to replace()
  ide/bugzilla/src/org/netbeans/modules/bugzilla/commands/BugzillaExecutor.java
  ide/dlight.nativeexecution/src/org/netbeans/modules/nativeexecution/api/util/MacroMap.java
  ide/mercurial/src/org/netbeans/modules/mercurial/ui/commit/CommitPanel.java
  ide/subversion/src/org/netbeans/modules/subversion/ui/commit/CommitPanel.java
  ide/versioning.util/src/org/netbeans/modules/versioning/util/common/CollapsiblePanel.java
  ide/xml/test/qa-functional/src/org/netbeans/xml/test/actions/XMLActionsTest.java
  nbi/engine/src/org/netbeans/installer/utils/system/launchers/impl/ShLauncher.java
Labels: Code cleanup

#5211 Use custom serialization for fileobject subclasses.
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectMetadataCommand.java
Labels: LSP, VSCode Extension

#5152 Extract source name from .class and use it to locate proper source
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/GoToSupportFileNameTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/GoToSupportTest.java
  java/java.source.base/apichanges.xml
  java/java.source.base/src/org/netbeans/api/java/source/SourceUtils.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/SourceUtilsTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/SourceUtilsTestUtil.java
  java/java.sourceui/apichanges.xml
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementOpen.java
Labels: Java, ci:all-tests

#5226 Autoload default config profiles into ServerInstances.
  enterprise/cloud.oracle/manifest.mf
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/Bundle.properties
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIManager.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCITenancyProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OracleCloudWizardProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/TenancyInstance.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/TenancyNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/RemoveProfileAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/SetDefaultProfileAction.java
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-cloud-oracle.jar/org/netbeans/modules/cloud/oracle/Bundle.properties
Labels: kind:bug, LSP, VSCode Extension, enterprise

#5216 apidoc error/warning fix
  platform/api.annotations.common/arch.xml
  platform/api.annotations.common/src/org/netbeans/api/annotations/common/StaticResource.java
  platform/api.annotations.common/src/org/netbeans/api/annotations/common/SuppressWarnings.java
  platform/api.scripting/apichanges.xml
  platform/api.scripting/arch.xml
  platform/openide.util.lookup/apichanges.xml
  platform/openide.util.lookup/arch.xml
  platform/openide.util.lookup/src/org/openide/util/Lookup.java
  platform/openide.util.lookup/src/org/openide/util/lookup/AbstractLookup.java
  platform/openide.util.lookup/src/org/openide/util/lookup/InstanceContent.java
  platform/openide.util.lookup/src/org/openide/util/lookup/Lookups.java
  platform/openide.util.lookup/src/org/openide/util/lookup/NamedServiceDefinition.java
  platform/openide.util.lookup/src/org/openide/util/lookup/ProxyLookup.java
  platform/openide.util.lookup/src/org/openide/util/lookup/ServiceProvider.java
  platform/openide.util.lookup/src/org/openide/util/lookup/ServiceProviders.java
  platform/openide.util.lookup/src/org/openide/util/lookup/doc-files/index.html
  platform/openide.util.lookup/src/org/openide/util/lookup/doc-files/lookup-api.html
  platform/openide.util/arch.xml
  platform/openide.util/src/org/openide/util/BaseUtilities.java
  platform/openide.util/src/org/openide/util/EditableProperties.java
  platform/openide.util/src/org/openide/util/Enumerations.java
  platform/openide.util/src/org/openide/util/Exceptions.java
  platform/openide.util/src/org/openide/util/MapFormat.java
  platform/openide.util/src/org/openide/util/Mutex.java
  platform/openide.util/src/org/openide/util/MutexException.java
  platform/openide.util/src/org/openide/util/NbBundle.java
  platform/openide.util/src/org/openide/util/NbCollections.java
  platform/openide.util/src/org/openide/util/RequestProcessor.java
  platform/openide.util/src/org/openide/util/Task.java
  platform/openide.util/src/org/openide/util/TopologicalSortException.java
  platform/openide.util/src/org/openide/util/URLStreamHandlerRegistration.java
  platform/openide.util/src/org/openide/util/Union2.java
  platform/openide.util/src/org/openide/util/WeakListeners.java
  platform/openide.util/src/org/openide/util/doc-files/api.html
  platform/openide.util/src/org/openide/util/doc-files/preferences.html
  platform/openide.util/src/org/openide/util/io/NbObjectInputStream.java
  platform/openide.util/src/org/openide/util/io/OperationException.java
  platform/openide.util/src/org/openide/util/io/ReaderInputStream.java
  platform/openide.util/src/org/openide/util/io/SafeException.java
  platform/openide.util/src/org/openide/xml/EntityCatalog.java
  platform/openide.util/src/org/openide/xml/XMLUtil.java
Labels: Platform, JavaDoc

#2974 [NETBEANS-1615] fixed @throws hint for type variable
  java/javadoc/src/org/netbeans/modules/javadoc/hints/Analyzer.java
  java/javadoc/test/unit/src/org/netbeans/modules/javadoc/hints/AddTagFixTest.java
  java/javadoc/test/unit/src/org/netbeans/modules/javadoc/hints/Analyzer2Test.java
Labels: Java, hints, JavaDoc

#5254 ci: add retry script to ide/options.editor tests and increase mac timeout.
  .github/workflows/main.yml
Labels: CI

#5249 Fix possible NPE in Tiny.java
  java/java.hints/src/org/netbeans/modules/java/hints/perf/Tiny.java
Labels: Java, hints

#5257 Do not expose LexerInputCharStream as an API.
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlLexer.java
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlTokenId.java
  ide/lexer.antlr4/src/org/netbeans/spi/lexer/antlr4/AbstractAntlrLexerBridge.java
  ide/lexer.antlr4/src/org/netbeans/spi/lexer/antlr4/LexerInputCharStream.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3Lexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Lexer.java
Labels: ANTLR

#5138 move java modules job to JDK 11 and fix tests where needed
  .github/workflows/main.yml
  java/classfile/test/unit/src/org/netbeans/modules/classfile/ConstantPoolTest.java
  java/classfile/test/unit/src/org/netbeans/modules/classfile/ModuleTest.java
  java/java.completion/nbproject/project.properties
  java/java.editor/nbproject/project.properties
  java/java.source.base/nbproject/project.properties
  java/java.source/nbproject/project.properties
  java/refactoring.java/nbproject/project.properties
  java/whitelist/nbproject/project.properties
Labels: Java, CI, tests

#5262 Pass buildnumber into NBM sub-ant target.
  nbbuild/build.xml
Labels: build

#5151 CssSemanticAnalyser needs to flatten OffsetRanges for highlights
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/api/test/CslTestBase.java
  ide/css.editor/src/org/netbeans/modules/css/editor/module/CssModuleSupport.java
  ide/css.editor/test/unit/data/testfiles/coloring1.css
  ide/css.editor/test/unit/data/testfiles/coloring1.css.semantic
  ide/css.editor/test/unit/src/org/netbeans/modules/css/editor/csl/CssSemanticAnalyzerTest.java
Labels: CSS, ci:all-tests

#5259 Add javadoc for JDK 21 early access
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/J2SEPlatformDefaultJavadocImpl.java
Labels: Java, JavaDoc

#5269 Made runSingle Gradle task work on Gradle 8.0
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
Labels: Gradle

#5271 Fix Java version detection in GradleJavaCompatProblemProvider
  extide/gradle/src/org/netbeans/modules/gradle/GradleJavaCompatProblemsProvider.java
Labels: Gradle

#4822 Add Jakarta EE/Java EE support for Tomcat and TomEE
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/AntDeploymentProviderImpl.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/TomcatFactory.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/config/TomcatModuleConfiguration.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/customizer/CustomizerDataSupport.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/customizer/CustomizerGeneral.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/deploy/TomcatManager.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/JaxRsStackSupportImpl.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/registration/AutomaticRegistration.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/resources/Bundle.properties
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/resources/tomee_resources.dtd
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/ui/wizard/InstallPanelVisual.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/LogSupport.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/LogViewer.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/TomcatProperties.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/TomcatUsers.java
  enterprise/tomcat5/test/unit/src/org/netbeans/modules/tomcat5/TomcatFactoryTest.java
  enterprise/tomcat5/test/unit/src/org/netbeans/modules/tomcat5/TomcatManagerTest.java
  enterprise/tomcat5/test/unit/src/org/netbeans/modules/tomcat5/util/TomcatUsersTest.java
Labels: Need Squashing, Java EE/Jakarta EE, enterprise

#5282 Fix for Windows Maven parent.relativePath from Mark Herkrath
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/PomModelUtils.java
Labels: Maven, hints

#5270 Catch IAE when Gradle error getLocation cannot be called.
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
Labels: Gradle

#5274 Gradle options UI cleanup (Execution and Appearance panel).
  extide/gradle/src/org/netbeans/modules/gradle/options/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.java
Labels: Gradle, UI

#5285 Issue #5250: Update java.mx.project to work with GraalVM 22.3.0 release.
  .github/workflows/main.yml
  java/java.mx.project/build.xml
  java/java.mx.project/src/org/netbeans/modules/java/mx/project/SuiteProject.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/ParseSuitesTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/SuiteActionProviderTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/SuiteCheck.java
Labels: VSCode Extension, MX, GraalVM

#5286 Open projects that correspond to workspace folders. Prevents "do you want to open project ?" questions.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
Labels: kind:bug, LSP, VSCode Extension

#5290 allow concurrent local indexing while downloading remote indexes.
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: Maven, ci:dev-build

#4879 Improving the Java AST debugging view.
  java/java.debug/src/org/netbeans/modules/java/debug/TreeNavigatorProviderImpl.java
  java/java.debug/src/org/netbeans/modules/java/debug/TreeNode.java
Labels: Java, Editor

#5279 Prevent NullPointerException when matching filenames in SourceUtils
  java/java.source.base/src/org/netbeans/api/java/source/SourceUtils.java
Labels: Java, ci:all-tests

#5292 Made ANTLR Token LexerInputCharStream Friendly
  ide/languages.toml/src/org/netbeans/modules/languages/toml/TomlLexer.java
  ide/lexer.antlr4/src/org/netbeans/spi/lexer/antlr4/AbstractAntlrLexerBridge.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v3/Antlr3Lexer.java
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/v4/Antlr4Lexer.java
Labels: ANTLR

#5158 Gradle Execution Customizer with Runtime
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/GradleBrokenRuntimeProblemProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/GradleJavaCompatProblemsProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/RunUtils.java
  extide/gradle/src/org/netbeans/modules/gradle/customizer/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/customizer/GradleCustomizerProvider.java
  extide/gradle/src/org/netbeans/modules/gradle/customizer/GradleExecutionPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/customizer/GradleExecutionPanel.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/DefaultJavaRuntimeManager.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleJavaPlatformProviderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/execute/JavaRuntimeManager.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/JavaRuntimePlatformBridge.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/LookupProviders.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/Bundle.properties
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/CompileOptionsPanel.form
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/CompileOptionsPanel.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/JavaRunUtils.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/execute/LookupProviders.java
Labels: Need Squashing, Gradle

#4654 Made FileUtil to copy POSIX permissions
  platform/openide.filesystems/apichanges.xml
  platform/openide.filesystems/manifest.mf
  platform/openide.filesystems/src/org/openide/filesystems/FileObject.java
  platform/openide.filesystems/src/org/openide/filesystems/FileUtil.java
  platform/openide.filesystems/test/unit/src/org/openide/filesystems/FileUtilTest.java
Labels: Platform

#5291 Adding new action which registers ADB connection
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/NodeActionsProvider.java
  java/java.lsp.server/vscode/package.json
Labels: LSP, enterprise

#5314 Update issue report form for Apache NetBeans 17 release candidates.
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#5298 Update FlatLaf from 2.6 to 3.0 and add macOS light and dark themes
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.0-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Installer.java
Labels: Upgrade Library, Look and Feel, ci:all-tests

#5172 Improving indexing for erroneous sources.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBJavaCompiler.java
Labels: Java

#5344 Fixed detection of magic methods
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/MethodScopeImpl.java
Labels: kind:bug, PHP

#5341 Improved method checks in enum declaration
  php/php.editor/src/org/netbeans/modules/php/editor/PredefinedSymbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IncorrectEnumHintError.java
  php/php.editor/test/unit/data/testfiles/verification/IncorrectEnumHintError/testIncorrectEnums.php
  php/php.editor/test/unit/data/testfiles/verification/IncorrectEnumHintError/testIncorrectEnums.php.testIncorrectEnums.hints
Labels: enhancement, PHP

#5350 Temporary fix: Support extra cluster directories.
  java/java.lsp.server/vscode/src/nbcode.ts
  platform/o.n.bootstrap/src/org/netbeans/MainImpl.java
Labels: LSP, VSCode Extension, Platform

#5339 added missing record enums to editor module.
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionTask.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/TagRegistery.java
  java/java.editor/src/org/netbeans/modules/java/editor/overridden/GoToImplementation.java
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/UnusedTooltipResolver.java
Labels: Java, ci:dev-build

#5346 PreconditionsChecker: fixed NPE when path is null.
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/mapreduce/PreconditionsChecker.java
Labels: Java, hints

#5348 Sync delivery to release170 for 17-rc2
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionTask.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/TagRegistery.java
  java/java.editor/src/org/netbeans/modules/java/editor/overridden/GoToImplementation.java
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/UnusedTooltipResolver.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/mapreduce/PreconditionsChecker.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBJavaCompiler.java
  php/php.editor/src/org/netbeans/modules/php/editor/PredefinedSymbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/MethodScopeImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IncorrectEnumHintError.java
  php/php.editor/test/unit/data/testfiles/verification/IncorrectEnumHintError/testIncorrectEnums.php
  php/php.editor/test/unit/data/testfiles/verification/IncorrectEnumHintError/testIncorrectEnums.php.testIncorrectEnums.hints
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.0-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Installer.java
Labels: Release process

#5349 Sync delivery to master after 17-rc2
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.form
  extide/gradle/src/org/netbeans/modules/gradle/options/SettingsPanel.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionTask.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/TagRegistery.java
  java/java.editor/src/org/netbeans/modules/java/editor/overridden/GoToImplementation.java
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/Bundle.properties
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/UnusedTooltipResolver.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/mapreduce/PreconditionsChecker.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBJavaCompiler.java
  php/php.editor/src/org/netbeans/modules/php/editor/PredefinedSymbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/MethodScopeImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IncorrectEnumHintError.java
  php/php.editor/test/unit/data/testfiles/verification/IncorrectEnumHintError/testIncorrectEnums.php
  php/php.editor/test/unit/data/testfiles/verification/IncorrectEnumHintError/testIncorrectEnums.php.testIncorrectEnums.hints
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.0-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Installer.java
Labels: Release process

#5340 Tomcat 11 min supported Java is 17
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#5353 Use NotifyDescriptor.ComposedInput for Add ADB command
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.java
Labels: LSP, VSCode Extension, enterprise

#5352 Springboot artifacts fix
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/maven/MicronautPackagingArtifactsImpl.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/spring-actions-maven.xml
  java/maven/apichanges.xml
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/api/execute/RunUtils.java
Labels: LSP, Maven, VSCode Extension, Micronaut

#5363 Proper escaping of TNS_ADMIN path. Select JDBC driver with defined implementation.
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
Labels: VSCode Extension, enterprise

#5372 Import local schema to avoid DNS lookup in build
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/resources/jakartaee_10.xsd
Labels: Java EE/Jakarta EE, enterprise

#5374 Annotated record reformatting fix
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
Labels: Java

#5376 bump test-summary action to v2.x
  .github/workflows/main.yml
Labels: CI

#5389 Fix AddADBAction and DownloadWalletAction in delivery
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.java
Labels: VSCode Extension, enterprise

#5384 [NETBEANS-4054] Ensuring progress when javac crashes while batch evaluating hints.
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBAttr.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearch.java
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearchTest.java
Labels: Java, hints

#5294 PHP: removed built-in type boolean
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/Type.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IdenticalComparisonSuggestion.java
  php/php.editor/test/unit/data/testfiles/actions/useCase_09.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_09.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/useCase_10.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_10.php.usedNames
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php.testInstanceOverrideMethodWithGuessingBoolType_01.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingBoolType/testInstanceOverrideMethodWithGuessingBoolType.php.testInstanceOverrideMethodWithGuessingBoolType_02.codegen
  php/php.editor/test/unit/data/testfiles/completion/lib/tests235450/issue235450.php.testLowercase_01.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/UsedNamesCollectorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
Labels: PHP

#5396 React on both build and compile goals.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/maven/MicronautMavenConstants.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/maven/MicronautPackagingArtifactsImpl.java
Labels: VSCode Extension, enterprise
