Repository apache/netbeans, pull requests merged in 2023-04, with the labels that each got.

#5677 JS: Improve handling of private/static fields in JS classes
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsStructureScanner.java
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/asyncFunctions/asyncFunctions3.js.ast.xml
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/issueGH4371.js
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/issueGH4371.js.structure
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/JsStructureScannerTest.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/libs.nashorn/external/binaries-list
  webcommon/libs.nashorn/external/graaljs-parser-1.2-license.txt
  webcommon/libs.nashorn/nbproject/project.properties
  webcommon/libs.nashorn/nbproject/project.xml
Labels: JavaScript, Upgrade Library, ci:dev-build

#5609 nb-javac: "Eat your own dog food" testing
  .github/workflows/main.yml
  nbbuild/antsrc/org/netbeans/nbbuild/CustomJavac.java
  nbbuild/antsrc/org/netbeans/nbbuild/CustomJavacClassLoader.java
Labels: nb-javac

#5754 Fixed Formatting under Project Properties
  ide/options.editor/src/org/netbeans/modules/options/indentation/FormattingPanel.java
Labels: kind:bug

#5759 Avoid being scrolled to the end of the editor in the preview panel for formatting options
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FmtOptions.java
Labels: PHP

#5756 Stabelize html lexer in broken cases
  ide/html.lexer/src/org/netbeans/lib/html/lexer/HtmlLexer.java
  ide/html.lexer/test/unit/src/org/netbeans/lib/html/lexer/HtmlLexerTest.java
Labels: HTML

#5716 html.validator: Remove dependency on log4j
  ide/html.validation/external/binaries-list
  ide/html.validation/external/log4j-1.2.15-license.txt
  ide/html.validation/external/validator-20200626-0001-nb-patch1.patch
  ide/html.validation/external/validator-20200626-0002-Remove-log4j-usage.patch
  ide/html.validation/external/validator-20200626-patched2-license.txt
  ide/html.validation/external/validator-howto-build.txt
  ide/html.validation/nbproject/project.properties
  ide/html.validation/nbproject/project.xml
Labels: dependencies, Upgrade Library, HTML, ci:dev-build

#5482 Improve maven multithreaded execution detection.
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/execute/cmd/ShellConstructor.java
  java/maven/src/org/netbeans/modules/maven/options/MavenSettings.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenCommandParametersAnalyzerTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenDaemonCommandParametersAnalyzerTest.java
Labels: Java, Maven, ci:dev-build

#5757 #4818: Update string renderer to only escape undisplayable code points.
  platform/openide.explorer/src/org/openide/explorer/propertysheet/RendererFactory.java
  platform/openide.explorer/test/unit/src/org/openide/explorer/propertysheet/StringRendererTest.java
Labels: Platform, UI

#5751 Update asm from 9.4 to 9.5
  harness/apisupport.harness/build.xml
  java/lib.jshell.agent/nbproject/project.properties
  java/maven/build.xml
  java/maven/external/asm-9.4-license.txt
  java/maven/external/binaries-list
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/templates/common.xml
  platform/libs.asm/external/asm-9.5-license.txt
  platform/libs.asm/external/binaries-list
  platform/libs.asm/nbproject/project.properties
  platform/libs.asm/nbproject/project.xml
Labels: Upgrade Library, Platform

#5767 Avoid showing invalid types in the Fix Imports panel
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/test/unit/data/testfiles/actions/testGH4614/testGH4614_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4614/testGH4614_01.php.importData
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/ImportDataCreatorTest.java
Labels: PHP

#5766 Fix Find Usages for __construct method #4382
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/OccurenceBuilder.java
  php/php.refactoring/test/unit/data/testfiles/findusages/testGH4382/index.php
  php/php.refactoring/test/unit/data/testfiles/findusages/testGH4382/index.php.testGH4382_01.findUsages
  php/php.refactoring/test/unit/data/testfiles/findusages/testGH4382/index.php.testGH4382_02.findUsages
  php/php.refactoring/test/unit/data/testfiles/findusages/testGH4382/index.php.testGH4382_03.findUsages
  php/php.refactoring/test/unit/src/org/netbeans/modules/refactoring/php/findusages/WhereUsedSupportTest.java
Labels: PHP

#5769 Imports cleanup
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIManager.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIProfile.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCITenancyProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/RunFileADMAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compartment/CompartmentNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/BuildPipelineNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/BuildRunItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/CreateBuildRunAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/RepositoryItem.java
Labels: Code cleanup, enterprise

#5777 Fix the syntax error for Nowdoc #4345
  php/php.editor/src/org/netbeans/modules/php/editor/lexer/PHP5ColoringLexer.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Scanner.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/issueGH4345_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/issueGH4345_02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/issueGH4345_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/issueGH4345_02.pass
  php/php.editor/test/unit/data/testfiles/lexer/issueGH4345_01.php
  php/php.editor/test/unit/data/testfiles/lexer/issueGH4345_02.php
  php/php.editor/test/unit/data/testfiles/parser/issueGH4345_01.php
  php/php.editor/test/unit/data/testfiles/parser/issueGH4345_01.php.errors
  php/php.editor/test/unit/data/testfiles/parser/issueGH4345_02.php
  php/php.editor/test/unit/data/testfiles/parser/issueGH4345_02.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/lexer/PHPLexerTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Scanner.flex
  php/php.editor/tools/Php5ColoringScanner.flex
Labels: PHP

#5764 Rust output window improvements
  rust/rust.cargo/licenseinfo.xml
  rust/rust.cargo/manifest.mf
  rust/rust.cargo/nbproject/project.xml
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/api/Cargo.java
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/impl/CargoBuildImpl.java
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/output/RustConsole.java
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/output/RustErrorHyperlinkConvertorFactory.java
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/output/resources/options.png
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/output/resources/rerun.png
  rust/rust.cargo/test/unit/data/rust-output-with-errors-1.txt
  rust/rust.cargo/test/unit/src/org/netbeans/modules/rust/cargo/output/RustErrorLineConvertorFactoryTest.java
  rust/rust.options/src/org/netbeans/modules/rust/options/api/CargoOptions.java
Labels: Rust

#5780 Fix code completion in `throw new` context #3806
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCompletionItem.java
  php/php.editor/test/unit/data/testfiles/completion/lib/gh3806/gh3806.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh3806/gh3806.php.testGH3806_01.cccustomtpl
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionGH3806Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionTestBase.java
Labels: PHP

#5768 Report empty set if project does not use buildscript; prevent NPE.
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleDependencyResult.java
Labels: Gradle, LSP, enterprise

#5782 VSNetBeans changelog update for 17.0.301
  java/java.lsp.server/vscode/CHANGELOG.md
Labels: VSCode Extension

#5773 Better handling for dependencies w/o versions
  extide/gradle/src/org/netbeans/modules/gradle/api/GradleBaseProjectBuilder.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleDependenciesImplementation.java
Labels: Gradle, LSP, VSCode Extension

#5779 [GH-5355] PHP: Corrects the display of the guessed return type for a function or method in the documentation
  php/php.editor/src/org/netbeans/modules/php/editor/completion/DocRenderer.java
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5355.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5355.php.testIssueGH5355_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5355.php.testIssueGH5355_02.html
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
Labels: PHP

#5765 JS: Improve JSX lexing (support fragment syntax and embedded comments)
  webcommon/javascript2.lexer/src/org/netbeans/modules/javascript2/lexer/JsColoringLexer.java
  webcommon/javascript2.lexer/test/unit/data/testfiles/jsx/jsxComment.js
  webcommon/javascript2.lexer/test/unit/data/testfiles/jsx/jsxComment.js.tokens.txt
  webcommon/javascript2.lexer/test/unit/data/testfiles/jsx/jsxFragment.js
  webcommon/javascript2.lexer/test/unit/data/testfiles/jsx/jsxFragment.js.tokens.txt
  webcommon/javascript2.lexer/test/unit/src/org/netbeans/modules/javascript2/lexer/JsLexerJsxTest.java
  webcommon/javascript2.lexer/tools/JsColoringScanner.flex
  webcommon/libs.nashorn/src/com/oracle/js/parser/Parser.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/DumpingVisitor.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/ManualTest.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/ParserTest.java
Labels: JavaScript

#5785 Mention Graal.JS as needed when GraalVM is runtime JDK behind proxy
  java/java.lsp.server/vscode/README.md
Labels: VSCode Extension

#5792 Fix the heredoc syntax error #5585
  php/php.editor/src/org/netbeans/modules/php/editor/lexer/PHP5ColoringLexer.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Scanner.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/issueGH5585_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/lexer/PHPLexerTest/lexer/issueGH5585_02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/issueGH5585_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/issueGH5585_02.pass
  php/php.editor/test/unit/data/testfiles/lexer/issueGH5585_01.php
  php/php.editor/test/unit/data/testfiles/lexer/issueGH5585_02.php
  php/php.editor/test/unit/data/testfiles/parser/issueGH5585_01.php
  php/php.editor/test/unit/data/testfiles/parser/issueGH5585_01.php.errors
  php/php.editor/test/unit/data/testfiles/parser/issueGH5585_02.php
  php/php.editor/test/unit/data/testfiles/parser/issueGH5585_02.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/lexer/PHPLexerTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Scanner.flex
  php/php.editor/tools/Php5ColoringScanner.flex
Labels: PHP

#5739 `SourceUtils.findMatchingChild` should never return a folder
  java/java.source.base/src/org/netbeans/api/java/source/SourceUtils.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/SourceUtilsTest.java
Labels: kind:bug, Java

#5801 Fix the problem that "Fix Imports" don't work when there are types that have the same suffix #5330
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/01/testGH5330_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/01/testGH5330_01.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/testGH5330_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/testGH5330_01.php.importData
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/FixUsesPerformerTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/ImportDataCreatorTest.java
Labels: PHP

#5786 JS: Improve stability of JS model building (prevent cycles)
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/objectNameMatchingNestedFunction.js
  webcommon/javascript2.editor/test/unit/data/testfiles/structure/objectNameMatchingNestedFunction.js.structure
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/JsStructureScannerTest.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/JsObjectImpl.java
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/javascript2.model/test/unit/data/testfiles/model/objectNameMatchingNestedFunction.js
  webcommon/javascript2.model/test/unit/data/testfiles/model/objectNameMatchingNestedFunction.js.model
  webcommon/javascript2.model/test/unit/src/org/netbeans/modules/javascript2/model/ModelTest.java
  webcommon/libs.nashorn/src/com/oracle/js/parser/Parser.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/ParserTest.java
Labels: JavaScript, performance, ci:dev-build

#5810 YAML: Step right curly and brackets when they are right to the caret
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlKeystrokeHandler.java
  ide/languages.yaml/test/unit/src/org/netbeans/modules/languages/yaml/YamlKeystrokeHandlerTest.java
Labels: Editor

#5812 JAXB API module fixed
  ide/xml.jaxb.api/nbproject/project.xml
Labels: Code cleanup

#5813 Disable PHPCCDocumentationTest.testIssueGH5347_02() in Windows
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
Labels: PHP, CI, tests

#5798 option window: category buttons foreground color fix.
  platform/options.api/src/org/netbeans/modules/options/OptionsPanel.java
Labels: Platform, UI

#5761 Improve the appearance of disabled icons on FlatLAF Dark (and a tiny improvement on FlatLAF Light)
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatDarkLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/openide.util.ui/src/org/openide/util/ImageUtilities.java
Labels: Look and Feel

#5819 connection layout AOBE fix
  platform/api.visual/src/org/netbeans/modules/visual/layout/ConnectionWidgetLayout.java
  platform/api.visual/test/unit/src/org/netbeans/modules/visual/layout/ConnectionWidgetLayoutTest.java
Labels: Platform

#5732 macOS: dark window title bars
  nb/ide.launcher/netbeans.conf
Labels: UI, os:macos

#5816 VSCode: Renaming Java 8+ debug configuration to Java+.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBSetEnvCommand.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/AttachConfigurationCompletion.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/attach/AttachConfigurations.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ProjectConfigurationCompletion.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.lsp.server/vscode/README.md
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/launchConfigurations.ts
  java/java.lsp.server/vscode/src/runConfiguration.ts
  java/java.lsp.server/vscode/src/test/suite/extension.test.ts
Labels: VSCode Extension

#5824 Add the "End of File" blank line formatting option #4641
  php/php.editor/src/org/netbeans/modules/php/editor/indent/CodeStyle.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FmtOptions.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtBlankLines.form
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtBlankLines.java
  php/php.editor/src/org/netbeans/modules/php/editor/resources/layer.xml
  php/php.editor/src/org/netbeans/modules/php/editor/verification/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PSR12FilesHint.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PSR12Hint.java
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/eof_01.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/eof_01.php.testEOF_01a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/eof_01.php.testEOF_01b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/eof_02.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/eof_02.php.testEOF_02a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/eof_02.php.testEOF_02b.formatted
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testEndWithWhitespace/testEndWithWhitespace.php
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testEndWithWhitespace/testEndWithWhitespace.php.testEndWithWhitespace.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testHasNewline/testHasNewline.php
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testHasNewline/testHasNewline.php.testHasNewline.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testHasNewlineCRLF/testHasNewlineCRLF.php
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testHasNewlineCRLF/testHasNewlineCRLF.php.testHasNewlineCRLF.hints
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testNoNewlineAtEOF/testNoNewlineAtEOF.php
  php/php.editor/test/unit/data/testfiles/verification/PSR12/Files/testNoNewlineAtEOF/testNoNewlineAtEOF.php.testNoNewlineAtEOF.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterBlankLinesEOFTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTestBase.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/PSR12FilesHintTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/PSR12HintTestBase.java
Labels: PHP

#5804 Use Antlr runtimes from ide.libs
  ide/libs.antlr4.runtime/build.xml
  ide/libs.antlr4.runtime/src/org/netbeans/libs/antlr4/runtime/Bundle.properties
  rust/rust.grammar/build.xml
  rust/rust.grammar/external/antlr-runtime-3.5.3-license.txt
  rust/rust.grammar/external/antlr4-runtime-4.11.1-license.txt
  rust/rust.grammar/external/binaries-list
  rust/rust.grammar/src/org/netbeans/modules/rust/grammar/layer.xml
Labels: ANTLR, Rust

#5795 FlatLaf: change accent color in Options dialog (Appearance > FlatLaf)
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Bundle.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.form
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafPrefs.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Installer.java
Labels: UI

#5760 FlatLaf: use NetBeans folder icons in NB Explorer
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLaf.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/icons/NBFlatAdapterIcon.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/icons/NBFlatTreeClosedIcon.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/icons/NBFlatTreeOpenIcon.java
Labels: UI

#5823 basic auto completion for maven version properties.
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/MavenProjectGrammar.java
  java/maven.grammar/src/org/netbeans/modules/maven/grammar/POM-abbreviations.xml
Labels: Maven, ci:dev-build

#5827 Show antlr, go, tom, yaml languages in auto-update, moved them to Editing
  ide/languages.go/manifest.mf
  ide/languages.go/src/org/netbeans/modules/languages/go/Bundle.properties
  ide/languages.toml/manifest.mf
  ide/languages.toml/src/org/netbeans/modules/languages/toml/Bundle.properties
  ide/languages.yaml/manifest.mf
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/Bundle.properties
  java/languages.antlr/manifest.mf
  java/languages.antlr/src/org/netbeans/modules/languages/antlr/Bundle.properties
Labels: Code cleanup, ci:no-build

#5828 Upgrade Gradle Tooling API to 8.1 GA
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.1-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.1-notice.txt
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Gradle, Upgrade Library

#5826 disable compile-on-save by default in maven projects.
  java/maven/src/org/netbeans/modules/maven/api/execute/RunUtils.java
  java/maven/src/org/netbeans/modules/maven/customizer/CompilePanel.java
  java/maven/test/unit/src/org/netbeans/modules/maven/api/execute/Bundle_test.properties
  java/maven/test/unit/src/org/netbeans/modules/maven/api/execute/RunUtilsTest.java
Labels: Maven, ci:dev-build

#5818 Update FlatLaf from 3.0 to 3.1
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.1-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Upgrade Library, Look and Feel

#5763 Adding support for evaluating watches containing binding variables.
  .github/workflows/main.yml
  java/debugger.jpda.projects/src/org/netbeans/modules/debugger/jpda/projects/IntroduceClass.java
  java/debugger.jpda/nbproject/project.properties
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/expr/EvaluatorVisitor.java
  java/debugger.jpda/test/unit/src/org/netbeans/api/debugger/jpda/EvaluatorDirectTest.java
  java/debugger.jpda/test/unit/src/org/netbeans/api/debugger/jpda/EvaluatorTest.java
  java/debugger.jpda/test/unit/src/org/netbeans/api/debugger/jpda/JPDASupport.java
Labels: Java

#5832 debugger.jpda: exclude AsynchStepTest to stabilize job
  .github/workflows/main.yml
  java/debugger.jpda/nbproject/project.properties
Labels: Java, CI, tests

#5831 enable versioning labels by default.
  ide/git/src/org/netbeans/modules/git/Annotator.java
  ide/mercurial/src/org/netbeans/modules/mercurial/MercurialAnnotator.java
  ide/subversion/src/org/netbeans/modules/subversion/Annotator.java
  ide/versioning.core/src/org/netbeans/modules/versioning/core/ShowTextAnnotationsAction.java
  ide/versioning.core/src/org/netbeans/modules/versioning/core/api/VersioningSupport.java
  ide/versioning.ui/src/org/netbeans/modules/versioning/ui/options/GeneralOptionsPanel.java
  ide/versioning/src/org/netbeans/modules/versioning/spi/VersioningSupport.java
Labels: subversion, UI, git, ci:all-tests, ci:dev-build

#5770 [NETBEANS-5327] Added the option to open the selected file or directory in the system file explorer
  platform/core.ui/src/org/netbeans/core/ui/sysopen/SystemOpenAction.java
Labels: Platform, UI, ci:dev-build

#5814 Jackson library upgrade
  enterprise/libs.jackson/external/binaries-list
  enterprise/libs.jackson/external/jackson-2.13.5-license.txt
  enterprise/libs.jackson/manifest.mf
  enterprise/libs.jackson/nbproject/project.properties
  enterprise/libs.jackson/nbproject/project.xml
Labels: Code cleanup, Need Squashing, Upgrade Library, ci:all-tests

#5821 Slf4j library upgrade
  ide/slf4j.api/external/binaries-list
  ide/slf4j.api/external/slf4j-api-1.7.36-license.txt
  ide/slf4j.api/nbproject/project.properties
  ide/slf4j.api/nbproject/project.xml
  ide/slf4j.jdk14/external/binaries-list
  ide/slf4j.jdk14/external/slf4j-jdk14-1.7.36-license.txt
  ide/slf4j.jdk14/nbproject/project.properties
  ide/slf4j.jdk14/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Code cleanup, Need Squashing, Upgrade Library, ci:all-tests

#5753 don't block in NBM wizard + skip snapshots + more.
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/MavenNbModuleImpl.java
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NBMNativeMWI.java
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardIterator.java
  apisupport/maven.apisupport/test/unit/src/org/netbeans/modules/maven/apisupport/NBMNativeMWITest.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/CompilerPluginVersionError.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHint.java
Labels: Maven, ci:all-tests, ci:dev-build

#5612 Initial HCL Support
  .gitignore
  ide/editor.kit/nbproject/project.xml
  ide/languages.hcl/build.xml
  ide/languages.hcl/licenseinfo.xml
  ide/languages.hcl/manifest.mf
  ide/languages.hcl/nbproject/project.properties
  ide/languages.hcl/nbproject/project.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/AbstractHCLLexer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/BasicHCLLexer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/Bundle.properties
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/FontAndColors.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLHereDocAdaptor.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLLanguage.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLParserResult.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLStructureScanner.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLTokenId.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/NbHCLParser.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/ASTBuilderListener.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLAttribute.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLBlock.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLContainer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLDocument.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLElement.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLIdentifier.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/SourceRef.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLExpressionParser.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLLexer.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLLexerBasics.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLParser.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/TerraformLexer.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/layer.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/resources/terraform.png
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/resources/terraform.svg
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/Bundle.properties
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformHCLLexer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformLanguage.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformParserResult.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/preferences.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/snippets.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/tfvars/Bundle.properties
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/tfvars/TFVarsLanguage.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/tfvars/TFVarsParserResult.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/tfvars/preferences.xml
  nbbuild/cluster.properties
  nbbuild/licenses/MIT-vscode-material-icon-theme
Labels: Editor, HCL

#4882 Retain SOURCE annotations inside the internal model.
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBClassReader.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBClassWriter.java
  java/lib.nbjavac/test/unit/src/org/netbeans/lib/nbjavac/services/NBClassWriterTest.java
  java/lib.nbjavac/test/unit/src/org/netbeans/lib/nbjavac/services/Utilities.java
Labels: Java

#5837 add missing error code to enable-preview hint
  java/ant.hints/src/org/netbeans/modules/ant/hints/errors/EnablePreviewAntProj.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/EnablePreviewSingleSourceFile.java
  java/maven.hints/src/org/netbeans/modules/maven/hints/errors/EnablePreviewMavenProj.java
Labels: Java, Maven, Ant, hints, ci:dev-build

#5841 Update metabuild GitBranchHash task to handle packed refs.
  nbbuild/antsrc/org/netbeans/nbbuild/GitBranchHash.java
Labels: build

#5844 release180 apidoc fixes
  ide/editor.codetemplates/arch.xml
  java/maven/src/org/netbeans/modules/maven/options/MavenSettings.java
Labels: Release process

#5653 bump CI matrix from 20-ea to 21-ea.
  .github/workflows/main.yml
  groovy/libs.groovy/nbproject/project.xml
  php/websvc.saas.codegen.php/nbproject/project.xml
  platform/api.search/nbproject/project.properties
  platform/janitor/nbproject/project.properties
  websvccommon/websvc.jaxwsmodelapi/nbproject/project.xml
Labels: CI, build, ci:all-tests

#5864 Add NetBeans 18 release candidate to bug report form selection.
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#5863 non-existent files removed from ignored-overlaps
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Code cleanup

#5868 Avoid NPE on null value in list/map/property.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: kind:bug, Gradle, VSCode Extension, priority:high

#5854 HCL fix compound expression grammar
  .github/workflows/main.yml
  ide/languages.hcl/nbproject/project.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLExpressionParser.g4
  ide/languages.hcl/test/unit/src/org/netbeans/modules/languages/hcl/grammar/HCLExpressionParserTest.java
Labels: HCL

#5853 Fix for PHPUnit 10 #5790
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/PhpUnitVersion.java
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/commands/PhpUnit.java
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/preferences/PhpUnitPreferences.java
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/customizer/Bundle.properties
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/customizer/CustomizerPhpUnit.form
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/customizer/CustomizerPhpUnit.java
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/options/PhpUnitOptionsPanel.form
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/options/PhpUnitOptionsPanel.java
  php/php.phpunit/src/org/netbeans/modules/php/phpunit/ui/options/PhpUnitOptionsPanelController.java
Labels: PHP

#5865 VSCode: Allow for adding extra modules when building extension vsix package
  java/java.lsp.server/build.xml
  java/java.lsp.server/script/etc/nbcode.clusters
Labels: VSCode Extension

#5885 Fix the problem that documentation for methods and properties is not shown #5881
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_01a.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_01b.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_01c.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_01d.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_02a.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_02b.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_02c.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_02d.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_02e.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_03a.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_03b.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_03c.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_03d.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_04a.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_04b.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_04c.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_04d.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/issueGH5881.php.testIssueGH5881_04e.html
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
Labels: PHP

#5876 Fix the Maven Compile on Save UI.
  java/maven/src/org/netbeans/modules/maven/customizer/CompilePanel.java
Labels: kind:bug

#5888 HCL Lexer shall recognize * and / as operator
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/BasicHCLLexer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformHCLLexer.java
Labels: HCL

#5887 VSCode: Prevent unnecessary Java parsing when Java support if off.
  java/java.lsp.server/nbcode/integration.java/src/META-INF/services/org.netbeans.modules.java.lsp.server.protocol.CodeActionsProvider
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP, VSCode Extension

#5891 A very minimal, but functional viewer for Markdown files.
  ide/markdown/nbproject/project.xml
  ide/markdown/src/org/netbeans/modules/markdown/MarkdownDataObject.java
  ide/markdown/src/org/netbeans/modules/markdown/MarkdownViewerElement.java
Labels: Editor

#5852 prepare NB 19 release cycle for JDK 11.
  .github/workflows/main.yml
Labels: CI, ci:all-tests

#5901 make sure metabuild.jsonurl is set everywhere
  .github/workflows/main.yml
Labels: CI, ci:all-tests, Release process

#5903 Sync GitHub workflows fix from delivery to release180
  .github/workflows/main.yml
Labels: Release process

#5904 Sync GitHub workflows fix from delivery to master
  .github/workflows/main.yml
Labels: Release process
