Repository apache/netbeans, pull requests merged in 2023-11, with the labels that each got.

#6645 Ask for DB password when creating OCI Vault
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddDbConnectionToVault.java
Labels: LSP, VSCode Extension

#6644 Drop horizontal scroll mouse button events on Linux
  ide/editor/src/org/netbeans/modules/editor/resources/NetBeans-keybindings.xml
  platform/core.windows/src/org/netbeans/core/windows/ShortcutAndMenuKeyEventProcessor.java
  platform/openide.util.ui/src/org/openide/util/Utilities.java
Labels: Editor, ci:dev-build

#6654 Enable JUnit output processing for failsafe:integration-test
  java/maven.junit/src/org/netbeans/modules/maven/junit/JUnitOutputProcessorFactory.java
Labels: Maven, ci:dev-build

#6623 Revert "Priming build and reload improvements."
  .github/workflows/main.yml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/maven.properties
  java/maven/apichanges.xml
  java/maven/build.xml
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/NbArtifactFixer.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/api/NbMavenProject.java
  java/maven/src/org/netbeans/modules/maven/classpath/AbstractProjectClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/ClassPathProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/CompileClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/customizer/BasicInfoPanel.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/execute/ReactorChecker.java
  java/maven/src/org/netbeans/modules/maven/modelcache/MavenProjectCache.java
  java/maven/src/org/netbeans/modules/maven/nodes/AddDependencyPanel.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/problems/ProblemReporterImpl.java
  java/maven/src/org/netbeans/modules/maven/problems/SanityBuildAction.java
  java/maven/src/org/netbeans/modules/maven/spi/newproject/CreateProjectBuilder.java
  java/maven/test/unit/data/projects/multiproject/democa/.gitignore
  java/maven/test/unit/data/projects/multiproject/democa/LICENSE
  java/maven/test/unit/data/projects/multiproject/democa/lib/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/oci/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/pom.xml
  java/maven/test/unit/src/org/netbeans/modules/maven/NbMavenProjectImpl2Test.java
  java/maven/test/unit/src/org/netbeans/modules/maven/NbMavenProjectImplTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenExecMonitor.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MockMavenExec.java
  java/maven/test/unit/src/org/netbeans/modules/maven/problems/PrimingActionTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/spi/actions/ProvidedConfigurationsTest.java
Labels: Maven, Regression, ci:dev-build

#6656 Sync delivery to master after 20-rc3 (merge conflict resolved)
  ide/editor/src/org/netbeans/modules/editor/resources/NetBeans-keybindings.xml
  java/java.editor/src/org/netbeans/modules/editor/java/TypingCompletion.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/TypingCompletionUnitTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unbalanced.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/UnusedAssignmentOrBranch.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnbalancedTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/UnusedAssignmentOrBranchTest.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/maven.properties
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBClassFinder.java
  java/lib.nbjavac/test/unit/src/org/netbeans/lib/nbjavac/services/NBClassFinderTest.java
  java/maven.junit/src/org/netbeans/modules/maven/junit/JUnitOutputProcessorFactory.java
  java/maven/apichanges.xml
  java/maven/build.xml
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/NbArtifactFixer.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/api/NbMavenProject.java
  java/maven/src/org/netbeans/modules/maven/classpath/AbstractProjectClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/ClassPathProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/CompileClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/customizer/BasicInfoPanel.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/execute/ReactorChecker.java
  java/maven/src/org/netbeans/modules/maven/modelcache/MavenProjectCache.java
  java/maven/src/org/netbeans/modules/maven/nodes/AddDependencyPanel.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/problems/ProblemReporterImpl.java
  java/maven/src/org/netbeans/modules/maven/problems/SanityBuildAction.java
  java/maven/src/org/netbeans/modules/maven/spi/newproject/CreateProjectBuilder.java
  java/maven/test/unit/data/projects/multiproject/democa/.gitignore
  java/maven/test/unit/data/projects/multiproject/democa/LICENSE
  java/maven/test/unit/data/projects/multiproject/democa/lib/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/oci/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/pom.xml
  java/maven/test/unit/src/org/netbeans/modules/maven/NbMavenProjectImpl2Test.java
  java/maven/test/unit/src/org/netbeans/modules/maven/NbMavenProjectImplTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenExecMonitor.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MockMavenExec.java
  java/maven/test/unit/src/org/netbeans/modules/maven/problems/PrimingActionTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/spi/actions/ProvidedConfigurationsTest.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/ui/completion/ExceptionCompletionItem.java
  platform/core.windows/src/org/netbeans/core/windows/ShortcutAndMenuKeyEventProcessor.java
  platform/openide.util.ui/src/org/openide/util/Utilities.java
Labels: Release process

#5576 Installed some internal generics to fix some compiler warnings
  contrib/j2ee.weblogic9/src/org/netbeans/modules/j2ee/weblogic9/deploy/WLTargetModuleID.java
  enterprise/web.core.syntax/src/org/netbeans/modules/web/core/syntax/ErrorAnnotationImpl.java
  enterprise/web.debug/src/org/netbeans/modules/web/debug/variablesfilterring/JSPVariablesFilter.java
  ide/db/libsrc/org/netbeans/lib/ddl/impl/ProcedureArgument.java
  ide/editor.fold/src/org/netbeans/modules/editor/fold/CustomFoldManager.java
  ide/editor.lib/src/org/netbeans/editor/ext/KeywordMatchGenerator.java
  ide/editor/demosrc/base/org/netbeans/editor/example/Editor.java
  ide/lexer/gen/src/org/netbeans/modules/lexer/gen/TokenTypes.java
  ide/schema2beans/src/org/netbeans/modules/schema2beansdev/AbstractCodeGeneratorClass.java
  ide/xml.text/src/org/netbeans/modules/xml/text/completion/IconStore.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/MonitorModel.java
  javafx/javafx2.project/src/org/netbeans/modules/javafx2/project/ui/PlatformsComboBoxModel.java
  platform/openide.explorer/test/unit/src/org/openide/explorer/view/ContextTreeViewModelTest.java
  profiler/lib.profiler.common/src/org/netbeans/lib/profiler/common/ProfilingSettings.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/classfile/ClassFileCache.java
Labels: Code cleanup, ci:all-tests

#6665 Fix php tag fold test (attempt 2)
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/api/test/CslTestBase.java
  php/php.editor/src/org/netbeans/modules/php/editor/csl/FoldingScanner.java
Labels: PHP

#6673 Fix LSP/Micronaut tests + don't ignore exception in gradle spi
  enterprise/micronaut/test/unit/data/gradle/artifacts/multi/app/build.gradle
  enterprise/micronaut/test/unit/data/gradle/artifacts/multi/gradle.properties
  enterprise/micronaut/test/unit/data/gradle/artifacts/multi/oci/build.gradle
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/gradle/MicronautGradleArtifactsImplTest.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
Labels: Gradle, LSP, tests, Micronaut, ci:all-tests

#6660 Terminal, Output and Syntax Coloring options UI cleanup.
  ide/lib.terminalemulator/src/org/netbeans/lib/terminalemulator/support/TermOptionsPanel.form
  ide/lib.terminalemulator/src/org/netbeans/lib/terminalemulator/support/TermOptionsPanel.java
  ide/options.editor/src/org/netbeans/modules/options/colors/SyntaxColoringPanel.java
  ide/terminal.nb/src/org/netbeans/modules/terminal/nb/TermOptionsPanel.form
  ide/terminal.nb/src/org/netbeans/modules/terminal/nb/TermOptionsPanel.java
  platform/core.output2/src/org/netbeans/core/output2/options/OutputSettingsPanel.form
  platform/core.output2/src/org/netbeans/core/output2/options/OutputSettingsPanel.java
Labels: Code cleanup, Editor, UI, ci:dev-build

#6672 Fix CherryPickCommand ArrayIndexOutOfBoundsException (GH6668)
  .github/workflows/main.yml
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/CherryPickCommand.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/AddTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/CheckoutTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/MergeTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/PushTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/RevertTest.java
Labels: kind:bug, git, ci:dev-build

#6681 Bump hardcoded maven compiler and resource plugin version defaults.
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
Labels: Maven, ci:dev-build

#6679 Don't scroll output window on link click.
  platform/core.output2/src/org/netbeans/core/output2/OutputPane.java
  platform/core.output2/src/org/netbeans/core/output2/OutputTab.java
  platform/core.output2/src/org/netbeans/core/output2/ui/AbstractOutputPane.java
Labels: Platform, ci:all-tests, ci:dev-build

#6688 Limit msg length in test window by default.
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestsuiteNode.java
Labels: Java, UI, tests

#6689 Fix ConcurrentModificationException in TestMethodController
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  java/java.testrunner.ui/src/org/netbeans/modules/java/testrunner/ui/ComputeTestMethodsImpl.java
Labels: Java, tests

#6655 Improve error message for failure to connect to a DB
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
Labels: LSP, VSCode Extension

#6696 Add missing git create-branch and switch-branch toolbar icons.
  ide/git/src/org/netbeans/modules/git/ui/branch/CreateBranchAction.java
  ide/git/src/org/netbeans/modules/git/ui/checkout/SwitchBranchAction.java
Labels: UI, git

#6685 Sync delivery to release200 for 20-rc4
  .github/workflows/main.yml
  enterprise/micronaut/test/unit/data/gradle/artifacts/multi/app/build.gradle
  enterprise/micronaut/test/unit/data/gradle/artifacts/multi/gradle.properties
  enterprise/micronaut/test/unit/data/gradle/artifacts/multi/oci/build.gradle
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/gradle/MicronautGradleArtifactsImplTest.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  ide/git/src/org/netbeans/modules/git/ui/branch/CreateBranchAction.java
  ide/git/src/org/netbeans/modules/git/ui/checkout/SwitchBranchAction.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestsuiteNode.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/CherryPickCommand.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/AddTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/CheckoutTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/MergeTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/PushTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/RevertTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/java.testrunner.ui/src/org/netbeans/modules/java/testrunner/ui/ComputeTestMethodsImpl.java
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
  platform/core.output2/src/org/netbeans/core/output2/OutputPane.java
  platform/core.output2/src/org/netbeans/core/output2/OutputTab.java
  platform/core.output2/src/org/netbeans/core/output2/ui/AbstractOutputPane.java
Labels: Release process

#6669 OCI ADM vulnerability audit fixes
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/AuditCache.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/AuditOptions.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleDependencyResult.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectAuditCommand.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
Labels: Gradle, VSCode Extension, enterprise

#6687 Sync delivery to master after 20-rc4
  .github/workflows/main.yml
  ide/git/src/org/netbeans/modules/git/ui/branch/CreateBranchAction.java
  ide/git/src/org/netbeans/modules/git/ui/checkout/SwitchBranchAction.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestsuiteNode.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/CherryPickCommand.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/AddTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/CheckoutTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/MergeTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/PushTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/RevertTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/java.testrunner.ui/src/org/netbeans/modules/java/testrunner/ui/ComputeTestMethodsImpl.java
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
  platform/core.output2/src/org/netbeans/core/output2/OutputPane.java
  platform/core.output2/src/org/netbeans/core/output2/OutputTab.java
  platform/core.output2/src/org/netbeans/core/output2/ui/AbstractOutputPane.java
Labels: Release process

#6642 Fix for outline tab not loading in case package-info.java file is present in the workspace in vscode
  java/java.editor/src/org/netbeans/modules/editor/java/JavaStructureProvider.java
Labels: do not merge, Java, LSP, VSCode Extension

#6648 Code completion support for Micronaut Expression Language added.
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/MicronautExpressionLanguageTokenId.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletion.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/EvaluationContext.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/ExpressionTree.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/MicronautExpressionLanguageParser.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/mexp.tmLanguage.json
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/allEnvProperties.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/allTypes.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/allTypesStartWithJ.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/base.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/baseStartWithE.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/baseStartWithT.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/contextMethods.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/ctxTypes.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/empty.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/envPropertiesStartWithMicronaut.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/envPropertiesStartWithMicronautA.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/getUser.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/instanceOf.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/intClass.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/intMethods.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/intMethodsStartWithI.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/intStaticMethods.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/intStaticMethodsStartWithD.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/javaLangPackageContent.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/javaPackageContent.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/javaPackageContentStartWithL.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/numOperators.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/stringMethods.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/stringMethodsStartWithL.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest/user.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/allOperators.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/allTypesStartWithM.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/and.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/base.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/boolBase.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/boolOperators.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/div.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/empty.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/instanceOf.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/matches.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/nullBase.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/numOperators.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/stringOperators.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/typeReference.pass
  enterprise/micronaut/test/unit/data/goldenfiles/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest/valueBase.pass
  enterprise/micronaut/test/unit/data/maven/micronaut4/simple/src/main/java/com/example/expression/Example.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletionTestBase.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageConstructsCompletionTest.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageOperatorsCompletionTest.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/gradle/MicronautGradleArtifactsImplTest.java
Labels: Java, LSP, VSCode Extension, Micronaut

#6631 [NETBEANS-6527] Do not cast FormatterDocument class to BaseDocument class for formatting xml files
  ide/editor.lib/src/org/netbeans/editor/BaseDocument.java
  ide/editor.lib/src/org/netbeans/editor/Utilities.java
  ide/xml.text/src/org/netbeans/modules/xml/text/indent/XMLLexerFormatter.java
Labels: LSP, Editor, VSCode Extension, ci:all-tests

#6481 Fixing the UnitTestForSourceQueryImpl for openjdk projects.
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/UnitTestForSourceQueryImpl.java
Labels: Java

#6709 GIT: Removed unnecessary separators from the git toolbar
  ide/git/src/org/netbeans/modules/git/git-layer.xml
Labels: UI, git

#6697 PHP: Implemented correct return type guessing for a function that returns an array
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/ModelVisitor.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/csl/NavigatorTest/structure/functionGuessingArrayReturnType.pass
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingArrayType/testInstanceOverrideMethodWithGuessingArrayType.php
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingArrayType/testInstanceOverrideMethodWithGuessingArrayType.php.testInstanceOverrideMethodWithGuessingArrayType_01.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingArrayType/testInstanceOverrideMethodWithGuessingArrayType.php.testInstanceOverrideMethodWithGuessingArrayType_02.codegen
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingArrayReturnType.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingArrayReturnType.php.testFunctionGuessingArrayReturnType_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingArrayReturnType.php.testFunctionGuessingArrayReturnType_02.html
  php/php.editor/test/unit/data/testfiles/structure/functionGuessingArrayReturnType.php
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/NavigatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
Labels: PHP

#6720 Handle brackets other than string correctly when "]" is typed #6706
  php/php.editor/src/org/netbeans/modules/php/editor/typinghooks/PhpTypedTextInterceptor.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpTypedTextInterceptorTest.java
Labels: PHP

#6724 Fix the formatting for a method invocation with a ternary or null-coalescing operator #5380
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/broken/issue197074_04.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/gh5380_01.php
  php/php.editor/test/unit/data/testfiles/formatting/spaces/gh5380_01.php.testGH5380_01a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/gh5380_01.php.testGH5380_01b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/gh5380_02.php
  php/php.editor/test/unit/data/testfiles/formatting/spaces/gh5380_02.php.testGH5380_02a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/spaces/gh5380_02.php.testGH5380_02b.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterSpacesTest.java
Labels: PHP

#6702 Allow for creating Micronaut Controllers based on Data Repository interfaces
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Bundle.properties
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/ClassesSelectorPanel.form
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/ClassesSelectorPanel.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautController.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautRepository.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/Controller.html
Labels: Micronaut

#6570 Add @troizet to the collaborator/triage list
  .asf.yaml
Labels: ci:no-build

#6732 Micronaut Expression Language: Goto Declaration and Hover implementation
  enterprise/micronaut/src/org/netbeans/modules/micronaut/MicronautConfigUtilities.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautConfigDocumentation.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletion.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageHoverProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/ExpressionTree.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/MicronautExpressionLanguageParser.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/MicronautExpressionLanguageUtilities.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hyperlink/MicronautConfigHyperlinkProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hyperlink/MicronautExpressionHyperlinkProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/mexp.tmLanguage.json
Labels: LSP, Micronaut

#6738 Fix incorrect indentation behavior #6731
  php/php.editor/src/org/netbeans/modules/php/editor/lexer/LexUtilities.java
  php/php.editor/test/unit/data/testfiles/indent/gh6731_01.php
  php/php.editor/test/unit/data/testfiles/indent/gh6731_01.php.indented
  php/php.editor/test/unit/data/testfiles/indent/gh6731_02.php
  php/php.editor/test/unit/data/testfiles/indent/gh6731_02.php.indented
  php/php.editor/test/unit/data/testfiles/indent/gh6731_03.php
  php/php.editor/test/unit/data/testfiles/indent/gh6731_03.php.indented
  php/php.editor/test/unit/data/testfiles/indent/gh6731_04.php
  php/php.editor/test/unit/data/testfiles/indent/gh6731_04.php.indented
  php/php.editor/test/unit/data/testfiles/indent/gh6731_05.php
  php/php.editor/test/unit/data/testfiles/indent/gh6731_05.php.indented
  php/php.editor/test/unit/data/testfiles/indent/gh6731_06.php
  php/php.editor/test/unit/data/testfiles/indent/gh6731_06.php.indented
  php/php.editor/test/unit/data/testfiles/indent/gh6731_07.php
  php/php.editor/test/unit/data/testfiles/indent/gh6731_07.php.indented
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPNewLineIndenterTest.java
Labels: PHP

#6712 PHP: Improve the performance for Go to Declaration
  php/php.editor/src/org/netbeans/modules/php/editor/CodeUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/elements/ClassElementImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/elements/IndexQueryImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/elements/TraitElementImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/ClassScopeImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/OccurenceBuilder.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/api/Utils.java
Labels: PHP

#6615 The list of tests should include TestNG tests.
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/TestMethodFinderImpl.java
  java/java.lsp.server/vscode/README.md
  java/junit.ui/src/org/netbeans/modules/junit/ui/actions/TestClassInfoTask.java
  java/testng.ui/nbproject/project.xml
  java/testng.ui/src/org/netbeans/modules/testng/ui/actions/TestClassInfoTask.java
Labels: Java

#6649 Avoiding crash during indexing when a record has a component with a wrong name.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java

#6637 Improving String templates support in the code gen.
  java/java.source.base/apichanges.xml
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/VeryPretty.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/DiffContext.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/EstimatorFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/PositionEstimator.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/StringTemplateTest.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
Labels: Java

#6727 Attempt to fix navigator popup menu race.
  java/java.navigation/src/org/netbeans/modules/java/navigation/ClassMemberPanelUI.java
Labels: Java, Editor, ci:dev-build

#6710 CI: limit push trigger to primary branches
  .github/workflows/main.yml
  .github/workflows/native-binary-build-dlight.nativeexecution.yml
  .github/workflows/native-binary-build-lib.profiler.yml
Labels: CI, ci:no-build

#6133 Adding CommandProvider API, to allow removal of commands out of java.lsp.server.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/src/org/netbeans/spi/lsp/CommandProvider.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectAuditCommand.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/ProjectMetadataCommand.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBAddConnection.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/db/DBCommandProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeActionsProvider2CommandProviderBridge.java
  platform/openide.dialogs/apichanges.xml
  platform/openide.dialogs/manifest.mf
  platform/openide.dialogs/src/org/openide/NotifyDescriptor.java
  platform/openide.dialogs/test/unit/src/org/openide/NotifyDescriptorTest.java
Labels: Java, LSP

#6755 LSP: Java code completion speedup.
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
Labels: Java, LSP, VSCode Extension

#6754 Update maven central repo URL
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NbmWizardPanelVisual.java
  contrib/groovy.grailsproject/test/unit/data/projects/completion/ivysettings.xml
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV3.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV4.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV4_1.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV5.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV5_1_0.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV6.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV6_1_0.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV6_2_0.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV6_2_1.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV6_2_2.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV6_2_3.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV6_2_4.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV7_0_0.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV7_0_1.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV7_0_9.xml
  enterprise/payara.tooling/nbproject/org-netbeans-modules-payara-tooling.sig
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/data/PayaraPlatformVersion.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/PayaraV3.xml
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/PayaraV4.xml
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/PayaraV5.xml
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/PayaraV6.xml
  enterprise/web.core.syntax/external/tlddoc-1.3-license.txt
  java/maven.indexer/external/indexer-core-7.0.4-license.txt
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/api/RepositoryPreferencesTest.java
  java/maven.model/test/unit/src/sample.pom
  java/maven/test/unit/src/org/netbeans/modules/maven/classpath/CPExtenderTest.java
  nbbuild/antsrc/org/netbeans/nbbuild/ParseProjectXml.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/DownloadBinaries.java
  nbbuild/binaries-default-properties.xml
  platform/core.startup/src/org/netbeans/core/startup/MavenRepoURLHandler.java
Labels: Code cleanup, Maven, ci:all-tests

#6733 Fix old command prefix.
  java/java.lsp.server/vscode/src/propertiesView/propertiesView.ts
Labels: LSP, VSCode Extension

#6726 Fix multiline String brace matching.
  java/java.editor/src/org/netbeans/modules/editor/java/JavaBracesMatcher.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaBracesMatcherTest.java
Labels: Java

#6722 Remove usages of the -Xdebug option.
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/resources/action-mapping.xml
  java/java.lsp.server/vscode/src/nbcode.ts
Labels: Code cleanup, LSP, VSCode Extension

#6763 Download DB Wallet action should also create a DB Connection from IDE
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/Bundle.properties
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.form
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.java
Labels: LSP, VSCode Extension, enterprise

#6745 Improving handling of string templates in the Java syntax.
  java/java.lsp.server/vscode/syntaxes/java.tmLanguage.json
Labels: VSCode Extension
