Repository apache/netbeans, pull requests merged in 2023-07, with the labels that each got.

#6142 FlatLaf: fix location of drag-and-drop insert indicator lines
  ide/spi.palette/src/org/netbeans/modules/palette/ui/DnDSupport.java
  platform/openide.explorer/src/org/openide/explorer/view/OutlineViewDropSupport.java
  platform/openide.explorer/src/org/openide/explorer/view/TreeViewDropSupport.java
Labels: UI, FormDesigner

#6144 improve/fix painting of drag-and-drop insert indicator lines on HiDPI screens
  ide/spi.palette/src/org/netbeans/modules/palette/ui/DropGlassPane.java
  platform/openide.explorer/src/org/openide/explorer/view/DropGlassPane.java
Labels: UI

#6094 Defensive guards against invalid code points in preferences.
  extide/o.apache.tools.ant.module/src/org/apache/tools/ant/module/api/IntrospectedInfo.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenFileOwnerQueryImpl.java
  nb/o.n.upgrader/src/org/netbeans/upgrade/CopyFiles.java
  platform/core.windows/src/org/netbeans/core/windows/TopComponentTracker.java
  platform/options.api/src/org/netbeans/modules/options/export/OptionsExportModel.java
Labels: Java, Maven, Platform, Ant, ci:dev-build

#6090 Update collection return encapsulation hint.
  java/java.hints/src/org/netbeans/modules/java/hints/encapsulation/ReturnEncapsulation.java
Labels: Java, hints

#6117 Upgrade bundled maven to 3.9.3.
  java/maven.embedder/external/apache-maven-3.9.3-bin-license.txt
  java/maven.embedder/external/apache-maven-3.9.3-bin-notice.txt
  java/maven.embedder/external/apache-maven-3.9.3-epl-license.txt
  java/maven.embedder/external/apache-maven-3.9.3-slf4j-license.txt
  java/maven.embedder/external/binaries-list
  java/maven.embedder/external/binariesembedded-list
  java/maven.embedder/nbproject/project.properties
  java/maven.embedder/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, Maven

#6163 Update rounding in terminal font metrics to address GH5980.
  ide/lib.terminalemulator/src/org/netbeans/lib/terminalemulator/MyFontMetrics.java
Labels: UI, ci:dev-build

#6151 Stabilize some unreliable tests for smoother CI operation
  .github/workflows/main.yml
  php/php.editor/nbproject/project.properties
Labels: PHP, CI, Platform, tests

#6154 Fix wrong javac tree access for module information in modular maven project
  .github/workflows/main.yml
  java/maven/src/org/netbeans/modules/maven/ModuleInfoSupport.java
  java/maven/test/unit/src/org/netbeans/modules/maven/ModuleInfoSupportTest.java
Labels: Java, Maven, nb-javac

#6054 Update JDK version requirement warning
  .github/workflows/main.yml
  apisupport/apisupport.ant/test/unit/src/org/netbeans/modules/apisupport/project/suite/BuildZipDistributionTest.java
  harness/nbjunit/src/org/netbeans/junit/NbTestCase.java
  harness/nbjunit/test/unit/src/org/netbeans/junit/NbModuleSuiteTest.java
  platform/autoupdate.services/test/unit/src/org/netbeans/modules/autoupdate/services/NewClustersRebootTest.java
  platform/o.n.bootstrap/src/org/netbeans/Bundle.properties
  platform/o.n.bootstrap/src/org/netbeans/Main.java
Labels: Platform, ci:all-tests, Upgrade JDK

#6127 Added basic line indenting to HCL languages.
  ide/languages.hcl/nbproject/project.xml
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/BasicHCLLexer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLIndenter.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLLanguage.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLTokenId.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/ASTBuilderListener.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLExpressionParser.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLLexer.g4
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/grammar/g4/HCLLexerBasics.g4
  ide/languages.hcl/test/unit/src/org/netbeans/modules/languages/hcl/HCLIndenterTest.java
Labels: Need Squashing, HCL

#6092 Fix `instanceof` expression with casting #5933
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable1.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable10.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable11.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable12.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable13.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable14.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable15.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable16.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable17.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable18.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable19.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable2.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable3.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable4.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable5.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable6.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable7.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable8.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/EncodedActionTable9.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/ClassName.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/InstanceOfExpression.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/issueGH5933_01.pass
  php/php.editor/test/unit/data/testfiles/parser/issueGH5933_01.php
  php/php.editor/test/unit/data/testfiles/parser/issueGH5933_01.php.errors
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PhpParserErrorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#6161 Add "Fix Imports" changes again
  php/php.editor/src/org/netbeans/modules/php/editor/actions/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixDuplicateImportStmts.form
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixDuplicateImportStmts.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixImportsBottomPanel.form
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixImportsBottomPanel.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixUsesAction.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixUsesPerformer.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/CodeStyle.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FmtOptions.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtUses.form
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtUses.java
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUses/testGH4609PSR12_GroupUses.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUses/testGH4609PSR12_GroupUses.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12a/testGH4609PSR12_GroupUsesWithPSR12a.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12a/testGH4609PSR12_GroupUsesWithPSR12a.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12b/testGH4609PSR12_GroupUsesWithPSR12b.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12b/testGH4609PSR12_GroupUsesWithPSR12b.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12c/testGH4609PSR12_GroupUsesWithPSR12c.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12c/testGH4609PSR12_GroupUsesWithPSR12c.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12d/testGH4609PSR12_GroupUsesWithPSR12d.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12d/testGH4609PSR12_GroupUsesWithPSR12d.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12e/testGH4609PSR12_GroupUsesWithPSR12e.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12e/testGH4609PSR12_GroupUsesWithPSR12e.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12f/testGH4609PSR12_GroupUsesWithPSR12f.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12f/testGH4609PSR12_GroupUsesWithPSR12f.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12g/testGH4609PSR12_GroupUsesWithPSR12g.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/GroupUsesWithPSR12g/testGH4609PSR12_GroupUsesWithPSR12g.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUses/testGH4609PSR12_SingleLineUses.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUses/testGH4609PSR12_SingleLineUses.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12a/testGH4609PSR12_SingleLineUsesWithPSR12a.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12a/testGH4609PSR12_SingleLineUsesWithPSR12a.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12b/testGH4609PSR12_SingleLineUsesWithPSR12b.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12b/testGH4609PSR12_SingleLineUsesWithPSR12b.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12c/testGH4609PSR12_SingleLineUsesWithPSR12c.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12c/testGH4609PSR12_SingleLineUsesWithPSR12c.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12d/testGH4609PSR12_SingleLineUsesWithPSR12d.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12d/testGH4609PSR12_SingleLineUsesWithPSR12d.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12e/testGH4609PSR12_SingleLineUsesWithPSR12e.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12e/testGH4609PSR12_SingleLineUsesWithPSR12e.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12f/testGH4609PSR12_SingleLineUsesWithPSR12f.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12f/testGH4609PSR12_SingleLineUsesWithPSR12f.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12g/testGH4609PSR12_SingleLineUsesWithPSR12g.php
  php/php.editor/test/unit/data/testfiles/actions/testGH4609PSR12/SingleLineUsesWithPSR12g/testGH4609PSR12_SingleLineUsesWithPSR12g.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/01/testGH5330_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/01/testGH5330_01.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/testGH5330_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH5330/testGH5330_01.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/06/testGroupUse_06.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/07/testGroupUse_07.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/08/testGroupUse_08.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/09/testGroupUse_09.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/10/testGroupUse_10.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/11/testGroupUse_11.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/12/testGroupUse_12.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUse/14/testGroupUse_14.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGroupUseComplex/01/testGroupUseComplex_01.php.fixUses
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/FixUsesPerformerTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/ImportDataCreatorTest.java
Labels: PHP

#6088 Avoid needless dependency on LineDocument
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/FormatterDocument.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementAllAbstractMethodsAction.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: VSCode Extension

#6168 Fix unstable unittest org.netbeans.modules.maven.ModuleInfoSupportTest
  java/maven/test/unit/src/org/netbeans/modules/maven/ModuleInfoSupportTest.java
Labels: Java, Maven

#6169 Update the PHP sample project for PHPUnit
  php/php.samples/samples_src/Calculator-PHPUnit/composer.json
  php/php.samples/samples_src/Calculator-PHPUnit/readme.html
  php/php.samples/samples_src/Calculator-PHPUnit/test/phpunit.xml
Labels: PHP

#6170 Fix "Fix Imports" when the vardoc has nullable types
  php/php.editor/src/org/netbeans/modules/php/editor/actions/ImportDataCreator.java
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Scanner.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/UnusedUsesCollector.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/issueGH6075_01.pass
  php/php.editor/test/unit/data/testfiles/actions/gh6075_01.php
  php/php.editor/test/unit/data/testfiles/actions/gh6075_01.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/gh6075_02.php
  php/php.editor/test/unit/data/testfiles/actions/gh6075_02.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/gh6162_01.php
  php/php.editor/test/unit/data/testfiles/actions/gh6162_01.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/testGH6075/01/Vendor/User.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6075/01/testGH6075_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6075/01/testGH6075_01.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH6075/Vendor/User.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6075/testGH6075_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6075/testGH6075_01.php.importData
  php/php.editor/test/unit/data/testfiles/actions/testGH6162/01/Vendor/User.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6162/01/testGH6162_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6162/01/testGH6162_01.php.fixUses
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6075/gh6075.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6075/gh6075.php.testGH6075_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6075/gh6075.php.testGH6075_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6075/gh6075.php.testGH6075_03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6075/gh6075.php.testGH6075_04.completion
  php/php.editor/test/unit/data/testfiles/gotodeclaration/testIssueGH6075/testIssueGH6075.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH6075/testIssueGH6075.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH6075/testIssueGH6075.php.testIssueGH6075_01a.occurrences
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH6075/testIssueGH6075.php.testIssueGH6075_01b.occurrences
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH6075/testIssueGH6075.php.testIssueGH6075_01c.occurrences
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH6075/testIssueGH6075.php.testIssueGH6075_01d.occurrences
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH6075/testIssueGH6075.php.testIssueGH6075_01e.occurrences
  php/php.editor/test/unit/data/testfiles/parser/issueGH6075_01.php
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testGH6075/Vendor/User.php
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testGH6075/testGH6075.php
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testGH6075/testGH6075.php.testGH6075.hints
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testGH6162/Vendor/User.php
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testGH6162/testGH6162.php
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testGH6162/testGH6162.php.testGH6162.hints
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testUnusedUsesHint/testUnusedUsesHint.php
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testUnusedUsesHint/testUnusedUsesHint.php.testUnusedUsesHint.hints
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testUnusedUsesHintWithTypedProperties/testUnusedUsesHintWithTypedProperties.php
  php/php.editor/test/unit/data/testfiles/verification/UnusedUsesHint/testUnusedUsesHintWithTypedProperties/testUnusedUsesHintWithTypedProperties.php.testUnusedUsesHintWithTypedProperties.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/FixUsesPerformerTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/ImportDataCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/UsedNamesCollectorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionGH6075Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/GotoDeclarationGH6075Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImplGH6075Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/HintsTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/UnusedUsesHintTest.java
  php/php.editor/tools/ASTPHP5Scanner.flex
Labels: PHP

#6167 Add @asbachb to collaborator/triage list.
  .asf.yaml
Labels: ci:no-build

#6171 Fix incorrect AbstractClassInstantiationHintError #6119
  php/php.editor/src/org/netbeans/modules/php/editor/CodeUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/AbstractClassInstantiationHintError.java
  php/php.editor/test/unit/data/testfiles/verification/AbstractClassInstantiationHint/gh6119.php
  php/php.editor/test/unit/data/testfiles/verification/AbstractClassInstantiationHint/gh6119.php.testGH6119.hints
  php/php.editor/test/unit/data/testfiles/verification/AbstractClassInstantiationHint/testAbstractClassInstantiationHint.php
  php/php.editor/test/unit/data/testfiles/verification/AbstractClassInstantiationHint/testAbstractClassInstantiationHint.php.testAbstractClassInstantiationHint.hints
  php/php.editor/test/unit/data/testfiles/verification/AbstractClassInstantiationHint/testAbstractClassInstantiationHint_02.php
  php/php.editor/test/unit/data/testfiles/verification/AbstractClassInstantiationHint/testAbstractClassInstantiationHint_02.php.testAbstractClassInstantiationHint_02.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/AbstractClassInstantiationHintErrorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/HintsTest.java
Labels: PHP

#6164 Fix tab closing when trying to select partly clipped tab.
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/ui/FlatEditorTabCellRenderer.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/WinFlatEditorTabCellRenderer.java
Labels: Look and Feel, ci:dev-build

#6150 Provide Lambda expression option in Listener generation style
  java/form/src/org/netbeans/modules/form/Bundle.properties
  java/form/src/org/netbeans/modules/form/FormEditorCustomizer.java
  java/form/src/org/netbeans/modules/form/JavaCodeGenerator.java
Labels: Java, FormDesigner, ci:dev-build

#6148 Rework Janitor, try to use real version numbers, in the future
  platform/janitor/src/org/netbeans/modules/janitor/Janitor.java
  platform/janitor/src/org/netbeans/modules/janitor/JanitorOptionsPanel.java
Labels: Platform

#6174 Allow to specify additional NBLS document selectors from other extensions.
  java/java.lsp.server/vscode/schemas/package.schema.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#6179 Don't remove existing uses if they are the same as the created string for use statements
  php/php.editor/src/org/netbeans/modules/php/editor/actions/FixUsesPerformer.java
  php/php.editor/test/unit/data/testfiles/actions/testIssue210093/01/testIssue210093_01.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testNoChanges/01/testNoChanges_01.php
  php/php.editor/test/unit/data/testfiles/actions/testNoChanges/01/testNoChanges_01.php.fixUses
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/FixUsesPerformerTest.java
Labels: PHP

#5617 turn github PR squash feature off.
  .asf.yaml
Labels: CI, ci:no-build

#6184 Fix NumberFormatException in maven dependency update hint.
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UpdateDependencyHint.java
Labels: Maven, hints, ci:dev-build

#6172 VisualDevelopmentUtil should close streams
  java/form/test/qa-functional/src/org/netbeans/qa/form/VisualDevelopmentUtil.java
Labels: Code cleanup, Java, tests

#6196 Fix the vendor name regex for Composer #6192
  php/php.composer/src/org/netbeans/modules/php/composer/options/ComposerOptionsValidator.java
  php/php.composer/test/unit/src/org/netbeans/modules/php/composer/options/ComposerOptionsValidatorTest.java
Labels: PHP

#6183 LSP: Block call for workspace symbols until projects get opened
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#5897 [NETBEANS-5719] Add option to disable tooltips for parameter completion.
  ide/editor.completion/src/org/netbeans/modules/editor/completion/CompletionSettings.java
  ide/editor.settings/src/org/netbeans/api/editor/settings/SimpleValueNames.java
  ide/options.editor/src/org/netbeans/modules/options/editor/completion/Bundle.properties
  ide/options.editor/src/org/netbeans/modules/options/editor/completion/CodeCompletionOptionsPanelController.java
  ide/options.editor/src/org/netbeans/modules/options/editor/completion/GeneralCompletionOptionsPanel.form
  ide/options.editor/src/org/netbeans/modules/options/editor/completion/GeneralCompletionOptionsPanel.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.editor/src/org/netbeans/modules/editor/java/Utilities.java
Labels: Java, Editor, UI, ci:dev-build

#6140 Bugfix: Added ability to find `jakarta` related jars for wildfly server instances
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/util/WildFlyProperties.java
Labels: Java EE/Jakarta EE

#6194 Repair openjdk.project tests and add them to CI
  .github/workflows/main.yml
  java/java.openjdk.project/nbproject/project.properties
  java/java.openjdk.project/nbproject/project.xml
  java/java.openjdk.project/test/unit/src/org/netbeans/modules/java/openjdk/project/ClassPathProviderImplTest.java
Labels: Java, CI, tests

#6138 Add support for Wildfly 28
  .github/workflows/main.yml
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/WildflyClassLoader.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/WildflyDeploymentFactory.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/commands/WildflyClient.java
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/commands/WildflyManagementAPI.java
Labels: enterprise, ci:all-tests

#6195 Make NP Dereference hint aware of Objects.requireNonNull().
  java/java.hints.test/src/org/netbeans/modules/java/hints/test/api/HintTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/NPECheck.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/NPECheckTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToSwitchPatternInstanceOfTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/mapreduce/ForLoopToFunctionalHintTest.java
Labels: Java, hints

#6187 apidoc fixes for NB19
  ide/api.lsp/apichanges.xml
  java/spi.java.hints/apichanges.xml
Labels: doc

#6201 Update Jakarta EE 10 archetype for a new project
  enterprise/maven.j2ee/src/org/netbeans/modules/maven/j2ee/ui/wizard/archetype/Bundle.properties
Labels: Java EE/Jakarta EE, Maven

#5847 Support for transformation from jakartaee8 to jakartaee10 applications
  .gitignore
  enterprise/jakarta.transformer/build.xml
  enterprise/jakarta.transformer/licenseinfo.xml
  enterprise/jakarta.transformer/manifest.mf
  enterprise/jakarta.transformer/nbproject/project.properties
  enterprise/jakarta.transformer/nbproject/project.xml
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/BannerJakarta.png
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/Bundle.properties
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/JakartaEEIcon.png
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/TransformerConstants.java
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/TransformerPanelVisual.form
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/TransformerPanelVisual.java
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/TransformerWizardIterator.java
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/TransformerWizardPanel.java
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/layer.xml
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/pom.txt
  enterprise/jakarta.transformer/src/org/netbeans/modules/fish/payara/jakarta/transformer/transformerDescription.html
  enterprise/maven.j2ee/nbproject/project.xml
  ide/swing.validation/nbproject/project.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/maven.embedder/nbproject/project.xml
  java/maven.indexer/nbproject/project.xml
  java/maven.model/nbproject/project.xml
  java/maven/nbproject/project.xml
  nbbuild/cluster.properties
Labels: Java, Java EE/Jakarta EE, ci:dev-build

#6198 Adding progress to Entity Classes from Database
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEntity.java
Labels: VSCode Extension

#6197 Fix cycle in problem reporter with unreachable artifacts.
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/MavenEmbedder.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/problems/ProblemReporterImpl.java
  java/maven/test/unit/src/org/netbeans/modules/maven/classpath/AbstractProjectClassPathImplTest.java
Labels: Maven, VSCode Extension, Regression, ci:all-tests

#6208 Allow for a lazy computation of CodeAction edits.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/src/org/netbeans/api/lsp/LazyCodeAction.java
  java/java.hints/nbproject/project.xml
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP, VSCode Extension

#6157 Fix for BigStringCustomEditor not being able to save Strings backed by byte arrays
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/ShortenedStrings.java
Labels: Java

#6078 Add javadoc support for the 2nd jdk early release
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/platformdefinition/J2SEPlatformDefaultJavadocImpl.java
Labels: Java, JavaDoc

#6129 Jakarta EE Entitiy and EJB support
  enterprise/j2ee.ejbcore/licenseinfo.xml
  enterprise/j2ee.ejbcore/nbproject/org-netbeans-modules-j2ee-ejbcore.sig
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/api/codegeneration/SessionGenerator.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/AppServerValidationPanel.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/session/SessionEJBWizard.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/resources/layer.xml
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/resources/templates/EJB40MessageDrivenBean.template
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/resources/templates/EJB40SessionLocal.template
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/resources/templates/EJB40SessionRemote.template
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/resources/templates/EJB40SingletonEjbClass.template
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/resources/templates/EJB40StatefulEjbClass.template
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/resources/templates/EJB40StatelessEjbClass.template
  enterprise/j2ee.ejbcore/test/unit/src/org/netbeans/modules/j2ee/ejbcore/api/codegeneration/SessionGeneratorTest.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/PersistenceClientEntitySelectionVisual.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/entity/EntityWizard.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/JavaPersistenceGenerator.java
  java/j2ee.persistence/test/unit/src/org/netbeans/modules/j2ee/persistence/wizard/entity/EntityWizardTest.java
Labels: Java EE/Jakarta EE, enterprise, ci:dev-build

#6216 Use the currently active dialog as the presenter parent
  platform/core.windows/src/org/netbeans/core/windows/services/DialogDisplayerImpl.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbDialog.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbPresenter.java
  platform/core.windows/src/org/netbeans/core/windows/services/NodeOperationImpl.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/DialogDisplayerImplTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbDialogTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbPresenterTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NotifyLaterTest.java
  platform/openide.util.ui/apichanges.xml
  platform/openide.util.ui/src/org/openide/util/Utilities.java
Labels: Platform, ci:dev-build

#5989 #5987: Use the currently active dialog as the presenter parent
  platform/core.windows/src/org/netbeans/core/windows/services/DialogDisplayerImpl.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbDialog.java
  platform/core.windows/src/org/netbeans/core/windows/services/NbPresenter.java
  platform/core.windows/src/org/netbeans/core/windows/services/NodeOperationImpl.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/DialogDisplayerImplTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbDialogTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NbPresenterTest.java
  platform/core.windows/test/unit/src/org/netbeans/core/windows/services/NotifyLaterTest.java
  platform/openide.util.ui/apichanges.xml
  platform/openide.util.ui/src/org/openide/util/Utilities.java
Labels: Platform

#6228 Revert "Use resolve() method that actually throws exception."
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/MavenEmbedder.java
  java/maven/test/unit/src/org/netbeans/modules/maven/classpath/AbstractProjectClassPathImplTest.java
Labels: Maven, Regression, ci:dev-build

#6221 Add support for GlassFish 7.0.6
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactory.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, Upgrade Library, enterprise

#6220 Fix options import regression
  platform/options.api/src/org/netbeans/modules/options/export/OptionsExportModel.java
Labels: Platform, Regression, ci:dev-build

#6217 Enable 'Rerun failed tests' button for JUnit5
  java/maven.junit/src/org/netbeans/modules/maven/junit/JUnitOutputListenerProvider.java
Labels: Maven, ci:dev-build

#6237 Avoid getting all types with an empty type name #6039
  php/php.editor/src/org/netbeans/modules/php/editor/actions/ImportDataCreator.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/PHPDocCommentParser.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeArrayShapes01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeArrayShapes02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeGenerics01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeGenerics02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeGenerics03.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeGenerics04.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeGenerics05.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeObjectShapes01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest/ReturnTypeObjectShapes02.pass
  php/php.editor/test/unit/data/testfiles/actions/testGH6039/testGH6039_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH6039/testGH6039_01.php.importData
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/ImportDataCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/parser/PHPDocCommentParserTest.java
Labels: PHP

#6243 rust.project test data licenses
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Reference.Cargo.DottedName.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Reference.Cargo.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.DottedName.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.LiteralMultilineString.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.LiteralString.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.MultilineString.toml
  rust/rust.project/test/unit/src/org/netbeans/modules/rust/project/data/Test.Cargo.String.toml
Labels: Rust

#6186 Vscode ts listener can subscribe for NLS node event changes.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/LspTreeViewServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeNodeRegistry.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeNodeRegistryImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/NodeChangeType.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/NodeChangedParams.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/NodeChangesParams.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/explorer/api/TreeViewService.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/TreeViewProviderTest.java
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/propertiesView/propertiesView.ts
  java/java.lsp.server/vscode/src/protocol.ts
Labels: LSP, VSCode Extension

#6248 Set DB environment for java+ as well as for java
  java/java.lsp.server/vscode/src/dbConfigurationProvider.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#6254 Gradle Tooling API 8.3-rc-1
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.3-rc-1-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.3-rc-1-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Gradle

#6260 Sync delivery to release190 for 19-rc3
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.3-rc-1-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.3-rc-1-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Release process

#6261 Rust: More precise parser error markings in the Editor
  rust/rust.grammar/src/org/netbeans/modules/rust/grammar/ast/RustAST.java
Labels: Rust

#6257 Bugfix: Bring back singleton option when creating a new Session Bean and interfaceless EJBs
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/annotation/EnterpriseBeansImpl.java
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/annotation/AnnotationHelpers.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/action/SendJMSGenerator.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/api/methodcontroller/EjbMethodController.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeVisualPanel2.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeWizardPanel2.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/mdb/MdbPropertiesPanelVisual.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/mdb/MessageDestinationUiSupport.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/session/SessionEJBWizardDescriptor.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/session/SessionEJBWizardPanel.java
  enterprise/j2ee.ejbverification/src/org/netbeans/modules/j2ee/ejbverification/rules/AsynchronousMethodInvocation.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/impl/metamodel/ObjectProviders.java
  java/j2ee.persistenceapi/src/org/netbeans/modules/j2ee/persistenceapi/metadata/orm/annotation/EntityMappingsImpl.java
Labels: Java EE/Jakarta EE, enterprise

#6265 Fix: Committing SQL files does not change blue color on the file tab in editor
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLCloneableEditor.java
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLEditorSupport.java
Labels: ci:dev-build

#6262 Supporting source file launcher in VS Code extension
  java/java.api.common/nbproject/project.xml
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/LaunchProcess.java
  java/java.api.common/src/org/netbeans/modules/java/api/common/singlesourcefile/SingleJavaSourceRunActionProvider.java
  java/java.api.common/test/unit/src/org/netbeans/modules/java/api/common/singlesourcefile/JavaFileTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/EnablePreviewSingleSourceFile.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/CompilerOptionsQueryImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/EnablePreviewSingleSourceFile.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/singlesourcefile/CompilerOptionsQueryImplTest.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/runConfiguration.ts
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/Hacks.java
Labels: Java, LSP, VSCode Extension
