Repository apache/netbeans, pull requests merged in 2024-06, with the labels that each got.

#7426 Update sigtest-maven-plugin to 2.3.
  nbbuild/external/binaries-list
  nbbuild/external/sigtest-maven-plugin-2.3-license.txt
  nbbuild/templates/projectized.xml
Labels: Upgrade Library, build

#7390 Fix Exception template to extend from Exception
  java/java.project.ui/src/org/netbeans/modules/java/project/ui/resources/Exception.java.template
Labels: Java, Regression

#7386 Allow focus events to propagate before running glyph gutter actions - GH4155
  ide/editor.lib/src/org/netbeans/editor/GlyphGutter.java
Labels: kind:bug, Editor, UI, ci:dev-build

#7422 Micronaut: Command creating request body for given endpoint added.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEndpointRequestProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
Labels: LSP, VSCode Extension, Micronaut

#7421 Prevent deleting the nullable type prefix when the "fix imports" is run #7123
  php/php.editor/src/org/netbeans/modules/php/editor/actions/UsedNamesCollector.java
  php/php.editor/test/unit/data/testfiles/actions/gh6075_01.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/gh7123_01.php
  php/php.editor/test/unit/data/testfiles/actions/gh7123_01.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/gh7123_02.php
  php/php.editor/test/unit/data/testfiles/actions/gh7123_02.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/testGH7123/01/testGH7123_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH7123/01/testGH7123_01.php.fixUses
  php/php.editor/test/unit/data/testfiles/actions/testGH7123/02/testGH7123_02.php
  php/php.editor/test/unit/data/testfiles/actions/testGH7123/02/testGH7123_02.php.fixUses
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/FixUsesPerformerTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/UsedNamesCollectorTest.java
Labels: PHP

#7431 Fix the Code Completion for `static` return type #7192
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/FunctionScopeImpl.java
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7192/gh7192.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7192/gh7192.php.testGH7192_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7192/gh7192.php.testGH7192_02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7192/gh7192.php.testGH7192_03.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionGH7192Test.java
Labels: PHP

#7425 Prevent NPE #7170
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/SemiAttribute.java
Labels: PHP

#7423 Fix formatting for typed field and const alignment #7190
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedConstants01.php
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedConstants01.php.testGroupAlignmentAssignmentTypedConstants01a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedConstants01.php.testGroupAlignmentAssignmentTypedConstants01b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedConstants02.php
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedConstants02.php.testGroupAlignmentAssignmentTypedConstants02a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedConstants02.php.testGroupAlignmentAssignmentTypedConstants02b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedFields01.php
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedFields01.php.testGroupAlignmentAssignmentTypedFields01a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedFields01.php.testGroupAlignmentAssignmentTypedFields01b.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedFields02.php
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedFields02.php.testGroupAlignmentAssignmentTypedFields02a.formatted
  php/php.editor/test/unit/data/testfiles/formatting/alignment/groupAlignmentAssignmentTypedFields02.php.testGroupAlignmentAssignmentTypedFields02b.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterAlignmentTest.java
Labels: PHP

#7391 Stack trace parser fixes
  java/java.navigation/src/org/netbeans/modules/java/stackanalyzer/StackLineAnalyser.java
  java/java.navigation/test/unit/src/org/netbeans/modules/java/stackanalyzer/StackLineAnalyserTest.java
  java/maven/src/org/netbeans/modules/maven/api/output/OutputUtils.java
  java/maven/test/unit/src/org/netbeans/modules/maven/api/output/OutputUtilsTest.java
Labels: Java, Maven

#7384 Fix usage of ToggleBookmarkAction in split windows scenario
  ide/editor.bookmarks/src/org/netbeans/lib/editor/bookmarks/actions/ToggleBookmarkAction.java
Labels: Editor, UI, ci:dev-build

#7439 Micronaut: Code completion support for values of 'Mapping' annotation.
  enterprise/cloud.oracle/test/unit/src/org/netbeans/modules/cloud/oracle/assets/CloudAssetsTest.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautJavaMappingPropertiesCompletion.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEndpointRequestProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP, VSCode Extension, Micronaut

#7410 Disable FS event notifier test on mac and consolidate fs tests.
  .github/workflows/main.yml
  platform/masterfs.linux/nbproject/project.xml
  platform/masterfs.linux/test/unit/src/org/netbeans/modules/masterfs/watcher/linux/LinuxNotifier235632Test.java
  platform/masterfs.macosx/nbproject/project.xml
  platform/masterfs/test/unit/src/org/netbeans/modules/masterfs/NotifierTest.java
  platform/masterfs/test/unit/src/org/netbeans/modules/masterfs/filebasedfs/BaseFileObjectTestHid.java
  platform/masterfs/test/unit/src/org/netbeans/modules/masterfs/filebasedfs/fileobjects/FolderObjTest.java
  platform/masterfs/test/unit/src/org/netbeans/modules/masterfs/filebasedfs/fileobjects/StatFilesTest.java
  platform/openide.filesystems/test/unit/src/org/openide/filesystems/FileObjectTestHid.java
  platform/openide.filesystems/test/unit/src/org/openide/filesystems/test/StatFiles.java
Labels: Code cleanup, CI, tests

#7438 Fix the brace context #7124
  php/php.editor/src/org/netbeans/modules/php/editor/PHPBracesMatcher.java
  php/php.editor/test/unit/data/testfiles/bracematching/braceContextGH7124.php
  php/php.editor/test/unit/data/testfiles/bracematching/braceContextGH7124.php.testFindContextGH7124_03.bracecontext
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/PHPBracesMatcherTest.java
Labels: PHP

#7444 Fix the mark ocurrences and the go to declaration for nested lambda functions #7348
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/ModelVisitor.java
  php/php.editor/test/unit/data/testfiles/gotodeclaration/testIssueGH7348/testIssueGH7348.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH7348/testIssueGH7348.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH7348/testIssueGH7348.php.testIssueGH7348_01a.occurrences
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH7348/testIssueGH7348.php.testIssueGH7348_01b.occurrences
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH7348/testIssueGH7348.php.testIssueGH7348_01c.occurrences
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/GotoDeclarationGH7348Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImplGH7348Test.java
Labels: PHP

#7447 Fix the formatter for no curly "if" statement with a line comment [GH-7185]
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_01.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_01.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_02.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_02.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_03.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_03.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_04.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_04.php.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_05.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7185_05.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
Labels: PHP

#7407 Restore maven archetypes for JavaEE 5 and J2EE 1.4 projects
  enterprise/maven.j2ee/src/org/netbeans/modules/maven/j2ee/ui/wizard/archetype/J2eeArchetypeFactory.java
Labels: Java EE/Jakarta EE, ci:dev-build

#7453 Update dependencies for OCI Vault integration and clean up multistep dialogs
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddDbConnectionToVault.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddNewAssetCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddSuggestedItemAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/DependencyUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/Step.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/Steps.java
Labels: LSP, VSCode Extension, enterprise

#7417 JS Parser: Support top-level await for modules
  webcommon/javascript2.editor/licenseinfo.xml
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsLanguage.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/parser/JsErrorManager.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/parser/SanitizingParser.java
  webcommon/javascript2.editor/test/unit/data/testfiles/ecmascript6/parser/ES6/identifier/export_await.js
  webcommon/javascript2.editor/test/unit/data/testfiles/ecmascript6/parser/ES6/identifier/export_await.js.ast.xml
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/topLevelAwait.js
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/topLevelAwait.js.ast.xml
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/topLevelAwait.js.semantic
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/JsSemanticAnalyzerTest.java
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/parser/AstTest.java
  webcommon/libs.nashorn/src/com/oracle/js/parser/ECMAErrors.java
  webcommon/libs.nashorn/src/com/oracle/js/parser/Parser.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/ParserTest.java
Labels: JavaScript, ci:dev-build

#7338 Do not show Connect dialog when DB connection fails because of missing JDBC driver
  ide/db/src/org/netbeans/modules/db/explorer/action/ConnectAction.java
Labels: LSP, VSCode Extension, enterprise

#7452 Fix formatting issues [GH-7140] [GH-7454]
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7140.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7140.php.testGH7140_01.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7140.php.testGH7140_02.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7454.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7454.php.testGH7454_01.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7454.php.testGH7454_02.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
Labels: PHP

#7471 Disable failing java.mx.project tests
  .github/workflows/main.yml
  java/java.mx.project/build.xml
Labels: CI, tests, MX

#7461 Fix incorrect warnings for the PSR1 hint [GH-7458]
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PSR1Hint.java
  php/php.editor/test/unit/data/testfiles/verification/PSR1/testMethodMagicOk/ClassName.php
Labels: PHP

#7464 Run maven embedder with the "normal" NetBeans environment not special context class loader
  enterprise/web.jsf.editor/src/org/netbeans/modules/web/jsf/editor/facelets/FaceletsLibrarySupport.java
Labels: Java EE/Jakarta EE, ci:dev-build

#7487 Fix formatting for method chaining [GH-7172]
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7172.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7172.php.testGH7172_01.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7172.php.testGH7172_02.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
Labels: PHP

#7473 Make the status bar Notification bubble sharp on HiDPI/Retina screens
  ide/notifications/src/org/netbeans/modules/notifications/FlashingIcon.java
Labels: Platform, UI

#7489 Fix profiler.oql und GraalJS, support for running unittests of profiler.oql and api.knockout on JDK 17+
  .github/workflows/main.yml
  platform/api.templates/nbproject/project.xml
  platform/api.templates/test/unit/src/org/netbeans/modules/templates/ScriptingCreateFromTemplateTest.java
  platform/openide.loaders/nbproject/project.properties
  platform/openide.loaders/nbproject/project.xml
  platform/openide.loaders/test/unit/src/org/openide/text/TemplatesMimeTypeTest.java
  platform/templates/nbproject/project.xml
  platform/templates/test/unit/src/org/netbeans/modules/templates/PropertiesProviderTest.java
  platform/templates/test/unit/src/org/netbeans/modules/templates/ui/TemplatesPanelTest.java
  profiler/profiler.oql/nbproject/project.xml
  profiler/profiler.oql/src/org/netbeans/modules/profiler/oql/engine/api/impl/OQLEngineImpl.java
  profiler/profiler.oql/src/org/netbeans/modules/profiler/oql/engine/api/impl/hat.js
  profiler/profiler.oql/test/unit/src/org/netbeans/modules/profiler/oql/engine/api/impl/OQLEngineTest.java
  webcommon/api.knockout/nbproject/project.xml
Labels: Java, CI, Platform, profiler, tests, web

#7468 Update bundled maven to 3.9.8.
  java/maven.embedder/external/apache-maven-3.9.8-bin-license.txt
  java/maven.embedder/external/apache-maven-3.9.8-bin-notice.txt
  java/maven.embedder/external/apache-maven-3.9.8-epl-license.txt
  java/maven.embedder/external/apache-maven-3.9.8-failureaccess-1.0.2-license.txt
  java/maven.embedder/external/apache-maven-3.9.8-guava-33.2.1-jre-license.txt
  java/maven.embedder/external/apache-maven-3.9.8-javax.annotation-api-1.3.2-license.txt
  java/maven.embedder/external/apache-maven-3.9.8-slf4j-1.7.36-license.txt
  java/maven.embedder/external/binaries-list
  java/maven.embedder/external/binariesembedded-list
  java/maven.embedder/nbproject/project.properties
  java/maven.embedder/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, Maven, ci:dev-build

#7483 Use StructureProvider to populate navigator
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/AbstractNavigatorPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/Icons.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspNavigatorPanelDynamicRegistration.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspStructureNavigatorPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/NavigatorPanelImpl.java
  ide/spi.navigator/src/org/netbeans/spi/navigator/NavigatorPanel.java
Labels: LSP, VSCode Extension

#7480 Add border on quick search box in Outline and TreeView components
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLFCustoms.java
  platform/openide.awt/src/org/openide/awt/QuickSearch.java
Labels: Look and Feel, Platform

#7494 Micronaut: Provide Endpoint and Bean symbols originating from libraries.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautStructureProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolErrorProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolSearcher.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, Micronaut

#7498 Add a formatting option for an empty function/method body [GH-6716]
  php/php.editor/src/org/netbeans/modules/php/editor/indent/CodeStyle.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FmtOptions.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatToken.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/Bundle.properties
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtBlankLines.form
  php/php.editor/src/org/netbeans/modules/php/editor/indent/ui/FmtBlankLines.java
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/PER/EmptyFunctionBody.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/PER/EmptyFunctionBody.php.testEmptyFunctionBody_01.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/PER/EmptyFunctionBody.php.testEmptyFunctionBody_02.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/PER/EmptyFunctionBody.php.testEmptyFunctionBody_03.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/PER/EmptyFunctionBody.php.testEmptyFunctionBody_04.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/PER/EmptyFunctionBody.php.testEmptyFunctionBody_05.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/PER/EmptyFunctionBody.php.testEmptyFunctionBody_06.formatted
  php/php.editor/test/unit/data/testfiles/formatting/templates/issueGH6716_01.php
  php/php.editor/test/unit/data/testfiles/formatting/templates/issueGH6716_01.php.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterBlankLinesTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTemplateTest.java
Labels: PHP

#7476 Fix an 'illegal reflective access' warning on startup
  platform/openide.util/src/org/openide/util/RequestProcessor.java
Labels: Platform, ci:dev-build

#7400 Implement repeatExecution for GradleItem
  extide/gradle/src/org/netbeans/modules/gradle/execute/AbstractGradleExecutor.java
Labels: Gradle, ci:dev-build

#7507 Revert "Disable failing java.mx.project tests"
  .github/workflows/main.yml
  java/java.mx.project/build.xml
Labels: CI, tests, MX

#7499 Do not provide compile classpath for repository artifacts with POM files generated by Gradle.
  java/maven/src/org/netbeans/modules/maven/queries/RepositoryMavenCPProvider.java
Labels: Java, Maven

#7460 Update maven-indexer to 7.1.3 and lucene to 9.11.0
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/gson-2.11.0-license.txt
  java/maven.indexer/external/indexer-core-7.1.3-license.txt
  java/maven.indexer/external/indexer-core-7.1.3-notice.txt
  java/maven.indexer/external/lucene-9.11.0-license.txt
  java/maven.indexer/external/lucene-9.11.0-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  nbbuild/jms-config/base.flags
Labels: Upgrade Library, Maven, ci:dev-build

#7518 Micronaut: minor bugs fixed.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEntity.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: LSP, VSCode Extension, Micronaut

#7523 Micronaut: Use correct classpath when scanning for Micronaut symbols.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolSearcher.java
Labels: Micronaut

#7505 Let lsp.client display completions provided by CompletionCollector
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/AbstractCompletionItem.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/Icons.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspCompletionItem.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspCompletionProviderImpl.java
Labels: LSP

#7502 Fixed remaining platform/apisupport tests on JDK11+
  .github/workflows/main.yml
  apisupport/timers/nbproject/project.properties
  apisupport/timers/test/unit/src/org/netbeans/modules/timers/ObjectListRendererTest.java
  platform/lib.uihandler/nbproject/project.properties
  platform/lib.uihandler/src/org/netbeans/lib/uihandler/LogFormatter.java
  platform/lib.uihandler/src/org/netbeans/lib/uihandler/LogRecords.java
  platform/lib.uihandler/test/unit/src/org/netbeans/lib/uihandler/LogFormatterTest.java
  platform/lib.uihandler/test/unit/src/org/netbeans/lib/uihandlerserver/LogRecordsTest.java
  platform/netbinox/test/unit/src/org/netbeans/modules/netbinox/BundleURLConnectionTest.java
  platform/openide.nodes/src/org/openide/nodes/Children.java
  platform/openide.text/test/unit/src/org/openide/text/NotifyModifiedTest.java
  platform/openide.util.ui/test/unit/src/org/openide/xml/XMLUtil2Test.java
Labels: CI, ci:all-tests

#7513 Make maven UseReleaseOptionHint aware of plugin management.
  java/maven.hints/nbproject/project.properties
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHint.java
  java/maven.hints/test/unit/src/org/netbeans/modules/maven/hints/pom/UseReleaseOptionHintTest.java
Labels: Maven, hints, Upgrade JDK

#7512 Maven compiler properties panel updates
  java/maven/src/org/netbeans/modules/maven/api/ModelUtils.java
  java/maven/src/org/netbeans/modules/maven/api/PluginPropertyUtils.java
  java/maven/src/org/netbeans/modules/maven/api/customizer/support/CheckBoxUpdater.java
  java/maven/src/org/netbeans/modules/maven/customizer/Bundle.properties
  java/maven/src/org/netbeans/modules/maven/customizer/CompilePanel.form
  java/maven/src/org/netbeans/modules/maven/customizer/CompilePanel.java
  java/maven/src/org/netbeans/modules/maven/customizer/MavenProjectPropertiesUiSupport.java
  java/maven/src/org/netbeans/modules/maven/customizer/SourcesPanel.form
  java/maven/src/org/netbeans/modules/maven/customizer/SourcesPanel.java
  java/maven/src/org/netbeans/modules/maven/customizer/WarnPanel.form
  java/maven/src/org/netbeans/modules/maven/customizer/WarnPanel.java
  java/maven/src/org/netbeans/modules/maven/options/SettingsPanel.form
  java/maven/src/org/netbeans/modules/maven/options/SettingsPanel.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenSourceLevelImpl.java
  java/maven/test/unit/src/org/netbeans/modules/maven/queries/MavenSourceLevelImplTest.java
Labels: Java, Maven, ci:dev-build

#7466 Shield against NPE in VSCode
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: VSCode Extension

#7526 Fix incorrect formatting for a static method invocation [GH-7524]
  php/php.editor/src/org/netbeans/modules/php/editor/indent/FormatVisitor.java
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7524.php
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7524.php.testGH7524_01.formatted
  php/php.editor/test/unit/data/testfiles/formatting/issueGH7524.php.testGH7524_02.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterTest.java
Labels: PHP, ci:dev-build
