Repository apache/netbeans, pull requests merged in 2024-02, with the labels that each got.

#6992 PHP: Implemented display of exception message when exception breakpoints are hit
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/BreakpointModel.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/breakpoints/ExceptionBreakpoint.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/RunResponse.java
Labels: PHP

#7013 Update the mx suite parsing to work with sources of GraalVM version 23.1.0
  .github/workflows/main.yml
  java/java.mx.project/src/org/netbeans/modules/java/mx/project/suitepy/Parse.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/CoreSuiteTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/SdkSuiteTest.java
Labels: Java, ci:all-tests, MX

#7029 Ensure Gradle new project wizard picks up latest Gradle version
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
Labels: Gradle, ci:dev-build

#6926 Update Gradle Tooling API to 8.6
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.6-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.6-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Gradle, Upgrade Library

#7033 #7018: Avoid NPE on null properties (compatibility)
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
Labels: Maven, Regression

#7026 Unable to open Preview Design window on Mac OS X and Windows
  nbbuild/jms-config/desktop.flags
Labels: UI, os:macos, os:windows, FormDesigner, ci:all-tests, ci:dev-build

#7015 Sync delivery to release210 for 21-rc3
  .github/workflows/main.yml
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.6-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.6-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
  ide/diff/src/org/netbeans/modules/diff/builtin/visualizer/editable/DiffContentPanel.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
  java/java.mx.project/src/org/netbeans/modules/java/mx/project/suitepy/Parse.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/CoreSuiteTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/SdkSuiteTest.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  nbbuild/jms-config/desktop.flags
Labels: Release process

#7042 Prevent `ParseException` when CC is run on the EOF
  php/php.editor/src/org/netbeans/modules/php/editor/completion/CompletionContextFinder.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testParseException/testParseException.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testParseException/testParseException.php.testParseException.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP80CodeCompletionTest.java
Labels: PHP

#7019 Prepare CI for NB 22 and bump minimum JDK requirement to 17
  .github/workflows/dependency-checks.yml
  .github/workflows/main.yml
  .github/workflows/native-binary-build-lib.profiler.yml
  README.md
  harness/nbjunit/src/org/netbeans/junit/MethodOrder.java
  harness/nbjunit/test/unit/src/org/netbeans/junit/OrderAZTest.java
  harness/nbjunit/test/unit/src/org/netbeans/junit/OrderTest.java
  harness/nbjunit/test/unit/src/org/netbeans/junit/OrderZATest.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/AutoCompletion_CaseBody_PatternMatchingSwitch.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/1.8/AutoCompletion_Guard_PatternMatchingSwitch_1.pass
  java/java.hints.test/src/org/netbeans/modules/java/hints/test/api/HintTest.java
  java/java.hints/test/unit/data/goldenfiles/org/netbeans/test/java/hints/BroadCatchBlockTest/TwoExceptions.java
  java/java.hints/test/unit/data/goldenfiles/org/netbeans/test/java/hints/BroadCatchBlockTest/TwoExceptionsMulti.java
  java/java.hints/test/unit/data/org/netbeans/test/java/hints/BroadCatchBlockTest/TwoExceptions.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/ImportsTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/BroadCatchBlockTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertSwitchToRuleSwitchTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertTextBlockToStringTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToNestedRecordPatternTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToRecordPatternTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToTextBlockTest.java
  platform/o.n.bootstrap/src/org/netbeans/Main.java
  platform/o.n.core/test/unit/src/org/netbeans/core/CanProxyToLocalhostTest.java
  platform/openide.loaders/nbproject/project.properties
  webcommon/javascript2.editor/test/unit/data/testfiles/completion/issue215777_01.js
  webcommon/javascript2.editor/test/unit/data/testfiles/completion/issue215777_01.js.testIssue215777_01.completion
  webcommon/javascript2.editor/test/unit/data/testfiles/completion/issue215777_02.js
  webcommon/javascript2.editor/test/unit/data/testfiles/completion/issue215777_02.js.testIssue215777_02.completion
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/JsCodeCompletionGeneralTest.java
Labels: CI, tests, ci:all-tests, Upgrade JDK

#6994 Retire EOL Spring 3, 4 and update Spring 5 lib wrapper to 5.3.31.
  enterprise/spring.webmvc/src/org/netbeans/modules/spring/webmvc/SpringConfigPanelVisual.java
  enterprise/spring.webmvc/src/org/netbeans/modules/spring/webmvc/SpringWebModuleExtender.java
  enterprise/spring.webmvc/src/org/netbeans/modules/spring/webmvc/resources/Bundle.properties
  enterprise/spring.webmvc/src/org/netbeans/modules/spring/webmvc/resources/layer.xml
  enterprise/spring.webmvc/src/org/netbeans/modules/spring/webmvc/resources/spring-webmvc-3.0.xml
  enterprise/spring.webmvc/src/org/netbeans/modules/spring/webmvc/resources/spring-webmvc-4.0.xml
  enterprise/spring.webmvc/src/org/netbeans/modules/spring/webmvc/resources/spring-webmvc-5.0.xml
  java/libs.springframework/external/binaries-list
  java/libs.springframework/external/spring-framework-3.2.18.RELEASE-notice.txt
  java/libs.springframework/external/spring-framework-4.3.29.RELEASE-license.txt
  java/libs.springframework/external/spring-framework-5.2.9.RELEASE-license.txt
  java/libs.springframework/external/spring-framework-5.2.9.RELEASE-notice.txt
  java/libs.springframework/external/spring-framework-5.3.31-license.txt
  java/libs.springframework/external/spring-framework-5.3.31-notice.txt
  java/libs.springframework/nbproject/project.properties
  java/libs.springframework/src/org/netbeans/libs/springframework/Bundle.properties
  java/libs.springframework/src/org/netbeans/libs/springframework/layer.xml
  java/libs.springframework/src/org/netbeans/libs/springframework/spring-framework300.xml
  java/libs.springframework/src/org/netbeans/libs/springframework/spring-framework400.xml
  java/libs.springframework/src/org/netbeans/libs/springframework/spring-framework500.xml
  java/spring.beans/nbproject/project.properties
  nbbuild/licenses/Apache-2.0-spring5
Labels: Code cleanup, Java, Upgrade Library, enterprise

#6991 Remove pre-apache NetBeans 8.2 plugin portal from settings.
  nb/updatecenters/src/org/netbeans/modules/updatecenters/resources/Bundle.properties
  nb/updatecenters/src/org/netbeans/modules/updatecenters/resources/NetBeansClusterCreator.java
  nb/updatecenters/src/org/netbeans/modules/updatecenters/resources/NetBeansKeyStoreProvider.java
  nb/updatecenters/src/org/netbeans/modules/updatecenters/resources/mf-layer.xml
Labels: Code cleanup

#7031 Fix how to define fallback values for a jdk installation in some xml files
  java/java.freeform/src/org/netbeans/modules/java/freeform/jdkselection/jdk.xml
  nbbuild/jdk.xml
  nbbuild/nbproject/jdk.xml
Labels: Java, Ant

#7054 Fix incorrect code completion for use function #7041
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCompletionItem.java
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7041/testGroupUseFunction01/testGroupUseFunction01.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7041/testGroupUseFunction01/testGroupUseFunction01.php.testGroupUseFunction01.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7041/testUseFunction01/testUseFunction01.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7041/testUseFunction01/testUseFunction01.php.testUseFunction01.cccustomtpl
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP71CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP72CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP74CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP80CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP81CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP82CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP83CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionAutoImportTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionGH7041Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionMagicMethodTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionTestBase.java
Labels: PHP

#7011 `NbLaunchDelegate` fix and test multi line texts in suite.py
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegateTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/ParseSuitesTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/multilinetexts.py
Labels: Need Squashing, LSP, VSCode Extension, MX

#7061 Revert "`NbLaunchDelegate` fix and test multi line texts in suite.py"
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegateTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/ParseSuitesTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/multilinetexts.py
Labels: do not merge, ci:all-tests

#7037 Skip unreadable multiproperties.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: kind:bug, Gradle

#7060 Add null check on originalEncoding parameter of EncodingModel
  ide/projectuiapi/src/org/netbeans/spi/project/ui/support/ProjectCustomizer.java
  ide/projectuiapi/test/unit/src/org/netbeans/spi/project/ui/support/ProjectCustomizerTest.java
Labels: do not merge, Ant

#7028 Override conflicting dependencies with the finally used ones.
  java/maven/src/org/netbeans/modules/maven/queries/MavenDependenciesImplementation.java
Labels: Maven, VSCode Extension, enterprise

#7068 Micronaut PUT/POST Data Endpoint Method generation added.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletion.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/EndpointSelectorPanel.form
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/EndpointSelectorPanel.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautController.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautDataEndpointGenerator.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/VeryPretty.java
Labels: Java, LSP, Micronaut

#6956 Allow invocation of annotation Processor's getCompletions even if process fails.
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/APTUtils.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/CrashingAPTest.java
Labels: Java

#7090 Micronaut: Detect and report duplicated endpoint URI paths.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautStructureProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolErrorProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolSearcher.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP, VSCode Extension, Micronaut

#7092 move all git and versioning tests to the versioning CI job
  .github/release.yml
  .github/workflows/main.yml
Labels: CI, git

#7032 Add support for GlassFish 7.0.12
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#7094 Regenerate PHP signature files
  php/php.project/external/binaries-list
  php/php.project/external/phpsigfiles-1.7-license.txt
  php/php.project/external/phpsigfiles-1.7-notice.txt
  php/php.project/nbproject/project.properties
Labels: PHP

#7089 README and CHANGELOG update
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.lsp.server/vscode/README.md
Labels: VSCode Extension

#6984 Enable Servlet/Filter/Listener generation for Jakarta based projects
  enterprise/web.core/src/org/netbeans/modules/web/core/api/JspColoringData.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/JspPaletteUtilities.java
  enterprise/web.core/src/org/netbeans/modules/web/core/palette/items/GetProperty.java
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/templates/AdvancedFilter.template
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/templates/BodyTagHandler.template
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/templates/Servlet.template
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/templates/ServletListener.template
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/templates/SimpleFilter.template
  enterprise/web.core/src/org/netbeans/modules/web/core/resources/templates/SimpleTagHandler.template
  enterprise/web.core/src/org/netbeans/modules/web/wizards/Bundle.properties
  enterprise/web.core/src/org/netbeans/modules/web/wizards/ListenerGenerator.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/ListenerIterator.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/ListenerPanel.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/ServletIterator.java
  enterprise/web.core/src/org/netbeans/modules/web/wizards/TagHandlerIterator.java
Labels: Java EE/Jakarta EE, ci:dev-build

#7055 Adding support for Wildfly 31
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/WildflyPluginUtils.java
Labels: Java EE/Jakarta EE, enterprise

#6985 Enable code completion in JSF and JSP pages in Jakarta based projects
  enterprise/web.core.syntax/src/org/netbeans/modules/web/core/syntax/JSPProcessor.java
  enterprise/web.core.syntax/src/org/netbeans/modules/web/core/syntax/JspSyntaxSupport.java
  enterprise/web.core.syntax/src/org/netbeans/modules/web/core/syntax/SimplifiedJspServlet.java
  enterprise/web.jsf.editor/src/org/netbeans/modules/web/jsf/editor/el/FaceletsELPlugin.java
Labels: Java EE/Jakarta EE, ci:dev-build

#7080 Fix detection of support for generation session beans from entity classes and support jakarta package names
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/AppServerValidationPanel.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeWizardIterator.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/jpa/dao/EjbFacadeWizardPanel2.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/action/AbstractAddMethodStrategy.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/action/AddBusinessMethodStrategy.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/action/AddCreateMethodStrategy.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/action/AddFinderMethodStrategy.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/action/AddHomeMethodStrategy.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/action/AddSelectMethodStrategy.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/shared/ComponentMethodModel.java
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ui/logicalview/ejb/shared/MethodNode.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/spi/entitymanagergenerator/ContainerManagedJTAInjectableInWeb.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/spi/entitymanagergenerator/EntityManagerGenerationStrategySupport.java
Labels: Java EE/Jakarta EE, enterprise, ci:dev-build

#7076 Replace usage of package `org.codehaus.plexus.util.IOUtil` with Java native methods.
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/AccessQueryImpl.java
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/MavenWhiteListQueryImpl.java
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NBMNativeMWI.java
  java/maven.checkstyle/nbproject/project.properties
  java/maven.checkstyle/src/org/netbeans/modules/maven/checkstyle/Bundle.properties
  java/maven.checkstyle/src/org/netbeans/modules/maven/format/checkstyle/AuxPropsImpl.java
  java/maven.checkstyle/src/org/netbeans/modules/maven/format/checkstyle/ModuleConvertor.java
  java/maven/src/org/netbeans/modules/maven/customizer/CustomizerProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
Labels: Code cleanup, Java, Maven

#7115 Micronaut: Code completion for repository finder methods enhanced.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/MicronautExpressionLanguageParser.java
Labels: Micronaut

#7113 Fix empty Test Results with maven surefire plugin.
  java/maven.junit/src/org/netbeans/modules/maven/junit/JUnitOutputListenerProvider.java
Labels: Java, Maven, tests, ci:dev-build

#7104 Refactoring pom.xml as well when renaming class inside editor
  java/maven.model/nbproject/project.xml
  java/maven.refactoring/nbproject/project.xml
  java/maven.refactoring/src/org/netbeans/modules/maven/refactoring/MavenRefactoringPlugin.java
  java/maven.refactoring/src/org/netbeans/modules/maven/refactoring/MavenRefactoringPluginFactory.java
Labels: Java, Maven, ci:dev-build

#6999 JDK 21 support to Payara Platform tools v6.x in Apache NetBeans IDE
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/JavaSEPlatform.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/PayaraV6.xml
Labels: Java EE/Jakarta EE, enterprise

#7105 ActionProvider & its Lookup consolidation in VSCode extension
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegate.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/TestCodeLanguageClient.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchDelegateTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/ParseSuitesTest.java
  java/java.mx.project/test/unit/src/org/netbeans/modules/java/mx/project/multilinetexts.py
Labels: LSP, VSCode Extension, MX

#7004 Update guava from 32.1.2-jre to 33.0.0-jre
  ide/c.google.guava.failureaccess/external/binaries-list
  ide/c.google.guava.failureaccess/external/failureaccess-1.0.2-license.txt
  ide/c.google.guava.failureaccess/nbproject/project.properties
  ide/c.google.guava.failureaccess/nbproject/project.xml
  ide/c.google.guava/external/binaries-list
  ide/c.google.guava/external/guava-33.0.0-jre-license.txt
  ide/c.google.guava/nbproject/project.properties
  ide/c.google.guava/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: LSP, Upgrade Library, ci:all-tests

#7077 Fix: Settings persistence does not work for inner-class hints
  ide/projectapi/src/org/netbeans/modules/projectapi/AuxiliaryConfigBasedPreferencesProvider.java
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unbalanced.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/code/CodeHintProviderImpl.java
Labels: Code cleanup, Java, hints, ci:dev-build

#7093 Fixes all deprecated API usage in libs.jgit and update gitignore IO code
  ide/libs.git/nbproject/project.properties
  ide/libs.git/src/org/netbeans/libs/git/GitBranch.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/IgnoreRule.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/Utils.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/AddCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/CheckoutRevisionCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/ConflictCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/DeleteTagCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/IgnoreUnignoreCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/ListBranchCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/ListTagCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/LogCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/ResetCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/RevertCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/StatusCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/UpdateRefCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/utils/CheckoutIndex.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/AbstractGitTestCase.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/AddTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/CheckoutTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/CommitTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/FetchTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/IgnoreTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/LogTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/ResetTest.java
Labels: Code cleanup, DO NOT squash, git, ci:dev-build

#7087 maven indexing: update lucene from 9.9.1 to 9.10.0.
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/javax.annotation-api-1.2-license.txt
  java/maven.indexer/external/javax.annotation-api-1.3.2-license.txt
  java/maven.indexer/external/lucene-9.10.0-license.txt
  java/maven.indexer/external/lucene-9.10.0-notice.txt
  java/maven.indexer/external/lucene-9.9.1-license.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/licenses/Apache-2.0-lucene2
  nbbuild/licenses/names.properties
Labels: Upgrade Library, Maven
