Repository apache/netbeans, pull requests merged in 2024-04, with the labels that each got.

#7227 Set up locator services to fix NPE during Maven priming
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/NbSuiteTestBase.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletionTestBase.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/maven/MicronautPackagingArtifactImplTest.java
Labels: VSCode Extension, Micronaut

#7230 Update versions after incompatible changes in versioning.util and mercurial
  ide/bugtracking.bridge/manifest.mf
  ide/bugtracking.bridge/nbproject/project.xml
  ide/git/nbproject/project.properties
  ide/git/nbproject/project.xml
  ide/localhistory/manifest.mf
  ide/localhistory/nbproject/project.xml
  ide/mercurial/manifest.mf
  ide/mercurial/nbproject/project.properties
  ide/mercurial/nbproject/project.xml
  ide/subversion/nbproject/project.properties
  ide/subversion/nbproject/project.xml
  ide/team.ide/manifest.mf
  ide/team.ide/nbproject/project.xml
  ide/versioning.indexingbridge/manifest.mf
  ide/versioning.indexingbridge/nbproject/project.xml
  ide/versioning.ui/nbproject/project.properties
  ide/versioning.ui/nbproject/project.xml
  ide/versioning.util/manifest.mf
  ide/versioning.util/nbproject/project.properties
Labels: ci:dev-build

#7215 Upgrade Gradle Tooling API to 8.7
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/nbproject/org-netbeans-modules-gradle.sig
  extide/gradle/nbproject/project.xml
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleCommandLine.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.7-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.7-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Gradle

#7233 clean url fixes
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  enterprise/j2ee.dd/doc/ddapi_architecture.html
  ide/editor.fold/arch.xml
  ide/editor.lib2/src/org/netbeans/spi/editor/highlighting/package.html
  ide/lexer/src/org/netbeans/api/lexer/TokenId.java
  ide/projectui/arch.xml
  ide/versioning.core/arch.xml
  ide/versioning/arch.xml
  java/java.j2seplatform/arch.xml
  java/java.j2seproject/arch.xml
  platform/o.n.bootstrap/arch.xml
  platform/o.n.bootstrap/src/org/netbeans/CLIHandler.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/LFCustoms.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/Startup.java
  platform/openide.actions/apichanges.xml
  platform/openide.modules/src/org/openide/modules/doc-files/api.html
  platform/openide.util.ui/src/org/openide/util/actions/CallbackSystemAction.java
  platform/openide.windows/apichanges.xml
  platform/openide.windows/arch.xml
  platform/openide.windows/src/org/openide/windows/TopComponentGroup.java
  platform/openide.windows/src/org/openide/windows/doc-files/api.html
Labels: doc, ci:no-build

#7234 Micronaut: Making code completion tests more stable.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletion.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletionTestBase.java
Labels: Micronaut

#7164 Integrate NB Favorites with the FileChooser shortcuts panel
  ide/o.n.swing.dirchooser/nbproject/project.properties
  ide/o.n.swing.dirchooser/nbproject/project.xml
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/DelegatingChooserUI.java
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/DirectoryCellEditor.java
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/DirectoryChooserUI.java
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/DirectoryNode.java
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/FileCompletionPopup.java
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/InputBlocker.java
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/Module.java
  platform/favorites/nbproject/project.properties
  platform/favorites/nbproject/project.xml
  platform/favorites/src/org/netbeans/modules/favorites/Module.java
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Bundle.properties
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLFCustoms.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.form
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanelController.java
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafPrefs.java
  platform/o.n.swing.plaf/src/org/netbeans/swing/plaf/LFCustoms.java
Labels: Look and Feel, Platform, UI

#7204 Add support for GlassFish 7.0.13 and GlassFish 8.0.0-M3
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#7223 Register comment/uncomment action in editor toolbar for properties and XML files
  ide/properties.syntax/src/org/netbeans/modules/properties/syntax/Layer.xml
  ide/xml.tools/src/org/netbeans/modules/xml/tools/resources/mf-layer.xml
Labels: Editor, ci:dev-build

#7188 NB Build: Basic support for javac.release property.
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/NbModuleProject.java
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/ui/customizer/CustomizerSources.java
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/ui/customizer/NbPropertyPanel.java
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/ui/customizer/SingleModuleProperties.java
  nbbuild/antsrc/org/netbeans/nbbuild/CustomJavac.java
  nbbuild/antsrc/org/netbeans/nbbuild/JarWithModuleAttributes.java
  nbbuild/templates/common.xml
  nbbuild/templates/projectized.xml
Labels: Ant, build, ci:dev-build

#7216 JsfVersion might not be known, so null case must be handled
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/editor/JspJsfELPlugin.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/palette/items/ManagedBeanCustomizer.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/wizards/JSFClientGenerator.java
Labels: Java EE/Jakarta EE, enterprise, ci:dev-build

#7242 Import Payara Server configurations after a NetBeans upgrade
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/impl/layer.xml
Labels: Java EE/Jakarta EE, enterprise

#7246 Fix DB selection in JPA entity generation and improve derby integration
  ide/db/src/org/netbeans/modules/db/explorer/dlg/AddDriverDialog.java
  ide/db/src/org/netbeans/modules/db/util/Bundle.properties
  ide/db/src/org/netbeans/modules/db/util/DriverListUtil.java
  ide/derby/src/org/netbeans/modules/derby/ConnectDatabaseAction.java
  ide/derby/src/org/netbeans/modules/derby/DerbyDatabasesImpl.java
  ide/derby/src/org/netbeans/modules/derby/DerbyOptions.java
  ide/derby/src/org/netbeans/modules/derby/ExecSupport.java
  ide/derby/src/org/netbeans/modules/derby/RegisterDerby.java
  ide/derby/src/org/netbeans/modules/derby/layer.xml
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/DatabaseTablesPanel.java
Labels: Java EE/Jakarta EE, enterprise, ci:dev-build

#7218 XML Catalog GF/Payara: Ensure only existing schemas are resolved
  enterprise/glassfish.javaee/src/org/netbeans/modules/glassfish/javaee/RunTimeDDCatalog.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/RunTimeDDCatalog.java
Labels: enterprise, ci:dev-build

#7236 JSF: Support composite components in resource folder defined by jakarta.faces.WEBAPP_RESOURCES_DIRECTORY
  enterprise/web.jsf.editor/src/org/netbeans/modules/web/jsf/editor/index/CompositeComponentModel.java
Labels: Java EE/Jakarta EE, enterprise, ci:dev-build

#7251 Complete update to asm 9.7
  harness/apisupport.harness/build.xml
Labels: Upgrade Library

#7153 [NETBEANS-3725] Preventing a crash in Flow due to unattributed ASTs (cleared nerrors prevents post attr to run in some cases).
  java/java.source.base/src/org/netbeans/api/java/source/JavaSource.java
  java/java.source.base/src/org/netbeans/api/java/source/ModificationResult.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/JavaSourceTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ModificationResultTest.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchUtilities.java
  java/spi.java.hints/test/unit/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchUtilitiesTest.java
Labels: Java, VSCode Extension, ci:dev-build

#7252 Add support for GlassFish 7.0.14 and GlassFish 8.0.0-M4
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#7239 Add Dashboard API and use to provide replacement for Welcome page
  ide/projectui/nbproject/project.xml
  ide/utilities/nbproject/project.xml
  ide/utilities/src/org/netbeans/modules/openfile/RecentFiles.java
  nb/ide.branding.kit/nbproject/project.xml
  nb/ide.branding/src/org/netbeans/modules/ide/branding/layer.xml
  nb/ide.dashboard/build.xml
  nb/ide.dashboard/manifest.mf
  nb/ide.dashboard/nbproject/project.properties
  nb/ide.dashboard/nbproject/project.xml
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/AppearanceWidget.java
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/Bundle.properties
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/HelpWidget.java
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/NetBeansWidget.java
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/PluginsWidget.java
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/RecentFilesWidget.java
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/RecentProjectsWidget.java
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/resources/apache-netbeans.png
  nb/ide.dashboard/src/org/netbeans/modules/ide/dashboard/resources/layer.xml
  nbbuild/cluster.properties
  platform/api.dashboard/arch.xml
  platform/api.dashboard/build.xml
  platform/api.dashboard/manifest.mf
  platform/api.dashboard/nbproject/project.properties
  platform/api.dashboard/nbproject/project.xml
  platform/api.dashboard/src/org/netbeans/api/dashboard/DashboardManager.java
  platform/api.dashboard/src/org/netbeans/modules/dashboard/Bundle.properties
  platform/api.dashboard/src/org/netbeans/modules/dashboard/DashboardPanel.java
  platform/api.dashboard/src/org/netbeans/modules/dashboard/DashboardTopComponent.form
  platform/api.dashboard/src/org/netbeans/modules/dashboard/DashboardTopComponent.java
  platform/api.dashboard/src/org/netbeans/modules/dashboard/DefaultDashboardDisplayer.java
  platform/api.dashboard/src/org/netbeans/modules/dashboard/ShowDashboardAction.java
  platform/api.dashboard/src/org/netbeans/modules/dashboard/WidgetComponents.java
  platform/api.dashboard/src/org/netbeans/modules/dashboard/WidgetPanel.java
  platform/api.dashboard/src/org/netbeans/spi/dashboard/DashboardDisplayer.java
  platform/api.dashboard/src/org/netbeans/spi/dashboard/DashboardWidget.java
  platform/api.dashboard/src/org/netbeans/spi/dashboard/WidgetElement.java
  platform/core.windows/src/org/netbeans/core/windows/view/EditorView.java
Labels: Platform, UI, ci:dev-build

#7222 JSF Facelets template wizard: Support JSF 4+ namespace
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/compositionTemplateClient.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/htmlTemplateClient.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-1.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-2.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-3.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-4.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-5.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-6.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-7.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-css-8.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-1.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-2.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-3.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-4.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-5.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-6.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-7.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/facelets/resources/templates/template-table-8.template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/wizards/TemplateClientIterator.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/wizards/TemplateIterator.java
Labels: Java EE/Jakarta EE, enterprise, ci:dev-build

#7255 Fix editor background shortcut colour for some non-default LAFs
  platform/core.windows/src/org/netbeans/core/windows/view/EditorView.java
Labels: Look and Feel, Platform, UI

#7261 Revert "Allow user to manipulate Truffle breakpoints"
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/RemoteServices.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/TruffleDebugManager.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/access/TruffleAccess.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/actions/StepActionProvider.java
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/breakpoints/impl/TruffleBreakpointsHandler.java
Labels: GraalVM

#7257 Better Gradle Project Creation Wizard
  extide/gradle/manifest.mf
  extide/gradle/nbproject/project.properties
  extide/gradle/src/org/netbeans/modules/gradle/execute/EscapeProcessingOutputStream.java
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradlePlainEscapeProcessor.java
  extide/gradle/src/org/netbeans/modules/gradle/newproject/Bundle.properties
  extide/gradle/src/org/netbeans/modules/gradle/newproject/GradleInitPanel.java
  extide/gradle/src/org/netbeans/modules/gradle/newproject/GradleInitPanelVisual.form
  extide/gradle/src/org/netbeans/modules/gradle/newproject/GradleInitPanelVisual.java
  extide/gradle/src/org/netbeans/modules/gradle/newproject/NewProjectSettings.java
  extide/gradle/src/org/netbeans/modules/gradle/output/GradleProcessorFactory.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/BaseGradleWizardIterator.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/GradleInitWizard.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  extide/gradle/test/unit/src/org/netbeans/modules/gradle/output/GradleProcessorFactoryTest.java
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleApplicationProjectWizard.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/SimpleLibraryProjectWizard.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/Wizards.java
Labels: Gradle

#7264 PHP: Fixing a few bugs with phpDoc
  php/php.editor/src/org/netbeans/modules/php/editor/parser/api/Utils.java
  php/php.editor/test/unit/data/testfiles/completion/documentation/phpDocAndFunctionInDifferentBlocks.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/phpDocAndFunctionInDifferentBlocks.php.testPhpDocAndFunctionInDifferentBlocks_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/phpDocAndFunctionInDifferentBlocks.php.testPhpDocAndFunctionInDifferentBlocks_02.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/phpDocAndFunctionInDifferentBlocks.php.testPhpDocAndMethodInDifferentBlocks.html
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
Labels: PHP

#7267 Fix LSP test using the New Gradle Wizard
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
Labels: LSP

#7262 Micronaut: code completion for update methods fixed.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
Labels: Micronaut

#7082 Integrate hints preferences option in the vscode extension
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#7272 Include api.dashboard in Javadoc.
  nbbuild/build.properties
  nbbuild/javadoctools/links.xml
  nbbuild/javadoctools/properties.xml
  nbbuild/javadoctools/replaces.xml
Labels: JavaDoc

#6834 Added go to test ability for test/tested class in lsp server
  ide/gototest/apichanges.xml
  ide/gototest/nbproject/project.xml
  ide/gototest/src/org/netbeans/api/gototest/TestOppositesLocator.java
  ide/gototest/src/org/netbeans/modules/gototest/GotoOppositeAction.java
  ide/gototest/src/org/netbeans/modules/gototest/OppositeCandidateChooser.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/commands/TestOppositesCommandProvider.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: Java, LSP

#7268 Update libs.graaljs, libs.graalsdk and libs.truffleapi to 24.0.0
  .github/workflows/main.yml
  ide/libs.graalsdk.system/external/binaries-list
  ide/libs.graalsdk.system/external/graal-sdk-24.0.0-license.txt
  ide/libs.graalsdk.system/external/jline-24.0.0-license.txt
  ide/libs.graalsdk.system/manifest.mf
  ide/libs.graalsdk.system/nbproject/project.xml
  ide/libs.graalsdk/external/binaries-list
  ide/libs.graalsdk/external/graal-sdk-24.0.0-license.txt
  ide/libs.graalsdk/external/jline-24.0.0-license.txt
  ide/libs.graalsdk/manifest.mf
  ide/libs.graalsdk/nbproject/org-netbeans-libs-graalsdk.sig
  ide/libs.graalsdk/nbproject/project.properties
  ide/libs.graalsdk/nbproject/project.xml
  ide/libs.graalsdk/src/org/netbeans/libs/graalsdk/impl/GraalEnginesProvider.java
  ide/libs.graalsdk/src/org/netbeans/libs/graalsdk/impl/Installer.java
  ide/libs.truffleapi/external/binaries-list
  ide/libs.truffleapi/external/truffle-api-24.0.0-license.txt
  ide/libs.truffleapi/manifest.mf
  ide/libs.truffleapi/nbproject/org-netbeans-libs-truffleapi.sig
  ide/libs.truffleapi/nbproject/project.properties
  ide/libs.truffleapi/nbproject/project.xml
  java/nashorn.execution/test/unit/src/org/netbeans/modules/nashorn/execution/JSExecutorTest.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/licenses/BSD-jline3
  nbbuild/licenses/MIT-icu4j-74
  nbbuild/licenses/UPL-MIT-jcodings
  platform/core.network/nbproject/project.xml
  platform/core.network/test/unit/src/org/netbeans/core/network/proxy/ProxyAutoConfigDirectTest.java
  platform/core.network/test/unit/src/org/netbeans/core/network/proxy/pac/PacEngineTest.java
  platform/core.network/test/unit/src/org/netbeans/core/network/proxy/pac/impl/NbPacScriptEvaluatorTest.java
  webcommon/libs.graaljs/external/binaries-list
  webcommon/libs.graaljs/external/icu4j-24.0.0-license.txt
  webcommon/libs.graaljs/external/js-24.0.0-license.txt
  webcommon/libs.graaljs/manifest.mf
  webcommon/libs.graaljs/nbproject/project.properties
  webcommon/libs.graaljs/nbproject/project.xml
  webcommon/libs.graaljs/src/org/netbeans/libs/graaljs/graaljs.xml
Labels: JavaScript, do not merge, Need Squashing, LSP, Upgrade Library, Platform, ci:all-tests, GraalVM, ci:dev-build

#7273 PHP: Improved validation of rename refactoring
  php/php.refactoring/src/org/netbeans/modules/refactoring/php/rename/RenamePanel.java
Labels: PHP

#7206 CI pipeline improvements (more label control)
  .github/workflows/main.yml
Labels: CI, ci:all-tests

#7276 LSP: Generate Tests converted to Source Action.
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-java-testrunner.jar/org/netbeans/modules/java/testrunner/Bundle.properties
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TestClassGenerator.java
  java/java.lsp.server/vscode/src/utils.ts
  java/junit/src/org/netbeans/modules/junit/DefaultPlugin.java
Labels: Java, LSP

#7316 Micronaut: Method parameters should be resolvable in expression language
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/MicronautConfigUtilities.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletion.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/EvaluationContext.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/expression/ExpressionTree.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/ElementHandle.java
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementOpen.java
Labels: Micronaut

#7283 Import local schema to avoid DNS lookup in build
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/resources/jakartaee_11.xsd
Labels: enterprise, build

#7334 Re-add org.netbeans.libs.nbjavac as recommends for java.source.base.
  java/java.source.base/manifest.mf
Labels: Java, ci:dev-build

#7284 Fixed some static code analyzer warnings
  enterprise/web.monitor/src/org/netbeans/modules/web/monitor/client/MonitorAction.java
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/completion/provider/GroovyCompletionCollector.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/completion/MethodParamsTipPaintComponent.java
  ide/editor.fold.nbui/src/org/netbeans/modules/editor/fold/ui/FoldOptionsPanel.java
  ide/editor.lib/src/org/netbeans/modules/editor/lib/drawing/CollapsedView.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/impl/HudsonFailureDisplayer.java
  ide/jumpto/src/org/netbeans/modules/jumpto/type/FilteredListModel.java
  ide/parsing.nb/src/org/netbeans/modules/parsing/nb/EditorMimeTypesImpl.java
  ide/properties/src/org/netbeans/modules/properties/BundleStructure.java
  ide/subversion/src/org/netbeans/modules/subversion/ui/browser/BrowserPanel.java
  ide/subversion/src/org/netbeans/modules/subversion/ui/update/RevertModifications.java
  ide/versioning.ui/src/org/netbeans/modules/versioning/ui/history/HistoryDiffView.java
  ide/xml.axi/src/org/netbeans/modules/xml/axi/impl/SchemaReferenceProxy.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/SourcesModel.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/JPDAThreadImpl.java
  java/form/src/org/netbeans/modules/form/layoutdesign/LayoutFeeder.java
  java/form/src/org/netbeans/modules/form/layoutsupport/delegates/BorderLayoutSupport.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleJarArtifacts.java
  java/i18n/src/org/netbeans/modules/i18n/SelectorUtils.java
  java/java.editor/src/org/netbeans/modules/editor/java/MethodParamsTipPaintComponent.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/queries/SourceJavadocAttacherUtil.java
  java/java.j2seproject/src/org/netbeans/modules/java/j2seproject/problems/ModulePathsProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenArtifactsImplementation.java
  platform/core.startup/test/unit/src/org/netbeans/core/startup/layers/CountingSecurityManager.java
Labels: Code cleanup, ci:all-tests

#7332 fixed PropertyPanel fill background for flatlaf l&f
  platform/openide.explorer/src/org/openide/explorer/propertysheet/PropertyPanel.java
Labels: UI, ci:dev-build
