Repository apache/netbeans, pull requests merged in 2024-08, with the labels that each got.

#7621 Fix Command Prefixing Issue in Source Action
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ConstructorGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/DelegateMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/EqualsHashCodeGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/GetterSetterGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementOverrideMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LoggerGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ToStringGenerator.java
Labels: Java, LSP, VSCode Extension

#7617 [#7228] - Add debugger default variable formatter for BigInteger and BigDecimal
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/expr/formatters/VariablesFormatter.java
Labels: Java, ci:dev-build, debugger

#7607 Instruct users on setting up cloud resources when opening SSH session and running container image
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/panels/GuidePanel.ts
  java/java.lsp.server/vscode/src/panels/RunImageGuidePanel.ts
  java/java.lsp.server/vscode/src/panels/SshGuidePanel.ts
  java/java.lsp.server/vscode/src/panels/guidesUtil.ts
  java/java.lsp.server/vscode/webviews/run-image-guide.handlebars
  java/java.lsp.server/vscode/webviews/scripts/guide.js
  java/java.lsp.server/vscode/webviews/ssh-guide.handlebars
  java/java.lsp.server/vscode/webviews/styles/guide.css
Labels: LSP, VSCode Extension, enterprise

#7581 CodeGenerator should be able to generate basic code for records
  java/java.source/src/org/netbeans/modules/java/classfile/CodeGenerator.java
Labels: kind:bug, Java, ci:dev-build

#7631 Fix java completion sort for not-imported items.
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.editor/src/org/netbeans/modules/editor/java/LazySortText.java
Labels: Java, ci:dev-build

#7633 Fix possible InaccessibleObjectExceptions during debugging session
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/VariableMirrorTranslator.java
Labels: Java, ci:dev-build, debugger

#7639 Update FlatLaf from 3.5 to 3.5.1
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.5.1-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Upgrade Library, Look and Feel, ci:dev-build

#7637 Update nb-javac to jdk-23+35.
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-23+35-license.txt
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-23+35-license.txt
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Java, Upgrade Library, ci:all-tests, ci:dev-build

#7628 Minor NBM wizard pom generation fixes and plugin version bumps
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NBMNativeMWI.java
  apisupport/maven.apisupport/test/unit/src/org/netbeans/modules/maven/apisupport/NBMNativeMWITest.java
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
Labels: Maven, Platform, ci:dev-build

#7635 truffle.RemoteServices should parse the java version correctly
  java/debugger.jpda.truffle/nbproject/project.properties
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/RemoteServices.java
Labels: Java, ci:dev-build, debugger

#7629 Sync delivery to release230 for 23-rc2
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NBMNativeMWI.java
  apisupport/maven.apisupport/test/unit/src/org/netbeans/modules/maven/apisupport/NBMNativeMWITest.java
  java/debugger.jpda.truffle/nbproject/project.properties
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/RemoteServices.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/VariableMirrorTranslator.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.editor/src/org/netbeans/modules/editor/java/LazySortText.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ConstructorGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/DelegateMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/EqualsHashCodeGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/GetterSetterGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementOverrideMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LoggerGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ToStringGenerator.java
  java/java.source/src/org/netbeans/modules/java/classfile/CodeGenerator.java
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-23+35-license.txt
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-23+35-license.txt
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.5.1-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Release process

#7630 Sync delivery to master after 23-rc2
  apisupport/maven.apisupport/src/org/netbeans/modules/maven/apisupport/NBMNativeMWI.java
  apisupport/maven.apisupport/test/unit/src/org/netbeans/modules/maven/apisupport/NBMNativeMWITest.java
  java/debugger.jpda.truffle/nbproject/project.properties
  java/debugger.jpda.truffle/src/org/netbeans/modules/debugger/jpda/truffle/RemoteServices.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/VariableMirrorTranslator.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.editor/src/org/netbeans/modules/editor/java/LazySortText.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ConstructorGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/DelegateMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/EqualsHashCodeGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/GetterSetterGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementOverrideMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LoggerGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ToStringGenerator.java
  java/java.source/src/org/netbeans/modules/java/classfile/CodeGenerator.java
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-23+35-license.txt
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-23+35-license.txt
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.5.1-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Release process

#7648 LSP: Fixing broken 'nbls.addEventListener' command.
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#7614 Group application properties by type for Create External Config Properties command
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/ApplicationPropertiesGenerator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreatePoliciesCommand.java
Labels: LSP, VSCode Extension, enterprise

#7662 Fix extraction of annotation processor classpath for maven
  java/maven/apichanges.xml
  java/maven/src/org/netbeans/modules/maven/api/PluginPropertyUtils.java
  java/maven/src/org/netbeans/modules/maven/classpath/AnnotationProcClassPathImpl.java
  java/maven/test/unit/src/org/netbeans/modules/maven/api/PluginPropertyUtilsTest.java
Labels: Java, Maven, ci:dev-build

#7644 binaries-list dependency checker workflow updates
  .github/scripts/BinariesListUpdates.java
  .github/workflows/dependency-checks.yml
Labels: CI, ci:no-build

#7667 VSNetBeans 23.0 release changelog and README upd.
  java/java.lsp.server/vscode/CHANGELOG.md
  java/java.lsp.server/vscode/README.md
Labels: doc, ci:no-build

#7656 Instuctions to install Docker and to change key file permissions
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/panels/RunImageGuidePanel.ts
  java/java.lsp.server/vscode/webviews/run-image-guide.handlebars
  java/java.lsp.server/vscode/webviews/ssh-guide.handlebars
Labels: LSP, VSCode Extension, enterprise

#7669 MacOS: Support HiDPI scaling in long filename tooltips
  platform/openide.explorer/src/org/openide/explorer/view/ViewTooltips.java
Labels: Platform, UI, os:macos

#7674 binaries-list dependency checker needs to set up the env for maven
  .github/workflows/dependency-checks.yml
Labels: CI, ci:no-build

#7649 Delete action for Container Repository Images and Vault Secrets
  enterprise/cloud.oracle/nbproject/project.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/NotificationUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCINode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerTagNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/SecretItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/SecretNode.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspAssetsDecorationProvider.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, enterprise

#7671 Create container repository command
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CreateContainerRepository.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CreateContainerRepositoryCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CreateResourceCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/OCIItemCreator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddNewAssetCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddSuggestedItemAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/requests/ContainerRepositoryRequest.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/requests/OCIItemCreationDetails.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/ItemCreationDecisionStep.java
Labels: LSP, VSCode Extension, enterprise

#7678 Suggest OCI resource creation when showing existing resources
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddNewAssetCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddSuggestedItemAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateNewResourceItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/ItemCreationDecisionStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/SuggestedStep.java
  java/java.lsp.server/vscode/package.json
Labels: LSP, VSCode Extension, enterprise

#7687 Adding option to register a new database in a list of available db connections
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/DatabaseConnectionStep.java
Labels: LSP, VSCode Extension, enterprise

#7677 ProcessImplementation module cleanup
  ide/extexecution.process.jdk9/manifest.mf
  ide/extexecution.process.jdk9/nbproject/project.properties
  ide/extexecution.process.jdk9/nbproject/project.xml
  ide/extexecution.process.jdk9/src/org/netbeans/modules/extexecution/process/jdk9/ProcessesImpl.java
  ide/extexecution.process.jdk9/src/org/netbeans/modules/extexecution/process/jdk9/resources/Bundle.properties
  ide/extexecution.process/external/binaries-list
  ide/extexecution.process/external/processtreekiller-2.0.1-license.txt
  ide/extexecution.process/external/winp-1.28-license.txt
  ide/extexecution.process/manifest.mf
  ide/extexecution.process/module-auto-deps.xml
  ide/extexecution.process/nbproject/project.properties
  ide/extexecution.process/nbproject/project.xml
  ide/extexecution.process/src/org/netbeans/modules/extexecution/process/ProcessesImpl.java
  java/java.lsp.server/nbproject/project.xml
  nbbuild/cluster.properties
Labels: Code cleanup, Platform, ci:all-tests, ci:dev-build, Upgrade JDK

#7691 Micronaut: Report warnings for properties in config files with unset values.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hints/MicronautConfigErrorProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolSearcher.java
Labels: LSP, VSCode Extension, Micronaut

#7651 Project (re)load API, initial implementation
  ide/project.dependency/nbproject/project.properties
  ide/project.dependency/nbproject/project.xml
  ide/project.dependency/src/org/netbeans/modules/project/dependency/ProjectOperationException.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/ProjectReload.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/Scope.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/SourceLocation.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/Forwarder.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/ProjectReloadInternal.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/ProjectStateListener.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/ReloadApiAccessor.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/ReloadSpiAccessor.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/Reloader.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/StateDataListener.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/WeakIdentityMap.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/spi/ProjectReloadImplementation.java
  ide/project.dependency/src/org/netbeans/modules/project/dependency/spi/ReloadSpiAccessorImpl.java
  ide/project.dependency/test/unit/data/reload/Simple1._test/project.txt
  ide/project.dependency/test/unit/data/reload/Simple1._test/settings.properties
  ide/project.dependency/test/unit/src/org/netbeans/modules/project/dependency/reload/MockProjectReloadImplementation.java
  ide/project.dependency/test/unit/src/org/netbeans/modules/project/dependency/reload/ProjectReloadExamples.java
  ide/project.dependency/test/unit/src/org/netbeans/modules/project/dependency/reload/ProjectReloadImplTest.java
  ide/project.dependency/test/unit/src/org/netbeans/modules/project/dependency/reload/TestProjectFactory.java
  nbbuild/javadoctools/links.xml
  nbbuild/javadoctools/properties.xml
  nbbuild/javadoctools/replaces.xml
Labels: Gradle, Maven, Platform, kind:feature

#7655 Maven project reload implementation
  ide/project.dependency/src/org/netbeans/modules/project/dependency/reload/Reloader.java
  java/maven/nbproject/project.xml
  java/maven/src/org/netbeans/modules/maven/NbArtifactFixer.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/actions/RefreshAction.java
  java/maven/src/org/netbeans/modules/maven/api/NbMavenProject.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/modelcache/MavenProjectCache.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/problems/SanityBuildAction.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenFileOwnerQueryImpl.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenPrimingReloadImplementation.java
  java/maven/src/org/netbeans/modules/maven/queries/MavenReloadImplementation.java
  java/maven/test/unit/src/org/netbeans/modules/maven/queries/MavenReloadImplementationTest.java
Labels: Maven, kind:feature, ci:all-tests

#7646 LoadOptions introduced to control project loading.
  extide/gradle/apichanges.xml
  extide/gradle/manifest.mf
  extide/gradle/src/org/netbeans/modules/gradle/GradleProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/NbGradleProjectImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/api/NbGradleProject.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/AbstractProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/DiskCacheProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/GradleProjectLoaderImpl.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/NbProjectInfoCachingDescriptor.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
Labels: API Change, Gradle

#7641 fix for #7640 (formating related issue in javadoc)
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
Labels: Java, JavaDoc, ci:dev-build

#7699 fix: Organize-imports can sometimes add unwanted imports
  java/java.source.base/src/org/netbeans/api/java/source/GeneratorUtilities.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/GeneratorUtilitiesTest.java
Labels: Java, ci:dev-build

#7654 Show right doc on hover over constructor
  java/java.completion/src/org/netbeans/modules/java/completion/BaseTask.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaDocumentationTaskTest.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP, VSCode Extension, JavaDoc, ci:dev-build

#7670 Fixing rename refactoring for record components and compact constructors
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/Utilities.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/MarkOccDetTest.java
  java/java.editor/src/org/netbeans/modules/java/editor/rename/InstantRenamePerformer.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/rename/InstantRenameActionTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/rename/InstantRenamePerformerTest.java
  java/java.source.base/apichanges.xml
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/ElementHandle.java
  java/java.source.base/src/org/netbeans/api/java/source/ElementUtilities.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/java.source.base/src/org/netbeans/api/java/source/TreePathHandle.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeUtilities.java
  java/java.source.base/src/org/netbeans/modules/java/source/builder/TreeFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ElementHandleTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ElementUtilitiesTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/TestUtilities.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/TreeUtilitiesTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/RecordTest.java
  java/refactoring.java/nbproject/project.properties
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/JavaPluginUtils.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/RenameRefactoringPlugin.java
  java/refactoring.java/src/org/netbeans/modules/refactoring/java/plugins/RenameTransformer.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/RenameRecordTest.java
  java/refactoring.java/test/unit/src/org/netbeans/modules/refactoring/java/test/RenameTest.java
Labels: Java, ci:dev-build
