Repository apache/netbeans, pull requests merged in 2024-11, with the labels that each got.

#7892 fixes #7879 - config set schema command for postgresql
  ide/db/libsrc/org/netbeans/lib/ddl/resources/dbspec.plist
Labels: enterprise

#7919 Update embedded tomcat from 9.0.71 to 9.0.96
  ide/httpserver/external/binaries-list
  ide/httpserver/external/tomcat-annotations-api-9.0.96-license.txt
  ide/httpserver/external/tomcat-annotations-api-9.0.96-notice.txt
  ide/httpserver/external/tomcat-embed-core-9.0.96-license.txt
  ide/httpserver/external/tomcat-embed-core-9.0.96-notice.txt
  ide/httpserver/nbproject/project.properties
  ide/httpserver/nbproject/project.xml
Labels: Java, Upgrade Library, enterprise, ci:dev-build

#7932 Java Platform Libraries: Support source archives with multiple modules
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/libraries/J2SEVolumeCustomizer.form
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/libraries/J2SEVolumeCustomizer.java
Labels: Java, JavaFX, Ant, ci:dev-build

#7913 output window: better warning color for FlatLaf light
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLightLaf.properties
Labels: Look and Feel, ci:dev-build

#7907 Disable JDK 23 line-doc comments for now
  .github/workflows/main.yml
  nbbuild/javadoctools/template.xml
Labels: CI, JavaDoc

#7905 Sync delivery to release240 for 24-rc2
  .github/workflows/main.yml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/ConfigMapProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateSecretRotationCronJobCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/KubernetesUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/RunInClusterAction.java
  ide/jumpto/src/org/netbeans/modules/jumpto/type/GoToTypeAction.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/libraries/J2SEVolumeCustomizer.form
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/libraries/J2SEVolumeCustomizer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  nbbuild/javadoctools/template.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLightLaf.properties
Labels: Release process

#7906 Sync delivery to master after 24-rc2
  .github/workflows/main.yml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/ConfigMapProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateSecretRotationCronJobCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/KubernetesUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/RunInClusterAction.java
  ide/jumpto/src/org/netbeans/modules/jumpto/type/GoToTypeAction.java
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/libraries/J2SEVolumeCustomizer.form
  java/java.j2seplatform/src/org/netbeans/modules/java/j2seplatform/libraries/J2SEVolumeCustomizer.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  nbbuild/javadoctools/template.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLightLaf.properties
Labels: Release process

#7923 LSP Server: Adding Null Checks in MoveRefactoring code action
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/refactoring/MoveRefactoring.java
Labels: LSP

#7936 Fix how docker image is executed in the OCI Compute Instance
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/ConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateConfigCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerRepositoryItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerTagItem.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, enterprise

#7951 OutputWindow: text selection can start at index 0.
  platform/core.output2/src/org/netbeans/core/output2/ui/AbstractOutputPane.java
Labels: Platform, ci:dev-build

#7937 [NETBEANS-7467] Fixing synchronization in TokenList.resetToIndex
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/TokenList.java
Labels: Java

#7956 Sync delivery to release240 for 24-rc3
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/ConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateConfigCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/PropertiesGenerator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/Validator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ComputeInstanceItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerRepositoryItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerTagItem.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/TokenList.java
  java/java.lsp.server/vscode/src/extension.ts
  platform/core.output2/src/org/netbeans/core/output2/ui/AbstractOutputPane.java
Labels: Release process

#7957 Sync delivery to master after 24-rc3
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/ConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateConfigCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/PropertiesGenerator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/Validator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ComputeInstanceItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerRepositoryItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerTagItem.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/TokenList.java
  java/java.lsp.server/vscode/src/extension.ts
  platform/core.output2/src/org/netbeans/core/output2/ui/AbstractOutputPane.java
Labels: Release process

#7943 Fix java/j2ee.persistence test and add it to build pipeline
  .github/workflows/main.yml
  java/j2ee.persistence/test/unit/src/org/netbeans/modules/j2ee/persistence/provider/ProviderUtilTest.java
Labels: Java, Java EE/Jakarta EE

#7941 Switch SVG loading from the Batik library to JSVG
  nbbuild/cluster.properties
  nbbuild/licenses/MIT-jsvg
  nbbuild/licenses/names.properties
  platform/libs.jsvg/build.xml
  platform/libs.jsvg/external/binaries-list
  platform/libs.jsvg/external/jsvg-1.6.1-license.txt
  platform/libs.jsvg/manifest.mf
  platform/libs.jsvg/nbproject/project.properties
  platform/libs.jsvg/nbproject/project.xml
  platform/libs.jsvg/src/org/netbeans/libs/jsvg/Bundle.properties
  platform/openide.util.ui.svg/nbproject/project.xml
  platform/openide.util.ui.svg/src/org/openide/util/svg/DenyingElementLoader.java
  platform/openide.util.ui.svg/src/org/openide/util/svg/SVGIcon.java
  platform/openide.util.ui.svg/test/unit/src/org/openide/util/svg/SVGLoaderImplTest.java
  platform/openide.util.ui.svg/test/unit/src/org/openide/util/svg/externalImageHref.svg
  platform/openide.util.ui.svg/test/unit/src/org/openide/util/svg/externalImageHrefXLink.svg
Labels: Platform, UI, ci:dev-build

#7970 Tabcontrol: Use NbBundle to fetch correct translation
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/TabControlButtonFactory.java
Labels: Platform, ci:dev-build

#7968 Remove unnecessary continue/return hint should handle rule cases and switch expressions.
  java/java.hints/src/org/netbeans/modules/java/hints/control/RemoveUnnecessary.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/control/RemoveUnnecessaryTest.java
Labels: Java, hints

#7973 Fix possible out of bounds exception in switch pattern hint
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertToSwitchPatternInstanceOf.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToSwitchPatternInstanceOfTest.java
Labels: Java, hints

#7945 Implement subword completion for SQL editor
  ide/db.sql.editor/nbproject/project.xml
  ide/db.sql.editor/src/org/netbeans/modules/db/sql/editor/OptionsUtils.java
  ide/db.sql.editor/src/org/netbeans/modules/db/sql/editor/completion/SQLCompletionItems.java
  ide/db.sql.editor/src/org/netbeans/modules/db/sql/editor/resources/layer.xml
  ide/db.sql.editor/src/org/netbeans/modules/db/sql/editor/ui/options/Bundle.properties
  ide/db.sql.editor/src/org/netbeans/modules/db/sql/editor/ui/options/CodeCompletionPanel.form
  ide/db.sql.editor/src/org/netbeans/modules/db/sql/editor/ui/options/CodeCompletionPanel.java
  ide/options.editor/manifest.mf
  ide/options.editor/nbproject/project.xml
Labels: ci:dev-build, SQL

#7974 CI: build and start testing on JDK 24-ea
  .github/workflows/main.yml
  ide/ide.kit/nbproject/project.properties
  platform/masterfs/test/unit/src/org/netbeans/modules/masterfs/filebasedfs/fileobjects/StatFilesTest.java
Labels: CI

#6630 Try to validate commit headers.
  .github/scripts/CommitHeaderChecker.java
  .github/workflows/main.yml
Labels: CI, ci:no-build

#7992 Sync delivery to release240 for 24-rc4
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/errors/TaskCache.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/JavaCustomIndexer.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Release process

#7991 Sync delivery to master after 24-rc4
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/errors/TaskCache.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/JavaCustomIndexer.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Release process

#7999 Revert "[NETBEANS-7981] Handling Diagnostics with position -1 while writing error/warning index."
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/errors/TaskCache.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/JavaCustomIndexer.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java, LSP, VSCode Extension, Regression

#7982 Revert "LSP: Speed up publish diagnostics on project scan."
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hints/MicronautConfigErrorProvider.java
  ide/csl.api/src/org/netbeans/modules/csl/core/TLIndexerFactory.java
  ide/parsing.indexing/apichanges.xml
  ide/parsing.indexing/nbproject/project.properties
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/errors/TaskCache.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/spi/indexing/ErrorsCache.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ErrorsNotifier.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/JavaCustomIndexer.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
Labels: Java, LSP, Regression, ci:dev-build

#8002 Sync delivery to release240 for 24-rc5
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hints/MicronautConfigErrorProvider.java
  ide/csl.api/src/org/netbeans/modules/csl/core/TLIndexerFactory.java
  ide/parsing.indexing/apichanges.xml
  ide/parsing.indexing/nbproject/project.properties
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/errors/TaskCache.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/spi/indexing/ErrorsCache.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ErrorsNotifier.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/JavaCustomIndexer.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Release process

#7980 [NETBEANS-7949] Fixing handling of 'case null'.
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/NPECheck.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/bugs/NPECheckTest.java
Labels: Java, LSP, VSCode Extension, hints, ci:dev-build

#8007 Sync delivery to master after 24-rc5 (merge conflict resolved)
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hints/MicronautConfigErrorProvider.java
  ide/csl.api/src/org/netbeans/modules/csl/core/TLIndexerFactory.java
  ide/parsing.indexing/apichanges.xml
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/errors/TaskCache.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/spi/indexing/ErrorsCache.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ErrorsNotifier.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/JavaCustomIndexer.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Release process
