Repository apache/netbeans, pull requests merged in 2024-03, with the labels that each got.

#7121 Micronaut: Code completion for repository finder methods improved.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionTask.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
Labels: Micronaut

#7030 Fixed concurrency issues in GradleDaemonExecutor
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleDaemonExecutor.java
  platform/core.execution/src/org/netbeans/core/execution/ExecutionEngine.java
  platform/core.execution/src/org/netbeans/core/execution/RunClassThread.java
Labels: kind:bug, Gradle, performance

#7127 Update netbeans.icns
  nb/ide.branding/release/netbeans.icns
Labels: UI, os:macos, ci:no-build

#7141 Fix welcome page after config import.
  nb/welcome/src/org/netbeans/modules/welcome/content/RSSFeed.java
Labels: UI, ci:dev-build

#7149 LSP: Code completion for Java static members.
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
Labels: Java, LSP

#7158 Fixed false error thrown if parent pom version uses variable
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/ParentVersionError.java
  java/maven.hints/test/unit/src/org/netbeans/modules/maven/hints/pom/ParentVersionErrorTest.java
Labels: Java, Maven

#7097 Made HCL AST on records
  ide/languages.hcl/manifest.mf
  ide/languages.hcl/nbproject/project.properties
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLSemanticAnalyzer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/HCLStructureItem.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/SourceRef.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLAddressableElement.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLArithmeticOperation.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLAttribute.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLBlock.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLBlockFactory.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLCollection.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLConditionalOperation.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLContainer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLDocument.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLElement.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLElementFactory.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLExpression.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLExpressionFactory.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLForExpression.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLFunction.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLIdentifier.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLLiteral.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLResolveOperation.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLTemplate.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLTreeWalker.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/ast/HCLVariable.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformParserResult.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/terraform/TerraformSemanticAnalyzer.java
  ide/languages.hcl/src/org/netbeans/modules/languages/hcl/tfvars/TFVarsParserResult.java
  ide/languages.hcl/test/unit/src/org/netbeans/modules/languages/hcl/HCLIndenterTest.java
  ide/languages.hcl/test/unit/src/org/netbeans/modules/languages/hcl/ReferenceTest.java
  ide/languages.hcl/test/unit/src/org/netbeans/modules/languages/hcl/ast/HCLLiteralsTest.java
  ide/languages.hcl/test/unit/src/org/netbeans/modules/languages/hcl/ast/HCLOperationsTest.java
Labels: Editor, HCL

#7160 Handle JAR-URL as codesource for javascript editor module
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/classpath/ClassPathProviderImpl.java
Labels: JavaScript, ci:dev-build

#7154 LSP: Simplified server startup.
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#7169 Exclude JDK 17+ HCL module from graalvm tests
  java/debugger.jpda.truffle/test/unit/src/org/netbeans/modules/debugger/jpda/truffle/JPDATestCase.java
Labels: tests, GraalVM

#7147 Add default Git Hyperlink Provider.
  ide/bugtracking.bridge/src/org/netbeans/modules/bugtracking/hyperlink/VcsHyperlinkProviderImpl.java
  ide/git/src/org/netbeans/modules/git/ui/history/DefaultGitHyperlinkProvider.java
  ide/git/test/unit/src/org/netbeans/modules/git/GitClientTest.java
  ide/libs.git/src/org/netbeans/libs/git/GitClient.java
  ide/versioning.util/src/org/netbeans/modules/versioning/util/VCSHyperlinkSupport.java
Labels: UI, git

#7088 Java Code Templates for records and sealed types
  java/java.editor/src/org/netbeans/modules/java/editor/resources/DefaultAbbrevs.xml
Labels: Java

#7075 Escape java hint fix String for html and fill in multi variables.
  java/spi.java.hints/src/org/netbeans/spi/java/hints/JavaFixUtilities.java
Labels: Java, hints, ci:dev-build, Jackpot

#7177 LSP: TestClassGenerator should create the target folder if it is missing
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TestClassGenerator.java
Labels: LSP, VSCode Extension

#7176 gracefully handle case, when encSimpleName is equal to simpleName
  java/java.source.base/src/org/netbeans/modules/java/source/usages/BinaryAnalyser.java
Labels: Java, ci:all-tests, Kotlin

#7182 Remove experimental maven download feature.
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/options/Bundle.properties
  java/maven/src/org/netbeans/modules/maven/options/MavenSettings.java
  java/maven/src/org/netbeans/modules/maven/options/SettingsPanel.form
  java/maven/src/org/netbeans/modules/maven/options/SettingsPanel.java
Labels: Code cleanup, Maven

#7184 Remove JSF 1.2 from Libraries
  enterprise/libs.glassfish_logging/nbproject/project.xml
  enterprise/web.jsf.kit/nbproject/project.xml
  enterprise/web.jsf12/build.xml
  enterprise/web.jsf12/external/binaries-list
  enterprise/web.jsf12/external/jsf-api-1.2_05-license.txt
  enterprise/web.jsf12/manifest.mf
  enterprise/web.jsf12/nbproject/org-netbeans-modules-web-jsf12.sig
  enterprise/web.jsf12/nbproject/project.properties
  enterprise/web.jsf12/nbproject/project.xml
  enterprise/web.jsf12/src/org/netbeans/modules/web/jsf12/Bundle.properties
  enterprise/web.jsf12ri/build.xml
  enterprise/web.jsf12ri/external/binaries-list
  enterprise/web.jsf12ri/external/jsf-impl-1.2_05-license.txt
  enterprise/web.jsf12ri/manifest.mf
  enterprise/web.jsf12ri/nbproject/org-netbeans-modules-web-jsf12ri.sig
  enterprise/web.jsf12ri/nbproject/project.properties
  enterprise/web.jsf12ri/nbproject/project.xml
  enterprise/web.jsf12ri/src/org/netbeans/modules/web/jsf12ri/Bundle.properties
  enterprise/web.jsf12ri/src/org/netbeans/modules/web/jsf12ri/jsf12.xml
  enterprise/web.jsf12ri/src/org/netbeans/modules/web/jsf12ri/layer.xml
  nbbuild/cluster.properties
Labels: Code cleanup, enterprise

#7024 Gradle Project shall use the Java from the tooling not runtime.
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/cache/ProjectInfoDiskCache.java
  java/gradle.java/apichanges.xml
  java/gradle.java/manifest.mf
  java/gradle.java/nbproject/project.properties
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaProjectBuilder.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/api/GradleJavaSourceSet.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/AbstractGradleClassPathImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/BootClassPathImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/ClassPathProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GlobalClassPathProviderImpl.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/Bundle.properties
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/SourceSetPanel.form
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/SourceSetPanel.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/nodes/BootCPNodeFactory.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/spi/support/JavaToolchainSupport.java
Labels: Gradle

#7162 link visual api to effective site
  platform/api.visual/apichanges.xml
  platform/api.visual/arch.xml
  platform/api.visual/examples-readme.txt
  platform/api.visual/src/org/netbeans/api/visual/widget/Widget.java
  platform/api.visual/src/org/netbeans/api/visual/widget/doc-files/documentation.html
Labels: doc

#7178 Very simple support for native-image build for Helidon projects.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/helidon-actions-maven.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/layer.xml
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/layer.xml
Labels: Maven, VSCode Extension, enterprise

#7063 Improve priming from LSP client
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/MavenEmbedder.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/impl/ExtensionModule.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/impl/NbVersionResolver2.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/impl/NbWorkspaceReader.java
  java/maven/src/org/netbeans/modules/maven/NbArtifactFixer.java
  java/maven/src/org/netbeans/modules/maven/modelcache/MavenProjectCache.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/test/unit/src/org/netbeans/modules/maven/problems/PrimingActionTest.java
Labels: LSP, Maven

#7183 Fix filtering of delete action on Favorites root nodes.
  platform/favorites/src/org/netbeans/modules/favorites/FavoritesNode.java
Labels: UI

#7186 Generate Java Sources from ANTLR grammars pre-compile
  .gitignore
  java/languages.antlr/build.xml
  java/languages.antlr/licenseinfo.xml
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3Lexer.java
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3Parser.java
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3ParserBaseListener.java
  java/languages.antlr/src/org/antlr/parser/antlr3/ANTLRv3ParserListener.java
  java/languages.antlr/src/org/antlr/parser/antlr3/g4/ANTLRv3Lexer.g4
  java/languages.antlr/src/org/antlr/parser/antlr3/g4/ANTLRv3Parser.g4
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4Lexer.java
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4Parser.java
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4ParserBaseListener.java
  java/languages.antlr/src/org/antlr/parser/antlr4/ANTLRv4ParserListener.java
  java/languages.antlr/src/org/antlr/parser/antlr4/g4/ANTLRv4Lexer.g4
  java/languages.antlr/src/org/antlr/parser/antlr4/g4/ANTLRv4Parser.g4
  java/languages.antlr/src/org/antlr/parser/antlr4/g4/LexBasic.g4
Labels: ANTLR

#7189 Generate Java Sources from GoLang grammars pre-compile
  .gitignore
  ide/go.lang/build.xml
  ide/go.lang/licenseinfo.xml
  ide/go.lang/src/org/antlr/parser/golang/GoLexer.java
  ide/go.lang/src/org/antlr/parser/golang/GoParser.java
  ide/go.lang/src/org/antlr/parser/golang/GoParserBaseListener.java
  ide/go.lang/src/org/antlr/parser/golang/GoParserBaseVisitor.java
  ide/go.lang/src/org/antlr/parser/golang/GoParserListener.java
  ide/go.lang/src/org/antlr/parser/golang/GoParserVisitor.java
  ide/go.lang/src/org/antlr/parser/golang/g4/GoLexer.g4
  ide/go.lang/src/org/antlr/parser/golang/g4/GoParser.g4
Labels: Go

#7202 Fix Url in modules description
  enterprise/websvc.restkit/src/org/netbeans/modules/websvc/restkit/Bundle.properties
  ide/hudson/src/org/netbeans/modules/hudson/Bundle.properties
  java/maven.kit/src/org/netbeans/modules/maven/feature/Bundle.properties
  platform/core.kit/src/org/netbeans/modules/core/kit/Bundle.properties
  webcommon/cordova/src/org/netbeans/modules/cordova/Bundle.properties
  webcommon/javascript2.kit/src/org/netbeans/modules/javascript2/kit/Bundle.properties
  webcommon/javascript2.prototypejs/src/org/netbeans/modules/javascript2/prototypejs/Bundle.properties
Labels: doc, ci:no-build

#7163 Entities from databases: Bugfix entity generation in plain java (non webapp) projects
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/DatabaseTablesPanel.java
Labels: Java, Java EE/Jakarta EE, enterprise, ci:dev-build

#6577 Tweak JOptionPane minimum size.
  platform/core.windows/src/org/netbeans/core/windows/services/NbPresenter.java
Labels: Platform, UI
