Repository apache/netbeans, pull requests merged in 2024-12, with the labels that each got.

#7989 Fix ConcurrentModificationException on mass Ant project open.
  apisupport/apisupport.ant/src/org/netbeans/modules/apisupport/project/Evaluator.java
Labels: Java, Ant

#7993 VSCode: Running all tests in project fixed.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode Extension

#7966 Improving Java code completion support for sealed types in switches.
  java/java.completion/nbproject/org-netbeans-modules-java-completion.sig
  java/java.completion/nbproject/project.properties
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/javaLangSubPackages.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/nonSealedTypeSwitch.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/sealedTypeSwitch.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/sealedTypeSwitchEJAFiltered.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/sealedTypeSwitchEJAFilteredQualified1.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/sealedTypeSwitchEJAFilteredQualified2.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/sealedTypeSwitchJFiltered.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/sealedTypeSwitchJFilteredQualified.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/sealedTypeSwitchJFilteredQualifiedPackage.pass
  java/java.completion/test/unit/data/org/netbeans/modules/java/completion/data/SwitchWithNonSealedType.java
  java/java.completion/test/unit/data/org/netbeans/modules/java/completion/data/SwitchWithSealedType.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/CompletionTestBase.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask121FeaturesTest.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItemFactory.java
  java/java.editor/src/org/netbeans/modules/editor/java/LazyJavaCompletionItem.java
Labels: Java, LSP, VSCode Extension

#8010 [PHP] Add PHPStan rule level 10
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/options/AnalysisOptions.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/PHPStanLevelListCellRenderer.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/analyzer/PHPStanCustomizerPanel.java
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/ui/options/PHPStanOptionsPanel.java
Labels: enhancement, PHP

#8016 Ensure AttrContext.returnResult's checkContext is set to Check.basicHandler in javac's Scopes, to avoid it throwing exceptions.
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/GeneratorUtilitiesTest.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/TreeUtilitiesTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBJavacTrees.java
Labels: Java, LSP

#8017 web.jsf: Fix typo in JSF composite component template
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/resources/templates/compositeComponent.template
Labels: enterprise, ci:dev-build

#8018 Fix ugly semantic coloring on CSL languages while editing
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/GsfSemanticLayer.java
Labels: CSL, Editor, ci:dev-build

#8021 Test single file should work for test classes which names do not match the corresponding file names.
  java/gradle.java/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/GradleJavaTokenProvider.java
  java/java.source.base/apichanges.xml
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/SourceUtils.java
  java/maven/nbproject/project.xml
  java/maven/src/org/netbeans/modules/maven/execute/DefaultReplaceTokenProvider.java
Labels: Java, Gradle, Maven

#7931 JS CDT Debugger: Improve path handling and remember connection settings
  webcommon/javascript.cdtdebug.ui/nbproject/project.properties
  webcommon/javascript.cdtdebug.ui/nbproject/project.xml
  webcommon/javascript.cdtdebug.ui/src/org/netbeans/modules/javascript/cdtdebug/ui/annotation/CallStackAnnotationListener.java
  webcommon/javascript.cdtdebug.ui/src/org/netbeans/modules/javascript/cdtdebug/ui/attach/AttachCustomizer.java
  webcommon/javascript.cdtdebug.ui/src/org/netbeans/modules/javascript/cdtdebug/ui/models/DebuggingModel.java
  webcommon/javascript.cdtdebug/nbproject/project.properties
  webcommon/javascript.cdtdebug/nbproject/project.xml
  webcommon/javascript.cdtdebug/src/org/netbeans/modules/javascript/cdtdebug/CDTScript.java
  webcommon/javascript.cdtdebug/src/org/netbeans/modules/javascript/cdtdebug/ScriptsHandler.java
  webcommon/javascript.cdtdebug/src/org/netbeans/modules/javascript/cdtdebug/breakpoints/BreakpointsHandler.java
  webcommon/javascript.cdtdebug/src/org/netbeans/modules/javascript/cdtdebug/sources/ChangeLiveSupport.java
  webcommon/lib.chrome_devtools_protocol/manifest.mf
  webcommon/lib.chrome_devtools_protocol/nbproject/org-netbeans-lib-chrome_devtools_protocol.sig
  webcommon/lib.chrome_devtools_protocol/src/org/netbeans/lib/chrome_devtools_protocol/CDTUtil.java
  webcommon/lib.chrome_devtools_protocol/src/org/netbeans/lib/chrome_devtools_protocol/debugger/CallFrame.java
  webcommon/lib.chrome_devtools_protocol/src/org/netbeans/lib/chrome_devtools_protocol/debugger/ScriptFailedToParse.java
  webcommon/lib.chrome_devtools_protocol/src/org/netbeans/lib/chrome_devtools_protocol/debugger/ScriptParsed.java
  webcommon/lib.chrome_devtools_protocol/src/org/netbeans/lib/chrome_devtools_protocol/debugger/SetBreakpointByUrlRequest.java
  webcommon/lib.chrome_devtools_protocol/src/org/netbeans/lib/chrome_devtools_protocol/runtime/CallFrame.java
  webcommon/lib.chrome_devtools_protocol/test/unit/src/TestEndpointList.java
Labels: JavaScript, TypeScript, ci:dev-build

#8000 Create new output channel for every LspIO
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeClientWrapper.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/NbCodeLanguageClient.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/OutputMessage.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractLspInputOutputProvider.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/TestCodeLanguageClient.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/explorer/ProjectViewTest.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/protocol.ts
Labels: LSP, VSCode Extension

#8028 Code cleanup for csl.editor.semantic package
  ide/csl.api/nbproject/project.properties
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/ColoringManager.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/GsfSemanticLayer.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/HighlightImpl.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/HighlightsLayerFactoryImpl.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/MarkOccurrencesHighlighter.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/OccurrencesMarkProvider.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/OccurrencesMarkProviderCreator.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/SemanticHighlighter.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/SequenceElement.java
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/editor/semantic/SequenceElementTest.java
Labels: Code cleanup, CSL, Editor

#8046 Prevent NPE
  php/php.editor/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImpl.java
Labels: PHP

#8055 Update issue template post NB24 release
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#8047 Fix nanoid and revert default VSIX version
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
Labels: VSCode Extension

#8061 Downgrade CI jobs to JDK 23
  .github/workflows/main.yml
Labels: CI, ci:all-tests, JavaDoc

#8062 CI: Lock native binaries builds to ubuntu 22
  .github/workflows/native-binary-build-dlight.nativeexecution.yml
  .github/workflows/native-binary-build-launcher.yml
  .github/workflows/native-binary-build-lib.profiler.yml
Labels: CI

#8063 Disable dependabot
  .asf.yaml
Labels: CI, ci:no-build

#8070 Prevent NPE
  php/php.editor/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImpl.java
Labels: PHP

#8066 Improve stability of Java code completion (sealed) tests.
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/CompletionTestBaseBase.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTask121FeaturesTest.java
Labels: Java, CI

#8059 Log JDK boot modules on startup.
  platform/core.startup/src/org/netbeans/core/startup/TopLogging.java
Labels: Platform

#8071 Prevent NPE
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/navigation/JsonOccurrencesFinder.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/navigation/OccurrencesFinderImpl.java
Labels: JavaScript

#7903 Do not break additional DocumentFilters
  platform/openide.text/src/org/openide/text/CloneableEditorSupport.java
  platform/openide.text/src/org/openide/text/DocumentOpenClose.java
Labels: Java, Platform

#8057 Maven: Improve dependency resolution (for example for annotation processors like lombok)
  java/maven/src/org/netbeans/modules/maven/api/PluginPropertyUtils.java
  java/maven/test/unit/src/org/netbeans/modules/maven/api/PluginPropertyUtilsTest.java
Labels: Java, Maven, ci:dev-build

#8053 CSS: Fix parsing of @keyframes rules
  ide/css.lib/nbproject/project.properties
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3.g
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Lexer.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Parser.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/CssTokenId.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/Css3ParserTest.java
Labels: CSS, ci:dev-build

#8094 [Groovy] Prevent NPE for mark occurrences
  groovy/groovy.editor/nbproject/project.properties
  groovy/groovy.editor/src/org/netbeans/modules/groovy/editor/api/parser/GroovyOccurrencesFinder.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/MarkOccurrencesHighlighter.java
Labels: Groovy, ci:dev-build

#7971 Update textmate support
  .github/workflows/main.yml
  ide/libs.jcodings/external/binaries-list
  ide/libs.jcodings/external/jcodings-1.0.58-license.txt
  ide/libs.jcodings/manifest.mf
  ide/libs.jcodings/nbproject/org-netbeans-libs-jcodings.sig
  ide/libs.jcodings/nbproject/project.properties
  ide/libs.jcodings/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/LanguageStorage.java
  ide/textmate.lexer/external/binaries-list
  ide/textmate.lexer/external/joni-2.2.1-license.txt
  ide/textmate.lexer/external/org.eclipse.tm4e.core-0.14.0-license.txt
  ide/textmate.lexer/nbproject/project.properties
  ide/textmate.lexer/nbproject/project.xml
  ide/textmate.lexer/src/org/netbeans/modules/textmate/lexer/CreateRegistrationProcessor.java
  ide/textmate.lexer/src/org/netbeans/modules/textmate/lexer/FileObjectGrammarSource.java
  ide/textmate.lexer/src/org/netbeans/modules/textmate/lexer/TextmateLexer.java
  ide/textmate.lexer/src/org/netbeans/modules/textmate/lexer/TextmateTokenId.java
  ide/textmate.lexer/test/unit/src/org/netbeans/modules/textmate/lexer/CreateRegistrationProcessorTest.java
  ide/textmate.lexer/test/unit/src/org/netbeans/modules/textmate/lexer/TextmateLexerTest.java
  platform/openide.filesystems/nbproject/project.properties
  platform/openide.filesystems/src/org/openide/filesystems/annotations/LayerBuilder.java
  platform/openide.filesystems/test/unit/src/org/openide/filesystems/annotations/LayerBuilderTest.java
Labels: Java, LSP, C/C++, enterprise, ci:dev-build, Markdown

#8089 Improve refactoring preview divider handling and tree navigation.
  ide/refactoring.api/nbproject/project.properties
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/CheckNodeListener.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/RefactoringPanel.java
Labels: Editor, UI, ci:dev-build

#8088 Ensure left search results panel is always visible.
  platform/api.search/src/org/netbeans/modules/search/ui/BasicReplaceResultsPanel.java
  platform/api.search/src/org/netbeans/modules/search/ui/BasicSearchResultsPanel.java
Labels: Code cleanup, Editor, Platform, UI, ci:dev-build

#8037 Upgrading nb-javac to JDK 24b29.
  java/java.source.base/src/org/netbeans/api/java/source/ElementUtilities.java
  java/java.source.base/src/org/netbeans/api/java/source/TypeMirrorHandle.java
  java/java.source.base/src/org/netbeans/modules/java/source/NoJavacHelper.java
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-24+29-license.txt
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-24+29-license.txt
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  java/libs.nbjavacapi/src/org/netbeans/modules/nbjavac/api/Bundle.properties
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Java, LSP, Upgrade Library, VSCode Extension, ci:all-tests, ci:dev-build

#7972 [NETBEANS-7069] Support Nashorn 15.x for JDK >= 15
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/FirstSourceURLProvider.java
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/JSUtils.java
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/StepIntoJSHandler.java
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/breakpoints/JSJavaBreakpointsManager.java
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/source/Source.java
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/vars/DebuggerSupport.java
  java/debugger.jpda.js/src/org/netbeans/modules/debugger/jpda/js/vars/JSVariable.java
  java/debugger.jpda.jsui/src/org/netbeans/modules/debugger/jpda/jsui/frames/models/DebuggingJSActionsProvider.java
  java/debugger.jpda.jsui/src/org/netbeans/modules/debugger/jpda/jsui/frames/models/DebuggingJSNodeModel.java
  java/debugger.jpda.jsui/src/org/netbeans/modules/debugger/jpda/jsui/frames/models/DebuggingJSTreeExpansionModelFilter.java
  java/debugger.jpda.jsui/src/org/netbeans/modules/debugger/jpda/jsui/frames/models/DebuggingJSTreeModel.java
  java/debugger.jpda/src/org/netbeans/modules/debugger/jpda/models/CallStackFrameImpl.java
Labels: JavaScript, Java, debugger
