Repository apache/netbeans, pull requests merged in 2024-01, with the labels that each got.

#6899 Add the `IncorrectStaticContextHintError` as a new hint #6703
  php/php.editor/src/org/netbeans/modules/php/editor/CodeUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/resources/layer.xml
  php/php.editor/src/org/netbeans/modules/php/editor/verification/IncorrectStaticContextHintError.java
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testStaticClosureAndArrowFunctionInClass.php
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testStaticClosureAndArrowFunctionInClass.php.testStaticClosureAndArrowFunctionInClass.hints
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testStaticClosureAndArrowFunctionInEnum.php
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testStaticClosureAndArrowFunctionInEnum.php.testStaticClosureAndArrowFunctionInEnum.hints
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testStaticClosureAndArrowFunctionInTrait.php
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testStaticClosureAndArrowFunctionInTrait.php.testStaticClosureAndArrowFunctionInTrait.hints
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testThisVariables.php
  php/php.editor/test/unit/data/testfiles/verification/IncorrectStaticContextHintError/testThisVariables.php.testThisVariables.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/IncorrectStaticContextHintErrorTest.java
Labels: PHP

#6789 Priming build and reload improvements revisited
  .github/workflows/main.yml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/maven.properties
  java/maven/apichanges.xml
  java/maven/build.xml
  java/maven/nbproject/project.properties
  java/maven/src/org/netbeans/modules/maven/NbArtifactFixer.java
  java/maven/src/org/netbeans/modules/maven/NbMavenProjectImpl.java
  java/maven/src/org/netbeans/modules/maven/api/NbMavenProject.java
  java/maven/src/org/netbeans/modules/maven/classpath/AbstractProjectClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/ClassPathProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/classpath/CompileClassPathImpl.java
  java/maven/src/org/netbeans/modules/maven/customizer/BasicInfoPanel.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/execute/ReactorChecker.java
  java/maven/src/org/netbeans/modules/maven/modelcache/MavenProjectCache.java
  java/maven/src/org/netbeans/modules/maven/nodes/AddDependencyPanel.java
  java/maven/src/org/netbeans/modules/maven/problems/MavenModelProblemsProvider.java
  java/maven/src/org/netbeans/modules/maven/problems/ProblemReporterImpl.java
  java/maven/src/org/netbeans/modules/maven/problems/SanityBuildAction.java
  java/maven/src/org/netbeans/modules/maven/spi/newproject/CreateProjectBuilder.java
  java/maven/test/unit/data/projects/multiproject/democa/.gitignore
  java/maven/test/unit/data/projects/multiproject/democa/LICENSE
  java/maven/test/unit/data/projects/multiproject/democa/lib/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/oci/pom.xml
  java/maven/test/unit/data/projects/multiproject/democa/pom.xml
  java/maven/test/unit/src/org/netbeans/modules/maven/NbMavenProjectImpl2Test.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MavenExecMonitor.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/MockMavenExec.java
  java/maven/test/unit/src/org/netbeans/modules/maven/problems/PrimingActionTest.java
  java/maven/test/unit/src/org/netbeans/modules/maven/spi/actions/ProvidedConfigurationsTest.java
Labels: Maven, enterprise

#6904 LSP: Using labelDetails in CompletionItems
  enterprise/micronaut/nbproject/project.xml
  enterprise/micronaut/src/org/netbeans/modules/micronaut/completion/MicronautDataCompletionCollector.java
  enterprise/micronaut/test/unit/src/org/netbeans/modules/micronaut/completion/MicronautExpressionLanguageCompletionTestBase.java
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/src/org/netbeans/api/lsp/Completion.java
  ide/api.lsp/src/org/netbeans/modules/lsp/CompletionAccessor.java
  ide/api.lsp/src/org/netbeans/spi/lsp/CompletionCollector.java
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP, VSCode Extension, Micronaut

#6869 Merge back Windows launcher code and add release workflow
  .github/workflows/native-binary-build-launcher.yml
  harness/apisupport.harness/windows-launcher-src/Makefile.mingw
  harness/apisupport.harness/windows-launcher-src/app.cpp
  harness/apisupport.harness/windows-launcher-src/app.exe.manifest
  harness/apisupport.harness/windows-launcher-src/app.ico
  harness/apisupport.harness/windows-launcher-src/app.rc
  harness/apisupport.harness/windows-launcher-src/applauncher.cpp
  harness/apisupport.harness/windows-launcher-src/applauncher.h
  nb/ide.launcher/windows/Makefile.mingw
  nb/ide.launcher/windows/cmdargs.h
  nb/ide.launcher/windows/nblauncher.cpp
  nb/ide.launcher/windows/nblauncher.h
  nb/ide.launcher/windows/netbeans.cpp
  nb/ide.launcher/windows/netbeans.exe.manifest
  nb/ide.launcher/windows/netbeans.ico
  nb/ide.launcher/windows/netbeans.rc
  nb/ide.launcher/windows/netbeans64.exe.manifest
  nb/ide.launcher/windows/version.h
  nb/ide.launcher/windows/version.rc
  platform/o.n.bootstrap/launcher/windows/Makefile.mingw
  platform/o.n.bootstrap/launcher/windows/argnames.h
  platform/o.n.bootstrap/launcher/windows/include/README
  platform/o.n.bootstrap/launcher/windows/include/jni.h
  platform/o.n.bootstrap/launcher/windows/include/jni_types.h
  platform/o.n.bootstrap/launcher/windows/jvmlauncher.cpp
  platform/o.n.bootstrap/launcher/windows/jvmlauncher.h
  platform/o.n.bootstrap/launcher/windows/nbexec.cpp
  platform/o.n.bootstrap/launcher/windows/nbexec.exe.manifest
  platform/o.n.bootstrap/launcher/windows/nbexec.rc
  platform/o.n.bootstrap/launcher/windows/nbexec_exe.rc
  platform/o.n.bootstrap/launcher/windows/nbexecexe.cpp
  platform/o.n.bootstrap/launcher/windows/nbexecloader.h
  platform/o.n.bootstrap/launcher/windows/platformlauncher.cpp
  platform/o.n.bootstrap/launcher/windows/platformlauncher.h
  platform/o.n.bootstrap/launcher/windows/utilsfuncs.cpp
  platform/o.n.bootstrap/launcher/windows/utilsfuncs.h
  platform/o.n.bootstrap/launcher/windows/version.h
  platform/o.n.bootstrap/launcher/windows/version.rc
Labels: DO NOT squash, os:windows

#6883 Drop special mimetype for karma test configuration
  webcommon/javascript.karma/manifest.mf
  webcommon/javascript.karma/src/org/netbeans/modules/javascript/karma/resources/karmaconf-resolver.xml
  webcommon/javascript.karma/src/org/netbeans/modules/javascript/karma/resources/layer.xml
  webcommon/javascript.karma/src/org/netbeans/modules/javascript/karma/ui/actions/SetKarmaConfAction.java
  webcommon/javascript.karma/src/org/netbeans/modules/javascript/karma/util/KarmaUtils.java
Labels: JavaScript, ci:dev-build

#6911 Fix the named argument code completion for constructors
  php/php.editor/src/org/netbeans/modules/php/editor/completion/CompletionContextFinder.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCompletionItem.java
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor01/namedArgumentsConstructor01.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor01/namedArgumentsConstructor01.php.testNamedArgumentsConstructor01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor02/namedArgumentsConstructor02.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor02/namedArgumentsConstructor02.php.testNamedArgumentsConstructor02_a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor02/namedArgumentsConstructor02.php.testNamedArgumentsConstructor02_b.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor03/namedArgumentsConstructor03.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor03/namedArgumentsConstructor03.php.testNamedArgumentsConstructor03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor04/namedArgumentsConstructor04.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor04/namedArgumentsConstructor04.php.testNamedArgumentsConstructor04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor05/namedArgumentsConstructor05.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor05/namedArgumentsConstructor05.php.testNamedArgumentsConstructor05_Template01.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor05/namedArgumentsConstructor05.php.testNamedArgumentsConstructor05_Template02.cccustomtpl
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor05/namedArgumentsConstructor05.php.testNamedArgumentsConstructor05_a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor05/namedArgumentsConstructor05.php.testNamedArgumentsConstructor05_b.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor05/namedArgumentsConstructor05.php.testNamedArgumentsConstructor05_c.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor06/namedArgumentsConstructor06.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testNamedArgumentsConstructor06/namedArgumentsConstructor06.php.testNamedArgumentsConstructor06.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP80CodeCompletionTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionTestBase.java
Labels: PHP

#6915 Fix incorrect code completion with the same member names as semi-type prefixes #6909
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_FieldType01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Instance01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Instance02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Instance03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Instance04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Instance05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Instance06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Instance07.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_InstanceReturnType01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_InstanceReturnType02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Static01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Static02.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Static03.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Static04.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Static05.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_Static06.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_StaticReturnType01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh6909/gh6909.php.testGH6909_StaticReturnType02.completion
  php/php.editor/test/unit/data/testfiles/index/testPHP83TypedClassConstants/testPHP83TypedClassConstants.php.indexed
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionGH6909Test.java
Labels: PHP

#5027 [NETBEANS-1914] Fix startup problems on Windows after moving NetBeans install directory
  platform/core.startup/test/unit/src/org/netbeans/core/startup/layers/CachingPreventsFileTouchesTest.java
  platform/netbinox/test/unit/src/org/netbeans/modules/netbinox/CachingPreventsFileTouchesTest.java
  platform/o.n.bootstrap/src/org/netbeans/Stamps.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/StampsRenameTest.java
Labels: Platform

#6854 Not registering the LSP's SingleFileOptionsQueryImpl in java.lsp.server, but only in nbcode
  java/java.file.launcher/nbproject/project.xml
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspSingleFileOptionsQueryImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/SingleFileOptionsQueryImpl.java
Labels: Java, LSP, ci:dev-build

#6771 Adjusting command name for surround.with.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/SurroundWithHint.java
Labels: VSCode Extension

#6764 Verify tool proxy setting before adjusting or asking.
  extide/gradle/src/org/netbeans/modules/gradle/execute/GradleNetworkProxySupport.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenProxySupport.java
Labels: Gradle, Maven

#6908 Make NetBeans aware of the StringTemplate.STR default field import.
  java/java.editor/src/org/netbeans/modules/java/editor/imports/ClipboardHandler.java
  java/java.editor/src/org/netbeans/modules/java/editor/imports/ComputeImports.java
  java/java.hints/src/org/netbeans/modules/java/hints/Imports.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/Bundle_test.properties
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/ImportsTest.java
  java/java.source.base/src/org/netbeans/api/java/source/GeneratorUtilities.java
Labels: Java, hints, ci:dev-build

#6852 asyncOpenSelectedProjects will return project that correspond to the candidates
  .github/workflows/main.yml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/LspServerState.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/nbcode.ts
  java/java.lsp.server/vscode/src/test/runTest.ts
Labels: LSP, VSCode Extension

#6807 Let NetBeans know that Gradle 8.5 is good with Java 21
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
Labels: Gradle

#6888 Entities from Database: Improve DB connection selection
  enterprise/glassfish.javaee/src/org/netbeans/modules/glassfish/javaee/db/DbUtil.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/Bundle.properties
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/DatabaseTablesPanel.form
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/DatabaseTablesPanel.java
Labels: Java EE/Jakarta EE, ci:dev-build

#6922 Upgrade commons-io from 2.15.0 to 2.15.1.
  platform/o.apache.commons.commons_io/external/binaries-list
  platform/o.apache.commons.commons_io/external/commons-io-2.15.1-license.txt
  platform/o.apache.commons.commons_io/external/commons-io-2.15.1-notice.txt
  platform/o.apache.commons.commons_io/module-auto-deps.xml
  platform/o.apache.commons.commons_io/nbproject/project.properties
  platform/o.apache.commons.commons_io/nbproject/project.xml
Labels: Upgrade Library, ci:all-tests

#6914 Forcing restart when to_enable.txt file exists in the Windows launcher.
  platform/o.n.bootstrap/launcher/windows/platformlauncher.cpp
Labels: Platform, os:windows

#6928 Remove debugging debris preventing extension start.
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode Extension

#6930 Update NOTICE and notice-stub to 2024.
  NOTICE
  nbbuild/notice-stub.txt
Labels: ci:no-build, Release process

#6936 Ignore scope inheritance for configs not present in the project.
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleDependenciesImplementation.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/GradleScopesBuilder.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: Gradle, LSP, VSCode Extension, enterprise

#6797 Renamed Hudson to Jenkins in UI
  ide/hudson.git/src/org/netbeans/modules/hudson/git/Bundle.properties
  ide/hudson.git/src/org/netbeans/modules/hudson/git/HudsonGitSCM.java
  ide/hudson.mercurial/src/org/netbeans/modules/hudson/mercurial/Bundle.properties
  ide/hudson.mercurial/src/org/netbeans/modules/hudson/mercurial/HudsonMercurialSCM.java
  ide/hudson.subversion/src/org/netbeans/modules/hudson/subversion/Bundle.properties
  ide/hudson.tasklist/src/org/netbeans/modules/hudson/tasklist/Bundle.properties
  ide/hudson.tasklist/src/org/netbeans/modules/hudson/tasklist/HudsonScanner.java
  ide/hudson.ui/licenseinfo.xml
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/Bundle.properties
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/FormLogin.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/actions/AddInstanceAction.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/actions/AddTestInstanceAction.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/actions/Bundle.properties
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/actions/CreateJob.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/actions/ProjectAssociationAction.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/impl/SearchProviderImpl.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/nodes/HudsonInstanceNode.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/nodes/HudsonJobNode.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/nodes/HudsonRootNode.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/notification/ProblemNotification.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/resources/instance.png
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/wizard/Bundle.properties
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/wizard/InstanceDialog.java
  ide/hudson/src/org/netbeans/modules/hudson/Bundle.properties
  ide/hudson/src/org/netbeans/modules/hudson/api/HudsonFolder.java
  ide/hudson/src/org/netbeans/modules/hudson/api/HudsonJob.java
  ide/hudson/test/unit/src/org/netbeans/modules/hudson/impl/HudsonManagerImplTest.java
  nbbuild/licenses/CC-BY-SA-3.0
  php/hudson.php/src/org/netbeans/modules/hudson/php/HudsonJobCreator.java
  php/hudson.php/src/org/netbeans/modules/hudson/php/resources/Bundle.properties
  php/hudson.php/src/org/netbeans/modules/hudson/php/ui/options/Bundle.properties
  php/hudson.php/src/org/netbeans/modules/hudson/php/ui/options/HudsonOptionsPanel.java
Labels: CI, UI, ci:dev-build

#6941 Work on documents, not on editors. Translate URIs on Windows
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#6940 Fix the problem that inccorect indentation is added after an attribute(e.g. `#[Attr(1, 2)]`)
  php/php.editor/src/org/netbeans/modules/php/editor/indent/IndentationCounter.java
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_09.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_09.php.indented
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_10.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_10.php.indented
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_11.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_11.php.indented
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_12.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_12.php.indented
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_13.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_13.php.indented
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_14.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_14.php.indented
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_15.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_15.php.indented
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_16.php
  php/php.editor/test/unit/data/testfiles/indent/php80/attributeSyntax_16.php.indented
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPNewLineIndenterTest.java
Labels: PHP

#6850 Github actions version bumps.
  .github/workflows/main.yml
  .github/workflows/native-binary-build-dlight.nativeexecution.yml
  .github/workflows/native-binary-build-launcher.yml
  .github/workflows/native-binary-build-lib.profiler.yml
Labels: Upgrade Library, CI, ci:all-tests

#6865 nb-javac: Check for Abort/CancelAbort in exception cause chain
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/JavacParser.java
  java/java.source.base/src/org/netbeans/modules/java/source/util/AbortChecker.java
Labels: Java, ci:dev-build

#6935 Upgrade maven-indexer from 7.1.1 to 7.1.2
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-7.1.2-license.txt
  java/maven.indexer/external/indexer-core-7.1.2-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
Labels: Upgrade Library, Maven

#6945 CustomIndexerImpl should handle broken property files a bit better.
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CustomIndexerImpl.java
Labels: LSP, ci:dev-build

#6694 Adds null check before calling nullable repository variable method to avoid NPE #6682
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ClassPathProviderImpl.java
Labels: Java, ci:dev-build

#6927 Dependency Update Checker Workflow
  .github/scripts/BinariesListUpdates.java
  .github/workflows/dependency-checks.yml
Labels: CI, ci:no-build

#6905 JShell: Running "Execute Java Shell" from Maven project fails
  .github/workflows/main.yml
  java/java.lsp.server/nbcode/nbproject/platform.properties
  java/jshell.support/nbproject/project.properties
  java/jshell.support/nbproject/project.xml
  java/jshell.support/src/org/netbeans/modules/jshell/editor/CompletionFilter.java
  java/jshell.support/src/org/netbeans/modules/jshell/project/ShellProjectUtils.java
  java/jshell.support/src/org/netbeans/modules/jshell/support/ShellSession.java
  java/jshell.support/src/org/netbeans/modules/jshell/tool/JShellTool.java
  java/jshell.support/src/org/netbeans/modules/jshell/tool/l10n.properties
  java/jshell.support/test/unit/src/org/netbeans/modules/jshell/support/ContentParserTest.java
  java/lib.jshell.agent/build.xml
  java/lib.jshell.agent/external/binaries-list
  java/lib.jshell.agent/external/jshell-9-license.txt
  java/lib.jshell.agent/nbproject/project.properties
  java/lib.jshell.agent/nbproject/project.xml
  java/libs.jshell.compile/arch.xml
  java/libs.jshell.compile/build.xml
  java/libs.jshell.compile/manifest.mf
  java/libs.jshell.compile/nbproject/org-netbeans-libs-jshell-compile.sig
  java/libs.jshell.compile/nbproject/project.properties
  java/libs.jshell.compile/nbproject/project.xml
  java/libs.jshell.compile/src/org/netbeans/libs/jshell/Bundle.properties
  nbbuild/cluster.properties
  nbbuild/jms-config/tools.flags
Labels: Java, ci:dev-build

#6859 [CND] RFC: add meson build project support
  cnd/cnd.kit/nbproject/project.xml
  cnd/cnd.meson/build.xml
  cnd/cnd.meson/manifest.mf
  cnd/cnd.meson/nbproject/project.properties
  cnd/cnd.meson/nbproject/project.xml
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/Bundle.properties
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/MesonBuildKit.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/MesonKit.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/MesonOptionsKit.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/file/Bundle.properties
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/file/MIMETypes.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/file/MesonBuildDataObject.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/file/MesonOptionsDataObject.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/editor/file/package-info.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/lexer/MesonBuildLanguageHierarchy.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/lexer/MesonBuildLexer.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/lexer/MesonBuildTokenId.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/lexer/MesonOptionsLanguageHierarchy.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/lexer/MesonOptionsLexer.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/lexer/MesonOptionsTokenId.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/ActionProviderImpl.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/Bundle.properties
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/Configuration.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/ConfigurationProvider.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/LineConvertorFactoryImpl.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/LogicalViewProviderImpl.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/MesonProject.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/MesonProjectFactory.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/MesonProjectType.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/Utils.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/ui/Bundle.properties
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/ui/ConfigurationPanel.form
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/ui/ConfigurationPanel.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/project/ui/CustomizerProviderImpl.java
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/resources/file_icon.png
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/resources/fonts_and_colors.xml
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/resources/layer.xml
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/resources/meson.build.template
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/resources/meson.options.template
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/resources/mime_resolver.xml
  cnd/cnd.meson/src/org/netbeans/modules/cnd/meson/resources/project_icon.png
  cnd/cnd.ui/nbproject/project.xml
  nbbuild/cluster.properties
Labels: C/C++

#6658 ConvertToLambda hint should ignore default methods.
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertToLambda.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertToLambdaConverter.java
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertToLambdaPreconditionChecker.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToLambdaTest.java
Labels: Java, hints

#6950 Regenerate PHP signature files
  php/php.project/external/binaries-list
  php/php.project/external/phpsigfiles-1.6-license.txt
  php/php.project/external/phpsigfiles-1.6-notice.txt
  php/php.project/nbproject/project.properties
Labels: PHP

#6948 Update FlatLaf from 3.2.5 to 3.3
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.3-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Upgrade Library, Look and Feel, ci:dev-build

#6951 Fix the code completion for predefined attributes
  php/php.editor/src/org/netbeans/modules/php/editor/CodeUtils.java
  php/php.editor/src/org/netbeans/modules/php/editor/PredefinedSymbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/SinglePropertyMethodCreator.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCompletionItem.java
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/ClassScopeImpl.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/AddOverrideAttributeHint.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/ImplementAbstractMethodsHintError.java
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testAttributesPredefined/testAttributesPredefined.php
  php/php.editor/test/unit/data/testfiles/completion/lib/php80/testAttributesPredefined/testAttributesPredefined.php.testAttributesPredefined_01.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHP80CodeCompletionTest.java
Labels: PHP

#6695 Updated test results window
  ide/gsf.codecoverage/src/org/netbeans/modules/gsf/codecoverage/CoverageBar.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/ResultBar.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/ResultPanelTree.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/ResultTreeView.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/StatisticsPanel.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/TestRunnerSettings.java
  java/junit.ui/src/org/netbeans/modules/junit/ui/api/JUnitCallstackFrameNode.java
  java/junit.ui/src/org/netbeans/modules/junit/ui/api/JUnitTestMethodNode.java
  java/junit.ui/src/org/netbeans/modules/junit/ui/wizards/JavaChildren.java
  java/maven/src/org/netbeans/modules/maven/output/GlobalOutputProcessor.java
Labels: Java, UI, tests, ci:dev-build

#6912 [NETBEANS-6881][NETBEANS-6880][NETBEANS-6921] Additional fixes for the multi-file launcher:
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CustomIndexerImpl.java
  java/java.file.launcher/nbproject/project.xml
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/AttributeBasedSingleFileOptions.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SharedRootData.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/indexer/CompilerOptionsIndexer.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.lsp.server/nbcode/branding/modules/org-netbeans-modules-java-file-launcher.jar/org/netbeans/modules/java/file/launcher/queries/Bundle.properties
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/APTUtils.java
Labels: Java, LSP, ci:dev-build

#6743 Adding ability to safely enable/disable module fragments (requires restart, obviously), and tweaking nbjavac so that it can be enable/disabled.
  java/debugger.jpda/test/unit/src/org/netbeans/api/debugger/jpda/JPDASupport.java
  java/java.source.base/manifest.mf
  nb/ide.branding/autoupdate.ui/src/org/netbeans/modules/autoupdate/ui/wizards/Bundle_nb.properties
  platform/autoupdate.services/libsrc/org/netbeans/updater/Bundle.properties
  platform/autoupdate.services/libsrc/org/netbeans/updater/ModuleDeactivator.java
  platform/autoupdate.services/libsrc/org/netbeans/updater/UpdaterDispatcher.java
  platform/autoupdate.services/src/org/netbeans/modules/autoupdate/services/ModuleEnableDisableDeleteHelper.java
  platform/autoupdate.services/src/org/netbeans/modules/autoupdate/services/OperationSupportImpl.java
  platform/autoupdate.services/src/org/netbeans/modules/autoupdate/services/OperationValidator.java
  platform/autoupdate.services/src/org/netbeans/modules/autoupdate/services/Utilities.java
  platform/autoupdate.ui/src/org/netbeans/modules/autoupdate/ui/wizards/UninstallStep.java
  platform/core.startup/src/org/netbeans/core/startup/NbInstaller.java
  platform/o.n.bootstrap/launcher/unix/nbexec
  platform/o.n.bootstrap/src/org/netbeans/ModuleManager.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/ModuleManagerTest.java
Labels: Java, Platform

#6953 Enabling libs.nbjavacapi for debugger.jpda.truffle tests.
  java/debugger.jpda.truffle/test/unit/src/org/netbeans/modules/debugger/jpda/truffle/JPDATestCase.java
Labels: ci:all-tests

#6946 VSCode: Java TextMate grammar updated.
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/syntaxes/java-st-injection.json
  java/java.lsp.server/vscode/syntaxes/java.tmLanguage.json
Labels: VSCode Extension

#6958 FlatLAF properties fallback to Openable for rcp apps without editors
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatLafOptionsPanel.java
Labels: Look and Feel, Platform, UI

#6760 Computing hints based on custom preferences
  ide/api.lsp/apichanges.xml
  ide/api.lsp/src/org/netbeans/spi/lsp/ErrorProvider.java
  java/java.hints/nbproject/project.xml
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP, hints

#6966 Including org.netbeans.modules.editor.tools.storage, as it is a required dependency as of recently.
  java/java.lsp.server/nbcode/nbproject/platform.properties
Labels: LSP, VSCode Extension

#6981 Fix incorrect formatting after use statements #6980
  php/php.editor/src/org/netbeans/modules/php/editor/indent/TokenFormatter.java
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_01.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_01.php.testGH6980_01.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_02.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_02.php.testGH6980_02.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_03.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_03.php.testGH6980_03.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_NSWithBlock01.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_NSWithBlock01.php.testGH6980_NSWithBlock01.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_NSWithBlock02.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_NSWithBlock02.php.testGH6980_NSWithBlock02.formatted
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_NSWithBlock03.php
  php/php.editor/test/unit/data/testfiles/formatting/blankLines/issueGH6980_NSWithBlock03.php.testGH6980_NSWithBlock03.formatted
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/indent/PHPFormatterBlankLinesTest.java
Labels: PHP

#6955 fix apidocs for NB21
  ide/libs.git/apichanges.xml
  nbbuild/antsrc/org/netbeans/nbbuild/CheckLinks.java
Labels: JavaDoc, Release process

#6975 [GITHUB-6970] MultiSourceRootProvider: reduce logging verbosity
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtilTest.java
Labels: Java, ci:dev-build

#6974 [GH-6970] Adding a system property to disable the multi source file handling.
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
Labels: ci:all-tests

#6972 Report all occurences of a vulnerability.
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: LSP, VSCode Extension, enterprise

#6982 Sync delivery to release210 for 21-rc2
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  ide/libs.git/apichanges.xml
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtilTest.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  nbbuild/antsrc/org/netbeans/nbbuild/CheckLinks.java
Labels: Release process

#6983 Sync delivery to master after 21-rc2
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  ide/libs.git/apichanges.xml
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtilTest.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  nbbuild/antsrc/org/netbeans/nbbuild/CheckLinks.java
Labels: Release process

#6990 LSP: Do not compute text edits in source actions on `resolve` call.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautDataEndpointGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeActionsProvider.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/CodeActionsProvider2LspApiBridge.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ConstructorGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/DelegateMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/EqualsHashCodeGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/GetterSetterGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ImplementOverrideMethodGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LoggerGenerator.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ToStringGenerator.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#7009 DiffView: delegate mouse scroll events from lines bar to editor.
  ide/diff/src/org/netbeans/modules/diff/builtin/visualizer/editable/DiffContentPanel.java
Labels: UI, ci:dev-build

#7014 Minor bug fixes.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolSearcher.java
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: Java, Micronaut
