Repository apache/netbeans, pull requests merged in 2024-10, with the labels that each got.

#7813 Warn if JDK appears invalid and offer configuration.
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/jdk/configuration.ts
  java/java.lsp.server/vscode/src/jdk/jdk.ts
  java/java.lsp.server/vscode/src/jdk/settings.ts
  java/java.lsp.server/vscode/src/jdk/validation/extensionUtils.ts
  java/java.lsp.server/vscode/src/jdk/validation/validation.ts
Labels: VSCode Extension

#7812 Micronaut support: minor enhancements.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/commands/MicronautGetBuildPropertiesCommand.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/MicronautEndpointRequestProvider.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/db/Utils.java
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, Micronaut

#7694 Added code preview for “find usages” and related refactorings
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/CheckNodeListener.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/PreviewManager.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/RefactoringPanel.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/ui/UI.java
Labels: Editor, UI, ci:dev-build

#7816 commons-compress dependecy on commons-codec and commons-lang3 was missing
  ide/libs.commons_compress/nbproject/project.xml
Labels: Platform, ci:dev-build

#7757 Fix NavigatorPanelImpl for LSP Client after 47d411b
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/NavigatorPanelImpl.java
Labels: LSP, ci:dev-build

#7820 VSNetBeans 23.9.9 changelog update
  java/java.lsp.server/vscode/CHANGELOG.md
Labels: VSCode Extension

#7822 Attempt to verify that Java exists, and is new enough
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/jdk/settings.ts
Labels: VSCode Extension

#7733 Roots (and directories) containing multi-file launcher sources should respond to ClassPath queries.
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/AttributeBasedSingleFileOptions.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SharedRootData.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/spi/SingleFileOptionsQueryImplementation.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/queries/Bundle_registerroots.properties
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProviderTest.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/SingleFileOptionsQueryImpl.java
  java/java.source/src/org/netbeans/modules/java/Bundle.properties
  java/java.source/src/org/netbeans/modules/java/JavaNode.java
Labels: Java, LSP, VSCode Extension, ci:dev-build

#7834 Adding action for switching of a namespace on k8s cluster
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/KubernetesUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/RunInClusterAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/SetClusterNamespaceAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/SetReferenceNameAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ClusterItem.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspAssetsDecorationProvider.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, enterprise

#7772 Fix JBoss 8 Startup detection
  enterprise/javaee.wildfly/src/org/netbeans/modules/javaee/wildfly/ide/ui/WildflyPluginUtils.java
Labels: enterprise, ci:dev-build

#7823 Attempt to repair PartialReparseTest
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/parsing/PartialReparseTest.java
Labels: Code cleanup, Java, tests

#7861 Gradle options lang level text field should not have fixed width
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/SourceSetPanel.form
  java/gradle.java/src/org/netbeans/modules/gradle/java/customizer/SourceSetPanel.java
Labels: Gradle, UI, ci:dev-build

#7491 Support for Markdown javadoc (JEP-467)
  java/java.completion/src/org/netbeans/modules/java/completion/BaseTask.java
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.editor.base/nbproject/project.properties
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/javadoc/JavadocCompletionUtils.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/javadoc/JavadocImports.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/javadoc/JavadocCompletionUtilsTest.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/javadoc/JavadocImportsTest.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/javadoc/JavadocTestSupport.java
  java/java.editor/nbproject/project.properties
  java/java.editor/src/org/netbeans/modules/editor/java/GoToSupport.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionItem.java
  java/java.editor/src/org/netbeans/modules/editor/java/JavaKit.java
  java/java.editor/src/org/netbeans/modules/editor/java/TypingCompletion.java
  java/java.editor/src/org/netbeans/modules/editor/java/Utilities.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionTask.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/GoToSupportTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/TypingCompletionUnitTest.java
  java/java.editor/test/unit/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionQueryTest.java
  java/java.lexer/nbproject/project.properties
  java/java.lexer/src/org/netbeans/api/java/lexer/JavaTokenId.java
  java/java.lexer/src/org/netbeans/lib/java/lexer/JavaLexer.java
  java/java.lexer/src/org/netbeans/lib/java/lexer/JavadocLexer.java
  java/java.lexer/test/unit/src/org/netbeans/lib/java/lexer/JavaLexerBatchTest.java
  java/java.lexer/test/unit/src/org/netbeans/lib/java/lexer/JavadocLexerTest.java
  java/java.lsp.server/licenseinfo.xml
  java/java.lsp.server/vscode/language-configuration.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/syntaxes/java.tmLanguage.json
  java/java.source.base/apichanges.xml
  java/java.source.base/nbproject/project.properties
  java/java.source.base/src/org/netbeans/api/java/source/AssignComments.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/java.source.base/src/org/netbeans/api/java/source/TreeUtilities.java
  java/java.source.base/src/org/netbeans/modules/java/source/builder/TreeFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/VeryPretty.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/PositionEstimator.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/ImmutableDocTreeTranslator.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/DoctreeTest.java
  java/java.sourceui/nbproject/project.xml
  java/java.sourceui/src/org/netbeans/api/java/source/ui/ElementJavadoc.java
  java/java.sourceui/test/unit/src/org/netbeans/api/java/source/ui/ElementJavadocTest.java
  java/javadoc/nbproject/project.properties
  java/javadoc/src/org/netbeans/modules/javadoc/highlighting/Highlighting.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/JavadocGenerator.java
  java/javadoc/test/unit/src/org/netbeans/modules/javadoc/highlighting/HighlightingTest.java
  java/javadoc/test/unit/src/org/netbeans/modules/javadoc/hints/AddTagFixTest.java
  java/javadoc/test/unit/src/org/netbeans/modules/javadoc/hints/GenerateJavadocFixTest.java
  java/javadoc/test/unit/src/org/netbeans/modules/javadoc/hints/RemoveTagFixTest.java
Labels: Java, Platform, ci:dev-build

#7830 Maven settings lang level combo should not have fixed width
  java/maven/src/org/netbeans/modules/maven/customizer/CompilePanel.form
  java/maven/src/org/netbeans/modules/maven/customizer/CompilePanel.java
Labels: Maven, UI, ci:dev-build

#7860 pom dependency update hint could also check annotation processors
  java/maven.hints/src/org/netbeans/modules/maven/hints/pom/UpdateDependencyHint.java
  java/maven.model/nbproject/project.xml
Labels: Java, Maven, ci:dev-build

#7857 PHP: Fixed incorrect display of skipped tests in the Test Results window for Codeception.
  php/php.codeception/src/org/netbeans/modules/php/codeception/run/CodeceptionLogParser.java
  php/php.codeception/src/org/netbeans/modules/php/codeception/run/TestCaseVo.java
  php/php.codeception/test/unit/data/codeception-log-skipped-functional-tests.xml
  php/php.codeception/test/unit/data/codeception-log-skipped-unit-tests.xml
  php/php.codeception/test/unit/src/org/netbeans/modules/php/codeception/run/CodeceptionLogParserTest.java
Labels: PHP

#7851 Upgrading jgit to 7.0.0.202409031743-r
  ide/git/nbproject/project.properties
  ide/libs.git/nbproject/project.properties
  ide/o.eclipse.jgit.gpg.bc/external/binaries-list
  ide/o.eclipse.jgit.gpg.bc/external/org.eclipse.jgit.gpg.bc-7.0.0.202409031743-r-license.txt
  ide/o.eclipse.jgit.gpg.bc/nbproject/project.properties
  ide/o.eclipse.jgit.gpg.bc/nbproject/project.xml
  ide/o.eclipse.jgit.lfs/external/binaries-list
  ide/o.eclipse.jgit.lfs/external/org.eclipse.jgit.lfs-7.0.0.202409031743-r-license.txt
  ide/o.eclipse.jgit.lfs/nbproject/project.properties
  ide/o.eclipse.jgit.lfs/nbproject/project.xml
  ide/o.eclipse.jgit.ssh.jsch/external/binaries-list
  ide/o.eclipse.jgit.ssh.jsch/external/org.eclipse.jgit.ssh.jsch-7.0.0.202409031743-r-license.txt
  ide/o.eclipse.jgit.ssh.jsch/nbproject/project.properties
  ide/o.eclipse.jgit.ssh.jsch/nbproject/project.xml
  ide/o.eclipse.jgit/external/binaries-list
  ide/o.eclipse.jgit/external/org.eclipse.jgit-7.0.0.202409031743-r-license.txt
  ide/o.eclipse.jgit/nbproject/project.properties
  ide/o.eclipse.jgit/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  platform/o.apache.commons.codec/build.xml
  platform/o.apache.commons.codec/external/binaries-list
  platform/o.apache.commons.codec/external/commons-codec-1.17.1-license.txt
  platform/o.apache.commons.codec/external/commons-codec-1.17.1-notice.txt
  platform/o.apache.commons.codec/nbproject/project.xml
Labels: Upgrade Library, git, ci:dev-build, Upgrade JDK

#7779 Added code preview for “search results”
  platform/api.search/src/org/netbeans/modules/search/ui/BasicSearchResultsPanel.java
Labels: Platform, UI, ci:dev-build

#7864 Primitive wrapper property editors should use valueOf
  platform/o.n.core/src/org/netbeans/beaninfo/editors/BooleanEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/ByteEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/CharacterEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/DoubleEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/FloatEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/IntegerEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/LongEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/ShortEditor.java
  platform/o.n.core/src/org/netbeans/beaninfo/editors/WrappersEditor.java
Labels: Code cleanup, Java, Platform, FormDesigner, ci:dev-build

#7831 Action for adding Cloud Assets sensitive data to Vault
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddDbConnectionToVault.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddSecretsToVault.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/ConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddNewAssetCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/PropertiesGenerator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/SetReferenceNameAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/database/DatabaseItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/ReferenceNameStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/UsernameStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/SensitiveData.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/VaultItemClient.java
  enterprise/cloud.oracle/test/unit/src/org/netbeans/modules/cloud/oracle/actions/AddDbConnectionToVaultTest.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/vscode/package.json
Labels: LSP, VSCode Extension, enterprise

#7862 Remove ZipError usage which is dead code since JDK 9 (JDK-8336843).
  java/java.source.base/src/org/netbeans/modules/java/source/parsing/CachingArchive.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: Code cleanup, Java, Maven, Upgrade JDK

#7759 LSP Client: Reduce concurrency in LSP communication and register document sychronously on startup
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspStructureNavigatorPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
Labels: LSP, C/C++, ci:dev-build

#7758 CPPLite: Improve configuration of clangd/CCLS
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/UnconfiguredHint.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/Utils.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/LanguageServerImpl.java
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/options/Bundle.properties
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/options/CPPLitePanel.form
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/options/CPPLitePanel.java
Labels: LSP, C/C++, ci:dev-build

#7753 Editor: Enable display of characters unsupported by chosen editor font
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/FontInfo.java
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/ViewUtils.java
Labels: Platform, UI, ci:dev-build

#7791 Multi-project audit caching improved
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/AuditCache.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/DependencyText.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/queries/TextDependencyScanner.java
Labels: Java, Gradle, enterprise

#7870 Use OCI profile based on an item
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/CloudChildFactory.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/NodeProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIChildFactory.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIManager.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCINode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIProfile.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/TenancyNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/ConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CreateAutonomousDBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CreateContainerRepository.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CreateContainerRepositoryCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/CreateResourceCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/AuditOptions.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/CreateKnowledgeBaseAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/ProjectVulnerability.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/RunFileADMAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/adm/VulnerabilityWorker.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/ImageBuilderCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ComputeInstanceNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerRepositoryNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerTagNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/BuildRunNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/DeployArtifactNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/DevopsProjectNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/devops/RepositoryNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/policy/PolicyGenerator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/requests/ContainerRepositoryRequest.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/requests/OCIItemCreationDetails.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/CompartmentStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/DevopsStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/SecretNode.java
Labels: LSP, VSCode Extension, enterprise

#7869 LSP: Provide code completion for named resources even when generic NBLS Java support is disabled
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssetsJavaCompletion.java
  java/java.lsp.server/nbcode/integration.java/nbproject/genfiles.properties
  java/java.lsp.server/nbcode/integration.java/nbproject/project.properties
  java/java.lsp.server/nbcode/integration.java/nbproject/project.xml
  java/java.lsp.server/nbcode/integration.java/src/org/netbeans/modules/nbcode/integration/java/AnnotationProcessorCompletionCollector.java
  java/java.lsp.server/nbcode/integration.java/src/org/netbeans/modules/nbcode/integration/java/layer.xml
Labels: LSP, VSCode Extension, enterprise, Micronaut

#7873 Create ConfigMap before running the app
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/ConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DevOpsProjectConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/ConfigMapProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateConfigCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/RunInClusterAction.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, enterprise

#7811 Bridge the ide/api.lsp services for ide/lsp.client
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/nbproject/project.xml
  ide/api.lsp/src/org/netbeans/api/lsp/bridge/RegisterLSPServices.java
  ide/api.lsp/src/org/netbeans/modules/lsp/bridge/RegisterLSPServicesProcessor.java
  ide/lsp.client/nbproject/project.properties
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LanguageServerProviderAccessor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bridge/BridgingLanguageServer.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bridge/BridgingLanguageServerProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/spi/LanguageServerProvider.java
  ide/spi.editor.hints/src/org/netbeans/modules/editor/hints/lsp/HintsDiagnosticsProvider.java
Labels: LSP

#7821 Update disallowed-links.xml for apidoc check
  nbbuild/javadoctools/disallowed-links.xml
Labels: JavaDoc

#7815 Self sampler for LSP server code completion
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/vscode/package.json
Labels: LSP, VSCode Extension

#7776 Single Java source run action provider improvements
  extide/options.java/nbproject/project.xml
  java/java.file.launcher/nbproject/project.xml
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/AttributeBasedSingleFileOptions.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/Bundle.properties
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/GlobalSettingsOptionsPanelController.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/GlobalSettingsPanel.form
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/GlobalSettingsPanel.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/JPDAStart.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/LaunchProcess.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/SingleJavaSourceRunActionProvider.java
  java/java.source/src/org/netbeans/modules/java/Bundle.properties
  java/java.source/src/org/netbeans/modules/java/JavaNode.java
Labels: Java, ci:dev-build

#7877 Open in OCI Console command
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCINode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/bucket/BucketItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ClusterItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ComputeInstanceItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/database/DatabaseItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/items/OCIItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/KeyItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/KeyNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/SecretItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/SecretNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/vault/VaultItem.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspAssetsDecorationProvider.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, enterprise

#7881 Align the database path with the other resource names, ensuring all are in singular form.
  enterprise/cloud.oracle/arch.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/DownloadWalletDialog.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/OpenServiceConsoleAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddNewAssetCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddSuggestedItemAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/DependenciesAnalyzer.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/PropertiesGenerator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/SuggestedItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/database/DatabaseNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/policy/PolicyGenerator.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/resources/layer.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/DatabaseConnectionStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/ItemTypeStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/SuggestedStep.java
  enterprise/cloud.oracle/test/unit/src/org/netbeans/modules/cloud/oracle/assets/CloudAssetsTest.java
Labels: LSP, VSCode Extension, enterprise

#7868 Update maven-indexer to 7.1.5 and lucene to 9.12.0
  java/maven.indexer/external/binaries-list
  java/maven.indexer/external/indexer-core-7.1.5-license.txt
  java/maven.indexer/external/indexer-core-7.1.5-notice.txt
  java/maven.indexer/external/lucene-9.12.0-license.txt
  java/maven.indexer/external/lucene-9.12.0-notice.txt
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/nbproject/project.xml
Labels: Upgrade Library, Maven, ci:dev-build

#7884 Update FlatLaf from 3.5.1 to 3.5.2
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.5.2-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Upgrade Library, Look and Feel, ci:dev-build

#7716 Payara 7 and Jakarta EE 11 support
  enterprise/payara.common/nbproject/org-netbeans-modules-payara-common.sig
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ServerDetails.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/utils/ServerUtils.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/AddServerLocationPanel.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/Bundle.properties
  enterprise/payara.eecommon/nbproject/org-netbeans-modules-payara-eecommon.sig
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/api/config/AppClientVersion.java
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/api/config/ApplicationVersion.java
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/api/config/J2EEVersion.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/RunTimeDDCatalog.java
  enterprise/payara.micro/nbproject/org-netbeans-modules-payara-micro.sig
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/plugin/Constants.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/MicroApplication.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/ReloadAction.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/resources/action-mapping.xml
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/ui/MicroProjectWizardIterator.java
  enterprise/payara.tooling/nbproject/org-netbeans-modules-payara-tooling.sig
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/response/RestXMLResponseParser.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/data/PayaraPlatformVersion.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/data/PayaraPlatformVersionAPI.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/data/PayaraVersion.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/ConfigBuilderProvider.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/server/config/PayaraV7.xml
  enterprise/payara.tooling/test/unit/src/org/netbeans/modules/payara/tooling/data/PayaraVersionTest.java
Labels: Need Squashing, Java EE/Jakarta EE, enterprise, ci:dev-build

#7807 lsp.client: mark occurrences sidebar and make occurrences highlighting configurable
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/MarkOccurrences.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/OccurrencesMarkProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/OccurrencesMarkProviderCreator.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/layer.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/Bundle.properties
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/MarkOccurencesOptionsPanelController.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/MarkOccurencesPanel.form
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/MarkOccurencesPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/MarkOccurencesSettings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/MarkOccurencesSettingsNames.java
Labels: LSP, Editor, ci:dev-build

#7837 CSS: Improve handling of generic-at-rules (for example used by tailwind)
  ide/css.lib/build.xml
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3.g
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Lexer.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Parser.java
  ide/css.lib/src/org/netbeans/modules/css/lib/api/NodeType.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/Css3ParserTest.java
Labels: CSS, ci:dev-build

#7882 Make FlatLaf module standard not autoload
  platform/o.n.swing.laf.flatlaf/nbproject/project.properties
Labels: Look and Feel, Platform

#7887 Fix Single-file-java-launcher test and add module to CI
  .github/workflows/main.yml
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/actions/JavaFileTest.java
Labels: Java, tests

#7886 Update ASM from 9.7 to 9.7.1
  harness/apisupport.harness/build.xml
  java/lib.jshell.agent/nbproject/project.properties
  java/maven/build.xml
  nbbuild/templates/common.xml
  platform/libs.asm/external/asm-9.7.1-license.txt
  platform/libs.asm/external/binaries-list
  platform/libs.asm/nbproject/project.properties
  platform/libs.asm/nbproject/project.xml
Labels: Upgrade Library, ci:all-tests

#7722 Making minor code modifications for better readability and validation
  extide/gradle/src/org/netbeans/modules/gradle/ProjectTrust.java
  ide/projectapi/arch.xml
  ide/projectapi/src/org/netbeans/modules/projectapi/SimpleFileOwnerQueryImplementation.java
  platform/o.n.bootstrap/src/org/netbeans/CLIHandler.java
Labels: Code cleanup, Java, LSP, VSCode Extension

#7885 Support for Payara Server instance running on WSL
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/impl/DeployOnSaveManager.java
  enterprise/payara.common/nbproject/org-netbeans-modules-payara-common.sig
  enterprise/payara.common/src/org/netbeans/modules/payara/common/LogViewMgr.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/PayaraInstance.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/actions/ViewServerLogAction.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/AddDomainLocationPanel.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/AddDomainLocationVisualPanel.form
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/AddDomainLocationVisualPanel.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/Bundle.properties
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/ServerWizardIterator.java
  enterprise/payara.common/src/org/netbeans/modules/payara/spi/PayaraModule.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/Hk2DeploymentManager.java
  enterprise/payara.jakartaee/src/org/netbeans/modules/payara/jakartaee/Hk2OptionalFactory.java
  enterprise/payara.tooling/nbproject/org-netbeans-modules-payara-tooling.sig
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/CommandException.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/admin/RunnerHttpDeploy.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/data/PayaraServer.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/data/PayaraServerEntity.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/utils/ServerUtils.java
Labels: Java EE/Jakarta EE, os:windows

#7724 Removed changes in comments while renaming
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
Labels: Java, LSP, VSCode Extension

#7899 Robustness of the "Goto Type Dialog"
  ide/jumpto/src/org/netbeans/modules/jumpto/type/GoToTypeAction.java
Labels: kind:bug, Java, UI, caused-by-plugin

#7901 issue template: enable 24 rc selection
  .github/ISSUE_TEMPLATE/netbeans_bug_report.yml
Labels: ci:no-build, Release process

#7894 VSCode integration commands
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/IntegrationCommands.java
Labels: LSP, VSCode Extension, enterprise

#7878 Create secret rotation CronJob when running the app in the cluster
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/ConfigMapProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CreateSecretRotationCronJobCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/KubernetesUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/RunInClusterAction.java
Labels: LSP, VSCode Extension, enterprise

#7750 Fix code-folding for LSP clients that support line-folding only
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImplTest.java
Labels: Java, LSP, VSCode Extension

#7897 Only run one completion sampler
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: Java, LSP, VSCode Extension

#7921 Checking for null capabilities.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
Labels: Java, LSP, VSCode Extension

#7910 Fix tests failure due to CRLF mismatch on Windows in java.hints, java.source.base
  .gitattributes
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/infrastructure/TreeRuleTestBase.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java, tests

#7926 Fix MacOS tests failures in java.hints
  java/java.hints/test/unit/data/goldenfiles/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProviderTest/testShortErrors5-nonmac.pass
  java/java.hints/test/unit/data/goldenfiles/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProviderTest/testShortErrors5.pass
  java/java.hints/test/unit/data/goldenfiles/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProviderTest/testTestShortErrorsSVUIDWarning-nonmac.pass
  java/java.hints/test/unit/data/goldenfiles/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProviderTest/testTestShortErrorsSVUIDWarning.pass
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/infrastructure/ErrorHintsProviderTest.java
Labels: Java
