Repository apache/netbeans, pull requests merged in 2024-07, with the labels that each got.

#7527 Add class-file format to the file properties sheet
  java/java.source/nbproject/project.properties
  java/java.source/src/org/netbeans/modules/java/Bundle.properties
  java/java.source/src/org/netbeans/modules/java/JavaNode.java
Labels: Java, UI, ci:dev-build, Upgrade JDK

#7534 Turn remaining few EE tests off which can't run on JDK 17 yet
  .github/workflows/main.yml
  enterprise/j2ee.dd.webservice/nbproject/project.properties
Labels: CI, tests, enterprise

#7529 Update NbEventSpy for maven 4.
  java/maven/build.xml
  java/maven/mavensrc/org/netbeans/modules/maven/event/NbEventSpy.java
  java/maven/mavensrc/org/netbeans/modules/maven/event/components.xml
  java/maven/mavensrc/org/netbeans/modules/maven/event/javax.inject.Named
  java/maven/mavensrc/org/netbeans/modules/maven/workspace/reader/AbstractIDEWorkspaceReader.java
  java/maven/mavensrc/org/netbeans/modules/maven/workspace/reader/IDEWorkspaceReader1.java
  java/maven/mavensrc/org/netbeans/modules/maven/workspace/reader/IDEWorkspaceReader2.java
  java/maven/mavensrc/org/netbeans/modules/maven/workspace/reader/components.xml
  java/maven/mavensrc/org/netbeans/modules/maven/workspace/reader/javax.inject.Named
  nbbuild/rat-exclusions.txt
Labels: Maven, ci:dev-build

#7472 Avoid ImageIcon use in more places, to preserve HiDPI icon resolution
  platform/openide.awt/src/org/openide/awt/NotificationDisplayer.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/DescriptionComponent.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/EditorPropertyDisplayer.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/RendererFactory.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/SheetCellRenderer.java
  platform/openide.explorer/src/org/openide/explorer/view/MenuView.java
  platform/openide.loaders/src/org/openide/actions/NewTemplateAction.java
  platform/openide.loaders/src/org/openide/awt/MenuBar.java
  platform/spi.actions/src/org/netbeans/spi/actions/ContextAction.java
Labels: Platform, UI, ci:dev-build

#7528 Revert: Let lsp.client display completions provided by CompletionCollector (#7505)
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/AbstractCompletionItem.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/Icons.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspCompletionItem.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspCompletionProviderImpl.java
Labels: LSP, priority:critical

#7515 Maven pom template should use the javac release flag.
  java/maven/src/org/netbeans/modules/maven/newproject/idenative/SimpleJavaTemplateHandler.java
Labels: Java, Maven, ci:dev-build

#7496 Update breakpoints window position and always open expression evaluator
  ide/spi.debugger.ui/src/org/netbeans/modules/debugger/resources/evaluator/code_evaluator.wsmode
  ide/spi.debugger.ui/src/org/netbeans/modules/debugger/resources/groups/debugger/evaluator.wstcgrp
  ide/spi.debugger.ui/src/org/netbeans/modules/debugger/resources/mf-layer.xml
  ide/spi.debugger.ui/src/org/netbeans/modules/debugger/resources/modes/navigator/breakpoints.wstcref
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/views/JPDAEngineComponentsProvider.java
Labels: UI, debugger

#7387 PHP: removed built-in type real
  php/php.editor/nbproject/project.properties
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/Type.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Parser.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/ASTPHP5Symbols.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/CastExpression.java
  php/php.editor/src/org/netbeans/modules/php/editor/parser/astnodes/Scalar.java
  php/php.editor/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGenerator.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP54UnhandledError.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP74UnhandledError.java
  php/php.editor/src/org/netbeans/modules/php/editor/verification/PHP81UnhandledError.java
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/TextSearchQuery.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/binaryNotation_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/binaryNotation_02.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/binaryNotation_03.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/issueGH5933_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/netbeans1563_03.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/numericLiteralSeparatorParseError_03.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/numericLiteralSeparator_01.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/typedPropertiesClass.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php74/typedPropertiesTrait.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php81/explicitOctalIntegerLiteralNotationParseError_03.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php81/explicitOctalIntegerLiteralNotationParseError_05.pass
  php/php.editor/test/unit/data/goldenfiles/org/netbeans/modules/php/editor/parser/ASTPHP5ParserTest/parser/php83/typedClassConstants_01.pass
  php/php.editor/test/unit/data/testfiles/actions/useCase_11.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_11.php.usedNames
  php/php.editor/test/unit/data/testfiles/actions/useCase_12.php
  php/php.editor/test/unit/data/testfiles/actions/useCase_12.php.usedNames
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingFloatType/testInstanceOverrideMethodWithGuessingFloatType.php
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingFloatType/testInstanceOverrideMethodWithGuessingFloatType.php.testInstanceOverrideMethodWithGuessingFloatType_01.codegen
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethodWithGuessingFloatType/testInstanceOverrideMethodWithGuessingFloatType.php.testInstanceOverrideMethodWithGuessingFloatType_02.codegen
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingFloatReturnType.php
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingFloatReturnType.php.testFunctionGuessingFloatReturnType_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingFloatReturnType.php.testFunctionGuessingFloatReturnType_02.html
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/UsedNamesCollectorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/typinghooks/PhpCommentGeneratorTest.java
  php/php.editor/tools/ASTPHP5Parser.cup
Labels: PHP

#7549 Fix "Fix Imports" [GH-7546]
  php/php.editor/src/org/netbeans/modules/php/editor/actions/ImportDataCreator.java
  php/php.editor/test/unit/data/testfiles/actions/testGH7546/testGH7546.php
  php/php.editor/test/unit/data/testfiles/actions/testGH7546/testGH7546_01.php
  php/php.editor/test/unit/data/testfiles/actions/testGH7546/testGH7546_01.php.importData
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/actions/ImportDataCreatorTest.java
Labels: PHP

#7553 Fix unit tests
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingFloatReturnType.php.testFunctionGuessingFloatReturnType_01.html
  php/php.editor/test/unit/data/testfiles/completion/documentation/functionGuessingFloatReturnType.php.testFunctionGuessingFloatReturnType_02.html
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCCDocumentationTest.java
Labels: PHP

#7554 Micronaut: Clear symbol cache on ClasspathInfo changes.
  enterprise/micronaut/src/org/netbeans/modules/micronaut/symbol/MicronautSymbolFinder.java
Labels: Micronaut

#7542 Remove downloader from NBI
  nbi/engine/src/org/netbeans/installer/Installer.java
  nbi/engine/src/org/netbeans/installer/downloader/Bundle.properties
  nbi/engine/src/org/netbeans/installer/downloader/DownloadConfig.java
  nbi/engine/src/org/netbeans/installer/downloader/DownloadListener.java
  nbi/engine/src/org/netbeans/installer/downloader/DownloadManager.java
  nbi/engine/src/org/netbeans/installer/downloader/DownloadMode.java
  nbi/engine/src/org/netbeans/installer/downloader/DownloadProgress.java
  nbi/engine/src/org/netbeans/installer/downloader/Pumping.java
  nbi/engine/src/org/netbeans/installer/downloader/PumpingsQueue.java
  nbi/engine/src/org/netbeans/installer/downloader/connector/Bundle.properties
  nbi/engine/src/org/netbeans/installer/downloader/connector/MyProxy.java
  nbi/engine/src/org/netbeans/installer/downloader/connector/MyProxySelector.java
  nbi/engine/src/org/netbeans/installer/downloader/connector/MyProxyType.java
  nbi/engine/src/org/netbeans/installer/downloader/connector/URLConnector.java
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/Bundle.properties
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/LoadFactor.java
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/Process.java
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/ProcessDispatcher.java
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/impl/Bundle.properties
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/impl/RoundRobinDispatcher.java
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/impl/Worker.java
  nbi/engine/src/org/netbeans/installer/downloader/dispatcher/impl/WorkersPool.java
  nbi/engine/src/org/netbeans/installer/downloader/impl/ChannelUtil.java
  nbi/engine/src/org/netbeans/installer/downloader/impl/Pump.java
  nbi/engine/src/org/netbeans/installer/downloader/impl/PumpingImpl.java
  nbi/engine/src/org/netbeans/installer/downloader/impl/PumpingUtil.java
  nbi/engine/src/org/netbeans/installer/downloader/impl/SectionImpl.java
  nbi/engine/src/org/netbeans/installer/downloader/queue/DispatchedQueue.java
  nbi/engine/src/org/netbeans/installer/downloader/queue/QueueBase.java
  nbi/engine/src/org/netbeans/installer/downloader/services/EmptyQueueListener.java
  nbi/engine/src/org/netbeans/installer/downloader/services/FileProvider.java
  nbi/engine/src/org/netbeans/installer/downloader/services/PersistentCache.java
  nbi/engine/src/org/netbeans/installer/downloader/ui/ProxySettingsDialog.java
  nbi/engine/src/org/netbeans/installer/utils/FileProxy.java
  nbi/engine/tests/org/RunAllSuite.java
  nbi/engine/tests/org/connector/ConnectionConfiguratorTest.java
  nbi/engine/tests/org/connector/ConnectorTest.java
  nbi/engine/tests/org/connector/ProxySelectorTest.java
  nbi/engine/tests/org/connector/ProxyTest.java
  nbi/engine/tests/org/dispatcher/DispatcherTest.java
  nbi/engine/tests/org/dispatcher/DummyProcess.java
  nbi/engine/tests/org/downloader/ActionsTracer.java
  nbi/engine/tests/org/downloader/QueueAndListenerWithServerTest.java
  nbi/engine/tests/org/downloader/QueueAndListenerWithoutServerTest.java
  nbi/engine/tests/org/downloader/RedirectTest.java
  nbi/engine/tests/org/downloader/VerboseTracer.java
  nbi/engine/tests/org/downloader/WorkabilityTest.java
  nbi/infra/lib/registries-management/src/org/netbeans/installer/infra/lib/registries/impl/RegistriesManagerImpl.java
Labels: Code cleanup, installer, build, ci:all-tests

#7550 NBI: disable update check again
  nbbuild/installer/engine/src/org/netbeans/installer/wizard/components/panels/netbeans/NbPreInstallSummaryPanel.java
Labels: installer, os:windows

#7533 Docker - Load images
  ide/docker.api/src/org/netbeans/modules/docker/api/DockerAction.java
  ide/docker.api/src/org/netbeans/modules/docker/api/DockerImage.java
Labels: Docker

#7525 CI: start testing on 23-ea and minor other updates
  .github/workflows/main.yml
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/threading/TinyTest.java
  platform/openide.util.lookup/test/unit/src/org/openide/util/test/AnnotationProcessorTestUtils.java
Labels: Java, Maven, CI

#7558 Use relative wrapper paths to prevent space-in-path bugs
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
Labels: kind:bug, Java, Maven, VSCode Extension

#7484 Upgrade to nb-javac from JDK 23, build 30
  .github/workflows/main.yml
  java/debugger.jpda/nbproject/org-netbeans-modules-debugger-jpda.sig
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/org/netbeans/modules/java/completion/data/StringTemplates.java
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/StringTemplatesTest.java
  java/java.hints/src/org/netbeans/modules/java/hints/Imports.java
  java/java.hints/src/org/netbeans/modules/java/hints/suggestions/ExpectedTypeResolver.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/ImportsTest.java
  java/java.source.base/nbproject/org-netbeans-modules-java-source-base.sig
  java/java.source.base/src/org/netbeans/api/java/source/TreeMaker.java
  java/java.source.base/src/org/netbeans/modules/java/source/NoJavacHelper.java
  java/java.source.base/src/org/netbeans/modules/java/source/builder/TreeFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/pretty/VeryPretty.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/ImmutableTreeTranslator.java
  java/java.source.base/src/org/netbeans/modules/java/source/transform/TreeDuplicator.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/StringTemplateTest.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/java.source/nbproject/org-netbeans-modules-java-source.sig
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBAttr.java
  java/libs.javacapi/external/binaries-list
  java/libs.javacapi/external/nb-javac-jdk-23+30-license.txt
  java/libs.javacapi/nbproject/org-netbeans-libs-javacapi.sig
  java/libs.javacapi/nbproject/project.xml
  java/libs.nbjavacapi/external/binaries-list
  java/libs.nbjavacapi/external/nb-javac-jdk-23+30-license.txt
  java/libs.nbjavacapi/nbproject/project.properties
  java/libs.nbjavacapi/nbproject/project.xml
  java/libs.nbjavacapi/src/org/netbeans/modules/nbjavac/api/Bundle.properties
  java/refactoring.java/nbproject/org-netbeans-modules-refactoring-java.sig
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  platform/openide.util.lookup/test/unit/src/org/openide/util/test/AnnotationProcessorTestUtils.java
Labels: Java, Upgrade Library, ci:all-tests, ci:dev-build

#7555 VSNetBeans: Check for source level java compatibility
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/jdk/validation/extensionUtils.ts
  java/java.lsp.server/vscode/src/jdk/validation/javaUtil.ts
  java/java.lsp.server/vscode/src/jdk/validation/project.ts
  java/java.lsp.server/vscode/src/jdk/validation/validation.ts
Labels: Need Squashing, Java, VSCode Extension

#7543 Move Gradle module to Java 17 and NbProjectInfoAction to Java 8
  extide/gradle/nbproject/project.properties
  extide/gradle/netbeans-gradle-tooling/build.xml
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/internal/NbProjectInfo.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/internal/NbProjectInfoAction.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/LegacyProjectLoader.java
  extide/gradle/src/org/netbeans/modules/gradle/newproject/GradleInitPanelVisual.java
  extide/gradle/src/org/netbeans/modules/gradle/output/GradleProcessorFactory.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/GradleInitWizard.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
Labels: Gradle, ci:dev-build

#7573 Fix use-instanceof-pattern hint messages
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/ConvertToPatternInstanceOf.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/jdk/ConvertToPatternInstanceOfTest.java
Labels: kind:bug, Java, hints

#7574 MavenVersionSettings: Stick to maven 3 plugins for now
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
Labels: Maven, ci:dev-build

#7561 Add support for GlassFish 7.0.15 and GlassFish 8.0.0-M6
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#7563 Java Hints SPI module renovation
  java/java.hints.declarative/test/unit/src/org/netbeans/modules/java/hints/declarative/DeclarativeHintRegistryTest.java
  java/spi.java.hints/nbproject/project.properties
  java/spi.java.hints/src/org/netbeans/modules/java/hints/jackpot/spi/HintsRunner.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/jackpot/spi/PatternConvertor.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/code/CodeHintProviderImpl.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/code/FSWrapper.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/code/ReflectiveCustomizerProvider.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/spi/ElementBasedHintProvider.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/spi/HintDescription.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/spi/HintDescriptionFactory.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/spi/HintMetadata.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/spi/HintProvider.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/providers/spi/Trigger.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/JavaFixImpl.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/RulesManagerImpl.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/Utilities.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchSearch.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/BatchUtilities.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/ProgressHandleWrapper.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/batch/Scopes.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/hints/HintsInvoker.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/hints/HintsTask.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/options/HintsSettings.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/pm/CopyFinderBasedBulkSearch.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/pm/NFA.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/pm/NFABasedBulkSearch.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/processor/JavaHintsAnnotationProcessor.java
  java/spi.java.hints/src/org/netbeans/spi/java/hints/ErrorDescriptionFactory.java
  java/spi.java.hints/src/org/netbeans/spi/java/hints/HintSeverity.java
  java/spi.java.hints/src/org/netbeans/spi/java/hints/JavaFixUtilities.java
  java/spi.java.hints/src/org/netbeans/spi/java/hints/MatcherUtilities.java
  java/spi.java.hints/src/org/netbeans/spi/java/hints/support/TransformationSupport.java
Labels: Code cleanup, Java, hints, ci:all-tests

#7556 Remove discontinued Javeleon integration.
  java/maven.embedder/nbproject/project.xml
  java/maven.model/nbproject/project.xml
  java/maven/nbproject/project.xml
  platform/core.startup/arch.xml
  platform/core.startup/src/org/netbeans/core/startup/JaveleonModuleReloader.java
  platform/core.startup/src/org/netbeans/core/startup/ModuleSystem.java
  platform/o.n.bootstrap/arch.xml
  platform/o.n.bootstrap/nbproject/org-netbeans-bootstrap.sig
  platform/o.n.bootstrap/src/org/netbeans/JaveleonModule.java
  platform/o.n.bootstrap/src/org/netbeans/ModuleManager.java
  platform/o.n.bootstrap/src/org/netbeans/StandardModule.java
Labels: Code cleanup, ci:all-tests

#7583 Upgrade Gradle Tooling API to 8.9
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/loaders/ExtensionPropertiesExtractor.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/ProjectInfoExtractor.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.9-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.9-notice.txt
  extide/libs.gradle/manifest.mf
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
Labels: Gradle

#7539 Further JavaEE -> JakartaEE fixes for Jakarta Faces
  enterprise/jakarta.web.beans/src/org/netbeans/modules/jakarta/web/beans/CdiUtil.java
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/resources/templates/create.ftl
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/resources/templates/crudtemplate.ftl
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/resources/templates/edit.ftl
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/resources/templates/list.ftl
  enterprise/web.jsf/src/org/netbeans/modules/web/jsf/resources/templates/view.ftl
Labels: Java EE/Jakarta EE, ci:dev-build

#7586 Clean old temporary local maven index cache dir before scan
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
Labels: Maven

#7578 Update readme with source level java compatibility check
  java/java.lsp.server/vscode/README.md
Labels: doc, VSCode Extension

#7258 Gradle Groovy Application/Library Project Creation Wizards
  groovy/gradle.groovy/licenseinfo.xml
  groovy/gradle.groovy/manifest.mf
  groovy/gradle.groovy/nbproject/project.properties
  groovy/gradle.groovy/nbproject/project.xml
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/Bundle.properties
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/layer.xml
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/newproject/SimpleApplicationDescription.html
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/newproject/SimpleLibraryDescription.html
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/newproject/Wizards.java
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/resources/groovyProjectIcon.png
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/resources/groovyProjectIcon_dark.png
Labels: Groovy, Gradle, ci:dev-build

#7589 Ensure visible dashboard widget repainted when elements changed.
  platform/api.dashboard/src/org/netbeans/modules/dashboard/DashboardPanel.java
  platform/api.dashboard/src/org/netbeans/modules/dashboard/WidgetPanel.java
Labels: kind:bug, UI

#7430 Correctly register weak property change listener on InputOutput
  ide/dlight.terminal/nbproject/project.properties
  ide/dlight.terminal/src/org/netbeans/modules/dlight/terminal/action/TerminalSupportImpl.java
Labels: CI

#7567 Fix and simplify handling of JSPParser classloader
  .github/workflows/main.yml
  .gitignore
  enterprise/j2ee.dd/nbproject/project.xml
  enterprise/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/common/annotation/ResourceImpl.java
  enterprise/web.jspparser/build.xml
  enterprise/web.jspparser/external/binaries-list
  enterprise/web.jspparser/external/commons-logging-1.3.1-license.txt
  enterprise/web.jspparser/external/commons-logging-1.3.1-notice.txt
  enterprise/web.jspparser/external/jakarta.servlet.jsp.jstl-1.2-license.txt
  enterprise/web.jspparser/extsrc/org/netbeans/modules/web/jspparser_ext/WebAppParseSupport.java
  enterprise/web.jspparser/test/unit/data/emptyWebProject/lib/tags/META-INF/taglib.tld
  enterprise/web.jspparser/test/unit/src/org/netbeans/modules/web/jspparser/FastScanTest.java
  enterprise/web.jspparser/test/unit/src/org/netbeans/modules/web/jspparser/ParseTest.java
  enterprise/web.jspparser/test/unit/src/org/netbeans/modules/web/jspparser/ParserClassLoaderTest.java
  enterprise/web.jspparser/test/unit/src/org/netbeans/modules/web/jspparser/TestUtil.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Java EE/Jakarta EE

#7012 Improved Toolbar overflow impl.
  platform/openide.awt/src/org/openide/awt/ToolbarWithOverflow.java
Labels: Platform, UI, ci:dev-build

#7565 Update FlatLaf from 3.3 to 3.5
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.5-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/Bundle.properties
Labels: Upgrade Library, Look and Feel, UI, ci:dev-build

#7584 Update manifest of core.output2 to separate the OpenIDE-Module-Provides values with comma
  platform/core.output2/manifest.mf
Labels: Platform, ci:all-tests

#7590 Warmup Maven Embedder to improve first-project-creation UX
  java/maven.embedder/nbproject/project.properties
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/DependencyTreeFactory.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/EmbedderConfiguration.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/EmbedderFactory.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/MavenEmbedder.java
  java/maven.embedder/src/org/netbeans/modules/maven/embedder/NBRepositoryModelResolver.java
Labels: performance, Maven, ci:dev-build

#7587 Lazy init SMO backend and increase timeout
  java/maven.indexer/nbproject/project.properties
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/CompositeResult.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImpl.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/OnStop.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/SMORequestResult.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/PluginIndexManager.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryQueries.java
Labels: Maven, ci:dev-build

#7575 Fix Yaml Editor does not respect indent size on new line
  ide/languages.yaml/nbproject/project.properties
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/EmbeddedSectionsHighlighting.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/IndentUtils.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/InsertTabAction.java
  ide/languages.yaml/src/org/netbeans/modules/languages/yaml/YamlKeystrokeHandler.java
Labels: Editor, yaml

#7593 fix javadoc task source properties + javadoc typo
  ide/api.lsp/src/org/netbeans/api/lsp/WorkspaceEdit.java
  nbbuild/javadoctools/template.xml
  platform/openide.dialogs/src/org/openide/NotifyDescriptor.java
Labels: JavaDoc

#7340 Add missing schemas for Jakarta Server Pages Tag Library (JSTL)
  enterprise/web.core/licenseinfo.xml
  enterprise/web.core/src/org/netbeans/modules/web/taglib/TaglibCatalog.java
  enterprise/web.core/src/org/netbeans/modules/web/taglib/resources/web-jsptaglibrary_3_1.mdd
  enterprise/web.core/src/org/netbeans/modules/web/taglib/resources/web-jsptaglibrary_3_1.xsd
  enterprise/web.core/src/org/netbeans/modules/web/taglib/resources/web-jsptaglibrary_4_0.mdd
  enterprise/web.core/src/org/netbeans/modules/web/taglib/resources/web-jsptaglibrary_4_0.xsd
Labels: Java EE/Jakarta EE, enterprise

#7592 Add support for Java SE 24 for Tomcat/TomEE and GlassFish
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV8_0_0.xml
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/JavaSEPlatform.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#7497 Support for project JDK settings.
  java/java.lsp.server/nbcode/integration/nbproject/project.xml
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspJavaPlatformProviderOverride.java
  java/java.lsp.server/nbproject/project.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractJavaPlatformProviderOverride.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/jdk/settings.ts
  java/java.lsp.server/vscode/src/jdk/validation/validation.ts
Labels: Java, Gradle, Maven, VSCode Extension

#7595 Added support for container repostory and run in compute instance
  enterprise/cloud.oracle/external/binaries-list
  enterprise/cloud.oracle/external/oci-java-sdk-3.25.3-license.txt
  enterprise/cloud.oracle/nbproject/project.properties
  enterprise/cloud.oracle/nbproject/project.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCINode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/AddADBAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddNewAssetCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/AddSuggestedItemAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/Steps.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ComputeInstanceItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ComputeInstanceNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerRepositoryItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerRepositoryNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerTagItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/developer/ContainerTagNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/items/OCIItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/resources/containerrepository.svg
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/resources/containertag.svg
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/resources/layer.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/ItemTypeStep.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/SuggestedStep.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspAssetsDecorationProvider.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspOcidDecorationProvider.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/cloud-cookies.contextValues
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/commands/OCIDCommand.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, enterprise

#7599 Add the `Error` class and the `Throwable` interface as completion items for exceptions [GH-7594]
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/gh7594.php
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/gh7594.php.testGH7594_01a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/gh7594.php.testGH7594_01b.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/gh7594.php.testGH7594_02a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/gh7594.php.testGH7594_02b.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/gh7594.php.testGH7594_03a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/gh7594.php.testGH7594_03b.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/gh7594/stub.php
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionGH7594Test.java
Labels: PHP

#7598 Fix error when registering TomEE 10
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/TomcatFactory.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/deploy/TomcatManager.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#7537 Add global maven goal presets
  java/maven/src/org/netbeans/modules/maven/ActionProviderImpl.java
  java/maven/src/org/netbeans/modules/maven/customizer/ActionMappings.form
  java/maven/src/org/netbeans/modules/maven/customizer/ActionMappings.java
  java/maven/src/org/netbeans/modules/maven/execute/ActionToGoalUtils.java
  java/maven/src/org/netbeans/modules/maven/execute/ui/RunGoalsPanel.form
  java/maven/src/org/netbeans/modules/maven/execute/ui/RunGoalsPanel.java
  java/maven/src/org/netbeans/modules/maven/nbactions.xml
  java/maven/src/org/netbeans/modules/maven/options/SettingsPanel.java
Labels: Maven

#7435 Telemetry updated in Java LSP module
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LspServerTelemetryManager.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TelemetryEvent.java
Labels: LSP, VSCode Extension

#7551 Introduce-method refactoring should suggest a method name
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceExpressionBasedMethodFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceFieldFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceFieldPanel.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceMethodFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceMethodPanel.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/IntroduceVariableFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/introduce/NameChangeSupport.java
Labels: Java, hints

#7579 Using LSP's ErrorProvider & another attempt at CompletionCollector
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/AbstractCompletionItem.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/ErrorProviderBridge.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/Icons.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspCompletionItem.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspCompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/NavigatorPanelImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/TextDocumentSyncServerCapabilityHandler.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/bindings/ErrorProviderBridgeTest.java
  ide/spi.editor.hints/src/org/netbeans/modules/editor/hints/lsp/HintsDiagnosticsProvider.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/META-INF/generated-layer.xml
Labels: LSP, VSCode Extension, ci:all-tests, ci:dev-build

#7605 Basic JDK picker support for multi-file-java-programs.
  java/java.file.launcher/nbproject/project.properties
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/SingleSourceFileUtil.java
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/LaunchProcess.java
  java/java.source/src/org/netbeans/modules/java/Bundle.properties
  java/java.source/src/org/netbeans/modules/java/JavaNode.java
Labels: Java

#7478 Make F2 work to rename in the Outline component
  platform/o.n.swing.outline/src/org/netbeans/swing/outline/Outline.java
Labels: Platform, UI, ci:dev-build

#7474 Avoid a missing JCheckBoxItem checkmark for boolean actions without an icon
  platform/openide.awt/src/org/openide/awt/Actions.java
Labels: Platform, UI

#7548 Implement suppress warnings on for Unused hint and codeAction for suppress warnings annotations
  ide/spi.editor.hints/src/org/netbeans/spi/editor/hints/Fix.java
  java/java.hints/nbproject/project.properties
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
  java/java.hints/src/org/netbeans/modules/java/hints/infrastructure/JavaErrorProvider.java
  java/spi.java.hints/src/org/netbeans/spi/java/hints/ErrorDescriptionFactory.java
Labels: Java, VSCode Extension, hints

#7603 Enterprise: Fix multiple places where null values could be encountered and are not protected
  enterprise/j2ee.ejbcore/src/org/netbeans/modules/j2ee/ejbcore/ejb/wizard/dd/EjbJarXmlWizardIterator.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/jaxws/EjbProjectJAXWSClientSupport.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/jaxws/EjbProjectJAXWSSupport.java
  enterprise/j2ee.ejbverification/src/org/netbeans/modules/j2ee/ejbverification/rules/PersistentTimerInEjbLite.java
  enterprise/web.project/src/org/netbeans/modules/web/project/api/WebProjectUtilities.java
  enterprise/web.project/src/org/netbeans/modules/web/project/jaxws/WebProjectJAXWSClientSupport.java
  enterprise/web.project/src/org/netbeans/modules/web/project/jaxws/WebProjectJAXWSSupport.java
  enterprise/web.project/src/org/netbeans/modules/web/project/ui/customizer/WebProjectProperties.java
  enterprise/websocket/src/org/netbeans/modules/websocket/editor/WebSocketMethodsTask.java
  enterprise/websocket/src/org/netbeans/modules/websocket/wizard/WebSocketPanel.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/editor/AsyncConverter.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/wizard/InterceptorPanel.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/wizard/JaxRsFilterPanel.java
  enterprise/websvc.restapi/src/org/netbeans/modules/websvc/rest/spi/RestSupport.java
Labels: Java EE/Jakarta EE, enterprise

#7623 Adding container repository from Cloud Assets View
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/DependenciesAnalyzer.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/SuggestedItem.java
  enterprise/cloud.oracle/test/unit/src/org/netbeans/modules/cloud/oracle/assets/CloudAssetsTest.java
Labels: LSP, VSCode Extension, enterprise
