Repository apache/netbeans, pull requests merged in 2025-02, with the labels that each got.

#8208 Add support for Java SE 25 for Tomcat, TomEE, and GlassFish
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/JavaSEPlatform.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#8219 Jakarta EE 11 Improvements
  enterprise/j2ee.clientproject/src/org/netbeans/modules/j2ee/clientproject/ui/customizer/AppClientProjectProperties.java
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/ui/customizer/EjbJarProjectProperties.java
  enterprise/web.project/src/org/netbeans/modules/web/project/ui/customizer/WebProjectProperties.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/dd/resources/persistence_3_2.xsd
Labels: Java EE/Jakarta EE, enterprise

#8199 Release candidates should not steal the maven index from GA releases
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexManager.java
Labels: Maven

#8217 Fix infinite loop in FruchtermanReingoldLayout.
  java/java.graph/src/org/netbeans/modules/java/graph/FruchtermanReingoldLayout.java
Labels: Java, Maven, ci:dev-build

#8198 Bump maven indexer query limits
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexManager.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryQueries.java
Labels: Maven, ci:dev-build

#8213 Fix: tabs without file objects had null title in tab switcher
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/DocumentSwitcherTable.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/FolderNameTabDecorator.java
Labels: Editor, UI, ci:dev-build

#8204 Sync delivery to release250 for 25-rc2
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  java/java.graph/src/org/netbeans/modules/java/graph/FruchtermanReingoldLayout.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexManager.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryQueries.java
  php/php.project/src/org/netbeans/modules/php/project/ComputeTestMethodAnnotations.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/DocumentSwitcherTable.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/FolderNameTabDecorator.java
Labels: Release process

#8205 Sync delivery to master after 25-rc2
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/TemplateOperation.java
  java/java.graph/src/org/netbeans/modules/java/graph/FruchtermanReingoldLayout.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexManager.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryQueries.java
  php/php.project/src/org/netbeans/modules/php/project/ComputeTestMethodAnnotations.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/DocumentSwitcherTable.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/FolderNameTabDecorator.java
Labels: Release process

#8190 Ant: fix GeneratedFilesHelper CRC cache
  ide/project.ant/nbproject/project.properties
  ide/project.ant/src/org/netbeans/spi/project/support/ant/GeneratedFilesHelper.java
Labels: CI, tests, Ant

#8193 Stabilize MultiSourceRootProviderTest
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProviderTest.java
Labels: Java, CI, tests

#8226 Fix sporadic CME in gradle JavaToolchainSupport
  java/gradle.java/src/org/netbeans/modules/gradle/java/spi/support/JavaToolchainSupport.java
Labels: Gradle

#8201 Do not remove the just-added annotation from the list of annotations.
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/annotation/RunDebugTestGutterAction.java
  ide/gsf.testrunner.ui/src/org/netbeans/modules/gsf/testrunner/ui/api/TestMethodController.java
  java/java.testrunner.ui/src/org/netbeans/modules/java/testrunner/ui/ComputeTestMethodsImpl.java
  php/php.project/src/org/netbeans/modules/php/project/ComputeTestMethodAnnotations.java
Labels: PHP, do not merge, Java, VSCode Extension

#8210 Fixing imports for static item completion.
  java/java.editor/nbproject/project.xml
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.editor/src/org/netbeans/modules/java/editor/javadoc/JavadocCompletionCollector.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaCompletionCollectorTest.java
Labels: Java, VSCode Extension

#8234 Improve Swing Templates
  java/form/src/org/netbeans/modules/form/resources/templates/Dialogs/Application_java
  java/form/src/org/netbeans/modules/form/resources/templates/Dialogs/OkCancelDialog_java
  java/form/src/org/netbeans/modules/form/resources/templates/SwingForms/JDialog_java
  java/form/src/org/netbeans/modules/form/resources/templates/SwingForms/JFrame_java
Labels: Java, FormDesigner

#8235 ImageUtilities code cleanup
  platform/openide.util.ui/nbproject/project.properties
  platform/openide.util.ui/src/org/openide/util/ImageUtilities.java
Labels: Code cleanup, Platform, UI

#8216 Updated issue templates for NB 25 rc phase + update PR template
  .github/ISSUE_TEMPLATE/01-netbeans_bug_report.yml
  .github/ISSUE_TEMPLATE/02-netbeans_feature_request.yml
  .github/ISSUE_TEMPLATE/99-free_form.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci:no-build, Release process

#8239 Handle both nbres and nbresloc protocols in ImageUtilities.loadImage(URI)
  platform/openide.util.ui/src/org/openide/util/ImageUtilities.java
Labels: Platform, UI

#7777 Open up and make accessible Resolver Public APIs
  java/maven.embedder/nbproject/project.xml
Labels: Maven

#8229 Improve support for Jakarta EE 11
  enterprise/j2ee.ejbjarproject/src/org/netbeans/modules/j2ee/ejbjarproject/EjbJarProvider.java
  enterprise/javaee.project/src/org/netbeans/modules/javaee/project/api/ant/ui/wizard/Bundle.properties
  enterprise/javaee.project/src/org/netbeans/modules/javaee/project/api/ant/ui/wizard/J2eeVersionWarningPanel.java
  enterprise/javaee.project/src/org/netbeans/modules/javaee/project/api/ant/ui/wizard/ProjectServerPanel.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise

#8206 Reapply "LSP: Speed up publish diagnostics on project scan."
  enterprise/micronaut/src/org/netbeans/modules/micronaut/hints/MicronautConfigErrorProvider.java
  ide/csl.api/src/org/netbeans/modules/csl/core/TLIndexerFactory.java
  ide/parsing.indexing/apichanges.xml
  ide/parsing.indexing/nbproject/project.properties
  ide/parsing.indexing/src/org/netbeans/modules/parsing/impl/indexing/errors/TaskCache.java
  ide/parsing.indexing/src/org/netbeans/modules/parsing/spi/indexing/ErrorsCache.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/ErrorsNotifier.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/JavaCustomIndexer.java
  java/java.source.base/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorker.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/indexing/VanillaCompileWorkerTest.java
Labels: Java, LSP, VSCode Extension

#8249 Fix launcher extbin license name
  nb/ide.launcher/external/launcher-external-binaries-2-6c17cc6-license.txt
Labels: Code cleanup

#8267 Update esbuild and serialize-javascript npms.
  java/java.lsp.server/build.xml
  java/java.lsp.server/vscode/package-lock.json
  java/java.lsp.server/vscode/package.json
Labels: VSCode Extension

#7928 Remove SecurityManager layer
  .github/workflows/main.yml
  nb/ide.launcher/netbeans.conf
  nbbuild/jdk.xml
  nbbuild/templates/common.xml
  platform/core.execution/src/org/netbeans/core/execution/Install.java
  platform/core.execution/src/org/netbeans/core/execution/SecMan.java
  platform/core.startup/src/org/netbeans/core/startup/CLIOptions.java
  platform/core.startup/src/org/netbeans/core/startup/ModuleLifecycleManager.java
  platform/core.startup/src/org/netbeans/core/startup/TopLogging.java
  platform/core.startup/src/org/netbeans/core/startup/TopThreadGroup.java
  platform/o.n.bootstrap/nbproject/org-netbeans-bootstrap.sig
  platform/o.n.bootstrap/nbproject/project.properties
  platform/o.n.bootstrap/src/allow.java
  platform/o.n.bootstrap/src/org/netbeans/MainImpl.java
  platform/o.n.bootstrap/src/org/netbeans/ModuleManager.java
  platform/o.n.bootstrap/src/org/netbeans/NbExit.java
  platform/o.n.bootstrap/src/org/netbeans/NetigsoHandle.java
  platform/o.n.bootstrap/src/org/netbeans/TopSecurityManager.java
  platform/o.n.bootstrap/src/org/netbeans/Util.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/NbClipboardIsUsedByAlreadyInitializedComponentsTest.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/NbClipboardIsUsedBySwingComponentsTest.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/TopSecurityManagerReplaceTest.java
  platform/o.n.bootstrap/test/unit/src/org/netbeans/TopSecurityManagerTest.java
  platform/o.n.core/src/org/netbeans/core/GuiRunLevel.java
  platform/o.n.core/src/org/netbeans/core/NbLifeExit.java
  platform/o.n.core/src/org/netbeans/core/NbLifecycleManager.java
Labels: CI, Platform, ci:all-tests, ci:dev-build

#8188 Remove the Batik library
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/cluster.properties
  platform/libs.batik.read/build.xml
  platform/libs.batik.read/external/batik-1.17-license.txt
  platform/libs.batik.read/external/batik-1.17-notice.txt
  platform/libs.batik.read/external/binaries-list
  platform/libs.batik.read/external/xml-apis-1.4.01-license.txt
  platform/libs.batik.read/external/xml-apis-1.4.01-notice.txt
  platform/libs.batik.read/external/xml-apis-ext-1.3.04-license.txt
  platform/libs.batik.read/external/xml-apis-ext-1.3.04-notice.txt
  platform/libs.batik.read/external/xmlgraphics-commons-2.9-license.txt
  platform/libs.batik.read/external/xmlgraphics-commons-2.9-notice.txt
  platform/libs.batik.read/manifest.mf
  platform/libs.batik.read/nbproject/org-netbeans-libs-batik-read.sig
  platform/libs.batik.read/nbproject/project.properties
  platform/libs.batik.read/nbproject/project.xml
  platform/libs.batik.read/src/org/netbeans/libs/batik/read/Bundle.properties
Labels: Code cleanup, Upgrade Library, UI

#8036 Timecap on execution of PAC script
  platform/core.network/src/org/netbeans/core/network/proxy/pac/impl/NbPacScriptEvaluator.java
  platform/core.network/test/unit/data/pacFiles2/pac-test-timeout.js
  platform/core.network/test/unit/src/org/netbeans/core/network/proxy/pac/PacEngineTest.java
  platform/o.n.core/src/org/netbeans/core/ProxySettings.java
Labels: Platform

#8255 If a ClassIndex ignores a root due to missing index, make sure the ClassIndex is rebuilt when the index is created.
  java/java.source.base/src/org/netbeans/api/java/source/ClassIndex.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/ClassIndexTest.java
Labels: Java, LSP, VSCode Extension

#8242 Account for possible Element instance changed when lazily computing d…
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCompletionCollector.java
  java/java.editor/test/unit/src/org/netbeans/modules/editor/java/JavaCompletionCollectorTest.java
Labels: Java, LSP, VSCode Extension

#8245 [NETBEANS-8233] When creating a doc comment tree from a full body, avoid the spliting and merging of the body, and simply use the full body, so that the code generator sees the correct, unsplit, full body.
  java/java.source.base/src/org/netbeans/modules/java/source/builder/TreeFactory.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/RewriteInCommentTest.java
Labels: Java, ci:all-tests, JavaDoc

#8260 Support for OpenJDK hotspot tests.
  java/java.openjdk.project/nbproject/project.properties
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/common/ShortcutUtils.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/ClassPathProviderImpl.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/jtreg/TestRootDescription.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/JDKProject.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/ModuleDescription.java
  java/java.openjdk.project/src/org/netbeans/modules/java/openjdk/project/SourcesImpl.java
  java/java.openjdk.project/test/unit/src/org/netbeans/modules/java/openjdk/jtreg/ClassPathProviderImplTest.java
Labels: Java

#8279 Fix typo in Groovy with Gradle project category
  groovy/gradle.groovy/src/org/netbeans/modules/gradle/groovy/Bundle.properties
Labels: Groovy, Gradle, ci:no-build

#8192 #8174: Bump ide/libs.tomljava
  ide/languages.toml/test/unit/src/org/netbeans/modules/languages/toml/TomlKeystrokeTest.java
  ide/libs.tomljava/external/binaries-list
  ide/libs.tomljava/external/toml-java-13.4.2-license.txt
  ide/libs.tomljava/nbproject/project.properties
  ide/libs.tomljava/nbproject/project.xml
Labels: kind:bug, Upgrade Library, ANTLR
