Repository apache/netbeans, pull requests merged in 2025-01, with the labels that each got.

#8103 csl.api: Fix GsfSemanticLayer after 0ba2e7a43595d2a267c1fda58b469e6e947f8830
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/GsfSemanticLayer.java
  ide/csl.api/test/unit/src/org/netbeans/modules/csl/editor/semantic/GsfSemanticLayerTest.java
Labels: CSL, ci:dev-build

#8093 Dispatch additional test events
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
Labels: VSCode Extension

#8106 update formatter to handle record closing braces correctly
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
  java/java.source/src/org/netbeans/modules/java/ui/Bundle.properties
Labels: Java, ci:dev-build

#8110 DirectoryChooserUI: reduce reflective win ShellFolder API usage
  ide/o.n.swing.dirchooser/src/org/netbeans/swing/dirchooser/DirectoryChooserUI.java
Labels: Code cleanup, Platform, UI, ci:dev-build

#7976 Maven remote index migration and refactoring
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/ClassDependencyIndexCreator.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexManager.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/NexusRepositoryQueries.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/OnStop.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/RemoteIndexTransferListener.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/api/RepositoryIndexer.java
  java/maven.indexer/src/org/netbeans/modules/maven/indexer/spi/impl/RepositoryIndexerImplementation.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/ClassDependencyIndexCreatorTest.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/NexusRepositoryIndexerImplTest.java
  java/maven.indexer/test/unit/src/org/netbeans/modules/maven/indexer/NexusTestBase.java
Labels: Code cleanup, Maven, ci:dev-build

#8111 VSCode: Removing option for external formatters.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/WorkspaceServiceImpl.java
  java/java.lsp.server/vscode/README.md
  java/java.lsp.server/vscode/images/SourceCodeFormatter.png
  java/java.lsp.server/vscode/package.json
Labels: LSP, VSCode Extension

#8118 Update NOTICE and notice-stub year to 2025.
  NOTICE
  nbbuild/notice-stub.txt
Labels: ci:no-build, Release process

#8009 Remove java.security.manager=allow flag from windows launcher.
  nb/ide.launcher/windows/netbeans.exe.manifest
  nb/ide.launcher/windows/netbeans64.exe.manifest
  nb/ide.launcher/windows/version.h
  platform/o.n.bootstrap/launcher/windows/jvmlauncher.cpp
  platform/o.n.bootstrap/launcher/windows/nbexec.exe.manifest
  platform/o.n.bootstrap/launcher/windows/platformlauncher.cpp
  platform/o.n.bootstrap/launcher/windows/platformlauncher.h
  platform/o.n.bootstrap/launcher/windows/version.h
Labels: Platform, os:windows

#8098 Extending lsp.client with support for DAP
  ide/lsp.client/nbproject/project.properties
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/META-INF/debugger/DAPDebuggerSession/org.netbeans.modules.lsp.client.debugger.DAPDebugger
  ide/lsp.client/src/META-INF/debugger/DAPDebuggerSession/org.netbeans.spi.debugger.DebuggerEngineProvider
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPActionsProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPConfigurationAccessor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPDebugger.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPDebuggerEngineProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPFrame.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPStackTraceAnnotationHolder.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPThread.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DAPVariable.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/DebuggerAnnotation.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/LineBreakpointData.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/RegisterDAPDebuggerProcessor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/SPIAccessor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/api/DAPConfiguration.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/api/RegisterDAPBreakpoints.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/api/RegisterDAPDebugger.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/attach/Bundle.properties
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/attach/DAPAttachPanel.form
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/attach/DAPAttachPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/attach/DAPAttachType.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/BreakpointAnnotationProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/BreakpointModel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/BreakpointsReader.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/Bundle.properties
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/DAPBreakpointActionProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/DAPBreakpointConvertor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/DAPLineBreakpoint.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/DebuggerBreakpointAnnotation.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/PersistenceManager.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/debuggingview/DebuggingActionsProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/debuggingview/DebuggingModel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/models/CallStackModel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/models/CurrentFrameTracker.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/models/VariablesModel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/models/WatchesModel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/spi/BreakpointConvertor.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/views/DAPComponentsProvider.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/Bundle.properties
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/LanguageDescriptionPanel.form
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/LanguageDescriptionPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/LanguageServersPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/LanguageStorage.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/debugger/DebuggerTest.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/options/LanguageStorageTest.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ConnectionSpec.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/breakpoints/NbBreakpointsRequestHandler.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/ConnectionSpecTest.java
Labels: JavaScript, LSP, VSCode Extension, GraalVM, debugger

#8120 OCI Cloud Assets: Select OCI Profile should display correct region code.
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/steps/TenancyStep.java
Labels: VSCode Extension, enterprise

#8126 Add petrovic-d as collaborator for Apache/NetBeans
  .asf.yaml
Labels: ci:no-build

#8132 SYNCHRONIZE permission added to 'readWriteAcl' list
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/TempFileGenerator.java
Labels: LSP, VSCode Extension, enterprise

#8133 create new AclEntry if ownerEntry is not found
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/TempFileGenerator.java
Labels: LSP, VSCode Extension, enterprise

#8140 Regenerate PHP signature files
  php/php.project/external/binaries-list
  php/php.project/external/phpsigfiles-1.8-license.txt
  php/php.project/external/phpsigfiles-1.8-notice.txt
  php/php.project/nbproject/project.properties
Labels: PHP

#8104 CSS: Improve parsing of custom @-rules
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3.g
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Lexer.java
  ide/css.lib/src/org/netbeans/modules/css/lib/Css3Parser.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/Css3ParserTest.java
Labels: CSS, ci:dev-build

#8131 Fix fabric8 license
  enterprise/libs.fabric8/external/binaries-list
  enterprise/libs.fabric8/external/fabric8-6.7.0-license.txt
  enterprise/libs.fabric8/external/okhttp3-3.12.12-license.txt
Labels: LSP, VSCode Extension

#8129 Fixing the build output appearance in vscode
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractLspInputOutputProvider.java
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/panels/GuidePanel.ts
Labels: LSP, VSCode Extension, enterprise

#8122 Update to Windows launcher (2-6c17cc6) and move security manager flag from launcher to config
  harness/apisupport.harness/external/binaries-list
  harness/apisupport.harness/external/launcher-external-binaries-2-6c17cc6-license.txt
  harness/apisupport.harness/nbproject/project.properties
  nb/ide.launcher/external/binaries-list
  nb/ide.launcher/external/launcher-external-binaries-1-94a19f0-license.txt
  nb/ide.launcher/netbeans.conf
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-binaries
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/build.xml
  platform/o.n.bootstrap/external/binaries-list
  platform/o.n.bootstrap/external/launcher-external-binaries-2-6c17cc6-license.txt
  platform/o.n.bootstrap/launcher/unix/nbexec
  platform/o.n.bootstrap/nbproject/project.properties
Labels: Upgrade Library, Platform

#8147 Cleanup the few remaining HashSet warnings.
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/impl/ServerInstance.java
  enterprise/web.jsf.navigation/src/org/netbeans/modules/web/jsf/navigation/graph/actions/MapActionUtility.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/provider/Provider.java
  java/j2ee.persistence/src/org/netbeans/modules/j2ee/persistence/wizard/fromdb/TableClosure.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/FSCompletionItem.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsCompletionItem.java
Labels: Code cleanup

#7597 Cleanup warnings that are related to the use of a Result raw type..
  enterprise/websvc.clientapi/src/org/netbeans/modules/websvc/api/client/WebServicesClientSupport.java
  enterprise/websvc.clientapi/src/org/netbeans/modules/websvc/api/client/WebServicesClientView.java
  enterprise/websvc.clientapi/src/org/netbeans/modules/websvc/api/jaxws/client/JAXWSClientSupport.java
  enterprise/websvc.clientapi/src/org/netbeans/modules/websvc/api/jaxws/client/JAXWSClientView.java
  enterprise/websvc.rest/src/org/netbeans/modules/websvc/rest/projects/ProjectTestRestServicesAction.java
  ide/css.visual/src/org/netbeans/modules/css/visual/CssStylesTCController.java
  ide/editor.fold.nbui/src/org/netbeans/modules/editor/fold/ui/FoldViewFactory.java
  ide/xml.core/src/org/netbeans/modules/xml/api/model/GrammarQueryManager.java
  platform/openide.explorer/src/org/openide/explorer/DefaultEMLookup.java
  platform/openide.loaders/src/org/openide/loaders/InstanceDataObject.java
  platform/openide.loaders/src/org/openide/loaders/XMLDataObjectInfoParser.java
  platform/openide.util.lookup/src/org/openide/util/lookup/ProxyLookup.java
Labels: Code cleanup, ci:all-tests

#8137 Error handling for TestAdapter and DBConfigurationProvider
  java/java.lsp.server/vscode/src/dbConfigurationProvider.ts
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
Labels: VSCode Extension

#8148 typo fix for apidoc
  ide/projectapi/apichanges.xml
Labels: JavaDoc

#8134 Fix race/error handling issues on NBLS restart.
  java/java.lsp.server/vscode/src/explorer.ts
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode Extension

#8155 Prevent terminal stealing focus when test in parallel profile exist
  java/java.lsp.server/vscode/src/extension.ts
Labels: VSCode Extension

#8146 csl.api: Fix wrong @NonNull annotation in methods of Language
  ide/csl.api/src/org/netbeans/modules/csl/core/Language.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/MarkOccurrencesHighlighter.java
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/SemanticHighlighter.java
Labels: CSL, Regression, ci:dev-build

#8153 Add support for GlassFish 7 up to 7.0.21, and GlassFish 8 up to 8.0.0-M9
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV7_0_17.xml
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#7904 Support for UserQuestionException during reloads
  platform/openide.text/apichanges.xml
  platform/openide.text/arch.xml
  platform/openide.text/manifest.mf
  platform/openide.text/src/org/netbeans/modules/openide/text/AskEditorQuestions.java
  platform/openide.text/src/org/openide/text/DocumentOpenClose.java
  platform/openide.text/src/org/openide/text/UserQuestionExceptionHandler.java
Labels: API Change, Platform

#8159 VSNetBeans: Disable SecurityManager [compat:jdk19-24]. Avoid repeated starts on failure.
  java/java.lsp.server/script/etc/nbcode.conf
  java/java.lsp.server/vscode/src/extension.ts
Labels: kind:bug, VSCode Extension

#8166 VSNetBeans CHANGELOG update for upcoming releases
  java/java.lsp.server/vscode/CHANGELOG.md
Labels: VSCode Extension, ci:no-build

#8168 typescript: Fix location of binaries
  webcommon/typescript.editor/external/binaries-list
Labels: TypeScript, Regression

#8144 Payara Server instance running on WSL with deploy-on-save breaks "Web Application" Ant projects
  enterprise/j2eeserver/src/org/netbeans/modules/j2ee/deployment/impl/DeployOnSaveManager.java
  enterprise/payara.common/nbproject/org-netbeans-modules-payara-common.sig
  enterprise/payara.common/src/org/netbeans/modules/payara/common/CommonServerSupport.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/PayaraInstance.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ui/Bundle.properties
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ui/InstancePanel.form
  enterprise/payara.common/src/org/netbeans/modules/payara/common/ui/InstancePanel.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/AddDomainLocationVisualPanel.form
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/AddDomainLocationVisualPanel.java
  enterprise/payara.common/src/org/netbeans/modules/payara/common/wizards/Bundle.properties
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/DeployOnSaveManager.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/MicroApplication.java
  enterprise/payara.micro/src/org/netbeans/modules/fish/payara/micro/project/MicroProjectHook.java
  enterprise/payara.tooling/src/org/netbeans/modules/payara/tooling/utils/ServerUtils.java
Labels: Java EE/Jakarta EE, Regression, os:windows, Ant

#8170 Add support for PHPStan error identifiers
  php/php.code.analysis/src/org/netbeans/modules/php/analysis/parsers/CheckStyleReportParser.java
  php/php.code.analysis/test/unit/data/phpstan/phpstan-log-with-error-identifiers.xml
  php/php.code.analysis/test/unit/src/org/netbeans/modules/php/analysis/parsers/CheckStyleReportParserTest.java
Labels: PHP

#8164 Persist tab order on per-project basis between close/open.
  ide/projectui/src/org/netbeans/modules/project/ui/OpenProjectList.java
  ide/projectui/src/org/netbeans/modules/project/ui/ProjectUtilities.java
  ide/projectui/src/org/netbeans/modules/project/ui/groups/Group.java
Labels: Editor, UI, ci:dev-build

#8173 Change parameter order for runDebug, compat with NBLS codelenses.
  java/java.lsp.server/vscode/src/extension.ts
  java/java.lsp.server/vscode/src/testAdapter.ts
Labels: VSCode Extension

#8175 Adjust FlatLafDark tab-switcher and selection foreground colors
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/FlatDarkLaf.properties
Labels: Look and Feel, UI, ci:dev-build

#8152 Set javadoc 23 specific flags only on JDK 23 and later
  nbbuild/javadoctools/template.xml
Labels: build, JavaDoc

#8142 PHP: implemented the ability to run a test method when clicking the run icon in the gutter editor.
  php/php.project/src/org/netbeans/modules/php/project/ComputeTestMethodAnnotations.java
  php/php.project/src/org/netbeans/modules/php/project/PhpProject.java
Labels: PHP

#8171 Fix NPE during project group creation caused by ergonomics
  ide/projectui/src/org/netbeans/modules/project/ui/OpenProjectList.java
  ide/projectui/src/org/netbeans/modules/project/ui/ProjectUtilities.java
  ide/projectui/src/org/netbeans/modules/project/ui/groups/Group.java
Labels: Editor, ci:dev-build

#7930 Small improvements to the “Show parent folder name in tab title” option
  platform/core.multitabs/nbproject/project.properties
  platform/core.multitabs/src/org/netbeans/core/multitabs/Settings.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/DocumentSwitcherTable.java
  platform/core.multitabs/src/org/netbeans/core/multitabs/impl/FolderNameTabDecorator.java
Labels: Platform, UI, ci:dev-build

#8182 Improve support for Jakarta EE 11
  enterprise/glassfish.eecommon/src/org/netbeans/modules/glassfish/eecommon/api/config/J2EEVersion.java
Labels: Java EE/Jakarta EE, enterprise

#8184 Micronaut: Run in Continuous Mode should build/listen for changes in dependencies of the selected project
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/micronaut-actions-maven.xml
Labels: Micronaut

#8196 Don't add the listener if a document is not a test file
  php/php.project/src/org/netbeans/modules/php/project/ComputeTestMethodAnnotations.java
Labels: PHP
