Repository apache/netbeans, pull requests merged in 2025-08, with the labels that each got.

#8695 CI - Fix vscode build
  .github/workflows/main.yml
Labels: CI, VSCode Extension, build, Release process

#8703 Gradle 9 compatibility fixes
  extide/gradle/apichanges.xml
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/GradleInternalAdapter.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/GradleInitWizard.java
Labels: Gradle, ci:dev-build

#8698 Sync CI fix to master
  .github/workflows/main.yml
  extide/gradle/apichanges.xml
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/GradleInternalAdapter.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/GradleInitWizard.java
Labels: Release process

#8697 Update to DiscoClient 2.0.39 to use Disco API v3.
  java/java.disco/external/binaries-list
  java/java.disco/external/discoclient-2.0.39-license.txt
  java/java.disco/external/jdktools-11.0.19-license.txt
  java/java.disco/nbproject/project.properties
  java/java.disco/nbproject/project.xml
Labels: Java, ci:dev-build

#8693 Support for ENABLING test failures when testing a module suite
  nbbuild/templates/common.xml
Labels: tests, build, ci:all-tests

#8705 Revert the 'deprecated' note for Compile on Save
  java/maven/src/org/netbeans/modules/maven/customizer/Bundle.properties
Labels: Release process

#8694 DAP server waits on its sibling LSP to prime projects. DAP reports it is done only afer projects are readable
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/NbProtocolServer.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
Labels: LSP, Maven

#8690 Task name corrected in single source run
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/actions/SingleJavaSourceRunActionProvider.java
Labels: Java

#8714 [GITHUB-8296] Adding support for PatternCaseLabel
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/SwitchTest.java
Labels: Java

#8707 Do not introspect static properties
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: Gradle, VSCode Extension

#8710 Sync delivery to release270 for 27-rc3
  .github/workflows/main.yml
  extide/gradle/apichanges.xml
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/GradleInternalAdapter.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NetBeansRunSinglePlugin.java
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/gradle/src/org/netbeans/modules/gradle/spi/newproject/GradleInitWizard.java
  java/java.disco/external/binaries-list
  java/java.disco/external/discoclient-2.0.39-license.txt
  java/java.disco/external/jdktools-11.0.19-license.txt
  java/java.disco/nbproject/project.properties
  java/java.disco/nbproject/project.xml
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/SwitchTest.java
  java/maven/src/org/netbeans/modules/maven/customizer/Bundle.properties
Labels: Release process

#8713 Fixing problems related to create element fixes.
  java/java.hints/src/org/netbeans/modules/java/hints/errors/AddParameterOrLocalFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateElement.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/CreateElementUtilities.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/AddParameterOrLocalFixTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/CreateElementTest.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/CreateMethodTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/save/CasualDiff.java
  java/java.source.base/test/unit/src/org/netbeans/api/java/source/gen/ForLoopTest.java
Labels: Java

#8718 Fixing highlighting for cases - needs to reset token index after searchig for 'when'
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor.base/test/unit/src/org/netbeans/modules/java/editor/base/semantic/DetectorTest.java
Labels: Java

#8732 Define `mod-record-declaration` in Java editor themes
  ide/defaults/src/org/netbeans/modules/defaults/BlueTheme-Java-fontsColors.xml
  ide/defaults/src/org/netbeans/modules/defaults/CityLights-Java-fontsColors.xml
  ide/defaults/src/org/netbeans/modules/defaults/CityLights-fontsColorsDefaults.xml
  ide/defaults/src/org/netbeans/modules/defaults/NetBeans55-Java-fontsColors.xml
  ide/defaults/src/org/netbeans/modules/defaults/NetBeans55-fontsColorsDefaults.xml
  ide/defaults/src/org/netbeans/modules/defaults/NetBeansEarth-Java-fontsColors.xml
  ide/textmate.lexer/src/org/netbeans/modules/textmate/lexer/resources/fontsColors.xml
  java/java.editor/src/org/netbeans/modules/java/editor/resources/fontsColors.xml
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/fontscolors/FlatLafDark-Java-tokenColorings.xml
Labels: Java, Editor, UI, ci:dev-build

#8733 Use bold font for declarations using flatlaf dark color profile
  platform/o.n.swing.laf.flatlaf/src/org/netbeans/swing/laf/flatlaf/fontscolors/FlatLafDark-Java-tokenColorings.xml
Labels: Java, Editor, UI, ci:dev-build

#8737 Update issue form past NB 27 release
  .github/ISSUE_TEMPLATE/01-netbeans_bug_report.yml
Labels: ci:no-build, Release process

#8754 Fix incorrect Maven coordinates in `binariesembedded-list` (jspecify & guice)
  java/maven.embedder/external/binariesembedded-list
Labels: Maven

#8757 Avoid triggering the authentication popup when starting Tomcat instance
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/deploy/TomcatManager.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/optional/StartTomcat.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/Utils.java
Labels: enterprise, ci:dev-build

#8740 [NETBEANS-6573] remove extra spaces for record compact constructor erroneously added by reformatter task
  java/java.source.base/src/org/netbeans/modules/java/source/save/Reformatter.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/save/FormatingTest.java
Labels: Java, ci:dev-build

#8736 Fix Gradle Gatling Project loading error
  java/gradle.java/src/org/netbeans/modules/gradle/java/classpath/GradleSourcesImpl.java
Labels: Gradle

#8662 Fix getting package export status in a modular project
  java/java.api.common/src/org/netbeans/modules/java/api/common/queries/ModuleInfoAccessibilityQueryImpl.java
  java/java.api.common/test/unit/src/org/netbeans/modules/java/api/common/queries/ModuleInfoAccessibilityQueryImplTest.java
  java/java.api.common/test/unit/src/org/netbeans/modules/java/api/common/queries/UnitTestsCompilerOptionsQueryImplTest.java
  java/java.source.base/src/org/netbeans/modules/java/source/JavaSourceUtilImpl.java
  java/java.source.base/test/unit/src/org/netbeans/modules/java/source/JavaSourceUtilImplTest.java
Labels: Java

#8769 Prevent NPE inside GradleTestProgressListener
  java/gradle.test/src/org/netbeans/modules/gradle/test/GradleTestProgressListener.java
Labels: Java, Gradle, VSCode Extension

#8742 TreeDiff: Add parameterless constructor to TopContent to handle construction from infrastructure
  ide/diff/src/org/netbeans/modules/diff/tree/TreeDiffViewerTopComponent.java
Labels: Platform, ci:dev-build

#8774 Add support for Java SE 26 for Tomcat, TomEE, and GlassFish
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/JavaSEPlatform.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/j2ee/TomcatPlatformImpl.java
Labels: Java EE/Jakarta EE, enterprise
