Repository apache/netbeans, pull requests merged in 2025-03, with the labels that each got.

#8291 Use mn:run for run/debug of Micronaut applications
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/Bundle.properties
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/micronaut-actions-maven.xml
Labels: Maven, Micronaut

#8270 Fix error when verifying JDK
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension

#8224 Browser Integration: On windows use JNA and follow users browser choice for default browser
  ide/extbrowser/build.xml
  ide/extbrowser/external/binaries-list
  ide/extbrowser/external/extbrowser-dlls-18.03.15-license.txt
  ide/extbrowser/manifest.mf
  ide/extbrowser/native/NbDDEBrowserImpl.cpp
  ide/extbrowser/native/NbDDEBrowserImpl.h
  ide/extbrowser/native/StdAfx.h
  ide/extbrowser/nbproject/org-netbeans-modules-extbrowser.sig
  ide/extbrowser/nbproject/project.properties
  ide/extbrowser/nbproject/project.xml
  ide/extbrowser/src/org/netbeans/modules/extbrowser/Bundle.properties
  ide/extbrowser/src/org/netbeans/modules/extbrowser/ChromeBrowser.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/ChromiumBrowser.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/ExtWebBrowser.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/ExtWebBrowserBeanInfo.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/FirefoxBrowser.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/IExplorerBrowser.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/MozillaBrowser.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/NbBrowserException.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/NbDdeBrowserImpl.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/SystemDefaultBrowser.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/SystemDefaultBrowserBeanInfo.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/impl/Shlwapi.java
  ide/extbrowser/src/org/netbeans/modules/extbrowser/impl/ShlwapiUtil.java
  ide/extbrowser/test/unit/src/org/netbeans/modules/extbrowser/ExtWebBrowserTest.java
  ide/ide.kit/nbproject/project.xml
  ide/web.browser.api/nbproject/project.xml
  javafx/javafx2.project/nbproject/project.xml
  webcommon/extbrowser.chrome/nbproject/project.xml
Labels: Platform, os:windows, ci:dev-build, web

#8304 Code scanner and search should tolerate CoderMalfunctionErrors
  ide/parsing.api/src/org/netbeans/modules/parsing/api/Source.java
  platform/api.search/src/org/netbeans/modules/search/matcher/AbstractMatcher.java
  platform/api.search/src/org/netbeans/modules/search/matcher/SingleLineStreamMatcher.java
  platform/api.search/src/org/netbeans/modules/search/ui/AbstractSearchResultsPanel.form
  platform/api.search/src/org/netbeans/modules/search/ui/AbstractSearchResultsPanel.java
Labels: Editor, ci:dev-build

#8302 apidoc html compliance part 1
  ide/api.java.classpath/src/org/netbeans/api/java/classpath/package.html
  ide/api.java.classpath/src/org/netbeans/spi/java/classpath/package.html
  ide/api.xml/doc/overview.html
  ide/editor.errorstripe.api/src/org/netbeans/spi/editor/errorstripe/package.html
  ide/editor.util/src/org/netbeans/lib/editor/util/AbstractCharSequence.java
  ide/editor.util/src/org/netbeans/lib/editor/util/ArrayUtilities.java
  ide/editor.util/src/org/netbeans/lib/editor/util/GapList.java
  ide/extexecution.base/src/org/netbeans/api/extexecution/base/ExplicitProcessParameters.java
  ide/lexer/arch.xml
  ide/lexer/src/org/netbeans/api/lexer/Token.java
  ide/spi.tasklist/arch.xml
  ide/spi.tasklist/src/org/netbeans/spi/tasklist/package.html
  nbbuild/antsrc/org/netbeans/nbbuild/Arch.java
  nbbuild/antsrc/org/netbeans/nbbuild/CheckLinks.java
  platform/api.htmlui/arch.xml
  platform/api.htmlui/src/org/netbeans/api/htmlui/HTMLDialog.java
  platform/api.htmlui/src/org/netbeans/api/htmlui/OpenHTMLRegistration.java
  platform/api.htmlui/test/unit/src/org/netbeans/api/htmlui/dialog.html
  platform/api.io/src/org/netbeans/api/io/IOProvider.java
  platform/api.io/src/org/netbeans/api/io/InputOutput.java
  platform/api.scripting/arch.xml
  platform/api.scripting/src/org/netbeans/api/scripting/Scripting.java
  platform/api.templates/arch.xml
  platform/api.visual/src/org/netbeans/api/visual/widget/doc-files/documentation.html
  platform/api.visual/src/org/netbeans/api/visual/widget/package.html
  platform/editor.mimelookup/arch.xml
  platform/editor.mimelookup/src/org/netbeans/spi/editor/mimelookup/package.html
  platform/openide.awt/src/org/openide/awt/QuickSearch.java
  platform/openide.awt/src/org/openide/awt/SpinButton.java
  platform/openide.awt/src/org/openide/awt/SplittedPanel.java
  platform/openide.execution/src/org/openide/execution/doc-files/api.html
  platform/openide.filesystems/src/org/openide/filesystems/FileObject.java
  platform/openide.filesystems/src/org/openide/filesystems/Repository.java
  platform/openide.filesystems/src/org/openide/filesystems/doc-files/HOWTO-MIME.html
  platform/openide.filesystems/src/org/openide/filesystems/doc-files/api.html
  platform/openide.filesystems/src/org/openide/filesystems/doc-files/resolverDocumentation.html
  platform/openide.io/src/org/openide/windows/IOProvider.java
  platform/openide.text/src/org/openide/text/doc-files/api.html
  platform/openide.util.lookup/apichanges.xml
  platform/openide.util.lookup/arch.xml
  platform/openide.util.lookup/src/org/openide/util/lookup/doc-files/index.html
  platform/openide.util.lookup/src/org/openide/util/lookup/doc-files/lookup-api.html
  platform/openide.util.lookup/src/org/openide/util/lookup/doc-files/lookup-spi.html
  platform/openide.util.ui/src/org/openide/util/ContextAwareAction.java
  platform/openide.util.ui/src/org/openide/util/Utilities.java
  platform/openide.util.ui/src/org/openide/util/doc-files/api.html
  platform/openide.util.ui/src/org/openide/util/doc-files/logging.html
  platform/openide.util.ui/src/org/openide/util/doc-files/preferences.html
  platform/openide.util/arch.xml
  platform/openide.util/src/org/openide/util/CharSequences.java
  platform/openide.util/src/org/openide/util/RequestProcessor.java
  platform/openide.util/src/org/openide/util/WeakSet.java
  platform/openide.util/src/org/openide/util/doc-files/api.html
  platform/openide.util/src/org/openide/util/doc-files/logging.html
  platform/openide.util/src/org/openide/util/doc-files/preferences.html
  platform/openide.util/src/org/openide/xml/XMLUtil.java
  platform/queries/arch.xml
  platform/sendopts/arch.xml
  platform/sendopts/src/org/netbeans/spi/sendopts/OptionProcessor.java
Labels: JavaDoc

#8307 Prevent NPE in SemanticHighlighter and fix JsSemanticAnalyser
  ide/csl.api/src/org/netbeans/modules/csl/editor/semantic/SemanticHighlighter.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsSemanticAnalyzer.java
Labels: JavaScript, CSL, ci:dev-build

#8287 [GH-8286] Fix Go to Declaration for an enum method using an FQ name
  php/php.editor/src/org/netbeans/modules/php/editor/model/impl/VariousUtils.java
  php/php.editor/test/unit/data/testfiles/gotodeclaration/testIssueGH8286/testIssueGH8286.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH8286/testIssueGH8286.php
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH8286/testIssueGH8286.php.testIssueGH8286_01.occurrences
  php/php.editor/test/unit/data/testfiles/markoccurences/testIssueGH8286/testIssueGH8286.php.testIssueGH8286_02.occurrences
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/GotoDeclarationGH8286Test.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/OccurrencesFinderImplGH8286Test.java
Labels: PHP

#8231 Fixes several bugs in the editor annotation options.
  ide/defaults/src/org/netbeans/modules/defaults/CityLights-annotations.xml
  ide/defaults/src/org/netbeans/modules/defaults/NetBeans55-annotations.xml
  ide/defaults/src/org/netbeans/modules/defaults/NetBeansEarth-annotations.xml
  ide/defaults/src/org/netbeans/modules/defaults/mf-layer.xml
  ide/editor.settings.storage/src/org/netbeans/modules/editor/settings/storage/EditorSettingsImpl.java
  ide/editor.settings.storage/src/org/netbeans/modules/editor/settings/storage/SettingsProvider.java
  ide/editor.settings.storage/src/org/netbeans/modules/editor/settings/storage/api/EditorSettings.java
  ide/options.editor/nbproject/project.properties
  ide/options.editor/src/org/netbeans/modules/options/colors/AnnotationsPanel.java
  ide/options.editor/src/org/netbeans/modules/options/colors/ColorModel.java
  ide/options.editor/src/org/netbeans/modules/options/colors/FontAndColorsPanel.java
  ide/options.editor/src/org/netbeans/modules/options/colors/spi/FontsColorsController.java
Labels: Editor, UI, ci:dev-build

#8309 For SVG icons, prefer Icon.paintIcon over Graphics.drawImage
  enterprise/web.jsf.navigation/src/org/netbeans/modules/web/jsf/navigation/graph/PageFlowScene.java
  ide/db.dataview/src/org/netbeans/modules/db/dataview/output/DataViewUI.java
  ide/diff/src/org/netbeans/modules/diff/builtin/visualizer/editable/DiffSplitPaneDivider.java
  ide/diff/src/org/netbeans/modules/diff/builtin/visualizer/editable/LineNumbersActionsBar.java
  ide/editor.completion/src/org/netbeans/modules/editor/completion/CompletionJList.java
  ide/editor.lib/src/org/netbeans/editor/GlyphGutter.java
  ide/editor.lib/src/org/netbeans/modules/editor/lib/drawing/DrawGraphics.java
  ide/spi.editor.hints/src/org/netbeans/modules/editor/hints/borrowed/ListCompletionView.java
  java/form/src/org/netbeans/modules/form/HandleLayer.java
  java/form/src/org/netbeans/modules/form/layoutdesign/LayoutPainter.java
  java/form/src/org/netbeans/modules/form/layoutsupport/griddesigner/GlassPane.java
  java/form/src/org/netbeans/modules/form/layoutsupport/griddesigner/GridDesigner.java
  platform/openide.explorer/src/org/openide/explorer/view/IconPanel.java
Labels: Platform, UI

#8310 Show dragged tab images at full HiDPI resolution
  platform/core.windows/src/org/netbeans/core/windows/view/dnd/DragWindow.java
Labels: Platform, UI

#8330 Attempt to repair asf repo config (get merge button back etc)
  .asf.yaml
Labels: ci:no-build

#8331 Attempt 2 to repair asf repo config (get merge button back)
  .asf.yaml
Labels: ci:no-build, Release process

#8332 Update .asf.yaml doc
  .asf.yaml
Labels: CI, ci:no-build

#8328 Persist size of git create and switch branch windows
  ide/git/src/org/netbeans/modules/git/ui/branch/CreateBranch.java
  ide/git/src/org/netbeans/modules/git/ui/checkout/AbstractCheckoutRevision.java
  ide/versioning.util/src/org/netbeans/modules/versioning/util/DialogBoundsPreserver.java
  ide/versioning.util/src/org/netbeans/modules/versioning/util/common/VCSCommitPanel.java
Labels: UI, git, ci:dev-build

#8289 Support star expansion on classpath for source launcher
  java/java.file.launcher/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProvider.java
  java/java.file.launcher/test/unit/src/org/netbeans/modules/java/file/launcher/queries/MultiSourceRootProviderTest.java
Labels: Java, LSP, VSCode Extension

#8265 Remove maven 2 output parsing, cleanup and some parsing fixes
  contrib/j2ee.weblogic9/src/org/netbeans/modules/j2ee/weblogic9/optional/ErrorLineConvertor.java
  enterprise/glassfish.eecommon/src/org/netbeans/modules/glassfish/eecommon/api/LogHyperLinkSupport.java
  enterprise/payara.eecommon/src/org/netbeans/modules/payara/eecommon/api/LogHyperLinkSupport.java
  enterprise/tomcat5/src/org/netbeans/modules/tomcat5/util/LogSupport.java
  ide/db.core/src/org/netbeans/modules/db/sql/loader/SQLExecutionLoggerImpl.java
  ide/dlight.terminal/src/org/netbeans/modules/dlight/terminal/action/TerminalSupportImpl.java
  ide/extexecution/src/org/netbeans/modules/extexecution/print/FileListener.java
  ide/extexecution/src/org/netbeans/modules/extexecution/print/UrlListener.java
  ide/git/src/org/netbeans/modules/git/utils/LogUtils.java
  ide/hudson.ui/src/org/netbeans/modules/hudson/ui/impl/PlainLogger.java
  ide/subversion/src/org/netbeans/modules/subversion/OutputLogger.java
  java/ant.debugger/src/org/netbeans/modules/ant/debugger/IOManager.java
  java/maven/src/org/netbeans/modules/maven/api/output/OutputUtils.java
  java/maven/src/org/netbeans/modules/maven/execute/AbstractOutputHandler.java
  java/maven/src/org/netbeans/modules/maven/execute/CommandLineOutputHandler.java
  java/maven/src/org/netbeans/modules/maven/execute/MavenCommandLineExecutor.java
  java/maven/src/org/netbeans/modules/maven/output/DefaultOutputProcessorFactory.java
  java/maven/src/org/netbeans/modules/maven/output/DependencyAnalyzeOutputProcessor.java
  java/maven/src/org/netbeans/modules/maven/output/ExecPluginOutputListenerProvider.java
  java/maven/src/org/netbeans/modules/maven/output/GlobalOutputProcessor.java
  java/maven/src/org/netbeans/modules/maven/output/JavaOutputListenerProvider.java
  java/maven/src/org/netbeans/modules/maven/output/JavadocOutputProcessor.java
  java/maven/src/org/netbeans/modules/maven/output/SiteOutputProcessor.java
  java/maven/src/org/netbeans/modules/maven/output/TestOutputListenerProvider.java
  java/maven/test/unit/src/org/netbeans/modules/maven/execute/CommandLineOutputHandlerTest.java
  php/php.dbgp/src/org/netbeans/modules/php/dbgp/packets/RequestedUrlEvalResponse.java
  php/php.phpdoc/src/org/netbeans/modules/php/phpdoc/PhpDocScript.java
  platform/core.output2/src/org/netbeans/core/output2/options/OutputSettingsPanel.java
  platform/openide.io/src/org/openide/io/BridgingInputOutputProvider.java
  platform/openide.io/src/org/openide/windows/OutputListener.java
  rust/rust.cargo/src/org/netbeans/modules/rust/cargo/output/RustErrorHyperlinkConvertorFactory.java
  webcommon/javascript.jstestdriver/src/org/netbeans/modules/javascript/jstestdriver/JSTestDriverSupport.java
  webcommon/javascript.karma/src/org/netbeans/modules/javascript/karma/exec/KarmaExecutable.java
  webcommon/javascript.nodejs/src/org/netbeans/modules/javascript/nodejs/exec/NodeExecutable.java
  webcommon/selenium2.webclient.mocha/src/org/netbeans/modules/selenium2/webclient/mocha/MochaRunner.java
  webcommon/selenium2.webclient.protractor/src/org/netbeans/modules/selenium2/webclient/protractor/ProtractorRunner.java
  webcommon/web.webkit.tooling/src/org/netbeans/modules/web/webkit/tooling/console/BrowserConsoleLogger.java
Labels: Code cleanup, Java, Maven, ci:all-tests

#8014 Adding port forward to OKE Pod
  enterprise/cloud.oracle/nbproject/project.xml
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/CloudChildFactory.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCINode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/OCIProfile.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/RefreshableKeys.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/actions/ConfigMapUploader.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/CloudAssets.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/RootNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/ClusterItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/ConfigMapProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/CreateSecretRotationCronJobCommand.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/KubernetesLoaders.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/KubernetesUtils.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PodChildFactory.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PodItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PodNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/Pods.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PortForwardAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PortForwardItem.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PortForwardNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PortForwards.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/PortForwardsChildFactory.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/RunInClusterAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/SetClusterNamespaceAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/ShowPodLogsAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/assets/k8s/StopPortForwardAction.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/compute/ClusterNode.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/items/ContextValuesProvider.java
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/resources/pod.svg
  enterprise/cloud.oracle/src/org/netbeans/modules/cloud/oracle/resources/port_forward.svg
  enterprise/cloud.oracle/test/unit/src/org/netbeans/modules/cloud/oracle/assets/CloudAssetsTest.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/LspAssetsDecorationProvider.java
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/cloud-cookies.contextValues
  java/java.lsp.server/nbcode/integration/src/org/netbeans/modules/nbcode/integration/layer.xml
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ConnectionSpec.java
  java/java.lsp.server/vscode/package.json
  java/java.lsp.server/vscode/src/extension.ts
Labels: LSP, VSCode Extension, enterprise

#8324 Smaller bug fixes in the editor libraries
  ide/editor.lib2/src/org/netbeans/api/editor/caret/EditorCaret.java
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/DocumentViewOp.java
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/ViewBuilder.java
  ide/editor.lib2/src/org/netbeans/modules/editor/lib2/view/WrapInfoUpdater.java
Labels: Editor, Platform

#8333 Handle null mimepath in DAPBreakpointActionProvider
  ide/lsp.client/src/org/netbeans/modules/lsp/client/debugger/breakpoints/DAPBreakpointActionProvider.java
Labels: LSP

#8280 Permit relative paths and class names as 'mainClass' setting in launch.json.
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/debugging/launch/NbLaunchRequestHandler.java
  java/java.lsp.server/vscode/package.json
Labels: LSP, VSCode Extension

#8339 CI: JDK 24 ga, pin actions, enable dependabot again and minor updates
  .asf.yaml
  .github/dependabot.yml
  .github/scripts/BinariesListUpdates.java
  .github/workflows/main.yml
Labels: Upgrade Library, CI

#8342 Attempting to provide various improvements to the LSP client.
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/Utils.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/AbstractNavigatorPanel.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LanguageClientImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/LspNavigatorPanelDynamicRegistration.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/NavigatorPanelImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/icons/file.png
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImplTest.java
  ide/spi.navigator/nbproject/project.properties
  ide/spi.navigator/src/org/netbeans/modules/navigator/NavigatorTC.java
Labels: ci:dev-build

#8365 Micronaut applications use --also-make for run+debug by default
  enterprise/micronaut/src/org/netbeans/modules/micronaut/resources/micronaut-actions-maven.xml
Labels: VSCode Extension, Micronaut

#8362 Icon fix: Interface and Abstract class are not distinguished
  java/java.source/src/org/netbeans/modules/java/JavaNode.java
Labels: Java, UI, ci:dev-build

#8288 Avoid activating TopComponents while focus changes in progress.
  platform/core.windows/src/org/netbeans/core/windows/view/ui/TabbedHandler.java
Labels: Platform, ci:dev-build

#8253 Add `System.Logger` to logger hints and code generation; minor new features
  java/java.editor/src/org/netbeans/modules/java/editor/codegen/LoggerGenerator.java
  java/java.hints/src/org/netbeans/modules/java/hints/LoggerNotStaticFinal.java
  java/java.hints/src/org/netbeans/modules/java/hints/MultipleLoggers.java
  java/java.hints/src/org/netbeans/modules/java/hints/NoLoggers.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/errors/ErrorFixesFakeHint.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/MagicSurroundWithTryCatchFix.java
  java/java.hints/src/org/netbeans/modules/java/hints/errors/SurroundWithTryCatchLog.form
  java/java.hints/src/org/netbeans/modules/java/hints/errors/SurroundWithTryCatchLog.java
  java/java.hints/src/org/netbeans/modules/java/hints/jackpot/hintsimpl/Bundle.properties
  java/java.hints/src/org/netbeans/modules/java/hints/jackpot/hintsimpl/LoggerStringConcat.java
  java/java.hints/test/unit/src/org/netbeans/modules/java/hints/errors/MagicSurroundWithTryCatchFixTest.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/LoggerGenerator.java
Labels: Java, LSP, hints

#8317 Adjust focus behavior when closing the last editor in a window mode
  platform/core.windows/src/org/netbeans/core/windows/WindowManagerImpl.java
Labels: Editor, Platform, UI

#8274 No wait cursor on CSL navigator expand
  ide/csl.api/src/org/netbeans/modules/csl/navigation/ClassMemberPanelUI.java
  java/form/src/org/netbeans/modules/form/ComponentInspector.java
  java/java.navigation/src/org/netbeans/modules/java/navigation/ClassMemberPanelUI.java
Labels: CSL, Java, FormDesigner

#8369 CI: build javadoc on JDK 24
  .github/workflows/main.yml
Labels: CI, JavaDoc
