Repository apache/netbeans, pull requests merged in 2025-10, with the labels that each got.

#8870 Bump gradle defaults for JDK 25
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/Wizards.java
Labels: Gradle

#8726 PHP: Added autocompletion for the use keyword in the body of a class, trait, and enum
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletion.java
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/clsDeclaration02.php.testClsDeclaration_10.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/clsDeclaration02.php.testClsDeclaration_13.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/clsDeclaration02.php.testClsDeclaration_9.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/issue153707.php.testIssue153707_01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/issue153867.php.testIssue153867.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/issue200795.php.testIssue200795.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInClass.php
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInClass.php.testUseKeywordInClass.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInEnum.php
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInEnum.php.testUseKeywordInEnum.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInInterface.php
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInInterface.php.testUseKeywordInInterface.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInTrait.php
  php/php.editor/test/unit/data/testfiles/completion/lib/_base/useKeywordInTrait.php.testUseKeywordInTrait.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php70/base/anonymousClass01.php.testAnonymousClass01h.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php81/testReadonlyPropertiesTyping01/readonlyPropertiesTyping01.php.testReadonlyPropertiesTyping01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php84/testAsymmetricVisibilityClass01/testAsymmetricVisibilityClass01.php.testAsymmetricVisibilityClass01_01a.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/php84/testAsymmetricVisibilityClassTyping01/testAsymmetricVisibilityClassTyping01.php.testAsymmetricVisibilityClassTyping01.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/test209117/issue209117.php.testUseCase1.completion
  php/php.editor/test/unit/data/testfiles/completion/lib/test233756/issue233756.php.testUseCase1.completion
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionTest.java
Labels: PHP

#8642 Fix "Show Javadoc" menu item for classes inside modular maven dependecies
  java/maven/src/org/netbeans/modules/maven/nodes/DependencyNode.java
Labels: Java, Maven, JavaDoc, ci:dev-build

#4864 fixes an ambiguous method reference in SearchTask.
  platform/api.search/nbproject/project.properties
  platform/api.search/src/org/netbeans/modules/search/SearchTask.java
Labels: Code cleanup, Platform

#8879 Gradle projects should prefer test class name as NB testsuite name
  java/gradle.test/src/org/netbeans/modules/gradle/test/GradleTestProgressListener.java
  java/gradle.test/src/org/netbeans/modules/gradle/test/GradleTestSuite.java
  java/gradle.test/test/unit/src/org/netbeans/modules/gradle/test/GradleTestSuiteTest.java
Labels: Java, Gradle

#8881 add java/gradle.test to CI
  .github/workflows/main.yml
Labels: Gradle, CI

#8794 Simplify JavaCodeTemplateFilter#accept
  java/java.editor/src/org/netbeans/modules/editor/java/JavaCodeTemplateFilter.java
Labels: Code cleanup, Java

#8875 Various Gradle fixes
  enterprise/gradle.javaee/src/org/netbeans/modules/gradle/javaee/web/WebProjectWebRootProvider.java
  java/gradle.test/src/org/netbeans/modules/gradle/test/GradleTestProgressListener.java
Labels: Gradle, Java EE/Jakarta EE, ci:dev-build

#8685 Add "Add remote" action & panel. Extend "Remove remote" functionality
  ide/git/src/org/netbeans/modules/git/ui/menu/RemoteMenu.java
  ide/git/src/org/netbeans/modules/git/ui/repository/Bundle.properties
  ide/git/src/org/netbeans/modules/git/ui/repository/RepositoryBrowserPanel.java
  ide/git/src/org/netbeans/modules/git/ui/repository/remote/AddRemoteAction.java
  ide/git/src/org/netbeans/modules/git/ui/repository/remote/AddRemoteConfig.java
  ide/git/src/org/netbeans/modules/git/ui/repository/remote/AddRemotePanel.form
  ide/git/src/org/netbeans/modules/git/ui/repository/remote/AddRemotePanel.java
  ide/git/src/org/netbeans/modules/git/ui/repository/remote/Bundle.properties
  ide/git/src/org/netbeans/modules/git/ui/repository/remote/RemoveRemoteAction.java
Labels: enhancement, git, ci:dev-build
