Repository apache/netbeans, pull requests merged in 2025-04, with the labels that each got.

#8368 apidoc rewrite to jdk 23 layout (minimal)
  nbbuild/antsrc/org/netbeans/nbbuild/Arch.java
  nbbuild/antsrc/org/netbeans/nbbuild/Arch.xsl
  nbbuild/antsrc/org/netbeans/nbbuild/CheckLinks.java
  nbbuild/antsrc/org/netbeans/nbbuild/JavadocIndex.java
  nbbuild/javadoctools/apichanges.xsl
  nbbuild/javadoctools/build.xml
  nbbuild/javadoctools/disallowed-links.xml
  nbbuild/javadoctools/export2allmodules.xsl
  nbbuild/javadoctools/export2html.xsl
  nbbuild/javadoctools/export2index.xsl
  nbbuild/javadoctools/export2layer.xsl
  nbbuild/javadoctools/export2property.xsl
  nbbuild/javadoctools/export2usecases.xsl
  nbbuild/javadoctools/exportInterfaces.xsl
  nbbuild/javadoctools/exportOverview.xsl
  nbbuild/javadoctools/javadoc-generic.css
  nbbuild/javadoctools/javadoc.css
  nbbuild/javadoctools/template.xml
Labels: JavaDoc

#8379 Replace Boolean constructor usage.
  ide/spi.palette/src/org/netbeans/spi/palette/PaletteVisibility.java
  ide/subversion/src/org/netbeans/modules/subversion/ui/repository/RepositoryConnection.java
  ide/tasklist.todo/src/org/netbeans/modules/tasklist/todo/settings/ToDoCustomizer.java
  ide/tasklist.ui/src/org/netbeans/modules/tasklist/filter/TaskGroupCondition.java
  ide/tasklist.ui/src/org/netbeans/modules/tasklist/filter/TypesPanel.java
  ide/xml/src/org/netbeans/modules/xml/wizard/impl/ExternalReferenceDataNode.java
  ide/xml/src/org/netbeans/modules/xml/wizard/impl/SchemaPanel.java
  java/debugger.jpda.ui/src/org/netbeans/modules/debugger/jpda/ui/models/DebuggingTableModel.java
  java/debugger.jpda/test/unit/src/org/netbeans/api/debugger/jpda/testapps/EvaluatorApp.java
  java/form/src/org/netbeans/modules/form/FormDesigner.java
  java/maven.checkstyle/src/org/netbeans/modules/maven/format/checkstyle/ModuleConvertor.java
Labels: Code cleanup, ci:all-tests

#8381 Replace Long constructor usage.
  ide/api.debugger/nbproject/project.properties
  ide/api.debugger/src/org/netbeans/api/debugger/Properties.java
  ide/bugzilla/src/org/netbeans/modules/bugzilla/issue/CommentsPanel.java
  ide/db.dataview/src/org/netbeans/modules/db/dataview/util/DBReadWriteHelper.java
  ide/schema2beans/src/org/netbeans/modules/schema2beans/Common.java
  ide/schema2beans/src/org/netbeans/modules/schema2beans/GraphManager.java
  ide/schema2beans/src/org/netbeans/modules/schema2beansdev/S2bConfig.java
  ide/schema2beans/src/org/netbeans/modules/schema2beansdev/gen/JavaUtil.java
  ide/subversion/src/org/netbeans/modules/subversion/FileStatusCache.java
  ide/team.commons/src/org/netbeans/modules/bugtracking/commons/AttachmentsPanel.java
  ide/xml.multiview/src/org/netbeans/modules/xml/multiview/XmlMultiViewDataObject.java
  java/classfile/src/org/netbeans/modules/classfile/CPLongInfo.java
  java/performance/src/org/netbeans/modules/performance/utilities/CommonUtilities.java
  java/performance/src/org/netbeans/modules/performance/utilities/MeasureStartupTimeTestCase.java
  platform/o.n.swing.tabcontrol/src/org/netbeans/swing/tabcontrol/plaf/ChicletWrapper.java
  platform/openide.explorer/src/org/openide/explorer/propertysheet/IndexedPropertyEditor.java
  platform/openide.filesystems/src/org/openide/filesystems/XMLMapAttr.java
  platform/openide.loaders/src/org/openide/loaders/DataNode.java
  platform/openide.loaders/src/org/openide/text/DataEditorSupport.java
  platform/uihandler/src/org/netbeans/modules/uihandler/SlownessData.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/charts/DateTimeAxisUtils.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/locks/LockContentionPanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/memory/DiffAllocResultsPanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/memory/DiffLivenessResultsPanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/memory/DiffSampledResultsPanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/memory/LiveReverseMemCallGraphPanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/memory/SnapshotReverseMemCallGraphPanel.java
  profiler/lib.profiler.ui/src/org/netbeans/lib/profiler/ui/threads/ThreadsPanel.java
  profiler/lib.profiler/src/org/netbeans/lib/profiler/heap/StackTraceSegment.java
  profiler/lib.profiler/test/qa-functional/src/org/netbeans/lib/profiler/tests/jfluid/monitor/MonitorTestCase.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/ClassesListController.java
  profiler/profiler.heapwalker/src/org/netbeans/modules/profiler/heapwalk/details/netbeans/PlatformDetailsProvider.java
  profiler/profiler.snaptracer/src/org/netbeans/modules/profiler/snaptracer/logs/LogReader.java
  websvccommon/websvc.saas.codegen/src/org/netbeans/modules/websvc/saas/codegen/model/ParameterInfo.java
Labels: Code cleanup, ci:all-tests

#8372 Improving LSP client, not crashing cpplite.editor when ccls/clangd is not specified.
  cpplite/cpplite.editor/nbproject/project.properties
  cpplite/cpplite.editor/src/org/netbeans/modules/cpplite/editor/lsp/LanguageServerImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/BreadcrumbsImpl.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImpl.java
  ide/lsp.client/test/unit/src/org/netbeans/modules/lsp/client/bindings/CompletionProviderImplTest.java
Labels: C/C++

#8378 Update ASM from 9.7.1 to 9.8
  harness/apisupport.harness/build.xml
  java/lib.jshell.agent/nbproject/project.properties
  java/maven/build.xml
  nbbuild/templates/common.xml
  platform/libs.asm/external/asm-9.8-license.txt
  platform/libs.asm/external/binaries-list
  platform/libs.asm/nbproject/project.properties
  platform/libs.asm/nbproject/project.xml
Labels: Upgrade Library, ci:all-tests

#8326 Enable switching preview for search results, refactoring and bookmarks
  ide/diff/src/org/netbeans/modules/diff/builtin/visualizer/editable/DiffViewManager.java
  ide/editor.bookmarks/licenseinfo.xml
  ide/editor.bookmarks/src/org/netbeans/modules/editor/bookmarks/resources/preview.png
  ide/editor.bookmarks/src/org/netbeans/modules/editor/bookmarks/ui/BookmarksView.java
  ide/editor.bookmarks/src/org/netbeans/modules/editor/bookmarks/ui/Bundle.properties
  ide/refactoring.api/licenseinfo.xml
  ide/refactoring.api/src/org/netbeans/modules/refactoring/api/resources/preview.png
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/Bundle.properties
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/CheckNodeListener.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/RefactoringPanel.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/impl/RefactoringPanelContainer.java
  ide/refactoring.api/src/org/netbeans/modules/refactoring/spi/ui/UI.java
  platform/api.search/licenseinfo.xml
  platform/api.search/src/org/netbeans/modules/search/Bundle.properties
  platform/api.search/src/org/netbeans/modules/search/FindDialogMemory.java
  platform/api.search/src/org/netbeans/modules/search/res/preview.png
  platform/api.search/src/org/netbeans/modules/search/ui/BasicSearchResultsPanel.java
Labels: Editor, Platform, UI, ci:dev-build

#8371 Remove hardcoded background default for ant property values.
  java/ant.grammar/src/org/netbeans/modules/ant/grammar/AntHighlightsLayerFactory.java
Labels: Editor, UI, Ant, ci:dev-build

#8080 LSP/Textmate: Implement multiview support for generic/textmate based syntax support
  ide/lsp.client/nbproject/project.xml
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/GenericDataObject.java
  ide/lsp.client/src/org/netbeans/modules/lsp/client/options/LanguageStorage.java
  platform/openide.filesystems/src/org/openide/filesystems/MIMESupport.java
Labels: LSP, ci:dev-build

#8400 Update embedded tomcat from 9.0.96 to 9.0.102
  ide/httpserver/external/binaries-list
  ide/httpserver/external/tomcat-annotations-api-9.0.102-license.txt
  ide/httpserver/external/tomcat-annotations-api-9.0.102-notice.txt
  ide/httpserver/external/tomcat-embed-core-9.0.102-license.txt
  ide/httpserver/external/tomcat-embed-core-9.0.102-notice.txt
  ide/httpserver/nbproject/project.properties
  ide/httpserver/nbproject/project.xml
Labels: Java, Upgrade Library, enterprise, ci:dev-build

#8376 Update guava from 33.2.1-jre to 33.4.6-jre
  ide/c.google.guava.failureaccess/external/binaries-list
  ide/c.google.guava.failureaccess/external/failureaccess-1.0.3-license.txt
  ide/c.google.guava.failureaccess/nbproject/project.properties
  ide/c.google.guava.failureaccess/nbproject/project.xml
  ide/c.google.guava/external/binaries-list
  ide/c.google.guava/external/guava-33.4.6-jre-license.txt
  ide/c.google.guava/nbproject/project.properties
  ide/c.google.guava/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, ci:dev-build

#8389 NPE in profiler during code scan on start and or opening existing (netbeans) project
  profiler/profiler.nbimpl/src/org/netbeans/modules/profiler/nbimpl/providers/JavaProfilerSourceImpl.java
Labels: Java, profiler

#8383 Update jgit from 7.0.0 to 7.2.0
  ide/c.google.gson/external/binaries-list
  ide/c.google.gson/external/gson-2.12.1-license.txt
  ide/c.google.gson/nbproject/project.properties
  ide/c.google.gson/nbproject/project.xml
  ide/libs.git/src/org/netbeans/libs/git/GitRevisionInfo.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/CommitCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/LogCommand.java
  ide/libs.git/src/org/netbeans/libs/git/jgit/commands/TransportCommand.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/ConnectionTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/CommitTest.java
  ide/libs.git/test/unit/src/org/netbeans/libs/git/jgit/commands/UpdateRefTest.java
  ide/o.eclipse.jgit.gpg.bc/external/binaries-list
  ide/o.eclipse.jgit.gpg.bc/external/org.eclipse.jgit.gpg.bc-7.2.0.202503040940-r-license.txt
  ide/o.eclipse.jgit.gpg.bc/nbproject/project.properties
  ide/o.eclipse.jgit.gpg.bc/nbproject/project.xml
  ide/o.eclipse.jgit.lfs/external/binaries-list
  ide/o.eclipse.jgit.lfs/external/org.eclipse.jgit.lfs-7.2.0.202503040940-r-license.txt
  ide/o.eclipse.jgit.lfs/nbproject/project.properties
  ide/o.eclipse.jgit.lfs/nbproject/project.xml
  ide/o.eclipse.jgit.ssh.jsch/external/binaries-list
  ide/o.eclipse.jgit.ssh.jsch/external/org.eclipse.jgit.ssh.jsch-7.2.0.202503040940-r-license.txt
  ide/o.eclipse.jgit.ssh.jsch/nbproject/project.properties
  ide/o.eclipse.jgit.ssh.jsch/nbproject/project.xml
  ide/o.eclipse.jgit/external/binaries-list
  ide/o.eclipse.jgit/external/org.eclipse.jgit-7.2.0.202503040940-r-license.txt
  ide/o.eclipse.jgit/nbproject/project.properties
  ide/o.eclipse.jgit/nbproject/project.xml
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
Labels: Upgrade Library, git, ci:dev-build

#8405 fix issue #8364 recognize css container units
  ide/css.lib/src/org/netbeans/modules/css/lib/api/properties/TokenAcceptor.java
  ide/css.lib/test/unit/src/org/netbeans/modules/css/lib/api/properties/TokenAcceptorsTest.java
Labels: CSS

#8408 Enhance launcher
  harness/apisupport.harness/release/etc/app.conf
  harness/apisupport.harness/release/launchers/app.sh
  harness/apisupport.harness/windows-launcher-src/app.exe.manifest
  nb/ide.launcher/netbeans.conf
  nb/ide.launcher/unix/netbeans
  nb/ide.launcher/windows/nblauncher.cpp
  nb/ide.launcher/windows/nblauncher.h
  nb/ide.launcher/windows/netbeans.exe.manifest
  nb/ide.launcher/windows/netbeans64.exe.manifest
  nb/ide.launcher/windows/version.h
  platform/o.n.bootstrap/launcher/windows/Makefile.mingw
  platform/o.n.bootstrap/launcher/windows/jvmlauncher.cpp
  platform/o.n.bootstrap/launcher/windows/jvmlauncher.h
  platform/o.n.bootstrap/launcher/windows/nbexec.exe.manifest
  platform/o.n.bootstrap/launcher/windows/version.h
Labels: Platform

#8382 Update commons libs, Freemarker and JNA
  ide/libs.commons_compress/external/binaries-list
  ide/libs.commons_compress/external/commons-compress-1.27.1-license.txt
  ide/libs.commons_compress/external/commons-compress-1.27.1-notice.txt
  ide/libs.commons_compress/nbproject/project.properties
  ide/libs.commons_compress/nbproject/project.xml
  ide/libs.commons_compress/src/org/netbeans/libs/commons_compress/mf-layer.xml
  ide/libs.freemarker/external/binaries-list
  ide/libs.freemarker/external/freemarker-2.3.34-license.txt
  ide/libs.freemarker/external/freemarker-2.3.34-notice.txt
  ide/libs.freemarker/nbproject/project.properties
  ide/libs.freemarker/nbproject/project.xml
  ide/libs.freemarker/src/org/netbeans/libs/freemarker/FreemarkerFactory.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  platform/libs.jna.platform/external/binaries-list
  platform/libs.jna.platform/external/jna-platform-5.17.0-license.txt
  platform/libs.jna.platform/nbproject/project.properties
  platform/libs.jna.platform/nbproject/project.xml
  platform/libs.jna/external/binaries-list
  platform/libs.jna/external/jna-5.17.0-license.txt
  platform/libs.jna/nbproject/org-netbeans-libs-jna.sig
  platform/libs.jna/nbproject/project.properties
  platform/libs.jna/nbproject/project.xml
  platform/o.apache.commons.codec/build.xml
  platform/o.apache.commons.codec/external/binaries-list
  platform/o.apache.commons.codec/external/commons-codec-1.18.0-license.txt
  platform/o.apache.commons.codec/external/commons-codec-1.18.0-notice.txt
  platform/o.apache.commons.codec/nbproject/project.xml
  platform/o.apache.commons.commons_io/external/binaries-list
  platform/o.apache.commons.commons_io/external/commons-io-2.18.0-license.txt
  platform/o.apache.commons.commons_io/external/commons-io-2.18.0-notice.txt
  platform/o.apache.commons.commons_io/nbproject/project.properties
  platform/o.apache.commons.commons_io/nbproject/project.xml
  platform/o.apache.commons.lang3/external/binaries-list
  platform/o.apache.commons.lang3/external/commons-lang3-3.17.0-license.txt
  platform/o.apache.commons.lang3/external/commons-lang3-3.17.0-notice.txt
  platform/o.apache.commons.lang3/nbproject/project.properties
  platform/o.apache.commons.lang3/nbproject/project.xml
  platform/o.apache.commons.logging/build.xml
  platform/o.apache.commons.logging/external/binaries-list
  platform/o.apache.commons.logging/external/commons-logging-1.3.5-license.txt
  platform/o.apache.commons.logging/external/commons-logging-1.3.5-notice.txt
  platform/o.apache.commons.logging/nbproject/project.xml
Labels: Upgrade Library, ci:all-tests, ci:dev-build

#8415 Update FlatLaf from 3.5.2 to 3.6.
  platform/libs.flatlaf/external/binaries-list
  platform/libs.flatlaf/external/flatlaf-3.6-license.txt
  platform/libs.flatlaf/manifest.mf
  platform/libs.flatlaf/nbproject/project.properties
  platform/libs.flatlaf/nbproject/project.xml
Labels: Upgrade Library, Look and Feel, UI, ci:dev-build

#8338 [GH 8334] PHP do not display override hint for constructors
  php/php.editor/src/org/netbeans/modules/php/editor/verification/AddOverrideAttributeHint.java
  php/php.editor/test/unit/data/testfiles/verification/AddOverrideAttributeHint/testNoOverrideHintOnConstructor_01.php
  php/php.editor/test/unit/data/testfiles/verification/AddOverrideAttributeHint/testNoOverrideHintOnConstructor_01.php.testNoOverrideHintOnConstructor_01.hints
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/verification/AddOverrideAttributeHintTest.java
Labels: PHP

#8250 Fix incorrect unused constants [GH-8244]
  php/php.editor/src/org/netbeans/modules/php/editor/csl/SemanticAnalysis.java
  php/php.editor/test/unit/data/testfiles/semantic/gh8244_01.php
  php/php.editor/test/unit/data/testfiles/semantic/gh8244_01.php.semantic
  php/php.editor/test/unit/data/testfiles/semantic/gh8244_02.php
  php/php.editor/test/unit/data/testfiles/semantic/gh8244_02.php.semantic
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/csl/SemanticAnalyzerTest.java
Labels: PHP

#8421 [GH 8420] PHP Constructor code completion should not add [#Override]
  php/php.editor/src/org/netbeans/modules/php/editor/codegen/SinglePropertyMethodCreator.java
  php/php.editor/src/org/netbeans/modules/php/editor/completion/PHPCompletionItem.java
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethod/testInstanceOverrideMethod.php
  php/php.editor/test/unit/data/testfiles/codegen/testInstanceOverrideMethod/testInstanceOverrideMethod.php.testInstanceOverrideMethod_03.codegen
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodOverride/Override.php
  php/php.editor/test/unit/data/testfiles/completion/lib/magicMethods/testMagicMethodOverride/Override.php.testMagicMethodOverride_01_PHP83.cccustomtpl
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/codegen/SelectedPropertyMethodsCreatorTest.java
  php/php.editor/test/unit/src/org/netbeans/modules/php/editor/completion/PHPCodeCompletionMagicMethodTest.java
Labels: PHP

#8414 Bump MavenVersionSettings fallback versions for NB26.
  apisupport/maven.apisupport/test/unit/src/org/netbeans/modules/maven/apisupport/NBMNativeMWITest.java
  java/maven/src/org/netbeans/modules/maven/options/MavenVersionSettings.java
Labels: Java, Maven

#8373 Register icons for git stash and nb shelve actions
  ide/git/nbproject/project.xml
  ide/git/src/org/netbeans/modules/git/ui/shelve/ShelveChangesAction.java
  ide/git/src/org/netbeans/modules/git/ui/stash/SaveStashAction.java
Labels: UI, git, ci:dev-build

#8202 Versioning: don't wait for indexer before refresh
  ide/git/src/org/netbeans/modules/git/FileStatusCache.java
  ide/versioning.core/nbproject/project.properties
  ide/versioning.core/src/org/netbeans/modules/versioning/core/VersioningAnnotationProvider.java
  ide/versioning.core/src/org/netbeans/modules/versioning/core/VersioningManager.java
  ide/versioning.util/src/org/netbeans/modules/turbo/CacheIndex.java
  ide/versioning.util/src/org/netbeans/modules/versioning/util/DelayScanRegistry.java
Labels: performance, subversion, git, ci:dev-build, mercurial

#8418 Implement Preferences cache for java hints.
  java/java.hints/src/org/netbeans/modules/java/hints/bugs/Unused.java
  java/spi.java.hints/src/org/netbeans/modules/java/hints/spiimpl/options/HintsSettings.java
Labels: Java, performance, hints, ci:dev-build

#8417 Remove source level query from javadoc hint.
  java/java.source.base/src/org/netbeans/api/java/source/TreeUtilities.java
  java/javadoc/src/org/netbeans/modules/javadoc/hints/Analyzer.java
Labels: Java, performance, hints, ci:dev-build

#8423 Fix performance scaling problem in JS-embedder annotation scanner
  java/editor.htmlui/src/org/netbeans/modules/editor/htmlui/JSEmbeddingProvider.java
Labels: JavaScript, Java, performance, ci:dev-build

#8412 Update JSVG from 1.6.1 to 1.7.1
  platform/libs.jsvg/external/binaries-list
  platform/libs.jsvg/external/jsvg-1.7.1-license.txt
  platform/libs.jsvg/manifest.mf
  platform/libs.jsvg/nbproject/project.properties
  platform/libs.jsvg/nbproject/project.xml
  platform/openide.util.ui.svg/nbproject/project.xml
  platform/openide.util.ui.svg/src/org/openide/util/svg/SVGIcon.java
Labels: Upgrade Library, Platform, ci:dev-build

#8398 JS: Support async generator methods (`class { async * generator () { … }`)
  webcommon/javascript2.editor/test/unit/data/testfiles/ecmascript6/parser/ES6/generator/generator-class-method.js
  webcommon/javascript2.editor/test/unit/data/testfiles/ecmascript6/parser/ES6/generator/generator-class-method.js.ast.xml
  webcommon/javascript2.editor/test/unit/src/org/netbeans/modules/javascript2/editor/parser/AstTest.java
  webcommon/libs.nashorn/src/com/oracle/js/parser/Parser.java
  webcommon/libs.nashorn/test/unit/src/com/oracle/js/parser/ParserTest.java
Labels: JavaScript, ci:dev-build

#6053 Adding inlay hints in the VS Code extension.
  ide/api.lsp/apichanges.xml
  ide/api.lsp/manifest.mf
  ide/api.lsp/src/org/netbeans/api/lsp/InlayHint.java
  ide/api.lsp/src/org/netbeans/spi/lsp/InlayHintsProvider.java
  java/java.editor.base/src/org/netbeans/modules/java/editor/base/semantic/SemanticHighlighterBase.java
  java/java.editor/src/org/netbeans/modules/java/editor/semantic/InlayHintsProviderImpl.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/Utils.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/TextDocumentServiceImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/protocol/ServerTest.java
  java/java.lsp.server/vscode/package.json
Labels: Java, LSP, VSCode Extension

#8448 Update issue form for NB 26 release candidates
  .github/ISSUE_TEMPLATE/01-netbeans_bug_report.yml
Labels: ci:no-build, Release process

#8447 Update expired badssl test cert for unit tests
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/SecureURLResourceRetrieverTest.java
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/badssl.com-client.p12
Labels: tests

#8433 NPEs in `JUnitOutputListenerProvider`
  java/maven.junit/src/org/netbeans/modules/maven/junit/JUnitOutputListenerProvider.java
Labels: Maven

#8443 Sync delivery to release260 for 26-rc2
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/SecureURLResourceRetrieverTest.java
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/badssl.com-client.p12
  java/maven.junit/src/org/netbeans/modules/maven/junit/JUnitOutputListenerProvider.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsSemanticAnalyzer.java
  webcommon/javascript2.editor/test/unit/data/testfiles/coloring/await.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/coloring/semanticalKeywords.js
  webcommon/javascript2.editor/test/unit/data/testfiles/coloring/semanticalKeywords.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/blockscope/arrayLiteral01.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/classes/class04.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/asyncFunctions/asyncFunctions1.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/asyncFunctions/asyncFunctions2.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/topLevelAwait.js.semantic
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/javascript2.model/test/unit/data/testfiles/markoccurences/issueGH8299.js
  webcommon/javascript2.model/test/unit/data/testfiles/markoccurences/issueGH8299.js.model
  webcommon/javascript2.model/test/unit/src/org/netbeans/modules/javascript2/model/ModelTest.java
Labels: Release process

#8444 Sync delivery to master after 26-rc2
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/SecureURLResourceRetrieverTest.java
  ide/xml.retriever/test/unit/src/org/netbeans/modules/xml/retriever/impl/badssl.com-client.p12
  java/maven.junit/src/org/netbeans/modules/maven/junit/JUnitOutputListenerProvider.java
  webcommon/javascript2.editor/src/org/netbeans/modules/javascript2/editor/JsSemanticAnalyzer.java
  webcommon/javascript2.editor/test/unit/data/testfiles/coloring/await.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/coloring/semanticalKeywords.js
  webcommon/javascript2.editor/test/unit/data/testfiles/coloring/semanticalKeywords.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/blockscope/arrayLiteral01.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/markoccurences/classes/class04.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/asyncFunctions/asyncFunctions1.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/asyncFunctions/asyncFunctions2.js.semantic
  webcommon/javascript2.editor/test/unit/data/testfiles/parser/topLevelAwait.js.semantic
  webcommon/javascript2.model/src/org/netbeans/modules/javascript2/model/ModelVisitor.java
  webcommon/javascript2.model/test/unit/data/testfiles/markoccurences/issueGH8299.js
  webcommon/javascript2.model/test/unit/data/testfiles/markoccurences/issueGH8299.js.model
  webcommon/javascript2.model/test/unit/src/org/netbeans/modules/javascript2/model/ModelTest.java
Labels: Release process

#8461 Upgrade Gradle Tooling API to 8.14
  extide/gradle/src/org/netbeans/modules/gradle/api/execute/GradleDistributionManager.java
  extide/libs.gradle/external/binaries-list
  extide/libs.gradle/external/gradle-tooling-api-8.14-license.txt
  extide/libs.gradle/external/gradle-tooling-api-8.14-notice.txt
  extide/libs.gradle/nbproject/project.properties
  extide/libs.gradle/nbproject/project.xml
  java/gradle.java/src/org/netbeans/modules/gradle/java/newproject/Wizards.java
Labels: Gradle, Upgrade Library, ci:dev-build

#8462 Restore clipboard history for editor by using ExClipboard instead of directly accessing system clipboard
  platform/openide.text/src/org/openide/text/QuietEditorPane.java
Labels: Platform, ci:dev-build
