Repository apache/netbeans, pull requests merged in 2025-09, with the labels that each got.

#8746 Adding opentest4j-1.3.0.jar to JUnit5.
  platform/junitlib/external/binaries-list
  platform/junitlib/external/opentest4j-1.3.0-license.txt
  platform/junitlib/nbproject/project.properties
  platform/junitlib/src/org/netbeans/modules/junitlib/junit_5.xml
  platform/libs.junit5/external/binaries-list
  platform/libs.junit5/external/opentest4j-1.3.0-license.txt
  platform/libs.junit5/nbproject/project.properties
  platform/libs.junit5/nbproject/project.xml
Labels: Java

#8745 Constructor init of java.lsp.server JavaPlatformProvider override
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/ui/AbstractJavaPlatformProviderOverride.java
Labels: Java, LSP

#8760 [GITHUB-8749] Preventing an NPE when mimeType is not available (yet).
  ide/editor.lib2/src/org/netbeans/spi/editor/highlighting/support/HighlightsContainers.java
Labels: Java, Editor, ci:dev-build

#8762 Fixing completion for for-each construct without type.
  java/java.completion/src/org/netbeans/modules/java/completion/JavaCompletionTask.java
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/17/forEachWithOutType.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/21/forEachWithOutType.pass
  java/java.completion/test/unit/data/goldenfiles/org/netbeans/modules/java/completion/JavaCompletionTaskTest/25/forEachWithOutType.pass
  java/java.completion/test/unit/src/org/netbeans/modules/java/completion/JavaCompletionTaskAdvancedTest.java
  java/lib.nbjavac/src/org/netbeans/lib/nbjavac/services/NBParserFactory.java
Labels: Java

#8789 lsp.client: Callers of LSPBindings#getBindingsImpl extect result to be non null
  ide/lsp.client/src/org/netbeans/modules/lsp/client/LSPBindings.java
Labels: LSP, ci:dev-build

#8759 Php twig: inline comment coloring
  php/php.twig/src/org/netbeans/modules/php/twig/editor/lexer/TwigVariableColoringLexer.java
  php/php.twig/src/org/netbeans/modules/php/twig/editor/lexer/TwigVariableTokenId.java
  php/php.twig/test/unit/data/goldenfiles/org/netbeans/modules/php/twig/editor/lexer/TwigLexerTest/comment-inline-expression.pass
  php/php.twig/test/unit/data/goldenfiles/org/netbeans/modules/php/twig/editor/lexer/TwigLexerTest/comment-inline.pass
  php/php.twig/test/unit/data/testfiles/lexer/twig/comment-inline-expression.twig
  php/php.twig/test/unit/data/testfiles/lexer/twig/comment-inline.twig
  php/php.twig/test/unit/src/org/netbeans/modules/php/twig/editor/lexer/TwigLexerTest.java
  php/php.twig/tools/TwigVariableColoringLexer.flex
Labels: PHP

#8748 Indicate support for Gradle's incremental annotation processing.
  platform/openide.util.lookup/src/META-INF/gradle/incremental.annotation.processors
Labels: Gradle, Platform

#8787 Fix regression in MnemonicEditor#setValue
  java/form/src/org/netbeans/modules/form/editors/MnemonicEditor.java
Labels: Java, FormDesigner, ci:dev-build

#8796 Add build property for specifying additional javac args
  nbbuild/templates/common.xml
Labels: CI, build

#8770 Simple implementation of LSP protocol shutdown request and exit notification handlers
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/protocol/Server.java
Labels: LSP, VSCode Extension

#8821 Fix Gradle 9 FileCollectionDependency in netbeans-gradle-tooling
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
Labels: Gradle, ci:dev-build

#8786 Add tooltips to Projects, Files and Favorites tabs
  ide/projectui/src/org/netbeans/modules/project/ui/Bundle.properties
  ide/projectui/src/org/netbeans/modules/project/ui/ProjectTab.java
  ide/projectui/src/org/netbeans/modules/project/ui/groups/Group.java
  platform/favorites/nbproject/project.properties
  platform/favorites/src/org/netbeans/modules/favorites/Bundle.properties
  platform/favorites/src/org/netbeans/modules/favorites/Tab.java
Labels: Editor, UI

#7610 Java LSP server: Associate a single source file with an available workspace with no client workspace folders in order to obtain the configured options
  java/java.lsp.server/src/org/netbeans/modules/java/lsp/server/singlesourcefile/SingleFileOptionsQueryImpl.java
  java/java.lsp.server/test/unit/src/org/netbeans/modules/java/lsp/server/singlesourcefile/SingleFileOptionsQueryImplTest.java
Labels: Java, LSP, VSCode Extension

#8824 Add class to EL raw object completion
  enterprise/web.el/src/org/netbeans/modules/web/el/completion/ELCodeCompletionHandler.java
  enterprise/web.el/src/org/netbeans/modules/web/el/completion/ELRawObjectPropertyCompletionItem.java
Labels: Editor, enterprise

#8841 SCSS: Improve Navigator and Completion readability with dark theme
  ide/css.prep/src/org/netbeans/modules/css/prep/editor/CPCompletionItem.java
  ide/css.prep/src/org/netbeans/modules/css/prep/editor/CPStructureItem.java
Labels: CSS, Editor, UI, ci:dev-build

#8845 Use dashed stroke for component drag target indicator
  platform/core.windows/nbproject/project.properties
  platform/core.windows/src/org/netbeans/core/windows/view/dnd/DropTargetGlassPane.java
Labels: Platform, UI, ci:dev-build

#8818 Add copy button to maven action customizer (local and global actions)
  ide/projectuiapi/nbproject/project.properties
  ide/projectuiapi/src/org/netbeans/modules/project/uiapi/CustomizerPane.java
  java/maven/src/org/netbeans/modules/maven/customizer/ActionMappings.form
  java/maven/src/org/netbeans/modules/maven/customizer/ActionMappings.java
  java/maven/src/org/netbeans/modules/maven/customizer/Bundle.properties
Labels: Maven, UI

#8842 Fix typo in weblogic property key
  contrib/j2ee.weblogic9/src/org/netbeans/modules/j2ee/weblogic9/j2ee/Bundle.properties
Labels: UI, enterprise

#8862 Switch CI from JDK 25-ea to ga
  .github/scripts/BinariesListUpdates.java
  .github/workflows/dependency-checks.yml
  .github/workflows/main.yml
Labels: Java, CI

#8864 Add a texttool widget (Base64, URL and Hex encoding and decoding)
  ide/ide.kit/nbproject/project.xml
  ide/texttools/build.xml
  ide/texttools/licenseinfo.xml
  ide/texttools/manifest.mf
  ide/texttools/nbproject/project.properties
  ide/texttools/nbproject/project.xml
  ide/texttools/src/org/netbeans/modules/texttools/Bundle.properties
  ide/texttools/src/org/netbeans/modules/texttools/TextToolsTopComponent.form
  ide/texttools/src/org/netbeans/modules/texttools/TextToolsTopComponent.java
  ide/texttools/src/org/netbeans/modules/texttools/accessories-text-editor.png
  ide/texttools/src/org/netbeans/modules/texttools/accessories-text-editor.svg
  nbbuild/cluster.properties
  nbbuild/licenses/PublicDomain-TangoProject
Labels: enhancement, UI, ci:dev-build

#8867 Added missing Faces 4 EL implicit objects
  enterprise/web.jsf.editor/src/org/netbeans/modules/web/jsf/editor/el/FaceletsELPlugin.java
Labels: Java EE/Jakarta EE

#8810 Upgrade netbeans-gradle-tooling to use Gradle 8.11.1
  extide/gradle/build.xml
  extide/gradle/external/binaries-list
  extide/gradle/external/gradle-7.4-bin-notice.txt
  extide/gradle/external/gradle-8.11.1-bin-license.txt
  extide/gradle/external/gradle-8.11.1-bin-notice.txt
  extide/gradle/external/gradle-wrapper-8.11.1-license.txt
  extide/gradle/nbproject/project.properties
  extide/gradle/netbeans-gradle-tooling/gradle/wrapper/gradle-wrapper.properties
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/GradleInternalAdapter.java
  extide/gradle/netbeans-gradle-tooling/src/main/java/org/netbeans/modules/gradle/tooling/NbProjectInfoBuilder.java
  nbbuild/antsrc/org/netbeans/nbbuild/extlibs/ignored-overlaps
  nbbuild/licenses/Gradle
Labels: Gradle, ci:dev-build

#8779 Add support for GlassFish 7.0.25, and GlassFish 8.0.0-M12
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/Bundle.properties
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/ServerDetails.java
  enterprise/glassfish.common/src/org/netbeans/modules/glassfish/common/wizards/Bundle.properties
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersion.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/ConfigBuilderProvider.java
  enterprise/glassfish.tooling/src/org/netbeans/modules/glassfish/tooling/server/config/GlassFishV8_0_0.xml
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/admin/AdminFactoryTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/data/GlassFishVersionTest.java
  enterprise/glassfish.tooling/test/unit/src/org/netbeans/modules/glassfish/tooling/utils/EnumUtilsTest.java
Labels: Java EE/Jakarta EE, enterprise

#8876 Move CheckRegex action to IDE Tools and add icon
  java/java.hints/licenseinfo.xml
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CheckRegexTopComponent.form
  java/java.hints/src/org/netbeans/modules/java/hints/jdk/CheckRegexTopComponent.java
  java/java.hints/src/org/netbeans/modules/java/hints/resources/regexp.png
  java/java.hints/src/org/netbeans/modules/java/hints/resources/regexp.svg
Labels: Editor, UI, hints, ci:dev-build
